<div
  class="flex px-0.5 select-none group-hover:opacity-40"
  [class.opacity-40]="opened()"
>
  <ng-content select="[button]"></ng-content>
</div>

<fa-icon
  class="text-brand-400 pointer-events-none absolute transition-transform group-hover:block"
  [class.hidden]="!opened()"
  [class.rotate-90]="opened()"
  [icon]="faGear"
></fa-icon>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="opened()"
  (overlayOutsideClick)="toggle()"
>
  <div
    [id]="controlId() + '-menu'"
    role="menu"
    class="mt-1 flex origin-top flex-col gap-2 rounded-xs border border-gray-600 bg-gray-950 p-4 transition-all starting:scale-y-75 starting:opacity-0"
    animate.leave="animate-fade-y"
  >
    <ng-content select="[overlay]"></ng-content>
    <div class="flex gap-2">
      <button
        type="button"
        class="grow"
        labButton
        color="brand"
        [faIcon]="faCheck"
        text="ok"
        (click)="toggle()"
      ></button>
      <button
        type="button"
        class="grow"
        labButton
        [faIcon]="faXmark"
        text="cancel"
        (click)="opened.set(false)"
      ></button>
    </div>
  </div>
</ng-template>
