a {
  text-decoration: none;
}

li {
  display: flex;
  align-items: center;

  &::before {
    margin-right: 0.5rem;
    border-radius: 50%;
    background: var(--text-color);
    width: 0.5rem;
    height: 0.5rem;
    content: '';
  }

  i {
    margin-right: 0.5rem;
  }

  a {
    display: flex;
    align-items: center;
  }
}
