<p-breadcrumb [home]="home()"></p-breadcrumb>
<p-table [value]="collections">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'data.collection' | translate }}</th>
      <th>{{ 'data.count' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-collection>
    @if ($any(data())[collection.id].length; as count) {
      <tr>
        <td>
          <a
            [routerLink]="collection.routerLink"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-link"
              [label]="collection.label | translate"
            ></button>
          </a>
        </td>
        <td>{{ count }}</td>
      </tr>
    }
  </ng-template>
</p-table>

<p-table styleClass="mt-5" [value]="data().version | keyvalue">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="2">{{ 'data.versions' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-version>
    <tr>
      <td>{{ version.key }}</td>
      <td>{{ version.value }}</td>
    </tr>
  </ng-template>
</p-table>
