@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-content {
  transition: margin 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  margin-left: 320px;
  padding-top: 4rem;

  @include media-breakpoint-down(xl) {
    margin-left: 0;
    padding-top: 6rem;
  }

  @include media-breakpoint-up(xl) {
    &.settings-xl-hidden {
      margin-left: 0;
    }
  }
}

@include media-breakpoint-down(xl) {
  .layout-mask.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--maskbg);
    width: 100%;
    height: 100%;
  }
}
