@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.layout-content {
    margin-left: 320px;
    padding-top: 5rem;
  
    @include media-breakpoint-down(xl) {
      margin-left: 0;
      padding-top: 8rem;
    }
  }
  
  @include media-breakpoint-down(xl) {
    .layout-mask.active {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
  
      width: 100%;
      height: 100%;
  
      background-color: var(--maskbg);
    }
  }