<ng-container *ngIf="vm$ | async as vm">
  <p-table
    #stepsTable
    dataKey="id"
    [rowTrackBy]="trackSvc.trackStep"
    styleClass="p-datatable-sm"
    [value]="vm.steps"
    [customSort]="true"
    [defaultSortOrder]="-1"
    [paginator]="true"
    [rows]="25"
    [showCurrentPageReport]="true"
    (sortFunction)="sortSteps$.next($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <!-- Row actions -->
        <th class="w-0 px-0">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-outlined p-button-rounded"
            icon="fa-solid fa-table-columns"
            [pTooltip]="'list.openColumnSettings' | translate"
            (click)="contentSvc.showColumns$.next()"
          ></button>
        </th>
        <!-- Checkbox -->
        <th *ngIf="vm.columnsState.checkbox.show">
          <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-square-check"></i>
            <button
              *ngIf="vm.itemsModified.checked || vm.recipesModified.checked"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-text p-button-rounded"
              icon="fa-solid fa-rotate-left"
              [pTooltip]="'list.checkedUndoTooltip' | translate"
              (click)="resetChecked()"
            ></button>
          </div>
        </th>
        <!-- Tree -->
        <th *ngIf="vm.columnsState.tree.show">
          {{ 'options.column.tree' | translate }}
        </th>
        <!-- Items (Value / Icon)-->
        <th colspan="2" pSortableColumn="items">
          <div class="d-flex align-items-center">
            <span>{{ vm.dispRateInfo.itemsLabel | translate }}</span>
            <p-sortIcon field="items"></p-sortIcon>
            <button
              *ngIf="vm.itemsModified.excluded"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-text p-button-rounded"
              icon="fa-solid fa-rotate-left"
              [pTooltip]="'list.itemsUndoTooltip' | translate"
              (click)="resetExcluded(); $event.stopImmediatePropagation()"
            ></button>
          </div>
        </th>
        <!-- Belts -->
        <th
          *ngIf="vm.columnsState.belts.show"
          colspan="2"
          pSortableColumn="belts"
        >
          <div class="d-flex align-items-center">
            <span>{{ 'options.column.belts' | translate }}</span>
            <p-sortIcon field="belts"></p-sortIcon>
            <button
              *ngIf="vm.itemsModified.belts"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-text p-button-rounded"
              icon="fa-solid fa-rotate-left"
              [pTooltip]="'list.beltsUndoTooltip' | translate"
              (click)="resetBelts(); $event.stopImmediatePropagation()"
            ></button>
          </div>
        </th>
        <!-- Wagons -->
        <th
          *ngIf="vm.columnsState.wagons.show"
          colspan="2"
          pSortableColumn="wagons"
        >
          <div class="d-flex align-items-center">
            <span>{{ vm.dispRateInfo.wagonsLabel | translate }}</span>
            <p-sortIcon field="wagons"></p-sortIcon>
            <button
              *ngIf="vm.itemsModified.wagons"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-text p-button-rounded"
              icon="fa-solid fa-rotate-left"
              [pTooltip]="'list.wagonsUndoTooltip' | translate"
              (click)="resetWagons(); $event.stopImmediatePropagation()"
            ></button>
          </div>
        </th>
        <!-- Machines -->
        <th colspan="2" pSortableColumn="machines">
          <div class="d-flex align-items-center">
            <span>{{ 'options.column.machines' | translate }}</span>
            <p-sortIcon field="machines"></p-sortIcon>
            <button
              *ngIf="vm.recipesModified.machines"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-text p-button-rounded"
              icon="fa-solid fa-rotate-left"
              [pTooltip]="'list.machinesUndoTooltip' | translate"
              (click)="resetMachines(); $event.stopImmediatePropagation()"
            ></button>
          </div>
        </th>
        <!-- Beacons -->
        <th *ngIf="vm.columnsState.beacons.show" colspan="2">
          <div class="d-flex align-items-center">
            <span>{{ 'options.column.beacons' | translate }}</span>
            <button
              *ngIf="vm.recipesModified.beacons"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-text p-button-rounded"
              icon="fa-solid fa-rotate-left"
              [pTooltip]="'list.beaconsUndoTooltip' | translate"
              (click)="resetBeacons()"
            ></button>
          </div>
        </th>
        <!-- Power -->
        <th *ngIf="vm.columnsState.power.show" pSortableColumn="power">
          <div class="d-flex align-items-center">
            <span>{{ 'options.column.power' | translate }}</span>
            <p-sortIcon field="power"></p-sortIcon>
          </div>
        </th>
        <!-- Pollution -->
        <th *ngIf="vm.columnsState.pollution.show" pSortableColumn="pollution">
          <div class="d-flex align-items-center">
            <span>{{ vm.dispRateInfo.pollutionLabel | translate }}</span>
            <p-sortIcon field="pollution"></p-sortIcon>
          </div>
        </th>
        <!-- Link -->
        <th *ngIf="vm.columnsState.link.show" class="w-0 px-0">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-outlined p-button-rounded"
            icon="fa-solid fa-file-arrow-down"
            data-test="lab-list-export"
            [pTooltip]="'list.downloadTooltip' | translate"
            tooltipPosition="left"
            (click)="
              export(
                vm.steps,
                vm.itemsState,
                vm.recipesState,
                vm.columnsState,
                vm.data
              )
            "
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-_step let-expanded="expanded">
      <tr *ngIf="_step | asStep as step">
        <!-- Expand row -->
        <td class="w-0 px-0 position-relative">
          {{ step.id }}
          <!-- <div [id]="'step_' + step.id" class="fragment"></div>
          <div
            *ngFor="let item of vm.stepDetails[step.id].tabs"
            [id]="'step_' + step.id + '_' + item.label"
            class="fragment"
          ></div>
          <div class="d-flex">
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text p-button-rounded transition-ease"
              [class.fa-rotate-90]="expanded"
              icon="fa-solid fa-angle-right"
              [pTooltip]="
                (expanded ? 'list.hideDetails' : 'list.showDetails') | translate
              "
              [pRowToggler]="step"
            ></button>
          </div> -->
        </td>
      </tr>
    </ng-template>
    <ng-template #emptyCol2>
      <td colspan="2"></td>
    </ng-template>
    <ng-template #leftPad>
      <td></td>
      <td *ngIf="vm.columnsState.tree.show"></td>
    </ng-template>
    <ng-template
      #detailRow
      let-items="items"
      let-itemId="itemId"
      let-belts="belts"
      let-beltId="beltId"
      let-wagons="wagons"
      let-wagonId="wagonId"
      let-machines="machines"
      let-machineId="machineId"
      let-recipeId="recipeId"
      let-recipeObjectiveId="recipeObjectiveId"
      let-percent="percent"
      let-percentOnDest="percentOnDest"
      let-destId="destId"
      let-destRecipeObjectiveId="destRecipeObjectiveId"
      let-destIsRecipe="destIsRecipe"
      let-inputs="inputs"
      let-outputs="outputs"
    >
      <tr class="detail">
        <ng-container *ngIf="itemId">
          <ng-container *ngTemplateOutlet="leftPad"></ng-container>
          <td class="w-0 text-end">
            <span class="monospace">{{
              items | rate: vm.columnsState.items.precision
            }}</span>
          </td>
          <td class="ps-0">
            <div class="d-flex">
              <i
                [class]="itemId | iconClass"
                [pTooltip]="itemId | itemTooltip: vm.data"
                [escape]="false"
              ></i>
            </div>
          </td>
          <ng-container *ngIf="vm.columnsState.belts.show">
            <ng-container *ngIf="belts && beltId">
              <td class="w-0 text-end">
                <span class="monospace">{{
                  belts | rate: vm.columnsState.belts.precision
                }}</span>
              </td>
              <td class="ps-0">
                <div class="d-flex">
                  <i
                    [class]="beltId | iconClass"
                    [pTooltip]="
                      'tooltip.belt'
                        | translate
                          : {
                              name: vm.data.itemEntities[beltId].name,
                              speed: vm.beltSpeedTxt[beltId],
                              suffix: vm.dispRateInfo.suffix | translate
                            }
                    "
                    [escape]="false"
                  ></i>
                </div>
              </td>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="vm.columnsState.wagons.show">
            <ng-container *ngIf="wagons && wagonId">
              <td class="w-0 text-end">
                <span class="monospace">{{
                  wagons | rate: vm.columnsState.wagons.precision
                }}</span>
              </td>
              <td class="ps-0">
                <div class="d-flex">
                  <i
                    *ngIf="
                      vm.data.cargoWagonIds.indexOf(wagonId) !== -1;
                      else fluidWagonIcon
                    "
                    [class]="wagonId | iconClass"
                    [pTooltip]="
                      'tooltip.cargoWagon'
                        | translate
                          : {
                              name: vm.data.itemEntities[wagonId].name,
                              size: vm.data.cargoWagonEntities[wagonId].size
                            }
                    "
                    [escape]="false"
                  ></i>
                  <ng-template #fluidWagonIcon>
                    <i
                      [class]="wagonId | iconClass"
                      [pTooltip]="
                        'tooltip.fluidWagon'
                          | translate
                            : {
                                name: vm.data.itemEntities[wagonId].name,
                                size: vm.data.fluidWagonEntities[wagonId]
                                  .capacity
                              }
                      "
                      [escape]="false"
                    ></i>
                  </ng-template>
                </div>
              </td>
            </ng-container>
          </ng-container>
          <td class="w-0 text-end">
            <span
              *ngIf="
                machines &&
                machines.nonzero() &&
                (machineId | machineShowRate: vm.data.game)
              "
              class="monospace"
              >{{
                machines
                  | machineRate: vm.columnsState.machines.precision : machineId
              }}</span
            >
          </td>
          <td class="p-0" colspan="100">
            <div class="d-flex align-items-center">
              <div *ngIf="inputs" class="position-absolute">
                {{ 'list.inputs' | translate }}
              </div>
              <ng-container
                *ngIf="machineId | machineShow: vm.data.game; else machineFill"
              >
                <i
                  [class]="recipeId | iconClass: 'recipe'"
                  [pTooltip]="recipeId | recipeTooltip: vm.data"
                  [escape]="false"
                  ><span *ngIf="recipeObjectiveId"
                    >#{{ recipeObjectiveId }}</span
                  ></i
                >
                <i
                  [class]="machineId | iconClass"
                  [pTooltip]="machineId | machineTooltip: vm.data"
                  [escape]="false"
                ></i>
              </ng-container>
              <ng-template #machineFill>
                <div class="d-flex invisible">
                  <i class="lab-icon"></i>
                </div>
                <div class="d-flex invisible">
                  <i class="lab-icon"></i>
                </div>
              </ng-template>
              <ng-container *ngIf="percent">
                <i
                  class="m-1 p-2 fa-solid fa-arrow-right"
                  *ngIf="percentOnDest"
                ></i>
                <span class="monospace"
                  >{{ percent | rate: -2 | leftPad }}%</span
                >
                <i
                  class="m-1 p-2 fa-solid fa-arrow-right"
                  *ngIf="!percentOnDest"
                ></i>
                <i
                  *ngIf="destId"
                  [class]="
                    destId | iconClass: (destIsRecipe ? 'recipe' : 'item')
                  "
                  [pTooltip]="
                    destIsRecipe
                      ? (destId | recipeTooltip: vm.data)
                      : (destId | itemTooltip: vm.data)
                  "
                  [escape]="false"
                  ><span *ngIf="destRecipeObjectiveId"
                    >#{{ destRecipeObjectiveId }}</span
                  ></i
                >
                <span *ngIf="outputs">
                  {{ 'list.outputs' | translate }}
                </span>
              </ng-container>
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
