<div class="overflow-auto">
  <table class="table w-sm">
    <thead>
      <tr>
        <th>{{ 'columns.visibility' | translate }}</th>
        <th id="decimals-label">{{ 'columns.decimals' | translate }}</th>
        <th id="fractions-label">{{ 'columns.fractions' | translate }}</th>
        <th>{{ 'columns.example' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (column of settingsStore.columnOptions(); track column.value) {
        <tr>
          <td>
            <lab-checkbox
              [label]="column.label"
              [class.opacity-40]="column.disabled"
              [(ngModel)]="value[column.value].show"
              [disabled]="!!column.disabled"
              (ngModelChange)="ref.markForCheck()"
            ></lab-checkbox>
          </td>
          @if (
            !columnsInfo[column.value].hasPrecision || !value[column.value].show
          ) {
            <td colspan="3" class="text-center">
              @if (!columnsInfo[column.value].hasPrecision) {
                {{ 'columns.notApplicable' | translate }}
              } @else {
                {{ 'columns.hidden' | translate }}
              }
            </td>
          } @else {
            <td class="w-20">
              <input
                type="number"
                class="input"
                aria-labelledby="decimals-label"
                [(ngModel)]="value[column.value].precision"
              />
            </td>
            <td>
              <div class="flex items-center justify-center">
                <lab-checkbox
                  labelledBy="fractions-label"
                  [ngModel]="value[column.value].precision == null"
                  (ngModelChange)="
                    value[column.value].precision = $event ? null : 1
                  "
                ></lab-checkbox>
              </div>
            </td>
            <td class="text-center font-mono">
              {{ value[column.value].precision | precisionExample }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

<lab-form-field label="columns.powerUnit">
  <lab-select [options]="powerUnitOptions" [(ngModel)]="powerUnit"></lab-select>
</lab-form-field>

<div class="flex justify-end gap-1 sm:gap-2">
  @if (modified) {
    <button
      type="button"
      labButton
      text="reset"
      [faIcon]="faRotateLeft"
      (click)="reset()"
    ></button>
  }
  <button
    type="button"
    labButton
    color="brand"
    text="ok"
    [faIcon]="faCheck"
    (click)="save()"
  ></button>
  <button
    type="button"
    labButton
    text="cancel"
    [faIcon]="faXmark"
    (click)="dialogRef.close()"
  ></button>
</div>
