<p-table
  [value]="value()"
  labPagedTable
  [paginator]="value().length > 10"
  [globalFilterFields]="['group.id']"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        <span>{{ 'data.name' | translate }}</span>
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      @if (type() !== 'group') {
        <th pSortableColumn="group.name">
          <span>{{ 'data.group' | translate }}</span>
          <p-sortIcon field="group.name"></p-sortIcon>
        </th>
      }
    </tr>
    @if (value().length > 10) {
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            matchMode="contains"
          ></p-columnFilter>
        </th>
        @if (type() !== 'group') {
          <th>
            <p-columnFilter field="group.id" matchMode="in">
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-multiSelect
                  appendTo="body"
                  [ngModel]="value"
                  [options]="options().groups"
                  [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'data.selectedLabel' | translate"
                  [placeholder]="'data.any' | translate"
                  (onChange)="filter($event.value)"
                ></p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
        }
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="body" let-obj>
    <tr>
      <td>
        <a [routerLink]="route() + obj.id" queryParamsHandling="preserve">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-link"
            [label]="obj.name"
            [icon]="obj.id | iconSmClass: type()"
          ></button>
        </a>
      </td>
      @if (type() !== 'group') {
        <td>
          @if (obj.group) {
            <a
              [routerLink]="'/data/groups/' + obj.group.id"
              queryParamsHandling="preserve"
            >
              <button
                pButton
                pRipple
                type="button"
                class="p-button-link"
                [label]="obj.group.name"
                [icon]="obj.group.id | iconSmClass: 'group'"
              ></button>
            </a>
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
