<p-card *ngIf="vm$ | async as vm" [header]="'products.title' | translate">
  <div
    *ngFor="
      let product of vm.products;
      let i = index;
      trackBy: trackSvc.trackById
    "
    class="d-flex align-items-center mb-4"
  >
    <div class="p-inputgroup">
      <button
        pButton
        pRipple
        icon="fa-solid fa-minus"
        [pTooltip]="'products.removeProduct' | translate"
        (click)="removeProduct(product.id)"
      ></button>
      <span class="p-inputgroup-addon">{{
        'products.produce' | translate
      }}</span>
      <p-dropdown
        labDropdownIcon
        [virtualScroll]="true"
        [virtualScrollItemSize]="48"
        [panelStyle]="{ width: '18rem' }"
        [tooltip]="'products.changeItem' | translate"
        tooltipPosition="top"
        [options]="vm.options.items"
        [ngModel]="product.itemId"
        (onChange)="setItem(product.id, $event.value)"
      >
      </p-dropdown>
      <span class="p-inputgroup-addon">{{ 'products.from' | translate }}</span>
      <lab-input-number
        [pTooltip]="'products.changeRate' | translate"
        tooltipPosition="top"
        [value]="product.rate"
        (setValue)="setRate(product.id, $event)"
      ></lab-input-number>
      <p-dropdown
        [tooltip]="'products.changeRateType' | translate"
        tooltipPosition="top"
        [options]="vm.rateTypeOptions"
        [ngModel]="product.rateType"
        (onChange)="setRateType(product.id, $event.value)"
      ></p-dropdown>
      <ng-container
        *ngIf="vm.productOptions[product.id].length > 0; else recipeNone"
      >
        <ng-container *ngIf="product.viaId as id">
          <span class="p-inputgroup-addon">{{
            'products.of' | translate
          }}</span>
          <p-dropdown
            labDropdownIcon
            [virtualScroll]="true"
            [virtualScrollItemSize]="48"
            [tooltip]="'products.changeVia' | translate"
            tooltipPosition="top"
            [options]="vm.productOptions[product.id]"
            [ngModel]="product.viaId"
            (onChange)="setVia(product.id, $event.value)"
          >
          </p-dropdown>
        </ng-container>
      </ng-container>
      <ng-template #recipeNone>
        <span class="p-inputgroup-addon p-error">{{
          'products.noEnabledRecipes' | translate
        }}</span>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mb-3">
      <p-dropdown
        labDropdownIcon
        [virtualScroll]="true"
        [virtualScrollItemSize]="48"
        [panelStyle]="{ width: '18rem' }"
        [options]="vm.options.items"
        (onChange)="addProduct($event.value)"
      >
        <ng-template pTemplate="selectedItem" let-item>
          <span>{{ 'products.addAProduct' | translate }}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-auto mb-3">
      <p-dropdown
        labDropdownTranslate
        styleClass="h-100"
        [tooltip]="'products.selectDisplayRate' | translate"
        [ngModel]="vm.displayRate"
        [options]="displayRateOptions"
        (onChange)="setDisplayRate($event.value, vm.displayRate)"
      >
      </p-dropdown>
    </div>
  </div>
</p-card>
