<p-card *ngIf="vm$ | async as vm" [header]="'objectives.title' | translate">
  <h3 *ngIf="vm.products.length">
    {{ 'objectives.products' | translate }}
  </h3>
  <div
    *ngFor="let product of vm.products; trackBy: trackSvc.trackById"
    class="mb-2"
  >
    <div class="p-inputgroup">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined icon"
        icon="fa-solid fa-minus"
        [pTooltip]="'objectives.removeProductTooltip' | translate"
        (click)="removeProduct(product.id)"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="text-truncate"
        [icon]="product.itemId | iconSmClass"
        [label]="vm.mobile ? '' : vm.data.itemEntities[product.itemId].name"
        [pTooltip]="'objectives.itemTooltip' | translate"
        tooltipPosition="top"
        (click)="editPicker.clickOpen(vm.data, 'item', product.itemId)"
      ></button>
      <lab-picker
        #editPicker
        (selectId)="setItem(product.id, $event)"
      ></lab-picker>
      <lab-input-number
        [pTooltip]="'objectives.rateTooltip' | translate"
        tooltipPosition="top"
        [hideButtons]="vm.mobile"
        [value]="product.rate"
        (setValue)="setRate(product.id, $event)"
      ></lab-input-number>
      <p-dropdown
        [tooltip]="'products.changeRateType' | translate"
        tooltipPosition="top"
        [options]="vm.rateTypeOptions"
        [ngModel]="product.rateType"
        (onChange)="setRateType(product.id, $event.value)"
      ></p-dropdown>
      <ng-container
        *ngIf="vm.viaOptions[product.id].length > 0; else recipeNone"
      >
        <ng-container *ngIf="product.viaId as id">
          <ng-container
            *ngIf="product.rateType | rateTypeViaDropdown as dropdownType"
          >
            <p-dropdown
              [labDropdownBase]="vm.mobile ? 'icon' : ''"
              [class.icon]="vm.mobile"
              [virtualScroll]="true"
              [virtualScrollItemSize]="34"
              [pTooltip]="'objectives.viaTooltip' | translate"
              tooltipPosition="left"
              [options]="vm.viaOptions[product.id]"
              [ngModel]="product.viaId"
              (onChange)="setVia(product.id, $event.value)"
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div *ngIf="vm.mobile; else desktopSelectedItem" class="d-flex">
                  <i [class]="item.value | iconSmClass: dropdownType"></i>
                </div>
                <ng-template #desktopSelectedItem>
                  <span *ngIf="item.value === product.itemId; else viaSelected">
                    {{ 'objectives.viaPlaceholder' | translate }}
                  </span>
                  <ng-template #viaSelected>
                    <div class="d-flex align-items-center h-100">
                      <i [class]="item.value | iconSmClass: dropdownType"></i>
                      <div class="ms-3 text-truncate">
                        {{ item.label }}
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="
                    dropdownType === 'recipe'
                      ? (item.value | recipeTooltip: vm.data)
                      : (item.value | itemTooltip: vm.data)
                  "
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass: dropdownType"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #recipeNone>
        <span class="p-inputgroup-addon p-error">{{
          'objectives.noEnabledRecipes' | translate
        }}</span>
      </ng-template>
    </div>
  </div>
  <h3 *ngIf="vm.producers.length">
    {{ 'objectives.producers' | translate }}
  </h3>
  <div
    *ngFor="let producer of vm.producers; trackBy: trackSvc.trackById"
    class="mb-2 producer"
  >
    <div class="p-inputgroup">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined icon"
        icon="fa-solid fa-minus"
        [pTooltip]="'objectives.removeProducerTooltip' | translate"
        (click)="removeProducer(producer.id)"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="lab-button-icon-only text-truncate"
        [label]="
          vm.mobile ? '' : vm.data.recipeEntities[producer.recipeId].name
        "
        [pTooltip]="'objectives.recipeTooltip' | translate"
        tooltipPosition="top"
        (click)="editPicker.clickOpen(vm.data, 'recipe', producer.recipeId)"
      >
        <i
          class="p-button-icon"
          [class]="producer.recipeId | iconSmClass: 'recipe'"
          ><span>#{{ producer.id }}</span></i
        >
      </button>
      <lab-picker
        #editPicker
        (selectId)="setRecipe(producer.id, $event)"
      ></lab-picker>
      <lab-input-number
        [pTooltip]="'objectives.countTooltip' | translate"
        tooltipPosition="top"
        [value]="producer.count"
        (setValue)="setCount(producer.id, $event)"
      ></lab-input-number>
    </div>
  </div>
  <!-- Mobile buttons -->
  <div class="d-sm-none row mt-3">
    <div class="col-6">
      <button
        pButton
        pRipple
        type="button"
        class="w-100"
        icon="fa-solid fa-plus"
        [pTooltip]="'objectives.addAProductTooltip' | translate"
        tooltipPosition="top"
        [label]="'objectives.product' | translate"
        (click)="addProductPicker.clickOpen(vm.data, 'item')"
      ></button>
    </div>
    <div class="col-6">
      <button
        pButton
        pRipple
        type="button"
        class="w-100"
        icon="fa-solid fa-plus"
        [pTooltip]="'objectives.addAProducerTooltip' | translate"
        tooltipPosition="top"
        [label]="'objectives.producer' | translate"
        (click)="addRecipePicker.clickOpen(vm.data, 'recipe')"
      ></button>
    </div>
  </div>
  <!-- Desktop buttons -->
  <div class="d-none d-sm-flex mt-4">
    <div class="me-3">
      <button
        pButton
        pRipple
        type="button"
        class="w-100"
        icon="fa-solid fa-plus"
        [pTooltip]="'objectives.addAProductTooltip' | translate"
        tooltipPosition="top"
        [label]="'objectives.addAProduct' | translate"
        (click)="addProductPicker.clickOpen(vm.data, 'item')"
      ></button>
    </div>
    <div class="me-3">
      <button
        pButton
        pRipple
        type="button"
        class="w-100"
        icon="fa-solid fa-plus"
        [pTooltip]="'objectives.addAProducerTooltip' | translate"
        tooltipPosition="top"
        [label]="'objectives.addAProducer' | translate"
        (click)="addRecipePicker.clickOpen(vm.data, 'recipe')"
      ></button>
    </div>
    <div>
      <p-dropdown
        labDropdownTranslate
        styleClass="h-100"
        [tooltip]="'objectives.selectDisplayRate' | translate"
        [ngModel]="vm.displayRate"
        [options]="displayRateOptions"
        (onChange)="setDisplayRate($event.value, vm.displayRate)"
      >
      </p-dropdown>
    </div>
  </div>
  <lab-picker #addProductPicker (selectId)="addProduct($event)"></lab-picker>
  <lab-picker #addRecipePicker (selectId)="addProducer($event)"></lab-picker>
</p-card>
