<ng-container
  *ngIf="{
    linkText: linkText$ | async,
    linkSize: linkSize$ | async,
    options: options$ | async,
    sankeyData: sankeyData$ | async,
    sankeyAlign: sankeyAlign$ | async,
    steps: steps$ | async
  } as a"
>
  <div class="flex">
    <div>Link text</div>
    <lab-options
      *ngIf="a.linkText"
      title="Select flow link text"
      [selected]="a.linkText"
      [options]="a.options ?? []"
      (selectId)="setLinkText($event)"
    ></lab-options>
    <div>Link size</div>
    <lab-options
      *ngIf="a.linkSize"
      title="Select flow link size"
      [selected]="a.linkSize"
      [options]="a.options ?? []"
      (selectId)="setLinkSize($event)"
    ></lab-options>
    <div class="flex">
      <span>Sankey align</span>
      <a href="https://github.com/d3/d3-sankey#alignments" target="_blank"
        ><i class="material-icons small">help</i></a
      >
    </div>
    <lab-options
      *ngIf="a.sankeyAlign"
      title="Select sankey alignment"
      [selected]="a.sankeyAlign"
      [options]="sankeyAlignOptions"
      (selectId)="setSankeyAlign($event)"
    ></lab-options>
    <button
      *ngIf="a.sankeyData"
      title="Export to JSON"
      data-test="lab-flow-export"
      (click)="export(a.sankeyData)"
    >
      <i class="material-icons">file_download</i>
    </button>
  </div>
  <div id="lab-flow-svg" #svg></div>
  <lab-list-container
    [mode]="ListMode.Focus"
    [steps]="a.steps ?? []"
    [selected]="selected"
  ></lab-list-container>
</ng-container>
