<table *ngIf="steps && steps.length">
  <thead>
    <tr>
      <th>
        Items
      </th>
      <th>
        Lanes
      </th>
      <th>
        Factories
      </th>
      <th>
        Modules
      </th>
      <th>
        Beacons
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let step of steps">
      <td>
        <div class="flex">
          <div *ngIf="step.items" class="monospace">
            {{ step.items.toFraction(true) }}
          </div>
          <div *ngIf="step.surplus && step.surplus.n > 0" class="monospace">
            (+{{ step.surplus.toFraction(true) }})
          </div>
          <lab-icon [iconId]="step.itemId" scale="true"></lab-icon>
        </div>
      </td>
      <ng-container *ngIf="step.settings">
        <td>
          <div *ngIf="step.settings.lane && step.lanes" class="flex">
            <div class="monospace">{{ step.lanes.toFraction(true) }}</div>
            <lab-icon [iconId]="step.settings.lane"></lab-icon>
          </div>
        </td>
        <ng-container *ngIf="step.settings.factory">
          <td>
            <div class="flex">
              <div class="monospace">{{ step.factories.toFraction(true) }}</div>
              <ng-container *ngIf="step.settings.recipeId">
                <lab-icon [iconId]="step.settings.recipeId"></lab-icon>
                :
              </ng-container>
              <lab-icon [iconId]="step.settings.factory"></lab-icon>
            </div>
          </td>
          <ng-container *ngIf="step.settings.modules">
            <td>
              <div class="flex">
                <lab-icon
                  *ngFor="let mod of step.settings.modules"
                  [iconId]="mod"
                ></lab-icon>
              </div>
            </td>
            <td>
              <div class="flex">
                <lab-icon
                  [iconId]="
                    step.settings.beaconType
                      ? step.settings.beaconType
                      : 'module'
                  "
                ></lab-icon>
                <input
                  type="number"
                  min="0"
                  [value]="step.settings.beaconCount"
                  (change)="beaconCountChange(step.itemId, $event)"
                />
              </div>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>
