<p-breadcrumb [home]="home()" [model]="breadcrumb()"></p-breadcrumb>
@if (obj(); as obj) {
  <table class="properties mb-4">
    <tr>
      <th colspan="2" class="text-center">
        <h3>{{ obj.name }}</h3>
      </th>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <i class="lg" [class]="id() | iconClass: 'item'"></i>
      </td>
    </tr>
    @if (category(); as category) {
      <tr>
        <th>{{ 'data.category' | translate }}</th>
        <td>
          <a
            [routerLink]="dataRoute() + 'categories/' + obj.category"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="category.name"
              [icon]="obj.category | iconSmClass: 'category'"
            ></button>
          </a>
        </td>
      </tr>
    }
    @if (obj.stack) {
      <tr>
        <th>{{ 'data.stackSize' | translate }}</th>
        <td>
          {{ obj.stack }}
        </td>
      </tr>
    }
    @if (obj.beacon; as beacon) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.beacon' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.efficiency' | translate }}</th>
        <td>{{ beacon.effectivity }}</td>
      </tr>
      <tr>
        <th>{{ 'data.moduleSlots' | translate }}</th>
        <td>{{ beacon.modules }}</td>
      </tr>
      @if (beacon.range) {
        <tr>
          <th>{{ 'data.range' | translate }}</th>
          <td>{{ beacon.range }}</td>
        </tr>
      }
      @if (beacon.type) {
        <tr>
          <th>{{ 'data.energySource' | translate }}</th>
          <td>{{ beacon.type }}</td>
        </tr>
      }
      @if (beacon.usage) {
        <tr>
          <th>{{ 'data.energyConsumption' | translate }}</th>
          <td>{{ beacon.usage | usage }}</td>
        </tr>
      }
      @if (beacon.disallowedEffects) {
        <tr>
          <th>{{ 'data.disallowedEffects' | translate }}</th>
          <td>{{ beacon.disallowedEffects.join(', ') }}</td>
        </tr>
      }
      @if (beacon.size) {
        <tr>
          <th>{{ 'data.dimensions' | translate }}</th>
          <td>{{ beacon.size[0] }}×{{ beacon.size[1] }}</td>
        </tr>
      }
    }
    @if (obj.belt; as belt) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.belt' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.beltSpeed' | translate }}</th>
        <td>{{ belt.speed }}</td>
      </tr>
    }
    @if (obj.cargoWagon; as cargoWagon) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.cargoWagon' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.storageSize' | translate }}</th>
        <td>{{ cargoWagon.size }}</td>
      </tr>
    }
    @if (obj.fluidWagon; as fluidWagon) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.fluidWagon' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.fluidCapacity' | translate }}</th>
        <td>{{ fluidWagon.capacity }}</td>
      </tr>
    }
    @if (obj.fuel; as fuel) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.fuel' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.fuelCategory' | translate }}</th>
        <td>{{ fuel.category }}</td>
      </tr>
      <tr>
        <th>{{ 'data.fuelValue' | translate }}</th>
        <td>{{ fuel.value | round }} MJ</td>
      </tr>
      @if (fuel.result) {
        <tr>
          <th>{{ 'data.burntResult' | translate }}</th>
          <td>
            <a
              [routerLink]="dataRoute() + 'items/' + fuel.result"
              queryParamsHandling="preserve"
            >
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="data().itemEntities[fuel.result].name"
                [icon]="fuel.result | iconSmClass: 'item'"
              ></button>
            </a>
          </td>
        </tr>
      }
    }
    @if (obj.machine; as machine) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.machine' | translate }}</h3>
        </th>
      </tr>
      @if (machine.speed) {
        <tr>
          <th>{{ 'data.craftingSpeed' | translate }}</th>
          <td>{{ machine.speed | round }}</td>
        </tr>
      }
      @if (machine.modules) {
        <tr>
          <th>{{ 'data.moduleSlots' | translate }}</th>
          <td>{{ machine.modules }}</td>
        </tr>
      }
      @if (machine.disallowedEffects) {
        <tr>
          <th>{{ 'data.disallowedEffects' | translate }}</th>
          <td>{{ machine.disallowedEffects.join(', ') }}</td>
        </tr>
      }
      @if (machine.type) {
        <tr>
          <th>{{ 'data.energySource' | translate }}</th>
          <td>{{ machine.type }}</td>
        </tr>
      }
      @if (machine.fuelCategories) {
        <tr>
          <th>{{ 'data.fuelCategories' | translate }}</th>
          <td>{{ machine.fuelCategories.join(', ') }}</td>
        </tr>
      }
      @if (machine.fuel) {
        <tr>
          <th>{{ 'data.fuel' | translate }}</th>
          <td>{{ machine.fuel }}</td>
        </tr>
      }
      @if (machine.usage) {
        <tr>
          <th>{{ 'data.energyConsumption' | translate }}</th>
          <td>{{ machine.usage | usage }}</td>
        </tr>
      }
      @if (machine.drain) {
        <tr>
          <th>{{ 'data.energyDrain' | translate }}</th>
          <td>{{ machine.drain | usage }}</td>
        </tr>
      }
      @if (machine.pollution) {
        <tr>
          <th>{{ 'data.pollution' | translate }}</th>
          <td>{{ machine.pollution }}/m</td>
        </tr>
      }
      @if (machine.consumption) {
        <tr>
          <th>{{ 'data.consumption' | translate }}</th>
          <td>
            <div
              class="d-flex align-items-center justify-content-center flex-wrap"
            >
              @for (kv of machine.consumption | keyvalue; track kv.key) {
                <i [class]="kv.key | iconSmClass: 'item'">
                  <span>{{ kv.value | round }}</span>
                </i>
              }
            </div>
          </td>
        </tr>
      }
      @if (machine.size) {
        <tr>
          <th>{{ 'data.dimensions' | translate }}</th>
          <td>{{ machine.size[0] }}×{{ machine.size[1] }}</td>
        </tr>
      }
      @if (machine.silo; as silo) {
        <tr>
          <th colspan="2" class="text-center">
            <h3>{{ 'data.rocketSilo' | translate }}</h3>
          </th>
        </tr>
        <tr>
          <th>{{ 'data.rocketPartsRequired' | translate }}</th>
          <td>{{ silo.parts }}</td>
        </tr>
        <tr>
          <th>{{ 'data.rocketLaunchTime' | translate }}</th>
          <td>{{ silo.launch | round }}</td>
        </tr>
      }
      @if (machine.locations) {
        <tr>
          <th>{{ 'data.locations' | translate }}</th>
          <td>
            @for (i of machine.locations; track i) {
              <div>
                <a
                  [routerLink]="dataRoute() + 'locations/' + i"
                  queryParamsHandling="preserve"
                >
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-text"
                    [label]="data().locationEntities[i].name"
                    [icon]="i | iconSmClass: 'location'"
                  ></button>
                </a>
              </div>
            }
          </td>
        </tr>
      }
    }
    @if (obj.module; as module) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.module' | translate }}</h3>
        </th>
      </tr>
      @if (module.consumption) {
        <tr>
          <th>{{ 'data.energyConsumption' | translate }}</th>
          <td>{{ module.consumption | bonusPercent }}</td>
        </tr>
      }
      @if (module.speed) {
        <tr>
          <th>{{ 'data.speed' | translate }}</th>
          <td>{{ module.speed | bonusPercent }}</td>
        </tr>
      }
      @if (module.productivity) {
        <tr>
          <th>{{ 'data.productivity' | translate }}</th>
          <td>{{ module.productivity | bonusPercent }}</td>
        </tr>
      }
      @if (module.pollution) {
        <tr>
          <th>{{ 'data.pollution' | translate }}</th>
          <td>{{ module.pollution | bonusPercent }}</td>
        </tr>
      }
      @if (module.quality && module.quality.nonzero()) {
        <tr>
          <th>{{ 'data.quality' | translate }}</th>
          <td>{{ module.quality | bonusPercent }}</td>
        </tr>
      }
      @if (module.sprays) {
        <tr>
          <th>{{ 'data.sprays' | translate }}</th>
          <td>{{ module.sprays | round }}</td>
        </tr>
      }
      @if (module.proliferator) {
        <tr>
          <th>{{ 'data.proliferator' | translate }}</th>
          <td>
            <a
              [routerLink]="dataRoute() + 'items/' + module.proliferator"
              queryParamsHandling="preserve"
            >
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="data().itemEntities[module.proliferator].name"
                [icon]="module.proliferator | iconSmClass: 'item'"
              ></button>
            </a>
          </td>
        </tr>
      }
    }
    @if (obj.pipe; as pipe) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.pipe' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.flowRate' | translate }}</th>
        <td>{{ pipe.speed }}</td>
      </tr>
    }
    @if (obj.technology; as technology) {
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ 'data.technology' | translate }}</h3>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.prerequisites' | translate }}</th>
        <td>
          @if (!technology.prerequisites?.length) {
            <div>{{ 'none' | translate }}</div>
          }
          @for (i of technology.prerequisites; track i) {
            <div>
              <a
                [routerLink]="dataRoute() + 'technologies/' + i"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[i].name"
                  [icon]="i | iconSmClass: 'recipe'"
                ></button>
              </a>
            </div>
          }
        </td>
      </tr>
    }
    @if (category() && itemSettings(); as itemSettings) {
      <tr>
        <th colspan="2">
          <div class="d-flex align-items-center justify-content-between">
            <button
              pButton
              pRipple
              type="button"
              class="invisible p-button-rounded"
              icon="fa-solid fa-rotate-right"
            ></button>
            <h3>{{ 'data.itemSettings' | translate }}</h3>
            <button
              [class.invisible]="!itemsStateRaw()[id()]"
              pButton
              pRipple
              type="button"
              class="ms-2 p-button-rounded"
              icon="fa-solid fa-rotate-left"
              (click)="itemsSvc.resetId(id())"
            ></button>
          </div>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.excluded' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="settings().excludedItemIds.has(id())"
            [binary]="true"
            (onChange)="changeExcluded($event.checked)"
          ></p-checkbox>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.checked' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="settings().checkedItemIds.has(id())"
            [binary]="true"
            (onChange)="changeChecked($event.checked)"
          ></p-checkbox>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.belt' | translate }}</th>
        @if (itemSettings.beltId; as beltId) {
          <td>
            <a
              [routerLink]="
                dataRoute() +
                (data().beltIds.includes(beltId)
                  ? 'belts'
                  : data().pipeIds.includes(beltId)
                    ? 'pipes'
                    : 'items') +
                '/' +
                beltId
              "
              queryParamsHandling="preserve"
            >
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="data().itemEntities[beltId].name"
                [icon]="beltId | iconSmClass: 'item'"
              ></button>
            </a>
          </td>
        }
      </tr>
      @if (itemSettings.wagonId; as wagonId) {
        <tr>
          @if (obj.stack) {
            <th>{{ 'data.cargoWagon' | translate }}</th>
            <td>
              <a
                [routerLink]="dataRoute() + 'cargo-wagons/' + wagonId"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[wagonId].name"
                  [icon]="wagonId | iconSmClass: 'item'"
                ></button>
              </a>
            </td>
          } @else {
            <th>{{ 'data.fluidWagon' | translate }}</th>
            <td>
              <a
                [routerLink]="dataRoute() + 'fluid-wagons/' + wagonId"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[wagonId].name"
                  [icon]="wagonId | iconSmClass: 'item'"
                ></button>
              </a>
            </td>
          }
        </tr>
      }
    }
    @if (obj.machine && machineSettings(); as machineSettings) {
      <tr>
        <th colspan="2">
          <div class="d-flex align-items-center justify-content-between">
            <button
              pButton
              pRipple
              type="button"
              class="invisible p-button-rounded"
              icon="fa-solid fa-rotate-right"
            ></button>
            <h3>{{ 'data.machineSettings' | translate }}</h3>

            <button
              [class.invisible]="!machinesStateRaw()[id()]"
              pButton
              pRipple
              type="button"
              class="p-button-rounded justify-self-end"
              icon="fa-solid fa-rotate-left"
              (click)="machinesSvc.resetId(id())"
            ></button>
          </div>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.moduleRank' | translate }}</th>
        <td>
          @if (!machineSettings.modules?.length) {
            <div>{{ 'none' | translate }}</div>
          }
          @for (module of machineSettings.modules; track module.id) {
            @if (module.id; as moduleId) {
              <div>
                <a
                  [routerLink]="
                    moduleId === 'module'
                      ? null
                      : dataRoute() + 'modules/' + moduleId
                  "
                  queryParamsHandling="preserve"
                >
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-text"
                    [label]="data().itemEntities[moduleId]?.name ?? ''"
                    [icon]="moduleId | iconSmClass: 'item'"
                  ></button>
                </a>
              </div>
            }
          }
        </td>
      </tr>
      @if (data().flags.has('beacons')) {
        <tr>
          <th>{{ 'data.beacons' | translate }}</th>
          <td>
            @for (beacon of machineSettings.beacons; track $index) {
              <div>
                @if (beacon.id) {
                  <a
                    [routerLink]="dataRoute() + 'beacons/' + beacon.id"
                    queryParamsHandling="preserve"
                  >
                    <button
                      pButton
                      pRipple
                      type="button"
                      class="p-button-text"
                      [label]="data().itemEntities[beacon.id].name"
                      [icon]="beacon.id | iconSmClass"
                    ></button>
                  </a>
                }
                <span class="ms-3">{{ beacon.count }}</span>
              </div>
              @for (module of beacon.modules; track module.id) {
                @if (module.id; as moduleId) {
                  <div>
                    @if (moduleId === 'module') {
                      <i [class]="moduleId | iconSmClass"> </i>
                    } @else {
                      <a
                        [routerLink]="dataRoute() + 'modules/' + moduleId"
                        queryParamsHandling="preserve"
                      >
                        <button
                          pButton
                          pRipple
                          type="button"
                          class="p-button-text"
                          [label]="data().itemEntities[moduleId].name"
                          [icon]="moduleId | iconSmClass"
                        ></button>
                      </a>
                    }
                  </div>
                }
              }
            }
          </td>
        </tr>
      }
      @if (data().flags.has('overclock')) {
        <tr>
          <th>{{ 'data.overclock' | translate }}</th>
          <td>{{ machineSettings.overclock }}%</td>
        </tr>
      }
    }
  </table>
  @if (recipes().producedBy.length) {
    <h3>{{ 'data.producedByRecipes' | translate }}</h3>
    <lab-collection-table
      [ids]="recipes().producedBy"
      type="recipe"
    ></lab-collection-table>
  }
  @if (recipes().consumedBy.length) {
    <h3>{{ 'data.consumedByRecipes' | translate }}</h3>
    <lab-collection-table
      [ids]="recipes().consumedBy"
      type="recipe"
    ></lab-collection-table>
  }
  @if (recipes().producible.length) {
    <h3>{{ 'data.producibleRecipes' | translate }}</h3>
    <lab-collection-table
      [ids]="recipes().producible"
      type="recipe"
    ></lab-collection-table>
  }
  @if (recipes().unlocked.length) {
    <h3>{{ 'data.unlockedRecipes' | translate }}</h3>
    <lab-collection-table
      [ids]="recipes().unlocked"
      type="recipe"
    ></lab-collection-table>
  }
} @else {
  <div class="my-5 p-error">{{ 'data.notFound' | translate }}</div>
}
