<div class="p-3">
  <div class="d-flex align-items-center justify-content-between">
    <h2 class="mb-0">{{ 'settings.header' | translate }}</h2>
    <div>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-text"
        icon="fa-solid fa-trash"
        [pTooltip]="'settings.reset' | translate"
        tooltipPosition="bottom"
        (click)="clickResetSettings()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-text d-inline-flex d-sm-none"
        icon="fa-solid fa-xmark"
        (click)="contentSvc.toggleMenu()"
      ></button>
    </div>
  </div>
</div>
<div *ngIf="vm$ | async as vm" class="flex-grow-1 overflow-hidden">
  <p-scrollPanel [style]="{ height: '100%' }">
    <div class="p-fluid p-3 overflow-hidden settings-container">
      <div class="mb-3">
        <h3 [pTooltip]="'settings.savedStatesTooltip' | translate">
          {{ 'settings.savedStates' | translate }}
          <i class="fa-solid fa-info-circle"></i>
        </h3>
        <div class="p-inputgroup">
          <ng-container *ngIf="editState; else selectState">
            <button
              pButton
              pRipple
              type="button"
              icon="fa-solid fa-xmark"
              [pTooltip]="'cancel' | translate"
              (click)="editState = false"
            ></button>
            <input
              pInputText
              [pAutoFocus]="true"
              type="text"
              [placeholder]="'settings.nameSavedState' | translate"
              [pTooltip]="'settings.savedStateName' | translate"
              tooltipPosition="top"
              [formControl]="stateCtrl"
            />
            <button
              pButton
              pRipple
              type="button"
              icon="fa-solid fa-floppy-disk"
              [pTooltip]="'settings.saveSavedState' | translate"
              [disabled]="!stateCtrl.valid"
              (click)="clickSaveState()"
            ></button>
          </ng-container>
        </div>
        <ng-template #selectState>
          <button
            pButton
            pRipple
            type="button"
            icon="fa-solid fa-pen-to-square"
            [pTooltip]="'settings.editSavedState' | translate"
            (click)="openEditState()"
          ></button>
          <p-dropdown
            [placeholder]="'settings.selectSavedState' | translate"
            [pTooltip]="'settings.selectSavedState' | translate"
            tooltipPosition="top"
            [ngModel]="state"
            [options]="vm.savedStates"
            (onChange)="setState($event.value, vm.preferences)"
          ></p-dropdown>
          <button
            pButton
            pRipple
            type="button"
            icon="fa-solid fa-trash"
            [pTooltip]="'settings.deleteSavedState' | translate"
            [disabled]="!state"
            (click)="clickDeleteState()"
          ></button>
        </ng-template>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h3 class="mb-0">{{ 'settings.recipes' | translate }}</h3>
          <a
            *ngIf="vm.data.game === Game.Factorio"
            target="_blank"
            href="https://github.com/factoriolab/factoriolab/issues/new?assignees=&labels=mod+support&template=mod-request.md&title="
            ><small>{{ 'settings.requestMod' | translate }}</small></a
          >
        </div>
        <div class="mt-4 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.gameTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="game"
              [ngModel]="vm.data.game"
              [options]="gameOptions"
              (onChange)="setGame($event.value)"
            >
            </p-dropdown>
            <label for="game">{{ 'settings.game' | translate }}</label>
          </span>
        </div>
        <div *ngIf="vm.data.game === Game.Factorio" class="mt-4 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.modSetTooltip' | translate"
          >
            <p-dropdown
              inputId="mod"
              [filter]="true"
              [ngModel]="vm.settings.modId"
              [options]="vm.modOptions"
              (onChange)="setMod($event.value)"
            >
            </p-dropdown>
            <label for="mod">{{ 'settings.modSet' | translate }}</label>
          </span>
        </div>
        <div class="pt-2">
          <label class="p-static-label">{{
            'settings.modVersions' | translate
          }}</label>
          <p-scrollPanel
            *ngIf="vm.data.version"
            [style]="{ maxHeight: '200px' }"
            [pTooltip]="'settings.modVersionsTooltip' | translate"
          >
            <ul class="ps-2 mb-0">
              <li
                class="d-flex justify-content-between"
                *ngFor="let mod of vm.data.version | keyvalue"
              >
                <span>{{ mod.key }}</span
                ><span>{{ mod.value }}</span>
              </li>
            </ul>
          </p-scrollPanel>
        </div>
        <div class="mt-4 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.disabledRecipesTooltip' | translate"
          >
            <p-multiSelect
              inputId="disabled-recipes"
              scrollHeight="400px"
              [virtualScroll]="true"
              [virtualScrollItemSize]="48"
              [ngModel]="vm.settings.disabledRecipeIds"
              [options]="vm.options.complexRecipes"
              (onChange)="
                setDisabledRecipes(
                  $event.value,
                  vm.data.defaults?.disabledRecipeIds
                )
              "
            >
              <ng-template pTemplate="selectedItems" let-items>
                {{ items?.length ?? 0 }}
                {{ 'settings.recipesDisabled' | translate }}
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div class="d-flex align-items-center">
                  <i [class]="item.value | iconSmClass: 'recipe'"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-multiSelect>
            <label for="disabled-recipes">{{
              'settings.disabledRecipes' | translate
            }}</label>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <h3>{{ 'settings.factory' | translate }}</h3>
        <div class="mt-4 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.presetTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="preset"
              [ngModel]="vm.settings.preset"
              [options]="vm.presetOptions"
              (onChange)="setPreset($event.value)"
            >
            </p-dropdown>
            <label for="preset">{{ 'settings.preset' | translate }}</label>
          </span>
        </div>
        <ng-container *ngIf="vm.data.game !== Game.CaptainOfIndustry">
          <ng-container
            *ngFor="let factoryId of vm.factoryRows; let index = index"
          >
            <ng-container *ngIf="vm.factories.entities[factoryId] as settings">
              <ng-container
                *ngIf="
                  factoryId
                    ? vm.factories.entities['']
                    : vm.data.defaults as defaults
                "
              >
                <p-divider>{{
                  (index === 0
                    ? 'settings.factoryDefaults'
                    : 'settings.factorySelection'
                  ) | translate: { index: index }
                }}</p-divider>
                <div class="p-inputgroup flex-wrap factory-preference">
                  <!-- Remove factory button -->
                  <button
                    *ngIf="index > 0"
                    pButton
                    pRipple
                    icon="fa-solid fa-minus"
                    [pTooltip]="'settings.removeFactoryTooltip' | translate"
                    (click)="
                      removeFactory(factoryId, vm.data.defaults?.factoryRankIds)
                    "
                  ></button>
                  <!-- Factory dropdown -->
                  <p-dropdown
                    *ngIf="factoryId"
                    labDropdownIcon
                    [pTooltip]="'settings.factoryTooltip' | translate"
                    [ngModel]="factoryId"
                    [options]="vm.factoryOptions"
                    (onChange)="
                      setFactory(
                        factoryId,
                        $event.value,
                        vm.data.defaults?.factoryRankIds
                      )
                    "
                  >
                  </p-dropdown>
                  <!-- Modifiers multiselect -->
                  <p-multiSelect
                    *ngIf="settings.moduleRankIds"
                    appendTo="body"
                    placeholder="unused"
                    scrollHeight="400px"
                    [selectionLimit]="
                      vm.data.game === Game.Satisfactory ? 1 : 2
                    "
                    [pTooltip]="'settings.modifierTooltip' | translate"
                    [ngModel]="settings.moduleRankIds"
                    [options]="vm.options.modules"
                    (onChange)="
                      setModuleRank(
                        factoryId,
                        $event.value,
                        defaults?.moduleRankIds
                      )
                    "
                  >
                    <ng-template pTemplate="selectedItems" let-items>
                      <div class="d-flex">
                        <ng-container
                          *ngIf="items && items.length; else noModifiers"
                        >
                          <i [class]="items[0] | iconSmClass">
                            <span *ngIf="items.length > 1"
                              >+{{ items.length - 1 }}</span
                            >
                          </i>
                          <div
                            *ngIf="items?.[0] as moduleId"
                            class="ms-3 text-truncate"
                          >
                            {{ vm.data.itemEntities[moduleId]?.name }}
                          </div>
                        </ng-container>
                        <ng-template #noModifiers>
                          <i [class]="ItemId.Module | iconSmClass"></i>
                          <div class="ms-3 text-truncate">
                            {{ 'settings.noModifiers' | translate }}
                          </div>
                        </ng-template>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                      <div class="d-flex align-items-center h-100">
                        <i [class]="item.value | iconSmClass"></i>
                        <div class="ms-3 text-truncate">
                          {{ item.label }}
                        </div>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                  <!-- Overclock input -->
                  <ng-container *ngIf="vm.data.game === Game.Satisfactory">
                    <p-inputNumber
                      #overclockInput
                      suffix="%"
                      [min]="1"
                      [max]="250"
                      [step]="10"
                      [showButtons]="true"
                      [pTooltip]="'settings.overclockTooltip' | translate"
                      [ngModel]="settings.overclock"
                      (onBlur)="
                        setOverclock(
                          factoryId,
                          overclockInput.value,
                          factoryId ? vm.factories.entities[''].overclock : 100
                        )
                      "
                    >
                    </p-inputNumber>
                  </ng-container>
                  <!-- Raise factory button -->
                  <button
                    *ngIf="index > 1"
                    pButton
                    pRipple
                    icon="fa-solid fa-arrow-up"
                    [pTooltip]="'settings.raiseFactoryTooltip' | translate"
                    (click)="
                      raiseFactory(factoryId, vm.data.defaults?.factoryRankIds)
                    "
                  ></button>
                </div>
                <div class="p-inputgroup factory-preference">
                  <ng-container *ngIf="vm.data.game === Game.Factorio">
                    <ng-container *ngIf="settings.beaconCount != null">
                      <!-- Beacon count input -->
                      <lab-input-number
                        [pTooltip]="'settings.beaconCountTooltip' | translate"
                        tooltipPosition="top"
                        [value]="settings.beaconCount"
                        (setValue)="
                          setBeaconCount(
                            factoryId,
                            $event,
                            defaults?.beaconCount
                          )
                        "
                      ></lab-input-number>
                      <!-- Beacon dropdown -->
                      <p-dropdown
                        labDropdownIcon
                        [pTooltip]="'settings.beaconTooltip' | translate"
                        tooltipPosition="top"
                        [ngModel]="settings.beaconId"
                        [options]="vm.options.beacons"
                        (onChange)="
                          setBeacon(factoryId, $event.value, defaults?.beaconId)
                        "
                      >
                      </p-dropdown>
                      <!-- Beacon module dropdown -->
                      <p-dropdown
                        labDropdownIcon
                        [autoDisplayFirst]="false"
                        [placeholder]="'settings.noBeaconModule' | translate"
                        [pTooltip]="'settings.beaconModuleTooltip' | translate"
                        tooltipPosition="top"
                        [ngModel]="settings.beaconModuleId"
                        [options]="vm.options.beaconModules"
                        (onChange)="
                          setBeaconModule(
                            factoryId,
                            $event.value,
                            defaults?.beaconModuleId
                          )
                        "
                      >
                      </p-dropdown>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <p-divider></p-divider>
          <div class="py-2">
            <p-dropdown
              appendTo="body"
              scrollHeight="400px"
              [options]="vm.factoryOptions"
              (onChange)="
                addFactory($event.value, vm.data.defaults?.factoryRankIds)
              "
            >
              <ng-template pTemplate="selectedItem" let-item>
                {{ 'settings.addFactory' | translate }}
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </ng-container>
        <div *ngIf="vm.data.game === Game.Factorio" class="mt-2 py-2">
          <p-checkbox
            [ngModel]="vm.settings.beaconReceivers != null"
            [binary]="true"
            [label]="'settings.estimateBeaconPowerUsage' | translate"
            [pTooltip]="'settings.estimateBeaconPowerUsageTooltip' | translate"
            (onChange)="toggleBeaconReceivers($event.checked)"
          ></p-checkbox>
        </div>
        <div *ngIf="vm.settings.beaconReceivers" class="py-2">
          <label class="p-static-label" for="display-rate">{{
            'settings.averageBeaconReceivers' | translate
          }}</label>
          <lab-input-number
            inputId="display-rate"
            [pTooltip]="'settings.averageBeaconReceiversTooltip' | translate"
            [value]="vm.settings.beaconReceivers"
            (setValue)="setBeaconReceivers($event)"
          ></lab-input-number>
        </div>
        <div *ngIf="vm.data.game === Game.DysonSphereProgram" class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.proliferatorSelfSprayTooltip' | translate"
          >
            <p-dropdown
              labDropdownIconText
              inputId="proliferator-self-spray"
              [autoDisplayFirst]="false"
              [ngModel]="vm.settings.proliferatorSprayId"
              [options]="vm.options.prodModules"
              (onChange)="setProliferatorSpray($event.value)"
            >
            </p-dropdown>
            <label for="proliferator-self-spray">{{
              'settings.proliferatorSelfSpray' | translate
            }}</label>
          </div>
        </div>
        <div class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultTransportBeltTooltip' | translate"
          >
            <p-dropdown
              labDropdownIconText
              inputId="default-transport-belt"
              [ngModel]="vm.settings.beltId"
              [options]="vm.options.belts"
              (onChange)="setBelt($event.value, vm.data.defaults?.beltId)"
            >
            </p-dropdown>
            <label for="default-transport-belt">{{
              'settings.defaultTransportBelt' | translate
            }}</label>
          </div>
        </div>
        <div *ngIf="vm.data.pipeIds.length > 1" class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultPipeTooltip' | translate"
          >
            <p-dropdown
              labDropdownIconText
              inputId="default-pipe"
              [ngModel]="vm.settings.pipeId"
              [options]="vm.options.pipes"
              (onChange)="setPipe($event.value, vm.data.defaults?.pipeId)"
            >
            </p-dropdown>
            <label for="default-pipe">{{
              'settings.defaultPipe' | translate
            }}</label>
          </div>
        </div>
        <div *ngIf="vm.data.cargoWagonIds.length > 1" class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultCargoWagonTooltip' | translate"
          >
            <p-dropdown
              labDropdownIconText
              inputId="default-cargo-wagon"
              [ngModel]="vm.settings.cargoWagonId"
              [options]="vm.options.cargoWagons"
              (onChange)="
                setCargoWagon($event.value, vm.data.defaults?.cargoWagonId)
              "
            >
            </p-dropdown>
            <label for="default-cargo-wagon">{{
              'settings.defaultCargoWagon' | translate
            }}</label>
          </div>
        </div>
        <div *ngIf="vm.data.fluidWagonIds.length > 1" class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultFluidWagonTooltip' | translate"
          >
            <p-dropdown
              labDropdownIconText
              inputId="default-fluid-wagon"
              [ngModel]="vm.settings.fluidWagonId"
              [options]="vm.options.fluidWagons"
              (onChange)="
                setFluidWagon($event.value, vm.data.defaults?.fluidWagonId)
              "
            >
            </p-dropdown>
            <label for="default-fluid-wagon">{{
              'settings.defaultFluidWagon' | translate
            }}</label>
          </div>
        </div>
        <div
          *ngIf="
            vm.data.fuelIds[FuelType.Chemical] &&
            vm.data.fuelIds[FuelType.Chemical].length > 1 &&
            vm.data.game !== Game.Satisfactory
          "
          class="mt-4 py-2"
        >
          <div
            class="p-float-label"
            [pTooltip]="'settings.chemicalFuelTooltip' | translate"
          >
            <p-dropdown
              labDropdownIconText
              inputId="chemical-fuel"
              [ngModel]="vm.settings.fuelId"
              [options]="vm.options.chemicalFuels"
              (onChange)="setFuel($event.value, vm.data.defaults?.fuelId)"
            >
            </p-dropdown>
            <label for="chemical-fuel">{{
              'settings.chemicalFuel' | translate
            }}</label>
          </div>
        </div>
        <ng-container *ngIf="vm.data.game === Game.Factorio">
          <div class="py-2">
            <div class="text-end">
              <small class="me-1">
                <a
                  href="https://wiki.factorio.com/Fluid_system#Pipelines"
                  target="_blank"
                  >Wiki</a
                >
              </small>
            </div>
            <div
              class="p-float-label"
              [pTooltip]="'settings.pipeFlowRateTooltip' | translate"
            >
              <p-inputNumber
                #flowRateInput
                inputId="pipe-flow-rate"
                [suffix]="' ' + ('settings.flowRateUnit' | translate)"
                [min]="1"
                [step]="100"
                [showButtons]="true"
                [ngModel]="vm.settings.flowRate"
                (onBlur)="setFlowRate(flowRateInput.value)"
              ></p-inputNumber>
              <label for="pipe-flow-rate">{{
                'settings.pipeFlowRate' | translate
              }}</label>
            </div>
          </div>
          <div class="mt-4 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.inserterTargetTooltip' | translate"
            >
              <p-dropdown
                labDropdownTranslate
                inputId="inserter-target"
                [ngModel]="vm.settings.inserterTarget"
                [options]="inserterTargetOptions"
                (onChange)="setInserterTarget($event.value)"
              >
              </p-dropdown>
              <label for="inserter-target">{{
                'settings.inserterTarget' | translate
              }}</label>
            </div>
          </div>
        </ng-container>
      </div>
      <div
        *ngIf="
          vm.data.game === Game.Factorio ||
          vm.data.game === Game.DysonSphereProgram
        "
        class="mb-3"
      >
        <h3>{{ 'settings.bonuses' | translate }}</h3>
        <ng-container *ngIf="vm.data.game === Game.DysonSphereProgram">
          <div class="mt-4 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.miningSpeedTooltip' | translate"
            >
              <p-inputNumber
                #miningBonusInput
                inputId="mining-speed"
                suffix="%"
                [min]="100"
                [step]="10"
                [showButtons]="true"
                [ngModel]="vm.settings.miningBonus + 100"
                (onBlur)="setMiningBonus(miningBonusInput.value - 100)"
              ></p-inputNumber>
              <label for="mining-speed">{{
                'settings.miningSpeed' | translate
              }}</label>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="vm.data.game === Game.Factorio">
          <div class="mt-4 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.miningProductivityTooltip' | translate"
            >
              <p-inputNumber
                #miningProdInput
                inputId="mining-productivity"
                prefix="+"
                suffix="%"
                [min]="0"
                [step]="10"
                [showButtons]="true"
                [ngModel]="vm.settings.miningBonus"
                (onBlur)="setMiningBonus(miningProdInput.value)"
              ></p-inputNumber>
              <label for="mining-productivity">{{
                'settings.miningProductivity' | translate
              }}</label>
            </div>
          </div>
          <div class="mt-4 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.researchSpeedTooltip' | translate"
            >
              <p-dropdown
                labDropdownTranslate
                inputId="research-speed"
                [ngModel]="vm.settings.researchSpeed"
                [options]="researchSpeedOptions"
                (onChange)="setResearchSpeed($event.value)"
              >
              </p-dropdown>
              <label for="research-speed">{{
                'settings.researchSpeed' | translate
              }}</label>
            </div>
          </div>
          <div class="mt-4 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.inserterCapacityTooltip' | translate"
            >
              <p-dropdown
                labDropdownTranslate
                inputId="inserter-capacity"
                [ngModel]="vm.settings.inserterCapacity"
                [options]="inserterCapacityOptions"
                (onChange)="setInserterCapacity($event.value)"
              >
              </p-dropdown>
              <label for="inserter-capacity">{{
                'settings.inserterCapacity' | translate
              }}</label>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mb-3">
        <h3>{{ 'settings.display' | translate }}</h3>
        <button
          pButton
          pRipple
          class="my-2"
          icon="fa-solid fa-table-columns"
          [label]="'settings.openColumnSettings' | translate"
          (click)="contentSvc.showColumns$.next()"
        ></button>
        <div class="mt-4 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.displayRateTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="display-rate"
              [ngModel]="vm.settings.displayRate"
              [options]="displayRateOptions"
              (onChange)="setDisplayRate($event.value, vm.settings.displayRate)"
            >
            </p-dropdown>
            <label for="display-rate">{{
              'settings.displayRate' | translate
            }}</label>
          </span>
        </div>
        <div *ngIf="vm.columns[Column.Power].show" class="mt-4 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.powerUnitTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="power-unit"
              [ngModel]="vm.preferences.powerUnit"
              [options]="powerUnitOptions"
              (onChange)="setPowerUnit($event.value)"
            >
            </p-dropdown>
            <label for="power-unit">{{
              'settings.powerUnit' | translate
            }}</label>
          </span>
        </div>
        <div class="py-2">
          <div class="text-end">
            <small class="me-1">
              <a
                href="https://github.com/factoriolab/factoriolab/wiki/Translating-FactorioLab"
                target="_blank"
                >{{ 'settings.helpTranslate' | translate }}</a
              >
            </small>
          </div>
          <div
            class="p-float-label"
            [pTooltip]="'settings.languageTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="language"
              [ngModel]="vm.preferences.language"
              [options]="languageOptions"
              (onChange)="setLanguage($event.value)"
            >
            </p-dropdown>
            <label for="language">{{ 'settings.language' | translate }}</label>
          </div>
        </div>
        <div class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.themeTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="theme"
              [ngModel]="vm.preferences.theme"
              [options]="themeOptions"
              (onChange)="setTheme($event.value)"
            >
            </p-dropdown>
            <label for="theme">{{ 'settings.theme' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <h3>{{ 'settings.advanced' | translate }}</h3>
        <div class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.simplexSolverTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="simplex-solver"
              [ngModel]="vm.preferences.simplexType"
              [options]="simplexTypeOptions"
              (onChange)="setSimplexType($event.value)"
            >
            </p-dropdown>
            <label for="inserter-capacity">{{
              'settings.simplexSolver' | translate
            }}</label>
          </div>
          <div class="p-error">
            <small *ngIf="vm.preferences.simplexType === SimplexType.Disabled">
              {{ 'settings.simplexSolverDisabledInfo' | translate }}
            </small>
            <small
              *ngIf="vm.preferences.simplexType === SimplexType.WasmFloat64"
            >
              {{ 'settings.simplexSolverWasmFloat64Info' | translate }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
</div>
