<div class="label">Display Rate</div>
<div class="field">
  <div class="flex">
    <input
      id="settings-display-persecond"
      type="radio"
      name="displayRate"
      [value]="displayRate.PerSecond"
      [ngModel]="settings.displayRate"
      (change)="setDisplayRate.emit(displayRate.PerSecond)"
    />
    <label for="settings-display-persecond">#/second</label>
  </div>
  <div class="flex">
    <input
      id="settings-display-perminute"
      type="radio"
      name="displayRate"
      [value]="displayRate.PerMinute"
      [ngModel]="settings.displayRate"
      (change)="setDisplayRate.emit(displayRate.PerMinute)"
    />
    <label for="settings-display-perminute">#/minute</label>
  </div>
  <div class="flex">
    <input
      id="settings-display-perhour"
      type="radio"
      name="displayRate"
      [value]="displayRate.PerHour"
      [ngModel]="settings.displayRate"
      (change)="setDisplayRate.emit(displayRate.PerHour)"
    />
    <label for="settings-display-perhour">#/hour</label>
  </div>
</div>
<div class="label">Precision</div>
<div class="field">
  <lab-icon iconId="iron-plate"></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-item-decimals"
      type="radio"
      name="itemPrecision"
      [value]="false"
      [ngModel]="settings.itemPrecision == null"
      (change)="setItemPrecision.emit(initial.itemPrecision)"
    />
    <label for="settings-precision-item-decimals">
      <input
        id="settings-precision-item-value"
        type="number"
        placeholder="Decimals"
        min="0"
        step="1"
        [disabled]="settings.itemPrecision == null"
        [value]="settings.itemPrecision"
        (change)="emitNumber(setItemPrecision, $event)"
      />
    </label>
  </div>
  <div class="flex">
    <input
      id="settings-precision-item-fractions"
      type="radio"
      name="itemPrecision"
      [value]="true"
      [ngModel]="settings.itemPrecision == null"
      (change)="setItemPrecision.emit(null)"
    />
    <label for="settings-precision-item-fractions">Fractions</label>
  </div>
</div>
<div class="field">
  <lab-icon iconId="transport-belt"></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-belt-decimals"
      type="radio"
      name="beltPrecision"
      [value]="false"
      [ngModel]="settings.beltPrecision == null"
      (change)="setBeltPrecision.emit(initial.beltPrecision)"
    />
    <input
      id="settings-precision-belt-value"
      type="number"
      placeholder="Decimals"
      min="0"
      step="1"
      [disabled]="settings.beltPrecision == null"
      [value]="settings.beltPrecision"
      (change)="emitNumber(setBeltPrecision, $event)"
    />
  </div>
  <div class="flex">
    <input
      id="settings-precision-belt-fractions"
      type="radio"
      name="beltPrecision"
      [value]="true"
      [ngModel]="settings.beltPrecision == null"
      (change)="setBeltPrecision.emit(null)"
    />
    <label for="settings-precision-belt-fractions">Fractions</label>
  </div>
</div>
<div class="field">
  <lab-icon iconId="assembling-machine-1"></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-factory-decimals"
      type="radio"
      name="factoryPrecision"
      [value]="false"
      [ngModel]="settings.factoryPrecision == null"
      (change)="setFactoryPrecision.emit(initial.factoryPrecision)"
    />
    <input
      id="settings-precision-factory-value"
      type="number"
      placeholder="Decimals"
      min="0"
      step="1"
      [disabled]="settings.factoryPrecision == null"
      [value]="settings.factoryPrecision"
      (change)="emitNumber(setFactoryPrecision, $event)"
    />
  </div>
  <div class="flex">
    <input
      id="settings-precision-factory-fractions"
      type="radio"
      name="factoryPrecision"
      [value]="true"
      [ngModel]="settings.factoryPrecision == null"
      (change)="setFactoryPrecision.emit(null)"
    />
    <label for="settings-precision-factory-fractions">Fractions</label>
  </div>
</div>
<div class="label">Factory</div>
<div class="field">
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.belt"
      (click)="openSelect = select.Belt"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.Belt"
      [data]="data"
      [selectedId]="settings.belt"
      [optionsType]="optionsType.Belt"
      (cancel)="openSelect = select.None"
      (selectId)="setBelt.emit($event)"
    >
    </lab-select>
  </div>
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.assembler"
      (click)="openSelect = select.Assembler"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.Assembler"
      [data]="data"
      [selectedId]="settings.assembler"
      [optionsType]="optionsType.Assembler"
      (cancel)="openSelect = select.None"
      (selectId)="setAssembler.emit($event)"
    >
    </lab-select>
  </div>
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.furnace"
      (click)="openSelect = select.Furnace"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.Furnace"
      [data]="data"
      [selectedId]="settings.furnace"
      [optionsType]="optionsType.Furnace"
      (cancel)="openSelect = select.None"
      (selectId)="setFurnace.emit($event)"
    >
    </lab-select>
  </div>
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.oilRecipe"
      (click)="openSelect = select.OilRecipe"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.OilRecipe"
      [data]="data"
      [selectedId]="settings.oilRecipe"
      [optionsType]="optionsType.OilRecipe"
      [selectType]="selectType.Recipe"
      (cancel)="openSelect = select.None"
      (selectId)="setOilRecipe.emit($event)"
    >
    </lab-select>
  </div>
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.fuel"
      (click)="openSelect = select.Fuel"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.Fuel"
      [data]="data"
      [optionsType]="optionsType.Fuel"
      [selectedId]="settings.fuel"
      (cancel)="openSelect = select.None"
      (selectId)="setFuel.emit($event)"
    >
    </lab-select>
  </div>
</div>
<div class="field">
  <lab-icon [iconId]="itemId.Pipe"></lab-icon>
  <input
    type="number"
    placeholder="Max Flow Rate"
    min="0"
    step="1"
    [value]="settings.flowRate"
    (change)="emitNumber(setFlowRate, $event)"
  />
  <div>#/sec</div>
  <a href="https://wiki.factorio.com/Fluid_system#Pipelines" target="_blank"
    >(Wiki)</a
  >
</div>
<div class="label">Modules</div>
<div class="field">
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.prodModule"
      (click)="openSelect = select.ProdModule"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.ProdModule"
      [data]="data"
      [selectedId]="settings.prodModule"
      [optionsType]="optionsType.ProdModule"
      (cancel)="openSelect = select.None"
      (selectId)="setProdModule.emit($event)"
    >
    </lab-select>
  </div>
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.speedModule"
      (click)="openSelect = select.SpeedModule"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.SpeedModule"
      [data]="data"
      [selectedId]="settings.speedModule"
      [optionsType]="optionsType.SpeedModule"
      (cancel)="openSelect = select.None"
      (selectId)="setSpeedModule.emit($event)"
    >
    </lab-select>
  </div>
  <lab-icon [iconId]="itemId.Beacon"></lab-icon>
  <div class="relative">
    <lab-icon
      class="clickable"
      [iconId]="settings.beaconModule"
      (click)="openSelect = select.BeaconModule"
    ></lab-icon>
    <lab-select
      *ngIf="openSelect === select.BeaconModule"
      [data]="data"
      [selectedId]="settings.beaconModule"
      [optionsType]="optionsType.SpeedModule"
      (cancel)="openSelect = select.None"
      (selectId)="setBeaconModule.emit($event)"
    >
    </lab-select>
  </div>
  <input
    type="number"
    placeholder="Beacons"
    min="0"
    step="1"
    [value]="settings.beaconCount"
    (change)="emitNumber(setBeaconCount, $event)"
  />
</div>
<div class="label">Bonuses</div>
<div class="field">
  <lab-icon [iconId]="itemId.MiningProductivity" [scale]="true"></lab-icon>
  <div class="field">
    +
    <input
      type="number"
      placeholder="Mining Productivity Bonus"
      min="0"
      step="10"
      [value]="settings.miningBonus"
      (change)="emitNumber(setMiningBonus, $event)"
    />
    %
  </div>
</div>
<div class="field">
  <lab-icon [iconId]="itemId.Lab" [scale]="true"></lab-icon>
  <select
    [ngModel]="settings.researchSpeed"
    (change)="emitNumber(setResearchSpeed, $event)"
  >
    <option [value]="researchSpeed.Speed0">No Research Bonus</option>
    <option [value]="researchSpeed.Speed1">Research Speed 1</option>
    <option [value]="researchSpeed.Speed2">Research Speed 2</option>
    <option [value]="researchSpeed.Speed3">Research Speed 3</option>
    <option [value]="researchSpeed.Speed4">Research Speed 4</option>
    <option [value]="researchSpeed.Speed5">Research Speed 5</option>
    <option [value]="researchSpeed.Speed6">Research Speed 6</option>
  </select>
</div>
