::ng-deep .picker-dialog {
  .p-dialog-header {
    padding: 0.75rem 1rem;
  }

  .p-dialog-content {
    padding: 0 1rem 1rem 1rem;
  }

  .p-tabview-panels {
    padding: 0.5rem 0 0 0;
  }

  .p-tabview-nav-content {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
  }
}
