@import 'values';

:host {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color-gray-2;
  border: 1px solid $color-brand;
  border-radius: 0.25rem;
  z-index: 10;
}

.tabs {
  display: flex;

  .selected {
    background-color: $color-gray-1;
  }

  > * {
    cursor: pointer;
    padding: 0.25rem;

    &:hover {
      background-color: $color-brand;
    }
  }
}

.tab {
  background-color: $color-gray-1;
}

.row {
  display: flex;

  lab-icon.selected {
    background-color: $color-gray-0;
  }
}
