<div class="tabs">
  <lab-icon
    *ngFor="let category of data.categories"
    [iconId]="category.id"
    [tooltip]="category.name"
    [class.selected]="category.id === categoryId"
    [data]="data"
    (click)="selectTab.emit(category.id)"
  ></lab-icon>
</div>
<div class="tab">
  <div class="row" *ngFor="let row of data.categoryItemRows[categoryId]">
    <div class="item" *ngFor="let id of row">
      <lab-icon
        class="clickable"
        [iconId]="id"
        [tooltip]="data.itemEntities[id].name"
        [recipe]="data.recipeEntities[id]"
        [class.selected]="id === itemId"
        [data]="data"
        (click)="clickItem(id)"
      ></lab-icon>
    </div>
  </div>
</div>
