lab-dialog {
  > .panel {
    padding: 0;
    padding-bottom: 0.75rem;
  }
}

.tabs {
  display: flex;
  max-width: 27rem;
  overflow-x: auto;

  > * {
    height: inherit;
    padding: 0.25rem;
  }

  > .selected {
    background-color: var(--color-light);
    margin: 0.25rem;
    padding: 0;
  }

  > :not(.selected) {
    cursor: pointer;
    background-color: var(--color-button);
    box-shadow: var(--shadow-button);

    &:hover {
      background-color: var(--color-brand);
      box-shadow: var(--shadow-hover);
    }
  }
}

.tab {
  max-height: 27rem;
  overflow-y: auto;
  margin: 0.75rem;
  margin-bottom: 0;
  padding: 0;
}

.row {
  display: flex;

  lab-icon {
    padding: 0.125rem;
    border-radius: 0.25rem;
    background-color: var(--color-back);
    margin: 1px;

    cursor: pointer;
    box-shadow: var(--shadow-item);

    &:hover {
      background-color: var(--color-brand-drk);
      box-shadow: var(--shadow-hover);
    }
  }
}

lab-icon {
  position: static;
}
