<p-dialog
  styleClass="picker-dialog"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  appendTo="body"
  [style]="{ height: '80vh', maxHeight: '600px', width: '458px' }"
  [breakpoints]="{ '458px': '100vw' }"
>
  <ng-template pTemplate="header">
    <span class="w-100 me-3 p-input-icon-right">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        #inputFilter
        pInputText
        type="text"
        class="w-100"
        [pAutoFocus]="true"
        [formControl]="searchCtrl"
      />
    </span>
  </ng-template>
  <p-tabView [scrollable]="true" [(activeIndex)]="activeIndex">
    <ng-container *ngFor="let id of categoryIds; let i = index">
      <p-tabPanel
        *ngIf="categoryEntities[id] as category"
        [tooltip]="category.name"
        [selected]="i === activeIndex"
      >
        <ng-template pTemplate="header">
          <i [class]="id | iconSmClass"></i>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="test">
            <div
              *ngFor="let itemIds of categoryItemRows[id]"
              class="d-flex flex-wrap"
            >
              <ng-container *ngFor="let itemId of itemIds">
                <button
                  pButton
                  pRipple
                  type="button"
                  [class.p-button-text]="itemId !== selectedId"
                  [icon]="itemId | iconSmClass"
                  (click)="clickItem(itemId)"
                ></button>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</p-dialog>
