:host {
  display: flex;
  align-items: flex-start;
  user-select: none;
  font-weight: normal;
  position: relative;
  color: var(--color-white);

  &.ignored {
    > .image {
      > img {
        opacity: 0.25;
      }
    }
  }

  &.button:hover {
    padding: 0;
    filter: none;

    // Moves filter effect to image to avoid affecting tooltip
    > .image {
      padding: 0.125rem;
      box-shadow: var(--shadow-hover);
      filter: drop-shadow(0 0 2px var(--color-brand-sha));
    }
  }
}

img.shadow {
  opacity: 0.25;
}

.image {
  display: flex;
  position: relative;
}

.overlay {
  position: absolute;
  color: var(--color-black);
  top: 0.375rem;
  left: 0.375rem;
}

.tooltip {
  position: absolute;
  z-index: 1;
  background-color: var(--color-dark);
  opacity: 0.95;
  padding: 0.5rem;
  user-select: none;
  cursor: default;
  box-shadow: var(--shadow-tip);

  .nowrap {
    white-space: nowrap;
  }

  .flex {
    > * + * {
      margin-left: 0.5rem;
    }
  }

  > * + * {
    margin-top: 0.25rem;
  }
}

.icon-text {
  position: absolute;
  bottom: 0.125rem;
  right: 0.125rem;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0px 1px 1px var(--color-black), 0px -1px 1px var(--color-black),
    1px 0px 1px var(--color-black), -1px 0px 1px var(--color-black);
  pointer-events: none;
}

.module {
  filter: var(--module-icon-filter);
}

td {
  white-space: nowrap;

  + td {
    padding-left: 0.5rem;
    text-align: right;
  }
}
