:host {
  display: flex;
  user-select: none;
  font-weight: normal;
  position: relative;

  &.ignored {
    > .image {
      img {
        opacity: 0.25;
      }
    }
  }
}

.image {
  display: flex;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: var(--color-gray-1);
  border-radius: 0.25rem;
  border: 1px solid var(--color-brand);
  padding: 0.5rem;
  user-select: none;
  cursor: default;

  z-index: 1;

  .title {
    font-weight: bold;
  }

  .nowrap {
    white-space: nowrap;
  }

  .flex {
    > * + * {
      margin-left: 0.5rem;
    }
  }

  > * + * {
    margin-top: 0.25rem;
  }
}

.icon-text {
  position: absolute;
  bottom: 0.125rem;
  right: 0.125rem;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0px 1px 1px var(--color-black), 0px -1px 1px var(--color-black),
    1px 0px 1px var(--color-black), -1px 0px 1px var(--color-black);
  pointer-events: none;
}

.module {
  filter: var(--module-icon-filter);
}

td {
  white-space: nowrap;

  + td {
    padding-left: 0.5rem;
    text-align: right;
  }
}
