<img src="/assets/transparent.gif" [ngClass]="iconId" [class.scale]="scale" />
<div *ngIf="text" class="icon-text">{{ text }}</div>
<div *ngIf="recipe || item || tooltip" class="tooltip">
  <div class="title" *ngIf="tooltip">{{ tooltip }}</div>
  <div *ngIf="recipe" class="flex recipe">
    <lab-icon iconId="time" [text]="recipe.time"></lab-icon>
    <ng-container *ngFor="let ingredient of recipe.in | keyvalue">
      <lab-icon
        [iconId]="ingredient.key"
        [text]="ingredient.value"
        scale="true"
      ></lab-icon>
    </ng-container>
    →
    <ng-container *ngIf="recipe.out">
      <ng-container *ngFor="let output of recipe.out | keyvalue" class="flex">
        <lab-icon
          [iconId]="output.key"
          [text]="output.value"
          scale="true"
        ></lab-icon>
      </ng-container>
    </ng-container>
    <lab-icon
      *ngIf="!recipe.out"
      [iconId]="iconId"
      [text]="1"
      scale="true"
    ></lab-icon>
  </div>
</div>
