:host {
  display: flex;
  user-select: none;
  position: relative;
  font-weight: normal;

  &:hover .tooltip {
    visibility: visible;

    &:hover {
      visibility: hidden;
    }
  }
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: var(--color-gray-1);
  border-radius: 0.25rem;
  border: 1px solid var(--color-brand);
  padding: 0.5rem;
  user-select: none;
  cursor: default;

  left: 0;
  top: calc(100% + 0.25rem);
  z-index: 1;

  .title {
    font-weight: bold;
  }

  .nowrap {
    white-space: nowrap;
  }

  .flex {
    > * + * {
      margin-left: 0.5rem;
    }
  }

  > * + * {
    margin-top: 0.25rem;
  }
}

.icon-text {
  position: absolute;
  bottom: 0.125rem;
  right: 0.125rem;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0px 1px 1px #000, 0px -1px 1px #000, 1px 0px 1px #000,
    -1px 0px 1px #000;
  pointer-events: none;
}

.module {
  filter: var(--module-icon-filter);
}
