<img
  *ngIf="data.iconEntities[iconId] as icon"
  src="assets/transparent.gif"
  class="icon"
  [style.background-position]="icon.position"
  [style.background-image]="icon.file ? 'url(' + icon.file + ')' : ''"
  [ngClass]="iconId + (icon.size ? ' size-' + icon.size : '')"
  [class.scale]="scale"
  (mouseenter)="mouseenter()"
  (mouseleave)="mouseleave()"
/>
<div *ngIf="text" class="icon-text">{{ text }}</div>
<div *ngIf="hover && (recipe || item || tooltip)" class="tooltip">
  <div *ngIf="tooltip" class="title nowrap">
    {{ tooltip }}
  </div>
  <div *ngIf="recipe" class="flex">
    <lab-icon iconId="time" [text]="recipe.time" [data]="data"></lab-icon>
    <ng-container *ngFor="let ingredient of recipe.in | keyvalue">
      <lab-icon
        [iconId]="ingredient.key"
        [text]="ingredient.value"
        [data]="data"
      ></lab-icon>
    </ng-container>
    <i class="material-icons">arrow_forward</i>
    <ng-container *ngIf="recipe.out">
      <ng-container *ngFor="let output of recipe.out | keyvalue" class="flex">
        <lab-icon
          [iconId]="output.key"
          [text]="output.value"
          [data]="data"
        ></lab-icon>
      </ng-container>
    </ng-container>
    <lab-icon
      *ngIf="!recipe.out"
      [iconId]="iconId"
      [text]="1"
      [data]="data"
    ></lab-icon>
  </div>
  <div *ngIf="item?.belt" class="nowrap">
    {{ item.belt.speed * displayRate }}
    {{
      displayRate === DisplayRate.PerSecond
        ? 'Items/s'
        : displayRate === DisplayRate.PerMinute
        ? 'Items/m'
        : 'Items/h'
    }}
  </div>
  <div *ngIf="item?.factory">
    <div class="nowrap">Crafting Speed: {{ item.factory.speed }}</div>
    <div class="nowrap">Modules: {{ item.factory.modules }}</div>
  </div>
  <div *ngIf="item?.fuel" class="nowrap">{{ item.fuel }} MJ</div>
  <div *ngIf="item?.module">
    <div *ngIf="item.module.speed" class="nowrap">
      Speed: {{ item.module.speed > 0 ? '+' : ''
      }}{{ item.module.speed * 100 }}%
    </div>
    <div *ngIf="item.module.productivity" class="nowrap">
      Productivity: +{{ item.module.productivity * 100 }}%
    </div>
  </div>
</div>
