@import 'values';

:host {
  display: flex;
  align-items: flex-start;

  > :first-child {
    margin-right: 0.5rem;
  }
}

.product-row {
  display: flex;
  align-items: center;

  + .product-row {
    margin-top: 0.5rem;
  }

  > * + * {
    margin-left: 0.5rem;
  }
}
