@import 'values';

:host {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 1rem;

  > .add-button {
    margin-top: 0.125rem;

    > div {
      margin-left: 0.25rem;
      color: var(--color-brand);
    }
  }

  > * + * {
    margin-left: 0.5rem;
  }
}

.icon-container {
  height: 36px;
  width: 36px;
}

.product-row {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.25rem;
  }
}
