<div class="flex add-button relative">
  <button type="button" title="Add Product" (click)="adding = true">
    <i class="material-icons">add</i>
  </button>
  <lab-picker
    *ngIf="adding"
    [data]="data"
    [categoryId]="categoryId"
    [itemId]="data.itemIds[0]"
    (cancel)="adding = false"
    (selectTab)="categoryId = $event"
    (selectItem)="add.emit($event)"
  ></lab-picker>
  <div *ngIf="!products?.length" class="flex">
    <i class="material-icons">arrow_back</i>Click to add a product
  </div>
</div>
<div *ngIf="products && products.length">
  <div class="product-row" *ngFor="let product of products">
    <ng-container *ngIf="product && data.itemEntities[product.itemId]">
      <button
        type="button"
        title="Remove Product"
        (click)="remove.emit(product.id)"
      >
        <i class="material-icons">remove</i>
      </button>
      <div class="icon-container">
        <div class="relative">
          <lab-icon
            class="clickable"
            title="Change Product"
            [iconId]="product.itemId"
            [data]="data"
            (click)="clickEditProduct(product)"
          ></lab-icon>
          <lab-picker
            *ngIf="editProductId === product.id"
            [data]="data"
            [categoryId]="categoryId"
            [itemId]="product.itemId"
            (cancel)="editProductId = null"
            (selectTab)="categoryId = $event"
            (selectItem)="commitEditProduct(product, $event)"
          ></lab-picker>
        </div>
      </div>
      <input
        type="number"
        min="0"
        step="any"
        title="Set Output Rate"
        [value]="product.rate"
        (change)="emitNumber(editRate, product.id, $event)"
      />
      <select
        title="Set Rate Type"
        [ngModel]="product.rateType"
        (change)="emitNumber(editRateType, product.id, $event)"
      >
        <option label="Items" [value]="RateType.Items"></option>
        <option label="Belts" [value]="RateType.Belts"></option>
        <option label="Wagons" [value]="RateType.Wagons"></option>
        <option
          label="Factories"
          [value]="RateType.Factories"
          *ngIf="data.itemRecipeIds[product.itemId]"
        ></option>
      </select>
    </ng-container>
  </div>
</div>
