<lab-dropdown
  [controlId]="controlId()"
  [border]="border()"
  [rounded]="rounded()"
  (open)="open()"
  (save)="save()"
>
  @for (module of value(); track module.id) {
    @if (module.id === '') {
      <lab-icon
        value="module"
        [text]="module.count?.toString()"
        labTooltip="modulesSelect.tooltip"
      ></lab-icon>
    } @else if (module.id) {
      <lab-icon
        [value]="module.id"
        type="item"
        [text]="module.count?.toString()"
        [labTooltip]="module.id"
        labTooltipType="module"
        labTooltipAction="modulesSelect.tooltip"
      ></lab-icon>
    }
  }

  <ng-template>
    <lab-modules
      overlay
      [(value)]="editValue"
      [entity]="machine()"
      [recipeId]="recipeId()"
    ></lab-modules>
  </ng-template>
</lab-dropdown>
