@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  width: 322px;
  height: 100%;

  background-color: var(--surface-overlay);

  @include media-breakpoint-down(xl) {
    transform: translate(-100%);

    &.active {
      transform: translate(0);
    }
  }

  @include media-breakpoint-up(xl) {
    &.hidden {
      transform: translate(-100%);
    }
  }
}

/** Avoid changing width to accomodate scrollbar */
:host ::ng-deep {
  .p-scrollpanel {
    .p-scrollpanel-content {
      overflow-y: scroll;
    }

    .p-scrollpanel-bar-x {
      visibility: hidden;
    }
  }

  .p-accordion {
    width: 323px;
  }
}

/** Machine InputGroup styles */
.p-inputgroup.machine-preference {
  p-dropdown,
  p-multiselect {
    flex-basis: 36px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
