<div class="p-3">
  <div class="d-flex align-items-center justify-content-between">
    <h2>{{ 'settings.header' | translate }}</h2>
    <div>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-text"
        icon="fa-solid fa-trash"
        [pTooltip]="'settings.reset' | translate"
        tooltipPosition="bottom"
        (click)="clickResetSettings()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-text d-inline-flex d-none d-xl-inline-flex"
        icon="fa-solid fa-xmark"
        (click)="contentSvc.toggleSettingsXl()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-text d-inline-flex d-sm-none"
        icon="fa-solid fa-xmark"
        (click)="contentSvc.toggleSettings()"
      ></button>
    </div>
  </div>
</div>
<div *ngIf="vm$ | async as vm" class="flex-grow-1 overflow-hidden">
  <p-scrollPanel [style]="{ height: '100%' }">
    <div class="p-fluid px-3 overflow-hidden settings-container">
      <div class="mb-2">
        <p-divider [pTooltip]="'settings.savedStatesTooltip' | translate">
          <span class="p-tag">
            <i class="fa-solid fa-floppy-disk"></i>
            {{ 'settings.savedStates' | translate }}
          </span>
        </p-divider>
        <div class="p-inputgroup">
          <ng-container *ngIf="editState; else selectState">
            <button
              pButton
              pRipple
              type="button"
              icon="fa-solid fa-xmark"
              [pTooltip]="'cancel' | translate"
              (click)="editState = false"
            ></button>
            <input
              pInputText
              pAutoFocus
              [autofocus]="true"
              type="text"
              [placeholder]="'settings.nameSavedState' | translate"
              [pTooltip]="'settings.savedStateName' | translate"
              tooltipPosition="top"
              [formControl]="stateCtrl"
            />
            <button
              pButton
              pRipple
              type="button"
              icon="fa-solid fa-floppy-disk"
              [pTooltip]="'settings.saveSavedState' | translate"
              [disabled]="!stateCtrl.valid"
              (click)="clickSaveState()"
            ></button>
          </ng-container>
        </div>
        <ng-template #selectState>
          <button
            pButton
            pRipple
            type="button"
            icon="fa-solid fa-pen-to-square"
            [pTooltip]="'settings.editSavedState' | translate"
            (click)="openEditState()"
          ></button>
          <p-dropdown
            [placeholder]="'settings.selectSavedState' | translate"
            [pTooltip]="'settings.selectSavedState' | translate"
            tooltipPosition="top"
            [ngModel]="state"
            [options]="vm.savedStates"
            (onChange)="setState($event.value, vm.preferences)"
          ></p-dropdown>
          <button
            pButton
            pRipple
            type="button"
            icon="fa-solid fa-trash"
            [pTooltip]="'settings.deleteSavedState' | translate"
            [disabled]="!state"
            (click)="clickDeleteState()"
          ></button>
        </ng-template>
      </div>
      <div class="mb-2">
        <p-divider>
          <span class="p-tag">
            <i class="fa-solid fa-flask"></i>
            {{ 'settings.recipes' | translate }}
          </span>
        </p-divider>
        <div class="mt-3 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.gameTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              labOverlayHideOnWindowScroll
              inputId="game"
              [ngModel]="vm.data.game"
              [options]="gameOptions"
              (onChange)="setGame($event.value)"
            >
            </p-dropdown>
            <label for="game">{{ 'settings.game' | translate }}</label>
            <ng-container *ngIf="vm.data.game !== Game.Factorio">
              <small
                *ngFor="let mod of vm.data.version | keyvalue"
                class="position-absolute end-0 bottom-100 me-1 mb-1"
              >
                {{ mod.value }}
              </small>
            </ng-container>
          </span>
        </div>
        <div
          *ngIf="vm.data.game === Game.Factorio"
          class="position-relative pb-2"
        >
          <label class="p-static-label">{{
            'settings.modSet' | translate
          }}</label>
          <small class="position-absolute end-0 top-0 me-1 mb-1">
            <a
              href="https://github.com/factoriolab/factoriolab/issues/new?assignees=&labels=mod+support&template=mod-request.md&title="
              target="_blank"
              >{{ 'settings.requestMod' | translate }}</a
            >
          </small>
          <span class="p-inputgroup">
            <p-dropdown
              inputId="mod"
              styleClass="w-100"
              [filter]="true"
              [pTooltip]="'settings.modSetTooltip' | translate"
              [ngModel]="vm.settings.modId"
              [options]="vm.modOptions"
              (onChange)="setMod($event.value)"
            >
            </p-dropdown>
            <button
              pButton
              pRipple
              icon="fa-solid fa-info"
              [pTooltip]="'settings.modVersions' | translate"
              (click)="versionsVisible = true"
            >
              <p-dialog
                [(visible)]="versionsVisible"
                appendTo="body"
                [modal]="true"
                [dismissableMask]="true"
                [draggable]="false"
                [resizable]="false"
                [style]="{ width: '400px', maxHeight: '500px' }"
                [breakpoints]="{ '400px': '100vw' }"
                [header]="'settings.modVersions' | translate"
              >
                <p-table
                  responsiveLayout="scroll"
                  styleClass="p-datatable-sm"
                  [value]="vm.data.version | keyvalue"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>{{ 'settings.mod' | translate }}</th>
                      <th>{{ 'settings.version' | translate }}</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-mod>
                    <tr>
                      <td>{{ mod.key }}</td>
                      <td>{{ mod.value }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <ng-template pTemplate="footer">
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-text"
                    icon="fa-solid fa-check"
                    [label]="'ok' | translate"
                    (click)="versionsVisible = false"
                  ></button>
                </ng-template>
              </p-dialog>
            </button>
          </span>
        </div>
        <div class="py-2">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-outlined"
            icon="fa-solid fa-flask-vial"
            [pTooltip]="'settings.optionalRecipesTooltip' | translate"
            [label]="
              'settings.optionalRecipesDisabled'
                | translate
                  : {
                      count: vm.settings.disabledRecipeIds.length
                    }
            "
            (click)="
              optionalRecipesPicker.clickOpen(
                vm.data,
                'recipe',
                vm.settings.disabledRecipeIds
              )
            "
          ></button>
          <lab-picker
            #optionalRecipesPicker
            [header]="'settings.optionalRecipesHeader' | translate"
            (selectIds)="
              setDisabledRecipes($event, vm.data.defaults?.disabledRecipeIds)
            "
          ></lab-picker>
        </div>
      </div>
      <div class="mb-2">
        <p-divider>
          <span class="p-tag">
            <i class="fa-solid fa-industry"></i>
            {{ 'settings.factory' | translate }}
          </span>
        </p-divider>
        <div class="mt-3 py-2 mb-1">
          <span
            class="p-float-label"
            [pTooltip]="'settings.presetTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="preset"
              [ngModel]="vm.settings.preset"
              [options]="vm.presetOptions"
              (onChange)="setPreset($event.value)"
            >
            </p-dropdown>
            <label for="preset">{{ 'settings.preset' | translate }}</label>
          </span>
        </div>
        <ng-container *ngIf="vm.data.game !== Game.CaptainOfIndustry">
          <ng-container
            *ngFor="let factoryId of vm.factoryRows; let index = index"
          >
            <ng-container *ngIf="vm.factories.entities[factoryId] as settings">
              <ng-container
                *ngIf="
                  factoryId
                    ? vm.factories.entities['']
                    : vm.data.defaults as defaults
                "
              >
                <div class="p-inputgroup flex-wrap factory-preference">
                  <!-- Add/Remove factory button -->
                  <p-dropdown
                    *ngIf="index === 0; else removeButton"
                    labDropdownBase="icon"
                    [pTooltip]="'settings.addFactoryTooltip' | translate"
                    [options]="vm.factoryOptions"
                    (onChange)="
                      addFactory($event.value, vm.data.defaults?.factoryRankIds)
                    "
                  >
                    <ng-template pTemplate="selectedItem" let-item>
                      <div
                        class="d-flex justify-content-center align-items-center h-100 w-100"
                      >
                        <i class="fa-solid fa-plus"></i>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                      <div
                        class="d-flex align-items-center py-2 w-100 h-100"
                        [pTooltip]="item.value | factoryTooltip : vm.data"
                        [escape]="false"
                      >
                        <i [class]="item.value | iconSmClass"></i>
                        <div class="ms-3 text-truncate">
                          {{ item.label }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <ng-template #removeButton>
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="fa-solid fa-minus"
                      [pTooltip]="
                        'settings.removeFactoryPreference' | translate
                      "
                      (click)="
                        removeFactory(
                          factoryId,
                          vm.data.defaults?.factoryRankIds
                        )
                      "
                    ></button>
                  </ng-template>
                  <!-- Factory dropdown -->
                  <p-dropdown
                    *ngIf="factoryId; else factoryIcon"
                    labDropdownBase="icon"
                    [pTooltip]="'settings.factoryTooltip' | translate"
                    [ngModel]="factoryId"
                    [options]="vm.factoryOptions"
                    (onChange)="
                      setFactory(
                        factoryId,
                        $event.value,
                        vm.data.defaults?.factoryRankIds
                      )
                    "
                  >
                    <ng-template pTemplate="selectedItem" let-item>
                      <div class="d-flex">
                        <i [class]="item.value | iconSmClass"></i>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                      <div
                        class="d-flex align-items-center py-2 w-100 h-100"
                        [pTooltip]="item.value | factoryTooltip : vm.data"
                        [escape]="false"
                      >
                        <i [class]="item.value | iconSmClass"></i>
                        <div class="ms-3 text-truncate">
                          {{ item.label }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <ng-template #factoryIcon>
                    <span
                      class="p-inputgroup-addon"
                      [pTooltip]="'settings.factoryDefaults' | translate"
                    >
                      <i class="fa-solid fa-industry"></i>
                    </span>
                  </ng-template>
                  <!-- Modifiers multiselect -->
                  <p-multiSelect
                    *ngIf="settings.moduleRankIds"
                    appendTo="body"
                    scrollHeight="40vh"
                    styleClass="icon"
                    panelStyleClass="tooltip"
                    placeholder="unused"
                    [selectionLimit]="
                      vm.data.game === Game.Satisfactory ? 1 : 2
                    "
                    [pTooltip]="'settings.modifierTooltip' | translate"
                    tooltipPosition="top"
                    [ngModel]="settings.moduleRankIds"
                    [options]="settings.moduleOptions ?? []"
                    (onChange)="
                      setModuleRank(
                        factoryId,
                        $event.value,
                        defaults?.moduleRankIds
                      )
                    "
                  >
                    <ng-template pTemplate="selectedItems" let-items>
                      <div class="d-flex">
                        <i
                          *ngIf="items && items.length; else noModifiers"
                          [class]="items[0] | iconSmClass"
                        >
                          <span *ngIf="items.length > 1"
                            >+{{ items.length - 1 }}</span
                          >
                        </i>
                        <ng-template #noModifiers>
                          <i [class]="ItemId.Module | iconSmClass"></i>
                        </ng-template>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                      <div
                        class="d-flex align-items-center py-2 w-100 h-100"
                        [pTooltip]="item.value | moduleTooltip : vm.data"
                        [escape]="false"
                      >
                        <i [class]="item.value | iconSmClass"></i>
                        <div class="ms-3 text-truncate">
                          {{ item.label }}
                        </div>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                  <!-- Overclock input -->
                  <ng-container *ngIf="vm.data.game === Game.Satisfactory">
                    <p-inputNumber
                      #overclockInput
                      suffix="%"
                      [min]="1"
                      [max]="250"
                      [step]="10"
                      [showButtons]="true"
                      inputStyleClass="text-end"
                      [pTooltip]="'settings.overclockTooltip' | translate"
                      [ngModel]="settings.overclock"
                      (onBlur)="
                        setOverclock(
                          factoryId,
                          overclockInput.value,
                          factoryId ? vm.factories.entities[''].overclock : 100
                        )
                      "
                    >
                    </p-inputNumber>
                  </ng-container>
                  <ng-container *ngIf="vm.data.game === Game.Factorio">
                    <ng-container *ngIf="settings.beaconCount != null">
                      <!-- Beacon count input -->
                      <lab-input-number
                        [pTooltip]="'settings.beaconCountTooltip' | translate"
                        tooltipPosition="top"
                        [value]="settings.beaconCount"
                        (setValue)="
                          setBeaconCount(
                            factoryId,
                            $event,
                            defaults?.beaconCount
                          )
                        "
                      ></lab-input-number>
                      <!-- Beacon dropdown -->
                      <p-dropdown
                        labDropdownBase="icon"
                        [pTooltip]="'settings.beaconTooltip' | translate"
                        tooltipPosition="top"
                        [ngModel]="settings.beaconId"
                        [options]="vm.options.beacons"
                        (onChange)="
                          setBeacon(factoryId, $event.value, defaults?.beaconId)
                        "
                      >
                        <ng-template pTemplate="selectedItem" let-item>
                          <div class="d-flex">
                            <i [class]="item.value | iconSmClass"></i>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="item" let-item>
                          <div
                            class="d-flex align-items-center py-2 w-100 h-100"
                            [pTooltip]="item.value | beaconTooltip : vm.data"
                            [escape]="false"
                          >
                            <i [class]="item.value | iconSmClass"></i>
                            <div class="ms-3 text-truncate">
                              {{ item.label }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                      <!-- Beacon module dropdown -->
                      <p-multiSelect
                        *ngIf="settings.beaconModuleRankIds"
                        appendTo="body"
                        scrollHeight="40vh"
                        styleClass="icon"
                        panelStyleClass="tooltip"
                        placeholder="unused"
                        [selectionLimit]="2"
                        [pTooltip]="'settings.beaconModuleTooltip' | translate"
                        tooltipPosition="top"
                        [ngModel]="settings.beaconModuleRankIds"
                        [options]="settings.beaconModuleOptions ?? []"
                        (onChange)="
                          changeBeaconModuleRank(
                            factoryId,
                            $event.value,
                            defaults
                          )
                        "
                      >
                        <ng-template pTemplate="selectedItems" let-items>
                          <div class="d-flex">
                            <i
                              *ngIf="items && items.length; else noModifiers"
                              [class]="items[0] | iconSmClass"
                            >
                              <span *ngIf="items.length > 1"
                                >+{{ items.length - 1 }}</span
                              >
                            </i>
                            <ng-template #noModifiers>
                              <i [class]="ItemId.Module | iconSmClass"></i>
                            </ng-template>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="item" let-item>
                          <div
                            class="d-flex align-items-center py-2 w-100 h-100"
                            [pTooltip]="item.value | moduleTooltip : vm.data"
                            [escape]="false"
                          >
                            <i [class]="item.value | iconSmClass"></i>
                            <div class="ms-3 text-truncate">
                              {{ item.label }}
                            </div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </ng-container>
                  </ng-container>
                  <!-- Move options -->
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="ms-auto"
                    [class.invisible]="vm.factoryMenuItems[index].length === 0"
                    icon="fa-solid fa-ellipsis-vertical"
                    [pTooltip]="'settings.moveFactoryPreference' | translate"
                    (click)="factoryMenu.toggle($event)"
                  >
                    <p-menu
                      #factoryMenu
                      appendTo="body"
                      [popup]="true"
                      [model]="vm.factoryMenuItems[index]"
                    ></p-menu>
                  </button>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <div class="pt-2"><!--spacer--></div>
        </ng-container>
        <div *ngIf="vm.data.game === Game.Factorio" class="py-2">
          <p-checkbox
            [ngModel]="vm.settings.beaconReceivers != null"
            [binary]="true"
            [label]="'settings.estimateBeaconPowerUsage' | translate"
            [pTooltip]="'settings.estimateBeaconPowerUsageTooltip' | translate"
            (onChange)="toggleBeaconReceivers($event.checked)"
          ></p-checkbox>
        </div>
        <div *ngIf="vm.settings.beaconReceivers" class="pb-2">
          <label class="p-static-label" for="beacon-receivers">{{
            'settings.averageBeaconReceivers' | translate
          }}</label>
          <lab-input-number
            inputId="beacon-receivers"
            class="w-100"
            [pTooltip]="'settings.averageBeaconReceiversTooltip' | translate"
            [value]="vm.settings.beaconReceivers"
            (setValue)="setBeaconReceivers($event)"
          ></lab-input-number>
        </div>
        <div *ngIf="vm.data.game === Game.DysonSphereProgram" class="mt-4 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.proliferatorSelfSprayTooltip' | translate"
          >
            <p-dropdown
              labDropdownBase
              inputId="proliferator-self-spray"
              [autoDisplayFirst]="false"
              [ngModel]="vm.settings.proliferatorSprayId"
              [options]="vm.options.proliferatorModules"
              (onChange)="setProliferatorSpray($event.value)"
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="item.value | moduleTooltip : vm.data"
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="proliferator-self-spray">{{
              'settings.proliferatorSelfSpray' | translate
            }}</label>
          </div>
        </div>
        <div class="mt-3 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultTransportBeltTooltip' | translate"
          >
            <p-dropdown
              labDropdownBase
              inputId="default-transport-belt"
              [ngModel]="vm.settings.beltId"
              [options]="vm.options.belts"
              (onChange)="setBelt($event.value, vm.data.defaults?.beltId)"
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="
                    'tooltip.belt'
                      | translate
                        : {
                            name: vm.data.itemEntities[item.value].name,
                            speed: vm.beltSpeedTxt[item.value]
                          }
                  "
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="default-transport-belt">{{
              'settings.defaultTransportBelt' | translate
            }}</label>
          </div>
        </div>
        <div *ngIf="vm.data.pipeIds.length > 1" class="mt-3 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultPipeTooltip' | translate"
          >
            <p-dropdown
              labDropdownBase
              inputId="default-pipe"
              [ngModel]="vm.settings.pipeId"
              [options]="vm.options.pipes"
              (onChange)="setPipe($event.value, vm.data.defaults?.pipeId)"
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="
                    'tooltip.pipe'
                      | translate
                        : {
                            name: vm.data.itemEntities[item.value].name,
                            speed: vm.beltSpeedTxt[item.value]
                          }
                  "
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="default-pipe">{{
              'settings.defaultPipe' | translate
            }}</label>
          </div>
        </div>
        <div *ngIf="vm.data.cargoWagonIds.length > 1" class="mt-3 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultCargoWagonTooltip' | translate"
          >
            <p-dropdown
              labDropdownBase
              inputId="default-cargo-wagon"
              [ngModel]="vm.settings.cargoWagonId"
              [options]="vm.options.cargoWagons"
              (onChange)="
                setCargoWagon($event.value, vm.data.defaults?.cargoWagonId)
              "
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="
                    'tooltip.cargoWagon'
                      | translate
                        : {
                            name: vm.data.itemEntities[item.value].name,
                            size: vm.data.cargoWagonEntities[item.value].size
                          }
                  "
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="default-cargo-wagon">{{
              'settings.defaultCargoWagon' | translate
            }}</label>
          </div>
        </div>
        <div *ngIf="vm.data.fluidWagonIds.length > 1" class="mt-3 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.defaultFluidWagonTooltip' | translate"
          >
            <p-dropdown
              labDropdownBase
              inputId="default-fluid-wagon"
              [ngModel]="vm.settings.fluidWagonId"
              [options]="vm.options.fluidWagons"
              (onChange)="
                setFluidWagon($event.value, vm.data.defaults?.fluidWagonId)
              "
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="
                    'tooltip.fluidWagon'
                      | translate
                        : {
                            name: vm.data.itemEntities[item.value].name,
                            size: vm.data.fluidWagonEntities[item.value]
                              .capacity
                          }
                  "
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="default-fluid-wagon">{{
              'settings.defaultFluidWagon' | translate
            }}</label>
          </div>
        </div>
        <div
          *ngIf="
            vm.data.fuelIds[FuelType.Chemical] &&
            vm.data.fuelIds[FuelType.Chemical].length > 1 &&
            vm.data.game !== Game.Satisfactory
          "
          class="mt-3 py-2"
        >
          <div
            class="p-float-label"
            [pTooltip]="'settings.chemicalFuelTooltip' | translate"
          >
            <p-dropdown
              labDropdownBase
              inputId="chemical-fuel"
              [ngModel]="vm.settings.fuelId"
              [options]="vm.options.chemicalFuels"
              (onChange)="setFuel($event.value, vm.data.defaults?.fuelId)"
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div
                  class="d-flex align-items-center py-2 w-100 h-100"
                  [pTooltip]="
                    'tooltip.fuel'
                      | translate
                        : {
                            name: vm.data.itemEntities[item.value].name,
                            category: vm.data.fuelEntities[item.value].category,
                            value: vm.data.fuelEntities[item.value].value
                          }
                  "
                  [escape]="false"
                >
                  <i [class]="item.value | iconSmClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="chemical-fuel">{{
              'settings.chemicalFuel' | translate
            }}</label>
          </div>
        </div>
        <ng-container *ngIf="vm.data.game === Game.Factorio">
          <div class="mt-3 py-2">
            <div class="p-float-label">
              <p-inputNumber
                #flowRateInput
                inputId="pipe-flow-rate"
                [suffix]="' ' + ('settings.flowRateUnit' | translate)"
                [min]="1"
                [step]="100"
                [showButtons]="true"
                [pTooltip]="'settings.pipeFlowRateTooltip' | translate"
                [ngModel]="vm.settings.flowRate"
                (onBlur)="setFlowRate(flowRateInput.value)"
              ></p-inputNumber>
              <label for="pipe-flow-rate">{{
                'settings.pipeFlowRate' | translate
              }}</label>
              <small class="position-absolute end-0 bottom-100 me-1 mb-1">
                <a
                  href="https://wiki.factorio.com/Fluid_system#Pipelines"
                  target="_blank"
                  >Wiki</a
                >
              </small>
            </div>
          </div>
          <div class="mt-3 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.inserterTargetTooltip' | translate"
            >
              <p-dropdown
                labDropdownTranslate
                inputId="inserter-target"
                [ngModel]="vm.settings.inserterTarget"
                [options]="inserterTargetOptions"
                (onChange)="setInserterTarget($event.value)"
              >
              </p-dropdown>
              <label for="inserter-target">{{
                'settings.inserterTarget' | translate
              }}</label>
            </div>
          </div>
        </ng-container>
      </div>
      <div
        *ngIf="
          vm.data.game === Game.Factorio ||
          vm.data.game === Game.DysonSphereProgram
        "
        class="mb-2"
      >
        <p-divider>
          <span class="p-tag">
            <i class="fa-solid fa-gift"></i>
            {{ 'settings.bonuses' | translate }}
          </span>
        </p-divider>
        <ng-container *ngIf="vm.data.game === Game.DysonSphereProgram">
          <div class="mt-3 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.miningSpeedTooltip' | translate"
            >
              <p-inputNumber
                #miningBonusInput
                inputId="mining-speed"
                suffix="%"
                [min]="100"
                [step]="10"
                [showButtons]="true"
                [ngModel]="vm.settings.miningBonus + 100"
                (onBlur)="setMiningBonus(miningBonusInput.value - 100)"
              ></p-inputNumber>
              <label for="mining-speed">{{
                'settings.miningSpeed' | translate
              }}</label>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="vm.data.game === Game.Factorio">
          <div class="mt-3 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.miningProductivityTooltip' | translate"
            >
              <p-inputNumber
                #miningProdInput
                inputId="mining-productivity"
                prefix="+"
                suffix="%"
                [min]="0"
                [step]="10"
                [showButtons]="true"
                [ngModel]="vm.settings.miningBonus"
                (onBlur)="setMiningBonus(miningProdInput.value)"
              ></p-inputNumber>
              <label for="mining-productivity">{{
                'settings.miningProductivity' | translate
              }}</label>
            </div>
          </div>
          <div class="mt-3 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.researchSpeedTooltip' | translate"
            >
              <p-dropdown
                labDropdownTranslate
                inputId="research-speed"
                [ngModel]="vm.settings.researchSpeed"
                [options]="researchSpeedOptions"
                (onChange)="setResearchSpeed($event.value)"
              >
              </p-dropdown>
              <label for="research-speed">{{
                'settings.researchSpeed' | translate
              }}</label>
            </div>
          </div>
          <div class="mt-3 py-2">
            <div
              class="p-float-label"
              [pTooltip]="'settings.inserterCapacityTooltip' | translate"
            >
              <p-dropdown
                labDropdownTranslate
                inputId="inserter-capacity"
                [ngModel]="vm.settings.inserterCapacity"
                [options]="inserterCapacityOptions"
                (onChange)="setInserterCapacity($event.value)"
              >
              </p-dropdown>
              <label for="inserter-capacity">{{
                'settings.inserterCapacity' | translate
              }}</label>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mb-2">
        <p-divider>
          <span class="p-tag">
            <i class="fa-solid fa-display"></i>
            {{ 'settings.display' | translate }}
          </span>
        </p-divider>
        <button
          pButton
          pRipple
          type="button"
          class="p-button-rounded p-button-outlined mb-2"
          icon="fa-solid fa-table-columns"
          [label]="'settings.openColumnSettings' | translate"
          (click)="contentSvc.showColumns$.next()"
        ></button>
        <div class="mt-3 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.displayRateTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="display-rate"
              [ngModel]="vm.settings.displayRate"
              [options]="displayRateOptions"
              (onChange)="setDisplayRate($event.value, vm.settings.displayRate)"
            >
            </p-dropdown>
            <label for="display-rate">{{
              'settings.displayRate' | translate
            }}</label>
          </span>
        </div>
        <div *ngIf="vm.columns[Column.Power].show" class="mt-3 py-2">
          <span
            class="p-float-label"
            [pTooltip]="'settings.powerUnitTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="power-unit"
              [ngModel]="vm.preferences.powerUnit"
              [options]="powerUnitOptions"
              (onChange)="setPowerUnit($event.value)"
            >
            </p-dropdown>
            <label for="power-unit">{{
              'settings.powerUnit' | translate
            }}</label>
          </span>
        </div>
        <div class="mt-3 py-2">
          <div class="text-end"></div>
          <div
            class="p-float-label"
            [pTooltip]="'settings.languageTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="language"
              [ngModel]="vm.preferences.language"
              [options]="languageOptions"
              (onChange)="setLanguage($event.value)"
            >
            </p-dropdown>
            <label for="language">{{ 'settings.language' | translate }}</label>
            <small class="position-absolute end-0 bottom-100 me-1 mb-1">
              <a
                href="https://github.com/factoriolab/factoriolab/wiki/Translating-FactorioLab"
                target="_blank"
                >{{ 'settings.helpTranslate' | translate }}</a
              >
            </small>
          </div>
        </div>
        <div class="mt-3 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.themeTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="theme"
              [ngModel]="vm.preferences.theme"
              [options]="themeOptions"
              (onChange)="setTheme($event.value)"
            >
            </p-dropdown>
            <label for="theme">{{ 'settings.theme' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <p-divider>
          <span class="p-tag">
            <i class="fa-solid fa-code"></i>
            {{ 'settings.advanced' | translate }}
          </span>
        </p-divider>
        <div class="mt-3 py-2">
          <div
            class="p-float-label"
            [pTooltip]="'settings.simplexSolverTooltip' | translate"
          >
            <p-dropdown
              labDropdownTranslate
              inputId="simplex-solver"
              [ngModel]="vm.preferences.simplexType"
              [options]="simplexTypeOptions"
              (onChange)="setSimplexType($event.value)"
            >
            </p-dropdown>
            <label for="inserter-capacity">{{
              'settings.simplexSolver' | translate
            }}</label>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
</div>
