<ng-container *ngIf="vm$ | async as vm">
  <div class="flex">
    <h2 class="header">{{ 'setting.name' | translate }}</h2>
    <div class="flex">
      <button
        class="dialog-button"
        [title]="'setting.deleteAllSettings' | translate"
        (click)="clickResetSettings()"
      >
        <i class="material-icons">delete</i>
      </button>
      <button class="dialog-button" (click)="closeSettings.emit()">
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>
  <div class="panel">
    <div class="hole">
      <div>
        <div class="header">
          <lab-info
            [text]="'setting.saveStates' | translate"
            [tooltip]="'setting.saveStatesTooltip' | translate"
          ></lab-info>
        </div>
        <div class="flex states">
          <ng-container *ngIf="!editState; else stateInput">
            <lab-options
              [title]="'setting.selectSavedState' | translate"
              [selected]="state"
              [options]="vm.savedStates"
              (selectId)="setState($event, vm.preferences)"
            ></lab-options>
            <button
              *ngIf="state"
              [title]="'setting.deleteSavedState' | translate"
              (click)="clickRemoveState()"
            >
              <i class="material-icons">delete</i>
            </button>
            <button
              *ngIf="BrowserUtility.search"
              [title]="'setting.nameAndSaveState' | translate"
              (click)="toggleEditState()"
            >
              <i class="material-icons">edit</i>
            </button>
          </ng-container>
          <ng-template #stateInput>
            <input
              type="text"
              [placeholder]="'setting.enterAName' | translate"
              [(ngModel)]="tempState"
            />
            <button
              *ngIf="tempState && BrowserUtility.search"
              [title]="'setting.saveState' | translate"
              (click)="clickSaveState()"
            >
              <i class="material-icons">save</i>
            </button>
            <button
              [title]="'setting.cancel' | translate"
              (click)="toggleEditState()"
            >
              <i class="material-icons">close</i>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="hole">
      <div>
        <div class="flex tween">
          <div class="header">{{ 'setting.recipes' | translate }}</div>
          <a
            *ngIf="vm.data.game === Game.Factorio"
            class="small"
            href="https://github.com/factoriolab/factoriolab/issues/new?assignees=&labels=mod+support&template=mod-request.md&title="
            target="_blank"
            >{{ 'setting.requestAMod' | translate }}</a
          >
        </div>
        <table class="thin">
          <tr>
            <td>
              <lab-info
                [text]="'setting.game' | translate"
                [tooltip]="'setting.gameTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.gameTitle' | translate"
                [selected]="vm.data.game"
                [options]="GameOptions"
                (selectId)="setGame($event)"
              ></lab-options>
            </td>
          </tr>
          <tr *ngIf="vm.data.game === Game.Factorio">
            <td>
              <lab-info
                [text]="'setting.modSet' | translate"
                [tooltip]="'setting.modSetTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.modSetTitle' | translate"
                [selected]="vm.settings.modId"
                [options]="vm.modOptions"
                (selectId)="setMod($event)"
              ></lab-options>
            </td>
          </tr>
          <tr>
            <td>
              <lab-info
                [text]="'setting.modVersions' | translate"
                [tooltip]="'setting.modVersionsTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div class="version-scroll">
                <table>
                  <tr *ngFor="let mod of vm.data.version | keyvalue">
                    <td>
                      <div>{{ mod.key }}</div>
                    </td>
                    <td>{{ mod.value }}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <lab-info
                [text]="'setting.disabled' | translate"
                [tooltip]="'setting.disabledTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-toggle
                [selected]="vm.settings.disabledRecipeIds"
                (selectIds)="
                  setDisabledRecipes(
                    $event,
                    vm.data.defaults?.disabledRecipeIds
                  )
                "
              >
              </lab-toggle>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="hole">
      <div>
        <div class="header">{{ 'setting.display' | translate }}</div>
        <table class="x-wide">
          <tr>
            <td>
              <lab-info
                [text]="'setting.columnsAndPrecision' | translate"
                [tooltip]="'setting.columnsAndPrecisionTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-columns class="relative">
                <button
                  class="grow"
                  [title]="'setting.columnsAndPrecisionTitle' | translate"
                >
                  <span class="text"
                    >{{ vm.columnsVisible }}
                    {{ 'setting.visible' | translate }}</span
                  >
                </button>
              </lab-columns>
            </td>
          </tr>
          <tr>
            <td>
              <lab-info
                [text]="'setting.displayRate' | translate"
                [tooltip]="'setting.displayRateTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.displayRateTitle' | translate"
                [selected]="vm.settings.displayRate"
                [options]="DisplayRateOptions"
                (selectId)="setDisplayRate($event, vm.settings.displayRate)"
              ></lab-options>
            </td>
          </tr>
          <tr *ngIf="vm.columns[Column.Power].show">
            <td>
              <lab-info
                [text]="'setting.powerUnit' | translate"
                [tooltip]="'setting.powerUnitTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.powerUnitTitle' | translate"
                [selected]="vm.preferences.powerUnit"
                [options]="PowerUnitOptions"
                (selectId)="setPowerUnit($event)"
              ></lab-options>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="hole">
      <div>
        <div class="header">{{ 'setting.factory' | translate }}</div>
        <table class="thin">
          <tr>
            <td>
              <lab-info
                [text]="'setting.preset' | translate"
                [tooltip]="'setting.presetTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.presetTitle' | translate"
                [selected]="vm.settings.preset"
                [options]="vm.presetOptions"
                (selectId)="setPreset($event)"
              ></lab-options>
            </td>
          </tr>
        </table>
        <table class="factories">
          <ng-container
            *ngFor="let f of vm.factoryRows; let i = index; let last = last"
          >
            <tr *ngIf="vm.factories.entities[f] as factory">
              <td>
                <ng-container *ngIf="!f">
                  <lab-select
                    *ngIf="vm.factoryOptionIds.length"
                    [header]="'setting.selectAFactory' | translate"
                    [options]="vm.factoryOptionIds"
                    (selectId)="
                      addFactory($event, vm.data.defaults?.factoryRankIds)
                    "
                  >
                    <button
                      [title]="'setting.addFactoryPreference' | translate"
                    >
                      <i class="material-icons">add</i>
                    </button>
                  </lab-select>
                </ng-container>
                <button
                  *ngIf="f"
                  [title]="'setting.removeFactoryPreference' | translate"
                  (click)="removeFactory(f, vm.data.defaults?.factoryRankIds)"
                >
                  <i class="material-icons">remove</i>
                </button>
              </td>
              <td>
                <lab-icon
                  *ngIf="f && !vm.factoryOptionIds.length"
                  class="pad"
                  [iconId]="f"
                  [tooltip]="vm.data.itemEntities[f].name"
                  [item]="vm.data.itemEntities[f]"
                >
                </lab-icon>
                <lab-select
                  *ngIf="f && vm.factoryOptionIds.length"
                  [header]="'setting.selectAFactory' | translate"
                  [selected]="f"
                  [options]="vm.factoryOptionIds"
                  (selectId)="
                    setFactory(f, $event, vm.data.defaults?.factoryRankIds)
                  "
                >
                  <lab-icon
                    class="button"
                    [iconId]="f"
                    [tooltip]="vm.data.itemEntities[f].name"
                    [item]="vm.data.itemEntities[f]"
                  >
                  </lab-icon>
                </lab-select>
                <lab-icon
                  *ngIf="!f"
                  class="pad"
                  [tooltip]="'setting.factoryDefaults' | translate"
                  iconId="production"
                ></lab-icon>
              </td>
              <td>
                <ng-container *ngIf="factory.moduleRankIds">
                  <lab-ranker
                    *ngIf="
                      vm.data.game !== Game.Satisfactory;
                      else moduleSelect
                    "
                    [header]="
                      (vm.data.game === Game.Factorio
                        ? 'setting.selectAModule'
                        : 'setting.selectAProliferator'
                      ) | translate
                    "
                    [selected]="factory.moduleRankIds"
                    [options]="vm.data.moduleIds"
                    (selectIds)="
                      setModuleRank(
                        f,
                        $event,
                        f === ''
                          ? vm.data.defaults?.moduleRankIds
                          : vm.factories.entities[''].moduleRankIds
                      )
                    "
                  >
                    <lab-icon
                      class="button"
                      [tooltip]="
                        (vm.data.game === Game.Factorio
                          ? 'setting.modulePreferences'
                          : 'setting.proliferatorPreferences'
                        ) | translate
                      "
                      [iconId]="
                        factory.moduleRankIds.length
                          ? factory.moduleRankIds[0]
                          : ItemId.Module
                      "
                      [text]="
                        factory.moduleRankIds.length > 1
                          ? factory.moduleRankIds.length.toString()
                          : ''
                      "
                    ></lab-icon>
                  </lab-ranker>
                  <ng-template #moduleSelect>
                    <lab-select
                      [header]="'setting.resourcePurityPreferences' | translate"
                      [selected]="factory.moduleRankIds[0]"
                      [options]="vm.data.moduleIds"
                      [includeEmptyModule]="
                        vm.data.game === Game.DysonSphereProgram
                      "
                      (selectId)="
                        setModuleRank(
                          f,
                          [$event],
                          f === ''
                            ? vm.data.defaults?.moduleRankIds
                            : vm.factories.entities[''].moduleRankIds
                        )
                      "
                    >
                      <lab-icon
                        class="button"
                        [tooltip]="'setting.selectResourcePurity' | translate"
                        [iconId]="
                          factory.moduleRankIds.length
                            ? factory.moduleRankIds[0]
                            : ItemId.Module
                        "
                        [text]="
                          factory.moduleRankIds.length > 1
                            ? factory.moduleRankIds.length.toString()
                            : ''
                        "
                      ></lab-icon>
                    </lab-select>
                  </ng-template>
                </ng-container>
              </td>
              <td *ngIf="vm.data.game === Game.Satisfactory">
                <input
                  type="number"
                  title="Default overclock"
                  placeholder="100"
                  min="0"
                  max="250"
                  step="10"
                  labValidateOverclock
                  [ngModel]="factory.overclock"
                  (input)="changeOverclock(f, $event, vm.factories)"
                />
                %
              </td>
              <ng-container *ngIf="vm.data.game === Game.Factorio">
                <td>
                  <ng-container *ngIf="factory.beaconCount != null">
                    <lab-input
                      [title]="'setting.defaultNumberOfBeacons' | translate"
                      placeholder="# Beacons"
                      [digits]="2"
                      [value]="factory.beaconCount"
                      (setValue)="
                        changeBeaconCount(f, $event, vm.factories, vm.data)
                      "
                    >
                    </lab-input>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="factory.beaconCount | gtZero">
                    <ng-container
                      *ngIf="vm.data.beaconIds.length === 1; else beaconPicker"
                    >
                      <lab-icon
                        *ngIf="factory.beaconId"
                        class="pad"
                        [iconId]="factory.beaconId"
                        [tooltip]="vm.data.itemEntities[factory.beaconId].name"
                        [item]="vm.data.itemEntities[factory.beaconId]"
                      ></lab-icon>
                    </ng-container>
                    <ng-template #beaconPicker>
                      <lab-select
                        *ngIf="factory.beaconId"
                        [header]="'setting.selectABeacon' | translate"
                        [selected]="factory.beaconId"
                        [options]="vm.data.beaconIds"
                        (selectId)="
                          setBeacon(
                            f,
                            $event,
                            f === ''
                              ? vm.data.defaults?.beaconId
                              : vm.factories.entities[''].beaconId
                          )
                        "
                      >
                        <lab-icon
                          class="button"
                          [tooltip]="'setting.selectDefaultBeacon' | translate"
                          [iconId]="factory.beaconId"
                        ></lab-icon>
                      </lab-select>
                    </ng-template>
                  </ng-container>
                </td>
                <td>
                  <lab-select
                    *ngIf="
                      (factory.beaconCount | gtZero) && factory.beaconModuleId
                    "
                    [header]="'setting.selectAModule' | translate"
                    [selected]="factory.beaconModuleId"
                    [options]="vm.data.beaconModuleIds"
                    [includeEmptyModule]="true"
                    (selectId)="
                      setBeaconModule(
                        f,
                        $event,

                        f === ''
                          ? vm.data.defaults?.beaconModuleId
                          : vm.factories.entities[''].beaconModuleId
                      )
                    "
                  >
                    <lab-icon
                      class="button"
                      [tooltip]="'setting.beaconModule' | translate"
                      [iconId]="factory.beaconModuleId"
                    ></lab-icon>
                  </lab-select>
                </td>
              </ng-container>
              <td>
                <button
                  *ngIf="i > 1"
                  [title]="'setting.raiseFactoryRank' | translate"
                  (click)="raiseFactory(f, vm.data.defaults?.factoryRankIds)"
                >
                  <i class="material-icons">arrow_drop_up</i>
                </button>
              </td>
            </tr>
          </ng-container>
        </table>
        <table class="icons">
          <tr *ngIf="vm.data.game === Game.Factorio">
            <td colspan="2">
              <div class="flex option" (click)="toggleBeaconPower(vm.settings)">
                <div
                  class="checkbox"
                  [class.checked]="vm.settings.beaconReceivers"
                ></div>
                <lab-info
                  [text]="'setting.estimateBeaconPowerUsage' | translate"
                  [tooltip]="
                    'setting.estimateBeaconPowerUsageTooltip' | translate
                  "
                ></lab-info>
              </div>
            </td>
          </tr>
          <tr *ngIf="vm.settings.beaconReceivers">
            <td>
              <lab-info
                [text]="'setting.averageBeaconReceivers' | translate"
                [tooltip]="'setting.averageBeaconReceiversTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-input
                  [title]="'setting.setAverageBeaconReceivers' | translate"
                  placeholder="# Receivers"
                  [digits]="2"
                  [value]="vm.settings.beaconReceivers"
                  minimum="1"
                  (setValue)="setBeaconReceivers($event)"
                >
                </lab-input>
              </div>
            </td>
          </tr>
          <tr *ngIf="vm.data.game === Game.DysonSphereProgram">
            <td>
              <lab-info
                [text]="'setting.proliferatorSelfSpray' | translate"
                [tooltip]="'setting.proliferatorSelfSprayTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-select
                  [header]="'setting.selectAProliferator' | translate"
                  [selected]="vm.settings.proliferatorSprayId"
                  [options]="vm.data.prodModuleIds"
                  [includeEmptyModule]="true"
                  (selectId)="setProliferatorSpray($event)"
                >
                  <lab-icon
                    class="button"
                    [tooltip]="'setting.selectAProliferatorTooltip' | translate"
                    [iconId]="vm.settings.proliferatorSprayId"
                  ></lab-icon>
                </lab-select>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <lab-info
                [text]="'setting.defaultTransportBelt' | translate"
                [tooltip]="'setting.defaultTransportBeltTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-select
                  *ngIf="vm.settings.beltId"
                  [header]="'setting.defaultTransportBeltHeader' | translate"
                  [selected]="vm.settings.beltId"
                  [options]="vm.data.beltIds"
                  [columns]="
                    vm.data.game === Game.DysonSphereProgram ? 3 : null
                  "
                  (selectId)="setBelt($event, vm.data.defaults?.beltId)"
                >
                  <lab-icon
                    class="button"
                    [tooltip]="
                      'setting.defaultTransportBeltHeaderTooltip' | translate
                    "
                    [iconId]="vm.settings.beltId"
                  ></lab-icon>
                </lab-select>
              </div>
            </td>
          </tr>
          <tr *ngIf="vm.data.pipeIds.length">
            <td>
              <lab-info
                [text]="'setting.defaultPipe' | translate"
                [tooltip]="'setting.defaultPipeTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-select
                  *ngIf="vm.settings.pipeId"
                  [header]="'setting.defaultPipeHeader' | translate"
                  [selected]="vm.settings.pipeId"
                  [options]="vm.data.pipeIds"
                  (selectId)="setPipe($event, vm.data.defaults?.pipeId)"
                >
                  <lab-icon
                    class="button"
                    [tooltip]="'setting.defaultPipeHeaderTooltip' | translate"
                    [iconId]="vm.settings.pipeId"
                  ></lab-icon>
                </lab-select>
              </div>
            </td>
          </tr>
          <tr *ngIf="vm.data.cargoWagonIds.length > 1">
            <td>
              <lab-info
                [text]="'setting.defaultCargoWagon' | translate"
                [tooltip]="'setting.defaultCargoWagonTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-select
                  *ngIf="vm.settings.cargoWagonId"
                  [header]="'setting.defaultCargoWagonHeader' | translate"
                  [selected]="vm.settings.cargoWagonId"
                  [options]="vm.data.cargoWagonIds"
                  (selectId)="
                    setCargoWagon($event, vm.data.defaults?.cargoWagonId)
                  "
                >
                  <lab-icon
                    class="button"
                    [tooltip]="
                      'setting.defaultCargoWagonHeaderTooltip' | translate
                    "
                    [iconId]="vm.settings.cargoWagonId"
                  ></lab-icon>
                </lab-select>
              </div>
            </td>
          </tr>
          <tr *ngIf="vm.data.fluidWagonIds.length > 1">
            <td>
              <lab-info
                [text]="'setting.defaultFluidWagon' | translate"
                [tooltip]="'setting.defaultFluidWagonTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-select
                  *ngIf="vm.settings.fluidWagonId"
                  [header]="'setting.defaultFluidWagonHeader' | translate"
                  [selected]="vm.settings.fluidWagonId"
                  [options]="vm.data.fluidWagonIds"
                  (selectId)="
                    setFluidWagon($event, vm.data.defaults?.fluidWagonId)
                  "
                >
                  <lab-icon
                    class="button"
                    [tooltip]="
                      'setting.defaultFluidWagonHeaderTooltip' | translate
                    "
                    [iconId]="vm.settings.fluidWagonId"
                  ></lab-icon>
                </lab-select>
              </div>
            </td>
          </tr>
          <tr
            *ngIf="
              vm.chemicalFuelIds.length && vm.data.game !== Game.Satisfactory
            "
          >
            <td>
              <lab-info
                [text]="'setting.chemicalFuel' | translate"
                [tooltip]="'setting.chemicalFuelTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <div>
                <lab-select
                  *ngIf="vm.settings.fuelId"
                  [header]="'setting.chemicalFuelHeader' | translate"
                  [selected]="vm.settings.fuelId"
                  [options]="vm.chemicalFuelIds"
                  (selectId)="setFuel($event, vm.data.defaults?.fuelId)"
                >
                  <lab-icon
                    class="button"
                    [tooltip]="'setting.chemicalFuelHeaderTooltip' | translate"
                    [iconId]="vm.settings.fuelId"
                  ></lab-icon>
                </lab-select>
              </div>
            </td>
          </tr>
        </table>
        <table class="thin" *ngIf="vm.data.game === Game.Factorio">
          <tr>
            <td>{{ 'setting.pipeFlowRate' | translate }}</td>
            <td>
              <div class="flex">
                <input
                  type="number"
                  [title]="'setting.pipeFlowRateTitle' | translate"
                  placeholder="1500"
                  min="1"
                  step="1"
                  data-test="lab-settings-flow-rate"
                  [formControl]="ctrlFlowRate"
                  [value]="vm.settings.flowRate"
                  (input)="emitNumber('flowRate', $event, 1)"
                />
                <div>
                  {{ 'setting.flowRateUnit' | translate }}
                  <a
                    href="https://wiki.factorio.com/Fluid_system#Pipelines"
                    target="_blank"
                    >Wiki</a
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              {{ 'setting.inserterTarget' | translate }}
              <a
                href="https://wiki.factorio.com/Inserters#Inserter_Throughput"
                target="_blank"
                >Wiki</a
              >
            </td>
            <td>
              <lab-options
                [title]="'setting.inserterTargetTitle' | translate"
                [selected]="vm.settings.inserterTarget"
                [options]="InserterTargetOptions"
                (selectId)="setInserterTarget($event)"
              ></lab-options>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="hole" *ngIf="vm.data.game !== Game.Satisfactory">
      <div>
        <div class="header">{{ 'setting.bonuses' | translate }}</div>
        <table class="wide">
          <tr *ngIf="vm.data.game === Game.Factorio">
            <td>
              <lab-info
                [text]="'setting.miningProductivity' | translate"
                [tooltip]="'setting.miningProductivityTooltip' | translate"
              ></lab-info>
            </td>
            <td class="right">
              +
              <input
                type="number"
                [title]="'setting.miningProductivityTitle' | translate"
                [placeholder]="
                  'setting.miningProductivityPlaceholder' | translate
                "
                min="0"
                step="10"
                data-test="lab-settings-mining-bonus"
                [formControl]="ctrlMiningProductivity"
                [value]="vm.settings.miningBonus"
                (input)="emitNumber('miningBonus', $event, 0)"
              />
              %
            </td>
          </tr>
          <tr *ngIf="vm.data.game === Game.DysonSphereProgram">
            <td>
              <lab-info
                [text]="'setting.miningSpeed' | translate"
                [tooltip]="'setting.miningSpeedTooltip' | translate"
              ></lab-info>
            </td>
            <td class="right">
              <input
                type="number"
                [title]="'setting.miningSpeedTitle' | translate"
                [placeholder]="'setting.miningSpeedPlaceholder' | translate"
                min="100"
                step="10"
                data-test="lab-settings-mining-bonus"
                [formControl]="ctrlMiningSpeed"
                [value]="vm.settings.miningBonus + 100"
                (input)="emitNumber('miningBonus', $event, 0, -100)"
              />
              %
            </td>
          </tr>
          <tr *ngIf="vm.data.game === Game.Factorio">
            <td>
              <lab-info
                [text]="'setting.researchSpeed' | translate"
                [tooltip]="'setting.researchSpeedTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.researchSpeedTitle' | translate"
                [selected]="vm.settings.researchSpeed"
                [options]="ResearchSpeedOptions"
                (selectId)="setResearchSpeed($event)"
              ></lab-options>
            </td>
          </tr>
          <tr *ngIf="vm.data.game === Game.Factorio">
            <td>
              <lab-info
                [text]="'setting.inserterCapacity' | translate"
                [tooltip]="'setting.inserterCapacityTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.inserterCapacityTitle' | translate"
                [selected]="vm.settings.inserterCapacity"
                [options]="InserterCapacityOptions"
                (selectId)="setInserterCapacity($event)"
              ></lab-options>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="hole">
      <div>
        <div class="header">{{ 'setting.advanced' | translate }}</div>
        <table class="wide">
          <tr>
            <td>
              <lab-info
                [text]="'setting.simplexSolver' | translate"
                [tooltip]="'setting.simplexSolverTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.simplexSolverTitle' | translate"
                [selected]="vm.preferences.simplex"
                [options]="enabledOptions"
                (selectId)="setSimplex($event)"
              ></lab-options>
            </td>
          </tr>
          <tr *ngIf="!vm.preferences.simplex">
            <td colspan="2">
              <span class="invalid">{{
                'setting.simplexSolverInvalid' | translate
              }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <lab-info
                [text]="'setting.language' | translate"
                [tooltip]="'setting.languageTooltip' | translate"
              ></lab-info>
            </td>
            <td>
              <lab-options
                [title]="'setting.languageTitle' | translate"
                [selected]="vm.preferences.language"
                [options]="languageOptions"
                (selectId)="changeLanguage($event)"
              ></lab-options>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-container>
