<p-overlayPanel appendTo="body" (onHide)="onHide()">
  <div class="d-flex flex-column gap-2">
    @for (entry of beacons(); let i = $index; track i) {
      <div class="d-flex flex-column">
        <div class="p-inputgroup">
          <lab-input-number
            width="3rem"
            [pTooltip]="'beaconsOverlay.eachTooltip' | translate"
            tooltipPosition="top"
            [value]="entry.count ?? rational.zero"
            [integer]="data().flags.has('diminishingBeacons')"
            [maximum]="
              entry.id
                ? rational(data().beaconEntities[entry.id].profile?.length)
                : undefined
            "
            (setValue)="setCount(i, $event)"
          >
          </lab-input-number>
          @if (entry.total) {
            <lab-input-number
              width="3rem"
              [pTooltip]="'beaconsOverlay.totalTooltip' | translate"
              tooltipPosition="top"
              [value]="entry.total"
              (setValue)="setTotal(i, $event)"
            >
            </lab-input-number>
          }
          <p-dropdown
            labDropdownBase="icon"
            [ngModel]="entry.id"
            [pTooltip]="tooltip"
            [options]="options().beacons"
            (onChange)="setId(i, $event)"
          >
            <ng-template pTemplate="selectedItem" let-item>
              <div class="d-flex">
                <i [class]="item.value | iconSmClass"></i>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              <div
                class="d-flex align-items-center py-2 w-100 h-100"
                [pTooltip]="tooltip"
              >
                <i [class]="item.value | iconSmClass"></i>
                <div class="ms-3 text-truncate">
                  {{ item.label }}
                </div>
                <ng-template #tooltip>
                  <lab-tooltip [id]="item.value" type="beacon"></lab-tooltip>
                </ng-template>
              </div>
            </ng-template>
          </p-dropdown>
          <ng-template #tooltip>
            @if (entry.id) {
              <lab-tooltip [id]="entry.id" type="beacon"></lab-tooltip>
            }
          </ng-template>
          <button
            pButton
            pRipple
            type="button"
            icon="fa-solid fa-times"
            class="p-button-outlined"
            [disabled]="beacons().length === 1"
            (click)="removeEntry(i)"
          ></button>
        </div>
        @if (entry.id && entry.modules) {
          <lab-modules
            [entity]="data().beaconEntities[entry.id]"
            [modules]="entry.modules"
            [recipeId]="recipeId()"
            (setValue)="setModules(i, $event)"
          ></lab-modules>
        }
      </div>
    }
    <div class="d-flex">
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-plus"
        class="p-button-outlined p-button-sm flex-grow-1"
        [label]="'beaconsOverlay.addBeacons' | translate"
        (click)="addEntry()"
      ></button>
    </div>
    <div class="d-flex gap-2">
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-check"
        class="p-button-outlined p-button-sm flex-grow-1"
        [label]="'ok' | translate"
        (click)="hide()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-xmark"
        class="p-button-outlined p-button-sm p-button-secondary flex-grow-1"
        [label]="'cancel' | translate"
        (click)="hide(true)"
      ></button>
    </div>
  </div>
</p-overlayPanel>
