.links {
  // Tree container
  height: 4rem;

  // One width segment of the tree
  .connect {
    position: relative;

    height: 100%;
    margin-left: 1rem;

    // Segment contains trail
    &.last,
    &.trail {
      border-left: 2px dotted var(--text-color-secondary);
    }

    // Segment ends at this row
    &.last:not(.trail) {
      margin-bottom: 2rem;
      height: 2rem;
    }

    // Segments should pad between
    & + .connect {
      margin-left: 2rem;
    }
  }

  .indent {
    margin-left: 0;
    border-top: 2px dotted var(--text-color-secondary);
    width: 1rem;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
  }
}

:host ::ng-deep {
  // Mask input fields
  .p-dropdown,
  .p-inputtext {
    &:not(:hover):not(:focus):not(.ng-invalid) {
      border-color: transparent;

      background-color: transparent;
    }
  }

  // Highlight modules to right of the hovered module
  .module-dropdown:not(:last-child) .p-dropdown {
    border-right-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .module-dropdown:hover ~ .module-dropdown {
    &:not(:last-child) .p-dropdown {
      border-top-color: var(--primary-color);
      border-bottom-color: var(--primary-color);
    }

    &:last-child .p-dropdown {
      border-color: var(--primary-color);
      border-left-color: transparent;
    }
  }
}

tr.detail {
  background-color: var(--surface-ground);
}
