@if (faIcon(); as icon) {
  <fa-icon [icon]="icon"></fa-icon>
}
@if (iconType(); as type) {
  @if (icon(); as icon) {
    <lab-icon
      [type]="type"
      [value]="icon"
      [class.opacity-40]="toggled()"
      [class.group-hover:opacity-40]="toggleIcon() != null"
    ></lab-icon>
  }
}
@if (text(); as text) {
  <span class="line-clamp-1 grow" [class]="alignClass()">{{
    text | translate: textParams()
  }}</span>
}
@if (toggleIcon(); as icon) {
  <fa-icon
    class="text-brand-400 absolute group-hover:block"
    [class.hidden]="!toggled()"
    [icon]="icon"
  ></fa-icon>
}
