<div class="overflow-auto">
  <table class="table w-sm">
    <thead>
      <tr>
        <th>{{ 'columns.visibility' | translate }}</th>
        <th>{{ 'columns.decimals' | translate }}</th>
        <th>{{ 'columns.fractions' | translate }}</th>
        <th>{{ 'columns.example' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (column of settingsStore.columnOptions(); track column.value) {
        <tr>
          <td>
            <div
              class="flex items-center gap-2"
              [class.opacity-40]="column.disabled"
            >
              <input
                [attr.id]="column.value"
                type="checkbox"
                class="checkbox"
                step="1"
                [(ngModel)]="value[column.value].show"
                [disabled]="!!column.disabled"
                (ngModelChange)="ref.markForCheck()"
              />
              <label [for]="column.value">{{ column.label | translate }}</label>
            </div>
          </td>
          @if (
            !columnsInfo[column.value].hasPrecision || !value[column.value].show
          ) {
            <td colspan="3" class="text-center">
              @if (!columnsInfo[column.value].hasPrecision) {
                {{ 'columns.notApplicable' | translate }}
              } @else {
                {{ 'columns.hidden' | translate }}
              }
            </td>
          } @else {
            <td class="w-20">
              <input
                type="number"
                class="input"
                [(ngModel)]="value[column.value].precision"
              />
            </td>
            <td class="text-center">
              <input
                type="checkbox"
                class="checkbox"
                [ngModel]="value[column.value].precision == null"
                (ngModelChange)="
                  value[column.value].precision = $event ? null : 1
                "
              />
            </td>
            <td class="text-center font-mono">
              {{ value[column.value].precision | precisionExample }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="flex justify-end gap-1 sm:gap-2">
  @if (modified) {
    <button
      type="button"
      labButton
      text="reset"
      [faIcon]="faRotateLeft"
      (click)="reset()"
    ></button>
  }
  <button
    type="button"
    labButton
    text="ok"
    [faIcon]="faCheck"
    color="brand"
    (click)="save()"
  ></button>
  <button
    type="button"
    labButton
    text="cancel"
    [faIcon]="faXmark"
    (click)="dialogRef.close()"
  ></button>
</div>
