<ng-container *ngIf="vm$ | async as vm">
  <p-card *ngIf="vm.mod != null; else spinner">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <img
          src="factoriolab.webp"
          alt="FactorioLab"
          height="128"
          width="128"
        />
      </div>
      <div class="mt-2" [innerHTML]="'landing.welcome' | translate"></div>
      <p-dropdown
        styleClass="my-2 w-100"
        [ngModel]="vm.data.game"
        [options]="gameOptions"
        (onChange)="setGame($event.value)"
      >
        <ng-template pTemplate="selectedItem">
          <div
            *ngIf="gameInfo[vm.data.game] as info"
            class="d-flex align-items-center"
          >
            <i class="mx-1" [class]="info.icon | iconSmClass"></i>
            <span class="ms-3">{{ info.label | translate }}</span>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          <div
            *ngIf="$any(gameInfo)[item.value] as info"
            class="d-flex align-items-center"
          >
            <i [class]="info.icon | iconSmClass"></i>
            <span class="ms-3">{{ info.label | translate }}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <p-dropdown
        *ngIf="vm.data.game === Game.Factorio"
        styleClass="mb-2 w-100"
        [filter]="true"
        [autofocusFilter]="!vm.isMobile"
        [ngModel]="vm.settings.modId"
        [options]="vm.modOptions"
        (onChange)="setMod($event.value)"
      ></p-dropdown>
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-box"
        [label]="'landing.addItems' | translate"
        (click)="addItemPicker.clickOpen(vm.data, 'item', vm.itemIds)"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="mt-2"
        icon="fa-solid fa-industry"
        [label]="'landing.addMachines' | translate"
        (click)="addRecipePicker.clickOpen(vm.data, 'recipe', vm.recipeIds)"
      ></button>
      <lab-picker
        #addItemPicker
        [header]="'landing.selectAnItem' | translate"
        (selectId)="selectItem($event)"
      ></lab-picker>
      <lab-picker
        #addRecipePicker
        [header]="'landing.selectARecipe' | translate"
        (selectId)="selectRecipe($event)"
      ></lab-picker>
      <p-divider
        *ngIf="vm.savedStates.length || BrowserUtility.routerState"
      ></p-divider>
      <span *ngIf="vm.savedStates.length" class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-file-import"></i>
        </span>
        <p-dropdown
          [placeholder]="'landing.loadSavedState' | translate"
          styleClass="w-100"
          [options]="vm.savedStates"
          (onChange)="
            setState(vm.preferences.states[vm.data.game][$event.value])
          "
        ></p-dropdown>
      </span>
      <button
        *ngIf="BrowserUtility.routerState"
        pButton
        pRipple
        type="button"
        class="mt-2"
        icon="fa-solid fa-clock-rotate-left"
        [label]="'landing.loadLastState' | translate"
        (click)="router.navigateByUrl(BrowserUtility.routerState)"
      ></button>
      <p-divider></p-divider>
      <button
        pButton
        pRipple
        type="button"
        class="mt-2 p-button-help"
        icon="fa-solid fa-question"
        [label]="'landing.help' | translate"
        routerLink="wizard"
        queryParamsHandling="preserve"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="mt-2 mb-3 p-button-outlined"
        icon="fa-solid fa-forward"
        [label]="'landing.skip' | translate"
        routerLink="list"
        queryParamsHandling="preserve"
      ></button>
      <p-checkbox
        [binary]="true"
        [label]="'landing.bypass' | translate"
        [ngModel]="vm.preferences.bypassLanding"
        (onChange)="setBypassLanding($event.checked)"
      ></p-checkbox>
    </div>
  </p-card>
</ng-container>

<ng-template #spinner>
  <p-progressSpinner></p-progressSpinner>
</ng-template>

<span class="position-absolute bottom-0 mb-3">{{ contentSvc.version }}</span>
