<div class="flex grow flex-col items-center justify-end">
  <img src="factoriolab.webp" alt="FactorioLab" height="128" width="128" />
  <div [innerHtml]="'landing.welcome' | translate"></div>
</div>

<hr class="self-stretch border-t border-gray-700" />

<div class="flex w-80 grow basis-[30rem] flex-col gap-3">
  <lab-form-field label="game">
    <lab-select
      type="system"
      [options]="gameOptions"
      [ngModel]="data().game"
      (ngModelChange)="setGame($event)"
    ></lab-select>
  </lab-form-field>
  @if (data().flags.has('mods') && modId(); as modId) {
    <lab-form-field label="modSet">
      <lab-select
        [options]="modOptions()"
        [filter]="true"
        [ngModel]="modId"
        (ngModelChange)="setMod($event)"
      ></lab-select>
    </lab-form-field>
  }

  <div class="flex gap-3">
    <lab-form-field label="landing.quantity" class="basis-1/2 text-right">
      <lab-input-number [(ngModel)]="value"></lab-input-number>
    </lab-form-field>
    <lab-form-field label="landing.units" class="basis-1/2">
      <lab-select [(ngModel)]="unit" [options]="unitOptions()"></lab-select>
    </lab-form-field>
  </div>

  @if (unit() === 3) {
    <button
      type="button"
      labButton
      [faIcon]="faBookOpen"
      variant="brand"
      text="picker.selectRecipe"
      (click)="openPicker('item')"
    ></button>
  } @else {
    <button
      type="button"
      labButton
      [faIcon]="faBoxOpen"
      variant="brand"
      text="picker.selectItem"
      (click)="openPicker('item')"
    ></button>
  }

  @if (stateOptions().length || routerSync.stored()) {
    <hr class="my-4 border-gray-700" />
  }

  @if (stateOptions().length) {
    <div class="flex items-center">
      <fa-icon
        class="flex size-9 items-center justify-center border border-r-0 border-gray-700"
        [icon]="faFileImport"
      ></fa-icon>
      <lab-select
        placeholder="landing.loadSavedState"
        [options]="stateOptions()"
        (valueChange)="setState(states()[$event])"
      ></lab-select>
    </div>
  }

  <div class="flex items-center">
    <input
      id="bypass"
      type="checkbox"
      class="checkbox"
      [ngModel]="preferencesStore.state().bypassLanding"
      (ngModelChange)="preferencesStore.apply({ bypassLanding: $event })"
    />
    <label for="bypass" class="cursor-pointer ps-2 select-none">{{
      'landing.bypass' | translate
    }}</label>
  </div>
  @if (routerSync.stored(); as storedState) {
    <a
      labButton
      [faIcon]="faClockRotateLeft"
      text="landing.loadLastState"
      [routerLink]="storedState"
      (click)="router.navigateByUrl(storedState)"
    ></a>
  }
  <a
    labButton
    [faIcon]="faForward"
    text="landing.skip"
    routerLink="list"
    queryParamsHandling="preserve"
  ></a>
  <span class="mt-auto mb-4 text-center"
    >{{ fileClient.version$ | async }}
  </span>
</div>
