<lab-icon
  class="header-button"
  title="Settings"
  id="header-settings"
  [data]="data"
  tooltip="Settings"
  iconId="iron-gear-wheel"
  (click)="toggleSettings.emit()"
></lab-icon>
<a href="">
  <img id="header-icon" title="Factorio Lab" src="assets/logo.png" />
</a>
<div class="header-spacer"></div>
<div class="header-button header-icon" (click)="menuOpen = !menuOpen">
  <i #menuBtn class="material-icons">menu</i>
</div>
<ul class="header-menu" *ngIf="menuOpen" @slideInOut>
  <li>
    <a (click)="hideHeader.emit()"
      ><i class="material-icons">expand_less</i>Hide the header
    </a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/factoriolab/factorio-lab/wiki"
      ><i class="material-icons">help</i>How do I use this?</a
    >
  </li>
  <li>
    <a target="_blank" href="https://github.com/factoriolab/factorio-lab/issues"
      ><i class="material-icons">feedback</i>Submit feedback</a
    >
  </li>
  <li>
    <a target="_blank" href="https://github.com/factoriolab/factorio-lab"
      ><i class="material-icons">code</i>View source code</a
    >
  </li>
  <li>
    <a target="_blank" href="https://www.buymeacoffee.com/dcbroad3"
      ><i class="material-icons">favorite</i>Buy me a ☕?</a
    >
  </li>
</ul>
