@import 'values';

:host {
  background-color: $color-gray-2;
  font-weight: bold;
  display: flex;
  align-items: center;

  > * {
    padding: 0.5rem;
  }

  .header-settings {
    margin-left: 1px;
    background-color: $color-gray-1;
    cursor: pointer;

    &:hover {
      background-color: $color-brand;
    }
  }

  .header-logo {
    flex-grow: 1;
  }

  .header-github {
    line-height: 0;
  }

  .header-settings,
  .header-github {
    &:hover {
      background-color: $color-brand;
    }
  }
}
