:host {
  background-color: var(--color-gray-2);
  font-weight: bold;
  display: flex;
  align-items: center;

  > * {
    padding: 0.5rem;
  }

  .header-settings {
    margin-left: 1px;
    background-color: var(--color-gray-1);
    cursor: pointer;

    &:hover {
      background-color: var(--color-brand);
    }
  }

  .header-spacer {
    flex-grow: 1;
  }

  .header-github {
    line-height: 0;
  }

  .header-settings,
  .header-github {
    &:hover {
      background-color: var(--color-brand);
    }
  }
}
