<div class="d-block d-xl-none ms-1 ms-sm-4">
  <button
    pButton
    pRipple
    icon="fa-solid fa-bars"
    (click)="contentSvc.toggleMenu()"
  ></button>
</div>
<p-splitButton
  *ngIf="vm$ | async as vm"
  styleClass="me-1 me-sm-4 me-xl-0"
  [icon]="vm.gameInfo.icon | iconSmClass"
  [model]="vm.gameOptions"
  (onClick)="selectGame(vm.gameInfo.route)"
>
</p-splitButton>
<ul class="header-menu px-0 px-sm-4 px-xl-0">
  <li *ngFor="let link of links">
    <a class="w-100" target="_blank" [href]="link.href">
      <button
        pButton
        pRipple
        class="p-button-text p-button-secondary p-button-sm d-flex justify-content-center w-100"
        [icon]="link.icon"
        [label]="link.label"
      ></button>
    </a>
  </li>
</ul>
