<p-card *ngIf="vm$ | async as vm" [header]="'objectives.title' | translate">
  <div class="row">
    <div class="col-12 col-xxl-6 mb-3 mb-xxl-0">
      <h3>
        {{ 'objectives.items' | translate }}
      </h3>
      <div class="d-flex mb-2 col-12">
        <button
          pButton
          pRipple
          type="button"
          class="me-1 flex-grow-1 p-button-outlined"
          icon="fa-solid fa-box"
          [pTooltip]="'objectives.addAnItemTooltip' | translate"
          tooltipPosition="top"
          [label]="'objectives.addAnItem' | translate"
          (click)="addItemPicker.clickOpen(vm.data, 'item', vm.itemIds)"
        ></button>
        <p-dropdown
          labDropdownTranslate
          styleClass="h-100"
          [tooltip]="'objectives.selectDisplayRate' | translate"
          [ngModel]="vm.displayRate"
          [options]="displayRateOptions"
          (onChange)="setDisplayRate($event.value, vm.displayRate)"
        >
        </p-dropdown>
      </div>
      <div
        *ngFor="
          let itemObjective of vm.itemObjectives;
          trackBy: trackSvc.trackById
        "
        class="mb-1"
      >
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-outlined icon"
            icon="fa-solid fa-minus"
            [pTooltip]="'objectives.removeItemTooltip' | translate"
            (click)="removeItemObjective(itemObjective.id)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            class="text-truncate"
            [icon]="itemObjective.itemId | iconSmClass"
            [label]="
              vm.mobile ? '' : vm.data.itemEntities[itemObjective.itemId].name
            "
            [pTooltip]="'objectives.itemTooltip' | translate"
            tooltipPosition="top"
            (click)="
              editPicker.clickOpen(
                vm.data,
                'item',
                vm.itemIds,
                itemObjective.itemId
              )
            "
          ></button>
          <lab-picker
            #editPicker
            [header]="'objectives.itemTooltip' | translate"
            (selectId)="setItem(itemObjective.id, $event)"
          ></lab-picker>
          <lab-input-number
            [pTooltip]="'objectives.rateTooltip' | translate"
            tooltipPosition="top"
            [hideButtons]="vm.mobile"
            [value]="itemObjective.rate"
            (setValue)="setRate(itemObjective.id, $event)"
          ></lab-input-number>
          <p-dropdown
            *ngIf="itemObjective.type !== ObjectiveType.Maximize"
            labDropdownTranslate
            [tooltip]="'objectives.rateUnitTooltip' | translate"
            tooltipPosition="top"
            [options]="vm.rateUnitOptions"
            [ngModel]="itemObjective.rateUnit"
            (onChange)="setRateUnit(itemObjective.id, $event.value)"
          ></p-dropdown>
          <p-dropdown
            labDropdownTranslate
            [tooltip]="'objectives.typeTooltip' | translate"
            tooltipPosition="top"
            [options]="objectiveTypeOptions"
            [ngModel]="itemObjective.type"
            (onChange)="setItemType(itemObjective.id, $event.value)"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-6">
      <h3>
        {{ 'objectives.recipes' | translate }}
      </h3>
      <div class="d-flex col-12">
        <button
          pButton
          pRipple
          type="button"
          class="w-100 p-button-outlined mb-2"
          icon="fa-solid fa-flask"
          [pTooltip]="'objectives.addARecipeTooltip' | translate"
          tooltipPosition="top"
          [label]="'objectives.addARecipe' | translate"
          (click)="addRecipePicker.clickOpen(vm.data, 'recipe', vm.recipeIds)"
        ></button>
      </div>
      <div
        *ngFor="
          let recipeObjective of vm.recipeObjectives;
          trackBy: trackSvc.trackById
        "
        class="mb-2"
      >
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-outlined icon"
            icon="fa-solid fa-minus"
            [pTooltip]="'objectives.removeRecipeTooltip' | translate"
            (click)="removeRecipeObjective(recipeObjective.id)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            class="lab-button-icon-only text-truncate"
            [pTooltip]="'objectives.recipeTooltip' | translate"
            tooltipPosition="top"
            (click)="
              editPicker.clickOpen(
                vm.data,
                'recipe',
                vm.recipeIds,
                recipeObjective.recipeId
              )
            "
          >
            <i
              class="p-button-icon"
              [class]="recipeObjective.recipeId | iconSmClass : 'recipe'"
              ><span>#{{ recipeObjective.id }}</span></i
            >
            <span *ngIf="!vm.mobile" class="p-button-label">{{
              vm.data.recipeEntities[recipeObjective.recipeId].name
            }}</span>
          </button>
          <lab-picker
            #editPicker
            [header]="'objectives.recipeTooltip' | translate"
            (selectId)="setRecipe(recipeObjective.id, $event)"
          ></lab-picker>
          <lab-input-number
            [pTooltip]="'objectives.countTooltip' | translate"
            tooltipPosition="top"
            [value]="recipeObjective.count"
            (setValue)="setCount(recipeObjective.id, $event)"
          ></lab-input-number>
          <p-dropdown
            labDropdownTranslate
            [tooltip]="'objectives.typeTooltip' | translate"
            tooltipPosition="top"
            [options]="objectiveTypeOptions"
            [ngModel]="recipeObjective.type"
            (onChange)="setRecipeType(recipeObjective.id, $event.value)"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <lab-picker
    #addItemPicker
    [header]="'objectives.addAnItemTooltip' | translate"
    (selectId)="addItemObjective($event)"
  ></lab-picker>
  <lab-picker
    #addRecipePicker
    [header]="'objectives.addARecipeTooltip' | translate"
    (selectId)="addRecipeObjective($event)"
  ></lab-picker>
  <p-messages
    styleClass="w-100 w-xxl-50"
    [value]="vm.messages"
    [closable]="false"
    [escape]="false"
  ></p-messages>
</p-card>
