<lab-dropdown [controlId]="controlId()" (open)="open()" (save)="save()">
  <ng-container button>
    @if (value()?.beltId; as beltId) {
      @let stack = value()?.stack;
      <lab-icon
        [value]="beltId"
        type="item"
        [text]="stack?.gt(rational.one) ? stack?.toString() : ''"
      ></lab-icon>
    }
  </ng-container>

  <div overlay class="flex">
    <lab-input-number
      class="w-0 grow"
      rounded="start"
      [minimum]="rational.one"
      [maximum]="stack()"
      [buttons]="true"
      labTooltip="beltSelect.stackTooltip"
      [ngModel]="editValue()?.stack"
      (ngModelChange)="setStack($event)"
    ></lab-input-number>
    <lab-select
      class="-ms-px"
      rounded="end"
      [iconOnly]="true"
      [options]="settingsStore.options().belts"
      [ngModel]="editValue()?.beltId"
      (ngModelChange)="setBelt($event)"
    ></lab-select>
  </div>
</lab-dropdown>
