@if (scroll.scrollWidth > scroll.clientWidth + 4 && scroll.scrollLeft !== 0) {
  <button
    type="button"
    labButton
    [faIcon]="faAngleLeft"
    tabindex="-1"
    aria-hidden="true"
    class="absolute left-0 z-1 h-full rounded-l-none bg-gray-950 shadow-sm shadow-gray-700"
    (click)="scrollNext(scroll, -1)"
  ></button>
}
<div
  #scroll
  class="relative inline-flex grow overflow-hidden scroll-smooth"
  (scrollend)="onScrollEnd()"
>
  @for (opt of tabs(); track opt.value) {
    <a
      #tab
      class="flex cursor-pointer items-center gap-2 border-b-2 border-gray-700 px-3 py-2"
      role="tab"
      [routerLink]="opt.routerLink"
      routerLinkActive
      queryParamsHandling="preserve"
      (isActiveChange)="$event ? value.set(opt.value) : null"
      [class]="
        opt.value === value()
          ? 'text-brand-400 group-focus-visible:outline-brand-400 -outline-offset-1 group-focus-visible:outline'
          : 'hover:text-brand-400'
      "
      (click)="value.set(opt.value)"
    >
      @if (opt.faIcon) {
        <fa-icon [icon]="opt.faIcon"></fa-icon>
      }
      @if (type(); as type) {
        <lab-icon [type]="type" [value]="opt.icon ?? opt.value"></lab-icon>
      }
      <span class="font-semibold lg:line-clamp-1" [class.hidden]="!!type()">{{
        opt.label | translate
      }}</span>
    </a>
  }
  <span class="grow border-b-2 border-gray-700"></span>
  <div
    class="bg-brand-400 absolute bottom-0 h-0.5 transition-all duration-300"
    [style]="indicatorStyle()?.()"
  ></div>
</div>
@if (
  scroll.scrollWidth > scroll.clientWidth + 4 &&
  scroll.scrollLeft <= scroll.scrollWidth - scroll.clientWidth - 2
) {
  <button
    type="button"
    labButton
    [faIcon]="faAngleRight"
    tabindex="-1"
    aria-hidden="true"
    class="absolute right-0 z-1 h-full rounded-r-none bg-gray-950 shadow-sm shadow-gray-700"
    (click)="scrollNext(scroll, 1)"
  ></button>
}
