@if (scroll.scrollWidth > scroll.clientWidth + 4 && scroll.scrollLeft !== 0) {
  <div class="left-0 absolute z-1 h-full">
    <button
      type="button"
      labButton
      [faIcon]="faAngleLeft"
      rounded="end"
      tabindex="-1"
      aria-hidden="true"
      class="shadow-sm h-full bg-ground-950 shadow-gray-700"
      (click)="scrollNext(scroll, -1)"
    ></button>
  </div>
}
<div
  #scroll
  class="relative inline-flex grow overflow-hidden scroll-smooth"
  (scrollend)="onScrollEnd()"
>
  @for (tab of tabs(); track tab.value) {
    <a
      #tab
      class="gap-2 rounded-t-xs px-3 py-2 flex shrink-0 cursor-pointer items-center overflow-hidden border-b-2 border-gray-600 select-none"
      role="tab"
      labRipple
      [routerLink]="tab.routerLink"
      [queryParams]="resetTableParams"
      routerLinkActive
      queryParamsHandling="merge"
      (isActiveChange)="$event ? value.set(tab.value) : null"
      [class]="
        tab.value === value()
          ? 'text-brand-400 -outline-offset-1 group-focus-visible:outline group-focus-visible:outline-brand-400'
          : 'hover:text-brand-400'
      "
      (click)="select(tab)"
    >
      @if (tab.faIcon) {
        <fa-icon [icon]="tab.faIcon"></fa-icon>
      }
      @if (type(); as type) {
        <lab-icon [type]="type" [value]="tab.icon ?? tab.value"></lab-icon>
      }
      <span class="font-semibold lg:line-clamp-1" [class.hidden]="!!type()">{{
        tab.label | translate
      }}</span>
    </a>
  }
  <span class="grow border-b-2 border-gray-600"></span>
  <div
    class="bottom-0 h-0.5 absolute bg-brand-400 transition-[left,width] duration-300"
    [style]="indicatorStyle()?.()"
  ></div>
</div>
@if (
  scroll.scrollWidth > scroll.clientWidth + 4 &&
  scroll.scrollLeft <= scroll.scrollWidth - scroll.clientWidth - 2
) {
  <div class="right-0 absolute z-1 h-full">
    <button
      type="button"
      labButton
      [faIcon]="faAngleRight"
      tabindex="-1"
      aria-hidden="true"
      rounded="start"
      class="shadow-sm h-full bg-ground-950 shadow-gray-700"
      (click)="scrollNext(scroll, 1)"
    ></button>
  </div>
}
