<lab-products
  [data]="data$ | async"
  [categoryItemRows]="categoryItemRows$ | async"
  [products]="products$ | async"
  [editProductId]="editProductId$ | async"
  [categoryId]="categoryId$ | async"
  (add)="add()"
  (remove)="remove($event)"
  (openEditProduct)="openEditProduct($event)"
  (cancelEditProduct)="cancelEditProduct()"
  (commitEditProduct)="commitEditProduct($event)"
  (editRate)="editRate($event)"
  (editRateType)="editRateType($event)"
  (selectTab)="selectTab($event)"
>
</lab-products>
