<lab-columns-dialog></lab-columns-dialog>
<p-confirmDialog></p-confirmDialog>

<ng-template #dropdownIconSelectedItem pTemplate="selectedItem" let-item>
  <div class="d-flex align-items-center h-100">
    <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
    <div class="ms-3 text-truncate">
      {{ item.label }}
    </div>
  </div>
</ng-template>
<ng-template #dropdownIconItem pTemplate="item" let-item>
  <div class="d-flex align-items-center h-100">
    <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
    <div class="ms-3 text-truncate">
      {{ item.label }}
    </div>
  </div>
</ng-template>

<ng-template #dropdownTranslateSelectedItem pTemplate="selectedItem" let-item>
  {{ item.label | translate }}
</ng-template>
<ng-template #dropdownTranslateItem pTemplate="item" let-item>
  {{ item.label | translate }}
</ng-template>
