<div
  class="flex items-center justify-between border-b border-gray-700 p-2 md:min-h-16 md:p-3"
>
  <h2 class="grow text-2xl font-light">{{ 'aside.header' | translate }}</h2>
  <button
    type="button"
    labButton
    [faIcon]="faTrash"
    [border]="false"
    labTooltip="aside.reset"
    [attr.aria-label]="'aside.reset' | translate"
    (click)="reset()"
  ></button>
  <button
    type="button"
    class="xl:inline-flex"
    labButton
    [faIcon]="faXmark"
    [hide]="true"
    [border]="false"
    [attr.aria-label]="'aside.hide' | translate"
    (click)="xlHidden.set(true)"
  ></button>
  <button
    type="button"
    class="xl:hidden"
    labButton
    [faIcon]="faXmark"
    [border]="false"
    [attr.aria-label]="'aside.hide' | translate"
    (click)="open.set(false)"
  ></button>
</div>

<lab-accordion class="overflow-y-auto" [multi]="true">
  <lab-accordion-item text="aside.savedStates" [note]="state()">
    @if (windowClient.isStandalone) {
      <div class="flex">
        <input
          #paramsInput
          [ngModel]="params()"
          type="text"
          class="input square rounded-s-xs"
          [placeholder]="'aside.queryParamsPlaceholder' | translate"
        />
        <button
          type="button"
          labButton
          rounded="none"
          class="-ms-px"
          [faIcon]="faArrowUpRightFromSquare"
          labTooltip="aside.applyQueryParams"
          [attr.aria-label]="'aside.applyQueryParams' | translate"
          (click)="setParams(paramsInput.value)"
        ></button>
        <button
          type="button"
          labButton
          rounded="end"
          class="-ms-px"
          [faIcon]="faCopy"
          labTooltip="aside.copyQueryParams"
          [attr.aria-label]="'aside.copyQueryParams' | translate"
          (click)="windowClient.copyToClipboard(paramsInput.value)"
        ></button>
      </div>
    }

    <div class="flex">
      @if (editStatus()) {
        <input
          type="text"
          class="input"
          [placeholder]="'aside.nameSavedState' | translate"
          required
          [(ngModel)]="editValue"
          (keydown.enter)="saveState()"
        />
        <button
          type="button"
          labButton
          rounded="none"
          class="-ms-px"
          [faIcon]="faFloppyDisk"
          labTooltip="aside.saveState"
          [attr.aria-label]="'aside.saveState' | translate"
          (click)="saveState()"
        ></button>
        <button
          type="button"
          labButton
          rounded="end"
          class="-ms-px"
          [faIcon]="faXmark"
          labTooltip="cancel"
          [attr.aria-label]="'cancel' | translate"
          (click)="editStatus.set(null)"
        ></button>
      } @else if (settingsStore.stateOptions().length) {
        <lab-select
          rounded="start"
          [options]="settingsStore.stateOptions()"
          placeholder="aside.selectSavedState"
          labTooltip="aside.selectSavedState"
          [ngModel]="state()"
          (ngModelChange)="setState($event)"
        ></lab-select>
        @if (state(); as state) {
          <button
            type="button"
            class="-ms-px"
            labButton
            rounded="end"
            [faIcon]="faEllipsisVertical"
            [attr.aria-label]="'aside.savedStateMenuLabel' | translate"
            [cdkMenuTriggerFor]="editStateMenu"
          ></button>
          <ng-template #editStateMenu>
            <div
              class="flex flex-col rounded-xs border border-gray-700 bg-gray-950 py-1"
              cdkMenu
            >
              <button
                type="button"
                labButton
                cdkMenuItem
                [border]="false"
                [faIcon]="faPlus"
                text="aside.createSavedState"
                textAlign="left"
                (click)="createState()"
              ></button>
              <button
                type="button"
                labButton
                cdkMenuItem
                [border]="false"
                [faIcon]="faPencil"
                text="aside.editSavedState"
                textAlign="left"
                (click)="editState(state)"
              ></button>
              <button
                type="button"
                labButton
                cdkMenuItem
                [border]="false"
                [faIcon]="faTrash"
                text="aside.deleteSavedState"
                textAlign="left"
                (click)="deleteState(state)"
              ></button>
            </div>
          </ng-template>
        } @else {
          <button
            type="button"
            class="-ms-px"
            labButton
            rounded="end"
            [faIcon]="faPlus"
            labTooltip="aside.createSavedState"
            [attr.aria-label]="'aside.createSavedState' | translate"
            (click)="createState()"
          ></button>
        }
      } @else {
        <button
          type="button"
          labButton
          class="w-full"
          [faIcon]="faPlus"
          text="aside.createSavedState"
          (click)="createState()"
        ></button>
      }
    </div>
  </lab-accordion-item>
  <lab-accordion-item text="game" [note]="settingsStore.modId()">
    <lab-form-field label="game">
      <lab-select
        [options]="gameOptions"
        labTooltip="aside.gameTooltip"
        labTooltipPosition="adjacent"
        [ngModel]="data().game"
        (ngModelChange)="setGame($event)"
      ></lab-select>
    </lab-form-field>

    @if (data().flags.has('mods') && settingsStore.modId(); as modId) {
      <lab-form-field label="modSet">
        <a
          action
          class="link text-sm"
          href="https://github.com/factoriolab/factoriolab/issues/new?assignees=&labels=mod+support&template=mod-request.md&title="
          target="_blank"
          >{{ 'aside.requestMod' | translate }}</a
        >
        <div class="flex">
          <lab-select
            [options]="settingsStore.modOptions()"
            [filter]="true"
            rounded="start"
            labTooltip="modSetTooltip"
            [ngModel]="modId"
            (ngModelChange)="setMod($event)"
          ></lab-select>
          <button
            type="button"
            class="-ms-px"
            labButton
            rounded="end"
            [faIcon]="faInfo"
            labTooltip="aside.modVersions"
            [attr.aria-label]="'aside.modVersions' | translate"
            (click)="openVersions()"
          ></button>
        </div>
      </lab-form-field>
    }

    <button
      type="button"
      labButton
      [faIcon]="faMicrochip"
      [text]="
        settingsStore.researchedTechnologyIds()
          ? 'aside.techsResearched'
          : 'aside.allTechsResearched'
      "
      [interpolateParams]="{ count: settings().researchedTechnologyIds.size }"
      labTooltip="aside.techsTooltip"
      labTooltipPosition="adjacent"
      (click)="openTechnologies()"
    ></button>

    <button
      type="button"
      labButton
      [faIcon]="faFlaskVial"
      text="aside.recipesExcluded"
      [interpolateParams]="{ count: settings().excludedRecipeIds.size }"
      labTooltip="aside.recipesTooltip"
      labTooltipPosition="adjacent"
      (click)="picker.pickExcludedRecipes()"
    ></button>

    <button
      type="button"
      labButton
      [faIcon]="faBoxesStacked"
      text="aside.itemsExcluded"
      [interpolateParams]="{ count: settings().excludedItemIds.size }"
      labTooltip="aside.itemsTooltip"
      labTooltipPosition="adjacent"
      (click)="picker.pickExcludedItems()"
    ></button>
  </lab-accordion-item>
  <lab-accordion-item
    text="aside.factory"
    [note]="(settings().preset | option: settingsStore.presetOptions())?.label"
    [expanded]="true"
  >
    <lab-form-field label="aside.preset">
      <lab-select
        [options]="settingsStore.presetOptions()"
        labTooltip="aside.presetTooltip"
        labTooltipPosition="adjacent"
        [ngModel]="settings().preset"
        (ngModelChange)="settingsStore.apply({ preset: $event })"
      ></lab-select>
    </lab-form-field>

    @if (options().locations.length > 1) {
      <lab-form-field label="aside.locations">
        <lab-select
          #locationSelect
          [options]="options().locations"
          labTooltip="aside.locationsTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().locationIds"
          (ngModelChange)="
            settingsStore.updateField(
              'locationIds',
              $event,
              settings().defaultLocationIds
            )
          "
        >
          <div class="flex grow">
            @for (locationId of settings().locationIds; track $index) {
              <lab-icon [value]="locationId" type="location"></lab-icon>
            }
          </div>
          <fa-icon
            class="text-gray-500 transition-transform"
            [class.-scale-y-100]="locationSelect.opened()"
            [icon]="faChevronDown"
          ></fa-icon>
        </lab-select>
      </lab-form-field>
    }

    @if (options().modules.length) {
      <lab-form-field label="aside.modifierRank">
        <lab-rank-select
          placeholder="aside.modifierRankEmpty"
          labTooltip="aside.modifierRankTooltip"
          labTooltipPosition="adjacent"
          [options]="options().modules"
          [ngModel]="settings().moduleRankIds"
          (ngModelChange)="
            settingsStore.updateField(
              'moduleRankIds',
              $event,
              settings().defaultModuleRankIds
            )
          "
        >
        </lab-rank-select>
      </lab-form-field>
    }

    @if (options().fuels.length) {
      <lab-form-field label="aside.fuelRank">
        <lab-rank-select
          placeholder="aside.fuelRankEmpty"
          labTooltip="aside.fuelRankTooltip"
          labTooltipPosition="adjacent"
          [options]="options().fuels"
          [ngModel]="settings().fuelRankIds"
          (ngModelChange)="
            settingsStore.updateField(
              'fuelRankIds',
              $event,
              settings().defaultFuelRankIds
            )
          "
        >
        </lab-rank-select>
      </lab-form-field>
    }
  </lab-accordion-item>
</lab-accordion>

<input
  type="range"
  min="0"
  max="360"
  class="accent-brand-500"
  [ngModel]="preferencesStore.hue()"
  (ngModelChange)="preferencesStore.apply({ hue: $event })"
/>
