<div
  class="flex items-center justify-between border-b border-gray-700 p-2 md:min-h-16 md:p-3"
>
  <h2 class="grow text-2xl font-light">{{ 'aside.header' | translate }}</h2>
  <button
    type="button"
    labButton
    [faIcon]="faTrash"
    [border]="false"
    labTooltip="aside.reset"
    [attr.aria-label]="'aside.reset' | translate"
    (click)="reset()"
  ></button>
  <button
    type="button"
    class="xl:inline-flex"
    labButton
    [faIcon]="faXmark"
    [hide]="true"
    [border]="false"
    [attr.aria-label]="'aside.hide' | translate"
    (click)="xlHidden.set(true)"
  ></button>
  <button
    type="button"
    class="xl:hidden"
    labButton
    [faIcon]="faXmark"
    [border]="false"
    [attr.aria-label]="'aside.hide' | translate"
    (click)="open.set(false)"
  ></button>
</div>

<lab-accordion class="overflow-y-auto" [multi]="true">
  <lab-accordion-item text="aside.savedStates" [note]="state()">
    @if (windowClient.isStandalone) {
      <div class="flex">
        <input
          #paramsInput
          [ngModel]="params()"
          type="text"
          class="input square rounded-s-xs"
          [placeholder]="'aside.queryParamsPlaceholder' | translate"
        />
        <button
          type="button"
          labButton
          rounded="none"
          class="-ms-px"
          [faIcon]="faArrowUpRightFromSquare"
          labTooltip="aside.applyQueryParams"
          [attr.aria-label]="'aside.applyQueryParams' | translate"
          (click)="setParams(paramsInput.value)"
        ></button>
        <button
          type="button"
          labButton
          rounded="end"
          class="-ms-px"
          [faIcon]="faCopy"
          labTooltip="aside.copyQueryParams"
          [attr.aria-label]="'aside.copyQueryParams' | translate"
          (click)="windowClient.copyToClipboard(paramsInput.value)"
        ></button>
      </div>
    }

    <div class="flex">
      @if (editStatus()) {
        <input
          type="text"
          class="input"
          [placeholder]="'aside.nameSavedState' | translate"
          required
          [(ngModel)]="editValue"
          (keydown.enter)="saveState()"
        />
        <button
          type="button"
          labButton
          rounded="none"
          class="-ms-px"
          [faIcon]="faFloppyDisk"
          labTooltip="aside.saveState"
          [attr.aria-label]="'aside.saveState' | translate"
          (click)="saveState()"
        ></button>
        <button
          type="button"
          labButton
          rounded="end"
          class="-ms-px"
          [faIcon]="faXmark"
          labTooltip="cancel"
          [attr.aria-label]="'cancel' | translate"
          (click)="editStatus.set(null)"
        ></button>
      } @else if (settingsStore.stateOptions().length) {
        <lab-select
          rounded="start"
          [options]="settingsStore.stateOptions()"
          placeholder="aside.selectSavedState"
          labTooltip="aside.selectSavedState"
          [ngModel]="state()"
          (ngModelChange)="setState($event)"
        ></lab-select>
        @if (state(); as state) {
          <button
            type="button"
            class="-ms-px"
            labButton
            rounded="end"
            [faIcon]="faEllipsisVertical"
            [attr.aria-label]="'aside.savedStateMenuLabel' | translate"
            [cdkMenuTriggerFor]="editStateMenu"
          ></button>
          <ng-template #editStateMenu>
            <div
              class="flex flex-col rounded-xs border border-gray-700 bg-gray-950 py-1"
              cdkMenu
            >
              <button
                type="button"
                labButton
                cdkMenuItem
                [border]="false"
                [faIcon]="faPlus"
                text="aside.createSavedState"
                textAlign="left"
                (click)="createState()"
              ></button>
              <button
                type="button"
                labButton
                cdkMenuItem
                [border]="false"
                [faIcon]="faPencil"
                text="aside.editSavedState"
                textAlign="left"
                (click)="editState(state)"
              ></button>
              <button
                type="button"
                labButton
                cdkMenuItem
                [border]="false"
                [faIcon]="faTrash"
                text="aside.deleteSavedState"
                textAlign="left"
                (click)="deleteState(state)"
              ></button>
            </div>
          </ng-template>
        } @else {
          <button
            type="button"
            class="-ms-px"
            labButton
            rounded="end"
            [faIcon]="faPlus"
            labTooltip="aside.createSavedState"
            [attr.aria-label]="'aside.createSavedState' | translate"
            (click)="createState()"
          ></button>
        }
      } @else {
        <button
          type="button"
          labButton
          class="w-full"
          [faIcon]="faPlus"
          text="aside.createSavedState"
          (click)="createState()"
        ></button>
      }
    </div>
  </lab-accordion-item>
  <lab-accordion-item text="game" [note]="settingsStore.modId()">
    <lab-form-field label="game">
      <lab-select
        [options]="gameOptions"
        labTooltip="aside.gameTooltip"
        labTooltipPosition="adjacent"
        [ngModel]="data().game"
        (ngModelChange)="setGame($event)"
      ></lab-select>
    </lab-form-field>

    @if (data().flags.has('mods') && settingsStore.modId(); as modId) {
      <lab-form-field label="modSet">
        <a
          action
          class="link text-sm"
          href="https://github.com/factoriolab/factoriolab/issues/new?assignees=&labels=mod+support&template=mod-request.md&title="
          target="_blank"
          >{{ 'aside.requestMod' | translate }}</a
        >
        <div class="flex">
          <lab-select
            [options]="settingsStore.modOptions()"
            rounded="start"
            labTooltip="modSetTooltip"
            [ngModel]="modId"
            (ngModelChange)="setMod($event)"
          ></lab-select>
          <button
            type="button"
            class="-ms-px"
            labButton
            rounded="end"
            [faIcon]="faInfo"
            labTooltip="aside.modVersions"
            [attr.aria-label]="'aside.modVersions' | translate"
            (click)="openVersions()"
          ></button>
        </div>
      </lab-form-field>
    }

    <button
      type="button"
      labButton
      [faIcon]="faMicrochip"
      [text]="
        settingsStore.researchedTechnologyIds()
          ? 'aside.techsResearched'
          : 'aside.allTechsResearched'
      "
      [interpolateParams]="{ count: settings().researchedTechnologyIds.size }"
      labTooltip="aside.techsTooltip"
      labTooltipPosition="adjacent"
      (click)="openTechnologies()"
    ></button>

    <button
      type="button"
      labButton
      [faIcon]="faFlaskVial"
      text="aside.recipesExcluded"
      [interpolateParams]="{ count: settings().excludedRecipeIds.size }"
      labTooltip="aside.recipesTooltip"
      labTooltipPosition="adjacent"
      (click)="picker.pickExcludedRecipes()"
    ></button>

    <button
      type="button"
      labButton
      [faIcon]="faBoxesStacked"
      text="aside.itemsExcluded"
      [interpolateParams]="{ count: settings().excludedItemIds.size }"
      labTooltip="aside.itemsTooltip"
      labTooltipPosition="adjacent"
      (click)="picker.pickExcludedItems()"
    ></button>
  </lab-accordion-item>
  <lab-accordion-item
    text="aside.factory"
    [note]="(settings().preset | option: settingsStore.presetOptions())?.label"
    [expanded]="true"
  >
    <lab-form-field label="aside.preset">
      <lab-select
        [options]="settingsStore.presetOptions()"
        labTooltip="aside.presetTooltip"
        labTooltipPosition="adjacent"
        [ngModel]="settings().preset"
        (ngModelChange)="settingsStore.apply({ preset: $event })"
      ></lab-select>
    </lab-form-field>

    @if (options().locations.length > 1) {
      <lab-form-field label="aside.locations">
        <lab-select
          #locationSelect
          [options]="options().locations"
          labTooltip="aside.locationsTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().locationIds"
          (ngModelChange)="
            settingsStore.updateField(
              'locationIds',
              $event,
              settings().defaultLocationIds
            )
          "
        >
          <div class="flex grow">
            @for (locationId of settings().locationIds; track $index) {
              <lab-icon [value]="locationId" type="location"></lab-icon>
            }
          </div>
          <fa-icon
            class="text-gray-500 transition-transform"
            [class.-scale-y-100]="locationSelect.opened()"
            [icon]="faChevronDown"
          ></fa-icon>
        </lab-select>
      </lab-form-field>
    }

    @if (options().modules.length) {
      <lab-form-field label="aside.modifierRank">
        <lab-rank-select
          placeholder="aside.modifierRankEmpty"
          labTooltip="aside.modifierRankTooltip"
          labTooltipPosition="adjacent"
          [options]="options().modules"
          [ngModel]="settings().moduleRankIds"
          (ngModelChange)="
            settingsStore.updateField(
              'moduleRankIds',
              $event,
              settings().defaultModuleRankIds
            )
          "
        >
        </lab-rank-select>
      </lab-form-field>
    }

    @if (options().fuels.length) {
      <lab-form-field label="aside.fuelRank">
        <lab-rank-select
          placeholder="aside.fuelRankEmpty"
          labTooltip="aside.fuelRankTooltip"
          labTooltipPosition="adjacent"
          [options]="options().fuels"
          [ngModel]="settings().fuelRankIds"
          (ngModelChange)="
            settingsStore.updateField(
              'fuelRankIds',
              $event,
              settings().defaultFuelRankIds
            )
          "
        >
        </lab-rank-select>
      </lab-form-field>
    }

    @if (!data().flags.has('hideMachineSettings')) {
      <div>
        <div class="mx-1 text-sm text-gray-300">
          {{ 'aside.machineRank' | translate }}
        </div>
        <div class="flex">
          <span
            class="flex size-9 items-center justify-center rounded-s-xs border border-gray-700"
          >
            <fa-icon [icon]="faIndustry"></fa-icon>
          </span>

          <lab-select
            class="-ms-px"
            placeholder="Add machine"
            [rounded]="
              data().flags.has('overclock') || data().flags.has('beacons')
                ? 'none'
                : 'end'
            "
            [options]="
              options().machines | filterOptions: settings().machineRankIds
            "
            [ngModel]="null"
            (ngModelChange)="addMachine($event)"
          ></lab-select>

          @if (data().flags.has('overclock')) {
            <lab-input-number
              class="-ms-px w-16"
              [rounded]="data().flags.has('beacons') ? 'none' : 'end'"
              [minimum]="rational.one"
              [maximum]="rational(250)"
              [step]="rational(10)"
              [percent]="true"
              [ngModel]="settings().overclock"
              (ngModelChange)="settingsStore.apply({ overclock: $event })"
            >
            </lab-input-number>
          }

          @if (data().flags.has('beacons')) {
            <lab-beacons-select
              class="-ms-px"
              rounded="end"
              [ngModel]="settings().beacons"
              (ngModelChange)="settingsStore.apply({ beacons: $event })"
            ></lab-beacons-select>
          }
        </div>
      </div>
      <div
        class="flex flex-col gap-2"
        cdkDropList
        (cdkDropListDropped)="dropMachine($event)"
      >
        @for (machineId of settings().machineRankIds; track machineId) {
          @if (machinesStore.settings()[machineId]; as ms) {
            @if (data().machineRecord[machineId]; as machine) {
              <div
                cdkDrag
                cdkDragLockAxis="y"
                cdkDragBoundary=".flex-col"
                class="flex"
              >
                <div class="flex items-center bg-gray-950">
                  <div
                    cdkDragHandle
                    class="flex size-9 cursor-grab items-center justify-center rounded-s-xs border border-gray-700"
                  >
                    <fa-icon [icon]="faGrip"></fa-icon>
                  </div>

                  <lab-select
                    class="-ms-px"
                    [iconOnly]="true"
                    rounded="none"
                    [options]="
                      options().machines
                        | filterOptions: settings().machineRankIds : machineId
                    "
                    [labTooltip]="machineId"
                    labTooltipType="machine"
                    labTooltipAction="aside.machineTooltip"
                    [ngModel]="machineId"
                    (ngModelChange)="changeMachine($index, $event)"
                  ></lab-select>

                  @if (ms.fuelId && ms.fuelOptions) {
                    <lab-select
                      class="-ms-px"
                      [iconOnly]="true"
                      rounded="none"
                      [options]="ms.fuelOptions"
                      [labTooltip]="ms.fuelId"
                      labTooltipType="fuel"
                      [ngModel]="ms.fuelId"
                      (ngModelChange)="
                        machinesStore.updateRecordField(
                          machineId,
                          'fuelId',
                          $event,
                          ms.defaultFuelId
                        )
                      "
                    >
                    </lab-select>
                  }

                  @if (ms.modules && ms.moduleOptions && machine.modules) {
                    @if (machine.modules !== true && machine.modules.isOne()) {
                      <lab-select
                        class="-ms-px"
                        [iconOnly]="true"
                        rounded="none"
                        [options]="ms.moduleOptions"
                        [labTooltip]="
                          ms.modules[0].id || 'aside.modifierTooltip'
                        "
                        [labTooltipType]="
                          ms.modules[0].id ? 'module' : undefined
                        "
                        [labTooltipAction]="
                          ms.modules[0].id ? 'aside.modifierTooltip' : undefined
                        "
                        [ngModel]="ms.modules[0].id"
                        (ngModelChange)="
                          changeModules(machineId, [
                            { id: $event, count: rational.one },
                          ])
                        "
                      ></lab-select>
                    } @else if (machine.modules != null) {
                      <lab-modules-select
                        class="-ms-px"
                        [machine]="machine"
                        rounded="none"
                        [ngModel]="ms.modules"
                        (ngModelChange)="changeModules(machineId, $event)"
                      ></lab-modules-select>
                    }
                  }

                  @if (data().flags.has('overclock')) {
                    <lab-input-number
                      class="-ms-px w-16"
                      rounded="none"
                      [minimum]="rational.one"
                      [maximum]="rational(250)"
                      [step]="rational(10)"
                      [percent]="true"
                      [ngModel]="ms.overclock"
                      (ngModelChange)="
                        machinesStore.updateRecordField(
                          machineId,
                          'overclock',
                          $event,
                          ms.defaultOverclock
                        )
                      "
                    ></lab-input-number>
                  }

                  @if (ms.beacons && ms.beacons.length) {
                    <lab-beacons-select
                      class="-ms-px"
                      rounded="none"
                      [ngModel]="ms.beacons"
                      (ngModelChange)="changeBeacons(machineId, $event)"
                    ></lab-beacons-select>
                  }
                </div>

                <span class="bg-stripes grow border-y border-gray-700"> </span>

                <button
                  type="button"
                  labButton
                  rounded="end"
                  [faIcon]="faXmark"
                  [attr.aria-label]="
                    'aside.removeMachinePreference' | translate
                  "
                  (click)="removeMachine(machineId)"
                ></button>
              </div>
            }
          }
        }
      </div>
    }

    @if (data().flags.has('beacons')) {
      <div
        class="flex items-center"
        labTooltip="aside.estimateBeaconPowerUsageTooltip"
        labTooltipPosition="adjacent"
      >
        <lab-checkbox
          controlId="estimate-beacons"
          [ngModel]="settings().beaconReceivers != null"
          (ngModelChange)="
            settingsStore.apply({
              beaconReceivers: $event ? rational.one : undefined,
            })
          "
        ></lab-checkbox>
        <label for="estimate-beacons" class="cursor-pointer ps-1 select-none">{{
          'aside.estimateBeaconPowerUsage' | translate
        }}</label>
      </div>
    }

    @if (settings().beaconReceivers; as beaconReceivers) {
      <lab-form-field label="aside.averageBeaconReceivers">
        <lab-input-number
          [buttons]="true"
          [minimum]="rational.one"
          labTooltip="aside.averageBeaconReceiversTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="beaconReceivers"
          (ngModelChange)="settingsStore.apply({ beaconReceivers: $event })"
        ></lab-input-number>
      </lab-form-field>
    }

    @if (data().flags.has('proliferator')) {
      <lab-form-field label="aside.proliferatorSelfSpray">
        <lab-select
          [options]="options().proliferatorModules"
          labTooltip="aside.proliferatorSelfSprayTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().proliferatorSprayId"
          (ngModelChange)="settingsStore.apply({ proliferatorSprayId: $event })"
        ></lab-select>
      </lab-form-field>
    }

    <lab-form-field label="aside.defaultTransportBelt">
      <lab-select
        [options]="options().belts"
        labTooltip="aside.defaultTransportBeltTooltip"
        labTooltipPosition="adjacent"
        [ngModel]="settings().beltId"
        (ngModelChange)="
          settingsStore.updateField('beltId', $event, settings().defaultBeltId)
        "
      ></lab-select>
    </lab-form-field>

    @if (data().flags.has('beltStack')) {
      <lab-form-field label="aside.defaultStack">
        <lab-input-number
          [buttons]="true"
          [minimum]="rational.one"
          labTooltip="aside.defaultStackTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().stack ?? rational.one"
          (ngModelChange)="settingsStore.apply({ stack: $event })"
        ></lab-input-number>
      </lab-form-field>
    }

    @if (options().pipes.length > 1) {
      <lab-form-field label="aside.defaultPipe">
        <lab-select
          [options]="options().pipes"
          labTooltip="aside.defaultPipeTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().pipeId"
          (ngModelChange)="
            settingsStore.updateField(
              'pipeId',
              $event,
              settings().defaultPipeId
            )
          "
        ></lab-select>
      </lab-form-field>
    }

    @if (options().cargoWagons.length > 1) {
      <lab-form-field label="aside.defaultCargoWagon">
        <lab-select
          [options]="options().cargoWagons"
          labTooltip="aside.defaultCargoWagonTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().cargoWagonId"
          (ngModelChange)="
            settingsStore.updateField(
              'cargoWagonId',
              $event,
              settings().defaultCargoWagonId
            )
          "
        ></lab-select>
      </lab-form-field>
    }

    @if (options().fluidWagons.length > 1) {
      <lab-form-field label="aside.defaultFluidWagon">
        <lab-select
          [options]="options().fluidWagons"
          labTooltip="aside.defaultFluidWagonTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().fluidWagonId"
          (ngModelChange)="
            settingsStore.updateField(
              'fluidWagonId',
              $event,
              settings().defaultFluidWagonId
            )
          "
        ></lab-select>
      </lab-form-field>
    }

    @if (data().flags.has('flowRate')) {
      <lab-form-field label="aside.pipeFlowRate">
        <div class="flex items-stretch">
          <lab-input-number
            [minimum]="rational.one"
            [step]="rational(100)"
            rounded="start"
            labTooltip="aside.pipeFlowRateTooltip"
            labTooltipPosition="adjacent"
            [ngModel]="settings().flowRate"
            (ngModelChange)="settingsStore.apply({ flowRate: $event })"
          ></lab-input-number>
          <span
            class="flex items-center rounded-e-xs border border-s-0 border-gray-700 px-2 text-nowrap"
            >{{ 'aside.flowRateUnit' | translate }}</span
          >
        </div>
      </lab-form-field>
    }

    @if (data().flags.has('inserterEstimation')) {
      <lab-form-field label="aside.inserterTarget">
        <lab-select
          [options]="inserterTargetOptions"
          labTooltip="aside.inserterTargetTooltip"
          labTooltipPosition="adjacent"
          [ngModel]="settings().inserterTarget"
          (ngModelChange)="settingsStore.apply({ inserterTarget: $event })"
        ></lab-select>
      </lab-form-field>
    }
  </lab-accordion-item>
</lab-accordion>

<input
  type="range"
  min="0"
  max="360"
  class="accent-brand-500"
  [ngModel]="preferencesStore.hue()"
  (ngModelChange)="preferencesStore.apply({ hue: $event })"
/>
