#lab-flow-svg {
  display: flex;
  overflow: auto;
}

:host ::ng-deep {
  text {
    fill: var(--text-color);
    font-family: var(--font-family);
    transform: translateY(5px);

    textPath {
      pointer-events: none;
      text-shadow:
        -1px -1px 0 var(--shadow-color),
        1px -1px 0 var(--shadow-color),
        -1px 1px 0 var(--shadow-color),
        1px 1px 0 var(--shadow-color);
    }
  }

  rect {
    &:hover {
      stroke: var(--primary-color);
      cursor: pointer;
    }
  }
}
