@if (loading()) {
  <div class="d-flex justify-content-center align-items-center mt-5">
    <p-progressSpinner></p-progressSpinner>
  </div>
}
@if (flowSvc.flowData$ | async; as flowData) {
  <div class="d-flex gap-2 py-2">
    <button
      pButton
      pRipple
      type="button"
      class="p-button-outlined"
      icon="fa-solid fa-gear"
      [label]="'flow.flowSettings' | translate"
      (click)="flowSettingsDlg.open(flowSettings())"
    ></button>
    @if (cy) {
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined"
        icon="fa-solid fa-file-image"
        [label]="'flow.downloadAsPng' | translate"
        (click)="saveCytoscapePng(cy)"
      ></button>
    }
    @if (flowData.nodes.length) {
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined"
        icon="fa-solid fa-file-code"
        [label]="'flow.downloadAsJson' | translate"
        (click)="exportSvc.flowToJson(flowData)"
      ></button>
    }
  </div>
}
<div [class.invisible]="loading()" id="lab-flow-svg" #svg></div>
<lab-steps [focus]="true" [selectedId]="selectedId()"></lab-steps>
<lab-flow-settings #flowSettingsDlg></lab-flow-settings>
