#lab-flow-svg {
  overflow: auto;
}

:host ::ng-deep {
  #lab-flow-svg > * {
    min-height: 75vh;
  }

  text {
    transform: translateY(5px);
    font-family: var(--font-family);
    fill: var(--text-color);

    textPath {
      text-shadow:
        -1px -1px 0 var(--shadow-color),
        1px -1px 0 var(--shadow-color),
        -1px 1px 0 var(--shadow-color),
        1px 1px 0 var(--shadow-color);
      pointer-events: none;
    }
  }

  rect {
    &:hover {
      stroke: var(--primary-color);
      cursor: pointer;
    }
  }
}
