<lab-settings
  [data]="data$ | async"
  [settings]="settings$ | async"
  (setDisplayRate)="setDisplayRate($event)"
  (setItemPrecision)="setItemPrecision($event)"
  (setBeltPrecision)="setBeltPrecision($event)"
  (setFactoryPrecision)="setFactoryPrecision($event)"
  (setBelt)="setBelt($event)"
  (setFuel)="setFuel($event)"
  (disableRecipe)="disableRecipe($event)"
  (enableRecipe)="enableRecipe($event)"
  (setFactoryRank)="setFactoryRank($event)"
  (setModuleRank)="setModuleRank($event)"
  (setBeaconModule)="setBeaconModule($event)"
  (setBeaconCount)="setBeaconCount($event)"
  (setDrillModule)="setDrillModule($event)"
  (setMiningBonus)="setMiningBonus($event)"
  (setResearchSpeed)="setResearchSpeed($event)"
  (setFlowRate)="setFlowRate($event)"
  (setExpensive)="setExpensive($event)"
  (setTheme)="setTheme($event)"
>
</lab-settings>
