<lab-settings
  [data]="data$ | async"
  [base]="base$ | async"
  [mods]="mods$ | async"
  [settings]="settings$ | async"
  (setPreset)="setPreset($event)"
  (setBase)="setBase($event)"
  (enableMod)="enableMod($event)"
  (disableMod)="disableMod($event)"
  (disableRecipe)="disableRecipe($event)"
  (enableRecipe)="enableRecipe($event)"
  (setExpensive)="setExpensive($event)"
  (preferFactory)="preferFactory($event)"
  (dropFactory)="dropFactory($event)"
  (preferModule)="preferModule($event)"
  (dropModule)="dropModule($event)"
  (setDrillModule)="setDrillModule($event)"
  (setBeacon)="setBeacon($event)"
  (setBeaconModule)="setBeaconModule($event)"
  (setBeaconCount)="setBeaconCount($event)"
  (setBelt)="setBelt($event)"
  (setFuel)="setFuel($event)"
  (setFlowRate)="setFlowRate($event)"
  (setDisplayRate)="setDisplayRate($event)"
  (setItemPrecision)="setItemPrecision($event)"
  (setBeltPrecision)="setBeltPrecision($event)"
  (setWagonPrecision)="setWagonPrecision($event)"
  (setFactoryPrecision)="setFactoryPrecision($event)"
  (setPowerPrecision)="setPowerPrecision($event)"
  (setPollutionPrecision)="setPollutionPrecision($event)"
  (setMiningBonus)="setMiningBonus($event)"
  (setResearchSpeed)="setResearchSpeed($event)"
  (setTheme)="setTheme($event)"
  (resetSettings)="resetSettings()"
>
</lab-settings>
