<div class="flex tween dialog-title">
  <span class="header">Select Recipes</span>
  <i
    *ngIf="edited"
    class="clickable material-icons"
    title="Cancel changes"
    (click)="cancel.emit()"
    >close</i
  >
</div>
<div #scrollContainer class="flex">
  <lab-icon
    *ngFor="let id of complexRecipes"
    class="clickable"
    [class.ignored]="editValue.indexOf(id) !== -1"
    [data]="data"
    [iconId]="id"
    [scrollTop]="scrollContainer.scrollTop"
    [tooltip]="data.recipeEntities[id].name"
    [recipe]="data.recipeEntities[id]"
    (click)="clickId(id, $event)"
  ></lab-icon>
</div>
