:host {
  position: absolute;
  background-color: var(--color-gray-2);
  border: 1px solid var(--color-brand);
  border-radius: 0.25rem;
  z-index: 10;
  margin: -1px;
  max-width: 25rem;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.scroll {
  flex-wrap: wrap;
  overflow-y: auto;
}

.info {
  font-size: x-small;
  margin-bottom: 0.5rem;
}

.warn {
  color: var(--color-brand);
}

.buttons {
  margin-bottom: 0.25rem;

  * + * {
    margin-left: 0.5rem;
  }
}

lab-icon {
  position: static;
}
