:host {
  position: absolute;
  background-color: var(--color-gray-2);
  border: 1px solid var(--color-brand);
  border-radius: 0.25rem;
  z-index: 10;
  margin: -1px;
  width: 16rem;

  > * + * {
    margin-top: 0.5rem;
  }
}

.header {
  padding: 0.5rem 0.5rem 0;
}

.flex {
  flex-wrap: wrap;
  padding: 0 1px 0.5rem;
}
