<button [title]="title" (click)="clickOpen()">
  <span class="text"
    >{{ selected.length }} Recipe{{ selected.length === 1 ? '' : 's' }}</span
  >
</button>
<lab-dialog *ngIf="open" [style.width.rem]="width" (closeDialog)="close()">
  <div class="dialog-title">
    <div class="header">Select Recipes</div>
    <button (click)="cancel($event)">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div #scrollContainer class="panel scroll">
    <div class="flex buttons">
      <button
        [disabled]="!editValue.length"
        (click)="edited = true; editValue = []"
      >
        <span class="text">Enable All</span>
      </button>
      <button
        [disabled]="editValue.length === data.complexRecipeIds.length"
        (click)="edited = true; editValue = data.complexRecipeIds"
      >
        <span class="text">Disable All</span>
      </button>
    </div>
    <div class="flex panel dark tile">
      <lab-icon
        *ngFor="let id of data.complexRecipeIds"
        class="button grid"
        [class.ignored]="editValue.indexOf(id) !== -1"
        [data]="data"
        [iconId]="id"
        [scrollTop]="scrollContainer.scrollTop"
        [tooltip]="data.recipeEntities[id].name"
        [recipe]="data.recipeEntities[id]"
        (click)="clickId(id, $event)"
      ></lab-icon>
    </div>
  </div>
  <div class="dialog-buttons">
    <button (click)="cancel($event)"><span class="text">Cancel</span></button>
    <button class="green" (click)="close()">Confirm</button>
  </div>
</lab-dialog>
