<p-overlayPanel appendTo="body" (onHide)="onHide()">
  <div class="d-flex flex-column gap-2">
    @for (entry of values(); let i = $index; track i) {
      <div class="p-inputgroup">
        <lab-input-number
          width="3rem"
          [pTooltip]="'beaconsOverlay.eachTooltip' | translate"
          tooltipPosition="top"
          [value]="entry.count.toString()"
          (setValue)="setCount($event, i)"
        >
        </lab-input-number>
        @if (entry.total) {
          <lab-input-number
            width="3rem"
            [pTooltip]="'beaconsOverlay.totalTooltip' | translate"
            tooltipPosition="top"
            [value]="entry.total.toString()"
            (setValue)="setTotal($event, i)"
          >
          </lab-input-number>
        }
        <p-dropdown
          labDropdownBase="icon"
          [ngModel]="entry.id"
          [options]="options().beacons"
          (onChange)="setId($event, i)"
        >
          <ng-template pTemplate="selectedItem" let-item>
            <div class="d-flex">
              <i [class]="item.value | iconSmClass"></i>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            <div
              class="d-flex align-items-center py-2 w-100 h-100"
              [pTooltip]="tooltip"
            >
              <i [class]="item.value | iconSmClass"></i>
              <div class="ms-3 text-truncate">
                {{ item.label }}
              </div>
              <ng-template #tooltip>
                <lab-tooltip [id]="item.value" type="beacon"></lab-tooltip>
              </ng-template>
            </div>
          </ng-template>
        </p-dropdown>
        <button
          pButton
          pRipple
          type="button"
          class="hover-action icons p-button-outlined"
          (click)="
            modulesOverlay.show(
              $event,
              entry.modules,
              data().beaconEntities[entry.id],
              recipeId()
            )
          "
        >
          @for (module of entry.modules; track module) {
            <i class="p-button-icon" [class]="module.id | iconSmClass"
              ><span>{{ module.count }}</span></i
            >
          }
          <i class="hover-icon fa-solid fa-gear"></i>
        </button>
        <lab-modules-overlay
          #modulesOverlay
          (setValue)="setModules($event, i)"
        ></lab-modules-overlay>
        <button
          pButton
          pRipple
          type="button"
          icon="fa-solid fa-times"
          class="p-button-outlined"
          (click)="removeEntry(i)"
        ></button>
      </div>
    }
    <div class="d-flex">
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-plus"
        class="p-button-outlined p-button-sm flex-grow-1"
        [label]="'beaconsOverlay.addBeacons' | translate"
        (click)="addEntry()"
      ></button>
    </div>
    <div class="d-flex gap-2">
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-check"
        class="p-button-outlined p-button-sm p-button-success flex-grow-1"
        [label]="'ok' | translate"
        (click)="hide()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-xmark"
        class="p-button-outlined p-button-sm p-button-danger flex-grow-1"
        [label]="'cancel' | translate"
        (click)="hide(true)"
      ></button>
    </div>
  </div>
</p-overlayPanel>
