<p-overlayPanel appendTo="body" (onHide)="onHide()">
  @for (entry of values(); let i = $index; track i) {
    <div class="p-inputgroup">
      <lab-input-number
        width="3rem"
        [value]="entry.count"
        (setValue)="setCount($event, i)"
      >
      </lab-input-number>
      @if (options().beacons.length > 1) {
        <p-dropdown
          labDropdownBase="icon"
          [ngModel]="entry.id"
          [options]="options().beacons"
          (onChange)="setId($event, i)"
        >
          <ng-template pTemplate="selectedItem" let-item>
            <div class="d-flex">
              <i [class]="item.value | iconSmClass"></i>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            <div
              class="d-flex align-items-center py-2 w-100 h-100"
              [pTooltip]="tooltip"
            >
              <i [class]="item.value | iconSmClass"></i>
              <div class="ms-3 text-truncate">
                {{ item.label }}
              </div>
              <ng-template #tooltip>
                <lab-tooltip [id]="item.value" type="beacon"></lab-tooltip>
              </ng-template>
            </div>
          </ng-template>
        </p-dropdown>
      } @else {
        <span class="p-inputgroup-addon">
          <i [class]="entry.id | iconSmClass"></i>
        </span>
      }
      <button
        pButton
        pRipple
        type="button"
        class="hover-action icons p-button-text"
        (click)="
          modulesOverlay.show(
            $event,
            entry.modules,
            data().beaconEntities[entry.id],
            recipeId()
          )
        "
      >
        @for (module of entry.modules; track module) {
          <i class="p-button-icon" [class]="module.id | iconSmClass"
            ><span>{{ module.count }}</span></i
          >
        }
        <i class="hover-icon fa-solid fa-gear"></i>
      </button>
      <lab-modules-overlay
        #modulesOverlay
        (setValue)="setModules($event, i)"
      ></lab-modules-overlay>
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-times"
        class="p-button-outlined"
        (click)="removeEntry(i)"
      ></button>
    </div>
  }
  <button
    pButton
    pRipple
    type="button"
    class="mt-2 p-button-outlined p-button-sm w-100"
    [label]="'beaconsOverlay.addBeacons' | translate"
    (click)="addEntry()"
  ></button>
</p-overlayPanel>
