:host {
  display: flex;

  > button {
    flex-grow: 1;
  }

  > lab-dialog {
    max-width: 25.5rem;
    max-height: 24.5rem;

    display: flex;
    flex-direction: column;
  }
}

.scroll {
  overflow-y: auto;
  padding-bottom: 0;
}

.tile {
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}

.buttons {
  margin-bottom: 0.5rem;

  * + * {
    margin-left: 0.5rem;
  }
}

lab-icon {
  position: static;
}
