:host {
  display: flex;
}

lab-dialog {
  margin-top: 2.25rem;
  padding: 0;
  display: flex;
  flex-direction: column;

  button {
    font-weight: normal;
    filter: none;
  }

  button:not(:hover):not(.active) {
    background-color: var(--color-dark);
    color: var(--color-white);
    box-shadow: var(--shadow-tip);
  }
}

button {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  &.active:not(:hover) {
    background: var(--color-brand-alt);
    box-shadow: var(--shadow-active);
  }
}
