:host {
  position: relative;
}

.dialog {
  margin-top: 2.25rem;
  padding: 0;
  display: flex;
  flex-direction: column;

  button {
    font-weight: normal;
    filter: none;
  }

  button:not(:hover):not(.active) {
    background-color: var(--color-dark);
    color: var(--color-white);
    box-shadow: inset 4px 0 2px -4px #000, inset -4px 0 2px -4px #000,
      inset 0 4px 2px -4px #eee, inset 0 4px 1px -4px #282828,
      inset 0 -4px 2px -4px #000, 0 0 2px 0 #000;
  }
}

button {
  &.active:not(:hover) {
    background: var(--color-brand-alt);
    box-shadow: inset 0 8px 2px -8px #000, inset 0 9px 2px -8px #000,
      inset 8px 0 4px -8px #563a10, inset 8px 0 4px -8px #563a10,
      inset -8px 0 4px -8px #563a10, inset -8px 0 4px -8px #563a10,
      inset 0 9px 2px -8px #563a10, inset 0 -9px 2px -8px #563a10,
      inset 0 -8.5px 0 -8px #563a10, 0 0 4px 0 #000;
  }
}
