<button [title]="title" (click)="open = !open" [class.active]="open">
  <div class="text">{{ options[selected] }}</div>
  <i class="material-icons">arrow_drop_down</i>
</button>
<div class="dialog panel" *ngIf="open">
  <ng-container *ngFor="let kv of options | keyvalue">
    <button
      *ngIf="cast(kv) as opt"
      [class.active]="opt.key === selected"
      (click)="selectId.emit(opt.key); open = false"
    >
      <div class="text">
        {{ opt.value }}
      </div>
    </button>
  </ng-container>
</div>
