<button type="button" (click)="add.emit()">
  <i class="material-icons">add</i>
</button>
<div *ngIf="products && products.length">
  <div class="product-row" *ngFor="let product of products">
    <ng-container *ngIf="product && data.itemEntities[product.itemId]">
      <button type="button" (click)="remove.emit(product.id)">
        <i class="material-icons">remove</i>
      </button>
      <div class="icon-container">
        <div class="dropdown-container">
          <lab-icon
            class="clickable"
            [iconId]="product.itemId"
            [title]="data.itemEntities[product.itemId].name"
            (click)="clickEditProduct(product)"
            scale="true"
          ></lab-icon>
          <lab-picker
            *ngIf="editProductId === product.id"
            [data]="data"
            [categoryId]="categoryId"
            [itemId]="product.itemId"
            (cancel)="editProductId = null"
            (selectTab)="categoryId = $event"
            (selectItem)="selectItem(product.id, $event)"
          ></lab-picker>
        </div>
      </div>
      <input
        type="number"
        min="0"
        [value]="product.rate"
        (change)="rateChange(product.id, $event)"
      />
      <select
        [ngModel]="product.rateType"
        (change)="rateTypeChange(product.id, $event)"
      >
        <option [value]="rateType.Items">Items</option>
        <option [value]="rateType.Belts">Belts</option>
        <option [value]="rateType.Wagons">Wagons</option>
        <option [value]="rateType.Factories">Factories</option>
      </select>
    </ng-container>
  </div>
</div>
