<div class="add-button relative">
  <button type="button" (click)="adding = true">
    <i class="material-icons">add</i>
  </button>
  <lab-picker
    *ngIf="adding"
    [data]="data"
    [categoryId]="categoryId"
    [itemId]="itemId.WoodenChest"
    (cancel)="adding = false"
    (selectTab)="categoryId = $event"
    (selectItem)="add.emit($event)"
  ></lab-picker>
</div>
<div *ngIf="products && products.length">
  <div class="product-row" *ngFor="let product of products">
    <ng-container *ngIf="product && data.itemEntities[product.itemId]">
      <button type="button" (click)="remove.emit(product.id)">
        <i class="material-icons">remove</i>
      </button>
      <div class="icon-container">
        <div class="relative">
          <lab-icon
            class="clickable"
            [iconId]="product.itemId"
            [title]="data.itemEntities[product.itemId].name"
            (click)="clickEditProduct(product)"
            scale="true"
          ></lab-icon>
          <lab-picker
            *ngIf="editProductId === product.id"
            [data]="data"
            [categoryId]="categoryId"
            [itemId]="product.itemId"
            (cancel)="editProductId = null"
            (selectTab)="categoryId = $event"
            (selectItem)="editProduct.emit([product.id, $event])"
          ></lab-picker>
        </div>
      </div>
      <input
        type="number"
        min="0"
        [value]="product.rate"
        (change)="emitNumber(editRate, product.id, $event)"
      />
      <select
        [ngModel]="product.rateType"
        (change)="emitNumber(editRateType, product.id, $event)"
      >
        <option [value]="rateType.Items">Items</option>
        <option [value]="rateType.Belts">Belts</option>
        <option [value]="rateType.Wagons">Wagons</option>
        <option [value]="rateType.Factories">Factories</option>
      </select>
    </ng-container>
  </div>
</div>
