<table *ngIf="steps && steps.length">
  <thead>
    <tr>
      <th>
        Items
      </th>
      <th>
        Belts
      </th>
      <th>
        Factories
      </th>
      <th>
        Modules
      </th>
      <th>
        Beacons
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let step of steps">
      <td>
        <div class="flex">
          <div *ngIf="step.items" class="monospace">
            {{ rate(step.items, itemPrecision) }}
          </div>
          <div *ngIf="step.surplus && step.surplus.n > 0" class="monospace">
            (+{{ rate(step.surplus, itemPrecision) }})
          </div>
          <lab-icon
            *ngIf="data.recipeEntities[step.recipeId]?.in"
            class="clickable"
            [iconId]="step.itemId"
            [class.ignored]="
              step.settings.ignore || recipe[step.itemId]?.ignore
            "
            scale="true"
            (click)="ignoreStep.emit(step.recipeId)"
          ></lab-icon>
          <lab-icon
            *ngIf="!data.recipeEntities[step.recipeId]?.in"
            class="not-clickable"
            [iconId]="step.itemId"
            scale="true"
          ></lab-icon>
        </div>
      </td>
      <td>
        <ng-container *ngIf="step.settings">
          <div
            *ngIf="
              step.settings.belt &&
              step.belts &&
              data.itemEntities[step.itemId].category !== categoryId.Research
            "
            class="flex"
          >
            <div class="monospace">{{ rate(step.belts, beltPrecision) }}</div>
            <ng-container
              *ngIf="
                options[optionsType.Belt][0].indexOf(step.settings.belt) === -1;
                then beltDefault;
                else beltPicker
              "
            ></ng-container>
            <ng-template #beltDefault>
              <lab-icon
                class="not-clickable"
                [iconId]="step.settings.belt"
              ></lab-icon>
            </ng-template>
            <ng-template #beltPicker>
              <div class="relative">
                <lab-icon
                  class="clickable"
                  [iconId]="step.settings.belt"
                  (click)="edit = { step: step, type: editType.Belt }"
                ></lab-icon>
                <lab-select
                  *ngIf="
                    edit && edit.step === step && edit.type === editType.Belt
                  "
                  [data]="data"
                  [selectedId]="step.settings.belt"
                  [optionsType]="optionsType.Belt"
                  (cancel)="edit = null"
                  (selectId)="setBelt.emit([step.recipeId, $event])"
                >
                </lab-select>
              </div>
            </ng-template>
          </div>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="step.settings?.factory">
          <div class="flex" *ngIf="!step.factories || step.factories.n > 0">
            <div *ngIf="step.factories" class="monospace">
              {{ rate(step.factories, factoryPrecision) }}
            </div>
            <ng-container *ngIf="step.recipeId !== step.itemId">
              <lab-icon [iconId]="step.recipeId"></lab-icon>
              :
            </ng-container>
            <ng-container
              *ngIf="
                options[optionsType.Assembler][0].indexOf(
                  step.settings.factory
                ) === -1 &&
                  options[optionsType.Furnace][0].indexOf(
                    step.settings.factory
                  ) === -1;
                then factoryDefault;
                else factoryPicker
              "
            >
            </ng-container>
            <ng-template #factoryDefault>
              <lab-icon
                class="not-clickable"
                [iconId]="step.settings.factory"
              ></lab-icon>
            </ng-template>
            <ng-template #factoryPicker>
              <div class="relative">
                <lab-icon
                  class="clickable"
                  [iconId]="step.settings.factory"
                  (click)="edit = { step: step, type: editType.Factory }"
                ></lab-icon>
                <lab-select
                  *ngIf="
                    edit && edit.step === step && edit.type === editType.Factory
                  "
                  [data]="data"
                  [selectedId]="step.settings.factory"
                  [optionsType]="
                    options[optionsType.Assembler][0].indexOf(
                      step.settings.factory
                    ) !== -1
                      ? optionsType.Assembler
                      : optionsType.Furnace
                  "
                  (cancel)="edit = null"
                  (selectId)="setFactory.emit([step.recipeId, $event])"
                >
                </lab-select>
              </div>
            </ng-template>
          </div>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="step.settings?.modules">
          <div class="flex mod factory">
            <div
              class="relative"
              *ngFor="let mod of step.settings.modules; index as i"
            >
              <lab-icon
                class="steps-edit-factory-module clickable"
                [iconId]="mod"
                (click)="edit = { step: step, type: editType.Module, index: i }"
              ></lab-icon>
              <lab-select
                *ngIf="
                  edit &&
                  edit.step === step &&
                  edit.type === editType.Module &&
                  edit.index === i
                "
                [data]="data"
                [selectedId]="mod"
                [optionsType]="
                  prodAllowed(step)
                    ? optionsType.AllModule
                    : optionsType.SpeedModule
                "
                (cancel)="edit = null"
                (selectId)="factoryModuleChange(step, $event, i)"
              >
              </lab-select>
            </div>
          </div>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="step.settings?.modules">
          <div class="flex mod">
            <div class="relative">
              <lab-icon
                class="clickable"
                [iconId]="step.settings.beaconModule"
                (click)="edit = { step: step, type: editType.Beacon }"
              ></lab-icon>
              <lab-select
                *ngIf="
                  edit && edit.step === step && edit.type === editType.Beacon
                "
                [data]="data"
                [selectedId]="step.settings.beaconModule"
                [optionsType]="optionsType.SpeedModule"
                (cancel)="edit = null"
                (selectId)="setBeaconModule.emit([step.recipeId, $event])"
              >
              </lab-select>
            </div>
            <input
              *ngIf="step.settings.beaconModule !== itemId.Module"
              type="number"
              min="0"
              [value]="step.settings.beaconCount"
              (change)="beaconCountChange(step, $event)"
            />
          </div>
        </ng-container>
      </td>
      <td>
        <i
          *ngIf="recipe[step.recipeId]"
          class="clickable material-icons"
          (click)="resetStep.emit(step.recipeId)"
          >undo</i
        >
      </td>
    </tr>
  </tbody>
</table>
