<table *ngIf="steps && steps.length">
  <thead>
    <tr>
      <th>
        Items
      </th>
      <th>
        Belts
      </th>
      <th>
        Factories
      </th>
      <th>
        Modules
      </th>
      <th>
        Beacons
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let step of steps">
      <td>
        <div class="flex">
          <div *ngIf="step.items" class="monospace">
            {{ rate(step.items, itemPrecision) }}
          </div>
          <div *ngIf="step.surplus && step.surplus.n > 0" class="monospace">
            (+{{ rate(step.surplus, itemPrecision) }})
          </div>
          <lab-icon [iconId]="step.itemId" scale="true"></lab-icon>
        </div>
      </td>
      <ng-container *ngIf="step.settings">
        <td>
          <div *ngIf="step.settings.belt && step.belts" class="flex">
            <div class="monospace">{{ rate(step.belts, beltPrecision) }}</div>
            <lab-icon [iconId]="step.settings.belt"></lab-icon>
          </div>
        </td>
        <ng-container *ngIf="step.settings.factory">
          <td>
            <div class="flex" *ngIf="!step.factories || step.factories.n > 0">
              <div *ngIf="step.factories" class="monospace">
                {{ rate(step.factories, factoryPrecision) }}
              </div>
              <ng-container *ngIf="step.recipeId !== step.itemId">
                <lab-icon [iconId]="step.recipeId"></lab-icon>
                :
              </ng-container>
              <lab-icon [iconId]="step.settings.factory"></lab-icon>
            </div>
          </td>
          <ng-container *ngIf="step.settings.modules">
            <td>
              <div class="flex mod prod">
                <div
                  class="relative"
                  *ngFor="let mod of step.settings.modules; index as i"
                >
                  <lab-icon
                    class="clickable"
                    [iconId]="mod"
                    (click)="setEdit(step, editType.Module, i)"
                  ></lab-icon>
                  <lab-select
                    *ngIf="
                      edit &&
                      edit.step === step &&
                      edit.type === editType.Module &&
                      edit.index === i
                    "
                    [data]="data"
                    [options]="
                      prodAllowed(step) ? allModuleOptions : speedModuleOptions
                    "
                    [selectedId]="mod"
                    (cancel)="edit = null"
                    (selectId)="factoryModuleChange(step, $event, i)"
                  >
                  </lab-select>
                </div>
              </div>
            </td>
            <td>
              <div class="flex mod">
                <div class="relative">
                  <lab-icon
                    class="clickable"
                    [iconId]="step.settings.beaconModule"
                    (click)="setEdit(step, editType.Beacon)"
                  ></lab-icon>
                  <lab-select
                    *ngIf="
                      edit &&
                      edit.step === step &&
                      edit.type === editType.Beacon
                    "
                    [data]="data"
                    [options]="speedModuleOptions"
                    [selectedId]="step.settings.beaconModule"
                    (cancel)="edit = null"
                    (selectId)="beaconModuleChange(step, $event)"
                  >
                  </lab-select>
                </div>
                <input
                  *ngIf="step.settings.beaconModule !== itemId.Module"
                  type="number"
                  min="0"
                  [value]="step.settings.beaconCount"
                  (change)="beaconCountChange(step, $event)"
                />
              </div>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>
      <td>
        <i
          *ngIf="recipe[step.recipeId]"
          class="clickable material-icons"
          (click)="resetStep.emit(step.recipeId)"
          >undo</i
        >
      </td>
    </tr>
  </tbody>
</table>
