// Hover icon button styles (e.g. item exclude button)
.p-button.hover-action {
  justify-content: center;
  padding: 0.5rem 0;
  min-width: 2.571rem;

  .p-button-icon {
    transition: all 300ms ease;
  }

  .hover-icon {
    position: absolute;
    transition: opacity 300ms ease;
    opacity: 0;
    z-index: 1;
    text-shadow: 0 0 3px var(--surface-card);
    color: var(--text-color-secondary);
  }

  // These styles for hover/active
  &:hover,
  &.hover-active {
    .p-button-icon {
      opacity: 0.3;
    }

    .hover-icon {
      opacity: 1;
    }
  }

  // These styles for hover & inactive
  &:hover:not(.hover-active) {
    .p-button-icon {
      opacity: 0.6;
    }
  }

  &:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--surface-b);
  }

  &.icons {
    flex-wrap: wrap;
    padding: 0;

    i.p-button-icon {
      margin: 8px;
    }
  }
}

.p-button.modules > i {
  margin: 0 6px;
}

// Adjust opacity for light mode
body.light .p-button.hover-action.hover-active .p-button-icon {
  opacity: 0.6;
}

// Icon dropdown styles
.p-dropdown.icon,
.p-multiselect.icon {
  min-height: 36px;

  .lab-icon,
  .fa-solid {
    transition: opacity 300ms ease;
  }

  .p-dropdown-trigger,
  .p-multiselect-trigger {
    position: absolute;
    bottom: 10px;
    transition: opacity 300ms ease;
    opacity: 0;
  }

  &:hover {
    .lab-icon,
    .fa-solid {
      opacity: 0.3;
    }

    .p-dropdown-trigger,
    .p-multiselect-trigger {
      opacity: 1;
    }
  }
}

.p-multiselect.icons {
  min-height: 36px;
}

.p-inputgroup {
  > p-dropdown[labdropdownbase='icon'],
  > p-multiselect[labdropdownbase='icon'] {
    flex: 0 0 36px;
  }
}
