.lab-icon {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  margin: 1px;
  width: 32px;
  height: 32px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;

    /** Set up base app related icons sprite sheet */
    background-image: url('../assets/icons/icons.webp');
    width: 64px;
    height: 64px;
    text-align: end;
    text-shadow:
      0 2px 2px black,
      0 -2px 2px black,
      2px 0 2px black,
      -2px 0 2px black;
    line-height: 2rem;
    white-space: nowrap;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    content: '';
    pointer-events: none;
  }

  /**
   * E.G. Amount of item in recipe, id of machines objective.
   * Display in lower right.
   */
  > span {
    position: absolute;
    right: -6px;
    bottom: -6px;
    z-index: 1;
    text-shadow:
      0 2px 2px black,
      0 -2px 2px black,
      2px 0 2px black,
      -2px 0 2px black;
    line-height: 1rem;
    white-space: nowrap;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    pointer-events: none;
  }

  &.lg {
    width: 64px;
    height: 64px;

    &::before {
      transform: none;
    }
  }

  &.sm {
    margin: 0;
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      top: -6px;
      left: -6px;
    }

    &.padded {
      margin: 7px;
    }

    + .p-button-label {
      margin-left: 0.75rem;
    }
  }

  &.sum::before {
    content: 'Î£';
  }
}

.captain-of-industry::before {
  background-position: -64px 0;
}

.dyson-sphere-program::before {
  background-position: -128px 0;
}

.factorio::before {
  background-position: -192px 0;
}

.final-factory::before {
  background-position: -256px 0;
}

.satisfactory::before {
  background-position: 0 -64px;
}

.techtonica::before {
  background-position: -64px -64px;
}

.module::before {
  background-position: -128px -64px;
}

body.light .module::before {
  filter: invert(1);
}

.pipe::before {
  background-position: -192px -64px;
}

.time::before {
  background-position: -256px -64px;
}

.fast-inserter::before {
  background-position: 0 -128px;
}

.inserter::before {
  background-position: -64px -128px;
}

.long-handed-inserter::before {
  background-position: -128px -128px;
}

.stack-inserter::before {
  background-position: -192px -128px;
}

.transparent::before {
  background-position: -64px -256px;
}

.q-1,
.q0,
.q1,
.q2,
.q3,
.q5 {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;

    /** Set up base app related icons sprite sheet */
    background-image: url('../assets/icons/icons.webp');
    width: 64px;
    height: 64px;
    content: '';
  }
}

.q-1::after {
  background-position: -256px -128px;
}

.q0::after {
  background-position: 0 -192px;
}

.q1::after {
  background-position: -64px -192px;
}

.q2::after {
  background-position: -128px -192px;
}

.q3::after {
  background-position: -192px -192px;
}

.q5::after {
  background-position: -256px -192px;
}

.factor-y::before {
  background-position: 0 -256px;
}
