.lab-icon {
  position: relative;

  display: inline-block;

  width: 1.5rem;
  height: 1.5rem;

  &::before {
    content: '';

    position: absolute;
    top: -0.25rem;
    left: -0.25rem;

    transform: scale(0.5);
    transform-origin: 0 0;

    width: 4rem;
    height: 4rem;
  }

  > span {
    // Styles for text overlay
    position: absolute;
    bottom: 2px;
    right: 2px;

    font-size: 1.125rem;
    line-height: 1rem;
    font-weight: 700;
    font-style: normal;
    color: white;

    text-shadow: 0px 2px 2px black, 0px -2px 2px black, 2px 0px 2px black,
      -2px 0px 2px black;
    pointer-events: none;
  }
}
