.lab-icon,
.lab-icon-sm {
  position: relative;
  flex-shrink: 0;

  display: inline-block;

  margin: 0.5px;
  width: 32px;
  height: 32px;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    transform: scale(0.5);
    transform-origin: 0 0;

    width: 64px;
    height: 64px;
  }

  > span {
    // Styles for text overlay
    position: absolute;
    bottom: -2px;
    right: -2px;

    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    font-style: normal;
    color: white;

    white-space: nowrap;
    text-shadow: 0px 2px 2px black, 0px -2px 2px black, 2px 0px 2px black,
      -2px 0px 2px black;
    pointer-events: none;
  }
}

.lab-icon-sm {
  margin: 0;
  width: 19px;
  height: 19px;

  &::before {
    top: -6.5px;
    left: -6.5px;
  }
}
