@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

// InputGroup fixes
.p-inputgroup {
  > .p-inputwrapper {
    display: inline-flex;

    > .p-dropdown,
    .p-multiselect {
      border-radius: 0;
    }

    > .p-inputnumber,
    > .p-inputnumber > .p-inputtext {
      border-radius: 0;
    }

    .p-dropdown-panel .p-dropdown-header {
      display: flex;

      .p-dropdown-filter {
        margin-right: 0;
      }
    }

    .p-dropdown-filter-container {
      display: inline-flex;
      flex-grow: 1;
    }

    &:not(:last-child) {
      > .p-component
        > .p-inputnumber-buttons-stacked
        > .p-inputnumber-button-group
        > .p-button,
      > .p-component > .p-inputnumber-button-group > .p-button {
        border-radius: 0;
      }
    }
  }
}

// Prevent horizontal scroll in virtual scroll dropdown
.p-dropdown-panel .p-dropdown-items,
.p-multiselect-panel .p-multiselect-items {
  max-width: 100%;
}

// Imitate .p-float-label without using input field
.p-static-label {
  font-size: 12px;
  margin-left: 0.5rem;
  padding-bottom: 0.25rem;
  color: var(--text-color-secondary);
}

table p-dropdown {
  max-height: 36px; // Prevents icon dropdown from expanding table cell size
}

// Remove table footer style overrides
.p-datatable .p-datatable-tfoot > tr > td.inherit {
  text-align: inherit;
  font-weight: inherit;
  color: inherit;
}

// Fix width of large icon buttons
.p-button-lg > .p-button.p-button-icon-only,
.p-button.p-button-lg.p-button-icon-only {
  width: 42.5px;
}

// Button label text should ellipsis
.p-button > .p-button-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-dropdown-panel.tooltip,
.p-multiselect-panel.tooltip {
  .p-dropdown-item,
  .p-multiselect-item {
    // Want full-size tooltip select item, items must manage their own padding
    padding-top: 0;
    padding-bottom: 0;
  }
}

// InputNumber buttons should not grow height of inputs
.p-inputnumber-button {
  max-height: 18px;
}

// Button box shadow transition is unnecessary, keep other transitions
.p-button {
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

// Ensure gap between menu icon & text
.p-menuitem-icon + .p-menuitem-text {
  margin-left: 0.5rem;
}

// Make sure tooltips have enough width
.p-tooltip .p-tooltip-text {
  width: fit-content;
}

// Hide orderlist controls
.p-orderlist {
  .p-orderlist-controls {
    display: none;
  }

  .p-orderlist-list {
    min-height: auto;
    padding: 0;
    border: none;

    .p-orderlist-item {
      padding: 0;

      > .p-ink {
        display: none;
      }

      &.p-highlight {
        color: inherit;
        background: inherit;
      }

      &:focus {
        box-shadow: inherit;
      }
    }
  }
}

.p-orderlist-item.cdk-drag-preview {
  padding: 0;
}

@include media-breakpoint-down(sm) {
  .p-card .p-card-body {
    padding: 0.5rem;
  }
}

/** Toast style fixes when detail only is shown */
.p-toast .p-toast-message .p-toast-message-content {
  &.detail-only {
    align-items: center;

    .p-toast-detail {
      margin-top: 0;
    }
  }
}
