.p-button.p-button-icon-only {
  // Original 0.75rem does not account for 1px border
  padding: calc(0.75rem - 1px) 0;
}

.p-inputtext {
  // Original 0.75rem does not account for 1px border
  padding: calc(0.75rem - 1px);
}

// InputGroup fixes
.p-inputgroup {
  > .p-inputwrapper {
    display: inline-flex;

    > .p-dropdown,
    .p-multiselect {
      border-radius: 0;
    }

    > .p-inputnumber,
    > .p-inputnumber > .p-inputtext {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .p-dropdown-panel .p-dropdown-header {
      display: flex;

      .p-dropdown-filter {
        margin-right: 0;
      }
    }

    .p-dropdown-filter-container {
      display: inline-flex;
      flex-grow: 1;
    }

    > .p-component
      > .p-inputnumber-buttons-stacked
      > .p-inputnumber-button-group
      > .p-button {
      border-radius: 0;
      height: 1.5rem;
    }
  }
}

.p-dropdown-panel .p-dropdown-items {
  max-width: 100%;
}

// Imitate .p-float-label without using input field
.p-static-label {
  font-size: 0.75rem;
  margin-left: 0.75rem;
  padding-bottom: 0.5rem;
  color: var(--text-color-secondary);
}

.p-inputgroup p-dropdown.p-lab-icon-only.p-inputwrapper {
  flex-grow: 0;
  width: 6rem;

  > .p-dropdown {
    width: 6rem;
  }
}

.p-inputgroup p-multiSelect.p-lab-icon-only.p-inputwrapper {
  flex-grow: 0;
  width: 6rem;

  > .p-multiselect {
    width: 6rem;
  }
}
