.p-button.p-button-icon-only {
  // Original 0.75rem does not account for 1px border
  padding: calc(0.75rem - 1px) 0;
}

.p-inputtext {
  // Original 0.75rem does not account for 1px border
  padding: calc(0.75rem - 1px);
}

// InputGroup fixes
.p-inputgroup {
  > .p-inputwrapper {
    display: inline-flex;

    > .p-dropdown,
    .p-multiselect {
      border-radius: 0;
    }

    > .p-inputnumber,
    > .p-inputnumber > .p-inputtext {
      border-radius: 0;
    }

    .p-dropdown-panel .p-dropdown-header {
      display: flex;

      .p-dropdown-filter {
        margin-right: 0;
      }
    }

    .p-dropdown-filter-container {
      display: inline-flex;
      flex-grow: 1;
    }

    &:not(:last-child) {
      > .p-component
        > .p-inputnumber-buttons-stacked
        > .p-inputnumber-button-group
        > .p-button,
      > .p-component > .p-inputnumber-button-group > .p-button {
        border-radius: 0;
      }
    }
  }
}

.p-dropdown-panel .p-dropdown-items {
  max-width: 100%; // Prevent horizontal scroll in virtual scroll dropdown
}

// Imitate .p-float-label without using input field
.p-static-label {
  font-size: 0.75rem;
  margin-left: 0.75rem;
  padding-bottom: 0.5rem;
  color: var(--text-color-secondary);
}

table p-dropdown {
  max-height: 3rem; // Prevents icon dropdown from expanding table cell size
}

// Remove table footer style overrides
.p-datatable .p-datatable-tfoot > tr > td.inherit {
  text-align: inherit;
  font-weight: inherit;
  color: inherit;
}
