h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.monospace {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  white-space: pre;
}
