// vis-network recommends importing vis-network/styles/vis-network.min.css, a 216 KB file
// Most of the styles appear to be data for button images which are not used by this project
// The main requirement for this project appears to be this (overridden) snippet for tooltips
// If the graph appears broken, this project may be missing other styles from that source
div.vis-tooltip {
  position: absolute;
  visibility: hidden;
  z-index: 5;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
  background-color: var(--surface-d);
  padding: 5px;
  white-space: nowrap;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  pointer-events: none;
}
