@layer components {
  .btn {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray-700);
    cursor: pointer;
    padding-inline: calc(var(--spacing) * 3);
    min-height: calc(var(--spacing) * 9);

    &:hover,
    &:focus-visible {
      border-color: var(--color-brand-700);
    }

    &:focus-visible {
      outline: 1px solid var(--color-brand-700);
    }
  }

  .checkbox {
    cursor: pointer;
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
    accent-color: var(--color-brand-500);

    &:focus-visible {
      outline: 1px auto var(--color-brand-700);
    }
  }
}
