@layer components {
  .input {
    flex-grow: 1;
    border: 1px solid var(--color-gray-700);
    background-color: var(--color-gray-950);
    padding-inline: calc(var(--spacing) * 2);
    width: 100%;
    min-height: calc(var(--spacing) * 9);

    &:not(.square) {
      border-radius: var(--radius-xs);
    }

    &:hover,
    &:focus-visible {
      z-index: 2;
      border-color: var(--color-brand-700);
    }

    &:focus-visible {
      outline: 1px solid var(--color-brand-700);
    }

    &::placeholder {
      color: var(--color-gray-500);
    }

    &.ng-invalid.ng-dirty {
      outline-color: var(--color-complement-500);
      border-color: var(--color-complement-500);
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .table {
    border-collapse: separate;
    border-spacing: 0;

    td,
    th {
      border-bottom: 1px solid var(--color-gray-700);
      padding-block: calc(var(--spacing) * 1);
      padding-inline: calc(var(--spacing) * 2);
      height: 49px;
    }

    th {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--color-gray-950);
      font-weight: var(--font-weight-semibold);
    }
  }

  .link {
    color: var(--color-brand-400);

    &:visited {
      color: var(--color-brand-600);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  fa-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  * {
    border-color: transparent;
  }
}
