.system {
  &.time {
    background-position: -33px 0;
  }

  &.transparent {
    background-position: -66px 0;
  }

  &.module {
    background-position: -99px 0;
  }

  &.pipe {
    background-position: -132px 0;
  }
}

.body.light,
.body.white {
  .system.module {
    filter: invert(1);
  }
}

.inserter {
  &.inserter {
    background-position: 0 -33px;
  }

  &.long-handed-inserter {
    background-position: -33px -33px;
  }

  &.fast-inserter {
    background-position: -66px -33px;
  }

  &.bulk-inserter {
    background-position: -99px -33px;
  }
}

.quality {
  .q-1 {
    background-position: -132px -33px;
  }

  .q0 {
    background-position: 0 -66px;
  }

  .q1 {
    background-position: -33px -66px;
  }

  .q2 {
    background-position: -66px -66px;
  }

  .q3 {
    background-position: -99px -66px;
  }

  .q5 {
    background-position: -132px -66px;
  }
}

.game {
  &.captain-of-industry {
    background-position: 0 -99px;
  }

  &.dyson-sphere-program {
    background-position: -33px -99px;
  }

  &.factor-y {
    background-position: -66px -99px;
  }

  &.factorio {
    background-position: -99px -99px;
  }

  &.final-factory {
    background-position: -132px -99px;
  }

  &.foundry {
    background-position: 0 -132px;
  }

  &.mindustry {
    background-position: -33px -132px;
  }

  &.outworld-station {
    background-position: -66px -132px;
  }

  &.satisfactory {
    background-position: -99px -132px;
  }

  &.techtonica {
    background-position: -132px -132px;
  }
}
