@layer components {
  .lab-ring {
    > * {
      position: absolute;
      border-width: 4px;
      border-radius: calc(infinity * 1px);
      border-color: transparent;
      border-top-color: white;
      width: 5rem;
      height: 5rem;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
