:root {
  --color-gray-50: rgb(250 250 250);
  --color-gray-100: oklch(97% 0 0deg);
  --color-gray-200: oklch(92.2% 0 0deg);
  --color-gray-300: oklch(87% 0 0deg);
  --color-gray-400: oklch(70.8% 0 0deg);
  --color-gray-500: oklch(55.6% 0 0deg);
  --color-gray-600: oklch(43.9% 0 0deg);
  --color-gray-700: oklch(37.1% 0 0deg);
  --color-gray-800: oklch(26.9% 0 0deg);
  --color-gray-900: oklch(20.5% 0 0deg);
  --color-gray-950: oklch(14.5% 0 0deg);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);

  &[data-theme='light'] {
    --color-gray-50: oklch(14.5% 0 0deg);
    --color-gray-100: oklch(20.5% 0 0deg);
    --color-gray-200: oklch(26.9% 0 0deg);
    --color-gray-300: oklch(37.1% 0 0deg);
    --color-gray-400: oklch(43.9% 0 0deg);
    --color-gray-500: oklch(55.6% 0 0deg);
    --color-gray-600: oklch(70.8% 0 0deg);
    --color-gray-700: oklch(87% 0 0deg);
    --color-gray-800: oklch(92.2% 0 0deg);
    --color-gray-900: oklch(97% 0 0deg);
    --color-gray-950: oklch(98.5% 0 0deg);
    --color-brand-50: var(--brand-950);
    --color-brand-100: var(--brand-900);
    --color-brand-200: var(--brand-800);
    --color-brand-300: var(--brand-700);
    --color-brand-400: var(--brand-600);
    --color-brand-500: var(--brand-500);
    --color-brand-600: var(--brand-400);
    --color-brand-700: var(--brand-300);
    --color-brand-800: var(--brand-200);
    --color-brand-900: var(--brand-100);
    --color-brand-950: var(--brand-50);
  }
}

@theme inline {
  --color-gray-50: var(--color-gray-50, oklch(98.5% 0 0deg));
  --color-gray-100: var(--color-gray-100, oklch(97% 0 0deg));
  --color-gray-200: var(--color-gray-200, oklch(92.2% 0 0deg));
  --color-gray-300: var(--color-gray-300, oklch(87% 0 0deg));
  --color-gray-400: var(--color-gray-400, oklch(70.8% 0 0deg));
  --color-gray-500: var(--color-gray-500, oklch(55.6% 0 0deg));
  --color-gray-600: var(--color-gray-600, oklch(43.9% 0 0deg));
  --color-gray-700: var(--color-gray-700, oklch(37.1% 0 0deg));
  --color-gray-800: var(--color-gray-800, oklch(26.9% 0 0deg));
  --color-gray-900: var(--color-gray-900, oklch(20.5% 0 0deg));
  --color-gray-950: var(--color-gray-950, oklch(14.5% 0 0deg));
  --color-brand-50: var(--color-brand-50, oklch(97.12% 0.0138 251.554deg));
  --color-brand-100: var(--color-brand-100, oklch(93.5% 0.031 252.403deg));
  --color-brand-200: var(--color-brand-200, oklch(88.5% 0.0588 250.189deg));
  --color-brand-300: var(--color-brand-300, oklch(81.2% 0.106 248.167deg));
  --color-brand-400: var(--color-brand-400, oklch(71.4% 0.164 250.899deg));
  --color-brand-500: var(--color-brand-500, oklch(63.4% 0.206 256deg));
  --color-brand-600: var(--color-brand-600, oklch(55.3% 0.23 259.333deg));
  --color-brand-700: var(--color-brand-700, oklch(49% 0.225 260.708deg));
  --color-brand-800: var(--color-brand-800, oklch(42.7% 0.184 261.423deg));
  --color-brand-900: var(--color-brand-900, oklch(38.1% 0.137 261.342deg));
  --color-brand-950: var(--color-brand-950, oklch(28.4% 0.0868 263.732deg));
  --color-test: oklch(63.4% 0.206 256deg);
  --font-sans:
    'Noto Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
  --font-mono:
    'Noto Sans Mono', ui-monospace, sfmono-regular, menlo, monaco, consolas,
    'Liberation Mono', 'Courier New', monospace;
  --text-shadow-solid:
    0 1px 1px var(--tw-text-shadow-color, rgb(0 0 0 / 10%)),
    0 -1px 1px var(--tw-text-shadow-color, rgb(0 0 0 / 10%)),
    1px 0 1px var(--tw-text-shadow-color, rgb(0 0 0 / 10%)),
    -1px 0 1px var(--tw-text-shadow-color, rgb(0 0 0 / 10%));
  --animate-delayed-fade-in: delayed-fade-in 300ms linear;
  --animate-fade-out: fade-out var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-enter-translate-y: translate-y var(--default-transition-duration)
    var(--default-transition-timing-function);

  @keyframes delayed-fade-in {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      scale: 1 1;
    }

    100% {
      opacity: 0;
      scale: 1 0.75;
    }
  }

  @keyframes translate-y {
    0% {
      transform: translateY(-25%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
