:root {
  --color-gray-50: rgb(250 250 250);
  --color-gray-100: oklch(97% 0 0deg);
  --color-gray-200: oklch(92.2% 0 0deg);
  --color-gray-300: oklch(87% 0 0deg);
  --color-gray-400: oklch(70.8% 0 0deg);
  --color-gray-500: oklch(55.6% 0 0deg);
  --color-gray-600: oklch(43.9% 0 0deg);
  --color-gray-700: oklch(37.1% 0 0deg);
  --color-gray-800: oklch(26.9% 0 0deg);
  --color-gray-900: oklch(20.5% 0 0deg);
  --color-gray-950: oklch(14.5% 0 0deg);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);
  --color-complement-50: var(--complement-50);
  --color-complement-100: var(--complement-100);
  --color-complement-200: var(--complement-200);
  --color-complement-300: var(--complement-300);
  --color-complement-400: var(--complement-400);
  --color-complement-500: var(--complement-500);
  --color-complement-600: var(--complement-600);
  --color-complement-700: var(--complement-700);
  --color-complement-800: var(--complement-800);
  --color-complement-900: var(--complement-900);
  --color-complement-950: var(--complement-950);

  &[data-theme='light'] {
    --color-gray-50: oklch(14.5% 0 0deg);
    --color-gray-100: oklch(20.5% 0 0deg);
    --color-gray-200: oklch(26.9% 0 0deg);
    --color-gray-300: oklch(37.1% 0 0deg);
    --color-gray-400: oklch(43.9% 0 0deg);
    --color-gray-500: oklch(55.6% 0 0deg);
    --color-gray-600: oklch(70.8% 0 0deg);
    --color-gray-700: oklch(87% 0 0deg);
    --color-gray-800: oklch(92.2% 0 0deg);
    --color-gray-900: oklch(97% 0 0deg);
    --color-gray-950: oklch(98.5% 0 0deg);
    --color-brand-50: var(--brand-950);
    --color-brand-100: var(--brand-900);
    --color-brand-200: var(--brand-800);
    --color-brand-300: var(--brand-700);
    --color-brand-400: var(--brand-600);
    --color-brand-500: var(--brand-500);
    --color-brand-600: var(--brand-400);
    --color-brand-700: var(--brand-300);
    --color-brand-800: var(--brand-200);
    --color-brand-900: var(--brand-100);
    --color-brand-950: var(--brand-50);
    --color-complement-50: var(--complement-950);
    --color-complement-100: var(--complement-900);
    --color-complement-200: var(--complement-800);
    --color-complement-300: var(--complement-700);
    --color-complement-400: var(--complement-600);
    --color-complement-500: var(--complement-500);
    --color-complement-600: var(--complement-400);
    --color-complement-700: var(--complement-300);
    --color-complement-800: var(--complement-200);
    --color-complement-900: var(--complement-100);
    --color-complement-950: var(--complement-50);
  }
}

@theme inline {
  --color-gray-50: var(--color-gray-50, oklch(98.5% 0 0deg));
  --color-gray-100: var(--color-gray-100, oklch(97% 0 0deg));
  --color-gray-200: var(--color-gray-200, oklch(92.2% 0 0deg));
  --color-gray-300: var(--color-gray-300, oklch(87% 0 0deg));
  --color-gray-400: var(--color-gray-400, oklch(70.8% 0 0deg));
  --color-gray-500: var(--color-gray-500, oklch(55.6% 0 0deg));
  --color-gray-600: var(--color-gray-600, oklch(43.9% 0 0deg));
  --color-gray-700: var(--color-gray-700, oklch(37.1% 0 0deg));
  --color-gray-800: var(--color-gray-800, oklch(26.9% 0 0deg));
  --color-gray-900: var(--color-gray-900, oklch(20.5% 0 0deg));
  --color-gray-950: var(--color-gray-950, oklch(14.5% 0 0deg));
  --color-brand-50: var(--color-brand-50, oklch(97.12% 0.0138 251.554deg));
  --color-brand-100: var(--color-brand-100, oklch(93.5% 0.031 252.403deg));
  --color-brand-200: var(--color-brand-200, oklch(88.5% 0.0588 250.189deg));
  --color-brand-300: var(--color-brand-300, oklch(81.2% 0.106 248.167deg));
  --color-brand-400: var(--color-brand-400, oklch(71.4% 0.164 250.899deg));
  --color-brand-500: var(--color-brand-500, oklch(63.4% 0.206 256deg));
  --color-brand-600: var(--color-brand-600, oklch(55.3% 0.23 259.333deg));
  --color-brand-700: var(--color-brand-700, oklch(49% 0.225 260.708deg));
  --color-brand-800: var(--color-brand-800, oklch(42.7% 0.184 261.423deg));
  --color-brand-900: var(--color-brand-900, oklch(38.1% 0.137 261.342deg));
  --color-brand-950: var(--color-brand-950, oklch(28.4% 0.0868 263.732deg));
  --color-complement-50: var(
    --color-complement-50,
    oklch(98.7% 0.0235 97.8483deg)
  );
  --color-complement-100: var(
    --color-complement-100,
    oklch(96.6% 0.0634 98.4259deg)
  );
  --color-complement-200: var(
    --color-complement-200,
    oklch(93.2% 0.123 97.8942deg)
  );
  --color-complement-300: var(
    --color-complement-300,
    oklch(88.9% 0.174 94.0172deg)
  );
  --color-complement-400: var(
    --color-complement-400,
    oklch(83.7% 0.193 87.2123deg)
  );
  --color-complement-500: var(--color-complement-500, oklch(77.9% 0.187 76deg));
  --color-complement-600: var(
    --color-complement-600,
    oklch(67.2% 0.173 64.8123deg)
  );
  --color-complement-700: var(
    --color-complement-700,
    oklch(55.5% 0.153 55.4656deg)
  );
  --color-complement-800: var(
    --color-complement-800,
    oklch(47.4% 0.128 52.0242deg)
  );
  --color-complement-900: var(
    --color-complement-900,
    oklch(41.7% 0.106 50.2805deg)
  );
  --color-complement-950: var(
    --color-complement-950,
    oklch(28.2% 0.0729 48.6671deg)
  );
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Roboto Mono', ui-monospace, sfmono-regular, menlo, monaco, consolas,
    'Liberation Mono', 'Courier New', monospace;
  --text-shadow-solid:
    0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  --animate-delayed-fade-in: delayed-fade-in 300ms linear;
  --animate-fade-y: fade-y 300ms var(--default-transition-timing-function);
  --animate-fade: fade var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-ripple: ripple-animation 300ms linear forwards;
  --animate-shrink-y: shrink-y 300ms var(--default-transition-timing-function);

  @keyframes delayed-fade-in {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /**
   * Double duration of animation but complete halfway through. This extra time
   * seems to help Angular's animate.leave remove the element when the animation
   * completes.
   */
  @keyframes fade-y {
    0% {
      opacity: 1;
      scale: 1 1;
    }

    50% {
      opacity: 0;
      scale: 1 0.75;
    }

    100% {
      opacity: 0;
      scale: 1 0.75;
    }
  }

  @keyframes ripple-animation {
    0% {
      scale: 0% 0%;
      opacity: 1;
    }

    100% {
      scale: 250% 250%;
      opacity: 0;
    }
  }

  @keyframes shrink-y {
    0% {
      grid-template-rows: 1fr;
    }

    100% {
      grid-template-rows: 0fr;
    }
  }

  @keyframes fade {
    0% {
      opacity: 1;
      scale: 1;
    }

    100% {
      opacity: 0;
      scale: 0;
    }
  }
}
