:root {
  --hue: 256;
  --color-gray-50: rgb(250 250 250);
  --color-gray-100: oklch(97% 0 0deg);
  --color-gray-200: oklch(92.2% 0 0deg);
  --color-gray-300: oklch(87% 0 0deg);
  --color-gray-400: oklch(70.8% 0 0deg);
  --color-gray-500: oklch(55.6% 0 0deg);
  --color-gray-600: oklch(43.9% 0 0deg);
  --color-gray-700: oklch(37.1% 0 0deg);
  --color-gray-800: oklch(26.9% 0 0deg);
  --color-gray-900: oklch(20.5% 0 0deg);
  --color-gray-950: oklch(14.5% 0 0deg);
  --color-brand-50: oklch(97.72% 0.0177 var(--hue, 256));
  --color-brand-100: oklch(95.04% 0.042 var(--hue, 256));
  --color-brand-200: oklch(90.6% 0.08 var(--hue, 256));
  --color-brand-300: oklch(84.1% 0.135 var(--hue, 256));
  --color-brand-400: oklch(75.4% 0.189 var(--hue, 256));
  --color-brand-500: oklch(68.3% 0.214 var(--hue, 256));
  --color-brand-600: oklch(59.8% 0.213 var(--hue, 256));
  --color-brand-700: oklch(51.5% 0.187 var(--hue, 256));
  --color-brand-800: oklch(44.6% 0.155 var(--hue, 256));
  --color-brand-900: oklch(39.5% 0.124 var(--hue, 256));
  --color-brand-950: oklch(27.8% 0.088 var(--hue, 256));

  &[data-theme='light'] {
    --color-gray-50: oklch(14.5% 0 0deg);
    --color-gray-100: oklch(20.5% 0 0deg);
    --color-gray-200: oklch(26.9% 0 0deg);
    --color-gray-300: oklch(37.1% 0 0deg);
    --color-gray-400: oklch(43.9% 0 0deg);
    --color-gray-500: oklch(55.6% 0 0deg);
    --color-gray-600: oklch(70.8% 0 0deg);
    --color-gray-700: oklch(87% 0 0deg);
    --color-gray-800: oklch(92.2% 0 0deg);
    --color-gray-900: oklch(97% 0 0deg);
    --color-gray-950: oklch(98.5% 0 0deg);
    --color-brand-50: oklch(23.78% 0.054 var(--hue, 256));
    --color-brand-100: oklch(32% 0.0726 var(--hue, 256));
    --color-brand-200: oklch(39.44% 0.0898 var(--hue, 256));
    --color-brand-300: oklch(46.89% 0.1067 var(--hue, 256));
    --color-brand-400: oklch(57.33% 0.1299 var(--hue, 256));
    --color-brand-500: oklch(64.78% 0.1472 var(--hue, 256));
    --color-brand-600: oklch(74.22% 0.1398 var(--hue, 256));
    --color-brand-700: oklch(82.67% 0.0908 var(--hue, 256));
    --color-brand-800: oklch(88.11% 0.0609 var(--hue, 256));
    --color-brand-900: oklch(93.56% 0.0321 var(--hue, 256));
    --color-brand-950: oklch(97.78% 0.0108 var(--hue, 256));
  }

  &[data-theme='black'] {
    --color-gray-50: oklch(97% 0 0deg);
    --color-gray-100: oklch(92.2% 0 0deg);
    --color-gray-200: oklch(87% 0 0deg);
    --color-gray-300: oklch(70.8% 0 0deg);
    --color-gray-400: oklch(55.6% 0 0deg);
    --color-gray-500: oklch(43.9% 0 0deg);
    --color-gray-600: oklch(37.1% 0 0deg);
    --color-gray-700: oklch(26.9% 0 0deg);
    --color-gray-800: oklch(20.5% 0 0deg);
    --color-gray-900: oklch(14.5% 0 0deg);
    --color-gray-950: oklch(0% 0 0deg);
    --color-brand-50: oklch(93.56% 0.0321 var(--hue, 256));
    --color-brand-100: oklch(88.11% 0.0609 var(--hue, 256));
    --color-brand-200: oklch(82.67% 0.0908 var(--hue, 256));
    --color-brand-300: oklch(74.22% 0.1398 var(--hue, 256));
    --color-brand-400: oklch(64.78% 0.1472 var(--hue, 256));
    --color-brand-500: oklch(57.33% 0.1299 var(--hue, 256));
    --color-brand-600: oklch(46.89% 0.1067 var(--hue, 256));
    --color-brand-700: oklch(39.44% 0.0898 var(--hue, 256));
    --color-brand-800: oklch(32% 0.0726 var(--hue, 256));
    --color-brand-900: oklch(23.78% 0.054 var(--hue, 256));
    --color-brand-950: oklch(0% 0 0deg);
  }

  &[data-theme='white'] {
    --color-gray-50: oklch(20.5% 0 0deg);
    --color-gray-100: oklch(26.9% 0 0deg);
    --color-gray-200: oklch(37.1% 0 0deg);
    --color-gray-300: oklch(43.9% 0 0deg);
    --color-gray-400: oklch(55.6% 0 0deg);
    --color-gray-500: oklch(70.8% 0 0deg);
    --color-gray-600: oklch(87% 0 0deg);
    --color-gray-700: oklch(92.2% 0 0deg);
    --color-gray-800: oklch(97% 0 0deg);
    --color-gray-900: oklch(98.5% 0 0deg);
    --color-gray-950: oklch(100% 0 0deg);
    --color-brand-50: oklch(32% 0.0726 var(--hue, 256));
    --color-brand-100: oklch(39.44% 0.0898 var(--hue, 256));
    --color-brand-200: oklch(46.89% 0.1067 var(--hue, 256));
    --color-brand-300: oklch(57.33% 0.1299 var(--hue, 256));
    --color-brand-400: oklch(64.78% 0.1472 var(--hue, 256));
    --color-brand-500: oklch(74.22% 0.1398 var(--hue, 256));
    --color-brand-600: oklch(82.67% 0.0908 var(--hue, 256));
    --color-brand-700: oklch(88.11% 0.0609 var(--hue, 256));
    --color-brand-800: oklch(93.56% 0.0321 var(--hue, 256));
    --color-brand-900: oklch(97.78% 0.0108 var(--hue, 256));
    --color-brand-950: oklch(100% 0 0deg);
  }
}

@theme {
  --color-gray-50: var(--color-gray-50, oklch(98.5% 0 0deg));
  --color-gray-100: var(--color-gray-100, oklch(97% 0 0deg));
  --color-gray-200: var(--color-gray-200, oklch(92.2% 0 0deg));
  --color-gray-300: var(--color-gray-300, oklch(87% 0 0deg));
  --color-gray-400: var(--color-gray-400, oklch(70.8% 0 0deg));
  --color-gray-500: var(--color-gray-500, oklch(55.6% 0 0deg));
  --color-gray-600: var(--color-gray-600, oklch(43.9% 0 0deg));
  --color-gray-700: var(--color-gray-700, oklch(37.1% 0 0deg));
  --color-gray-800: var(--color-gray-800, oklch(26.9% 0 0deg));
  --color-gray-900: var(--color-gray-900, oklch(20.5% 0 0deg));
  --color-gray-950: var(--color-gray-950, oklch(14.5% 0 0deg));
  --color-brand-50: var(--color-brand-50, oklch(97.78% 0.0108 256deg));
  --color-brand-100: var(--color-brand-100, oklch(93.56% 0.0321 256deg));
  --color-brand-200: var(--color-brand-200, oklch(88.11% 0.0609 256deg));
  --color-brand-300: var(--color-brand-300, oklch(82.67% 0.0908 256deg));
  --color-brand-400: var(--color-brand-400, oklch(74.22% 0.1398 256deg));
  --color-brand-500: var(--color-brand-500, oklch(64.78% 0.1472 256deg));
  --color-brand-600: var(--color-brand-600, oklch(57.33% 0.1299 256deg));
  --color-brand-700: var(--color-brand-700, oklch(46.89% 0.1067 256deg));
  --color-brand-800: var(--color-brand-800, oklch(39.44% 0.0898 256deg));
  --color-brand-900: var(--color-brand-900, oklch(32% 0.0726 256deg));
  --color-brand-950: var(--color-brand-950, oklch(23.78% 0.054 256deg));
}
