$color-white: #fff;
$color-gray-0: #bbb;
$color-gray-1: #333;
$color-gray-2: #2a2a2a;
$color-black: #000;

$color-brand: #ff7200;
$color-back: #171717;
$color-font: #c8c8c8;
$color-invalid: #ff0000;

.dark-mode {
  --color-white: #{$color-white};
  --color-gray-0: #{$color-gray-0};
  --color-gray-1: #{$color-gray-1};
  --color-gray-2: #{$color-gray-2};
  --color-black: #{$color-black};

  --color-brand: #{$color-brand};
  --color-back: #{$color-back};
  --color-font: #{$color-font};
  --color-invalid: #{$color-invalid};

  --module-icon-filter: none;
}

.light-mode {
  --color-white: #{invert($color-white)};
  --color-gray-0: #{invert($color-gray-0)};
  --color-gray-1: #d5d5d5;
  --color-gray-2: #e8e8e8;
  --color-black: #{invert($color-black)};

  --color-brand: #{$color-brand};
  --color-back: #fff;
  --color-font: #{invert($color-white)};
  --color-invalid: #{$color-invalid};

  --module-icon-filter: invert(100%);
}
