<div>
  <button
    type="button"
    labButton
    text="editor.chooseImages"
    [faIcon]="faUpload"
    (click)="filesInput.click()"
  ></button>
</div>
<input
  #filesInput
  type="file"
  accept="image/*"
  multiple
  aria-labelledby="image-header"
  class="hidden"
  (change)="selectFiles($event)"
  (click)="filesInput.value = ''"
/>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th id="id-header">{{ 'editor.id' | translate }}</th>
      <th id="image-header">{{ 'editor.image' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <tr>
      <td></td>
      <td>
        <input
          type="text"
          aria-labelledby="id-header"
          class="input"
          [placeholder]="'editor.id' | translate"
          [(ngModel)]="model.id"
        />
      </td>
      <td>
        <div class="gap-2 flex items-center">
          <button
            type="button"
            class="min-h-9 min-w-9 rounded-xs flex cursor-pointer items-center justify-center border border-gray-700 hover:bg-gray-800"
            (click)="fileInput.click()"
          >
            @if (fileInfo(); as info) {
              <img class="w-8" [src]="info.url" [alt]="info.url" />
            }
          </button>
          <input
            #fileInput
            type="file"
            accept="image/*"
            aria-labelledby="image-header"
            class="hidden"
            (change)="selectFile($event)"
            (click)="fileInput.value = ''"
          />
        </div>
      </td>
      <td>
        <button
          type="button"
          labButton
          [faIcon]="faFloppyDisk"
          [aria-label]="'save' | translate"
          (click)="add(model.id, fileInfo())"
        ></button>
      </td>
    </tr>
    @for (icon of edit().data.icons; track icon.id) {
      <tr cdkDrag cdkDragLockAxis="y">
        <td
          cdkDragHandle
          class="cursor-grab hover:bg-gray-800 active:cursor-grabbing"
        >
          <fa-icon [icon]="faGrip"></fa-icon>
          <ng-container *cdkDragPreview>
            <div
              class="gap-2 rounded-xs p-2 flex items-center border border-gray-700 bg-gray-900"
            >
              <fa-icon [icon]="faGrip"></fa-icon>
              <img
                class="w-8"
                [src]="edit().icons[icon.id]?.url"
                [alt]="icon.id"
              />
              <span>{{ icon.id }}</span>
            </div>
          </ng-container>
        </td>
        <td>
          <input
            type="text"
            class="input"
            [placeholder]="'editor.id' | translate"
            [ngModel]="icon.id"
            [ngModelOptions]="{ updateOn: 'blur' }"
            (ngModelChange)="changeId(icon, $event)"
          />
        </td>
        <td>
          <div class="flex items-center">
            <button
              type="button"
              class="min-h-9 min-w-9 rounded-xs flex cursor-pointer items-center justify-center border border-gray-700 hover:bg-gray-800"
              (click)="fileInput.click()"
            >
              <img
                class="w-8"
                [src]="edit().icons[icon.id]?.url"
                [alt]="icon.id"
              />
            </button>
            <input
              #fileInput
              type="file"
              accept="image/*"
              class="hidden"
              (change)="changeImage(icon, $event)"
              (click)="fileInput.value = ''"
            />
          </div>
        </td>
        <td>
          <button
            type="button"
            labButton
            [faIcon]="faTrash"
            [aria-label]="'delete' | translate"
            (click)="remove(icon.id)"
          ></button>
        </td>
      </tr>
    }
  </tbody>
</table>
