@let _type = type();
@let _selectedOption = selectedOption();
@if (_type && _selectedOption) {
  <lab-icon
    [value]="iconLocator()(_selectedOption.value)"
    [type]="_type"
  ></lab-icon>
} @else if (iconOnly()) {
  <fa-icon
    class="absolute text-gray-500 transition-transform"
    [class.-scale-y-100]="opened() && !hiding()"
    [icon]="faChevronDown"
  ></fa-icon>
}

@if (!iconOnly()) {
  <div class="ms-1 me-2 grow overflow-hidden text-ellipsis">
    @if (_selectedOption) {
      {{ _selectedOption.label | translate }}
    } @else if (placeholder()) {
      <span class="text-gray-500">{{ placeholder() | translate }}</span>
    }
  </div>
  <fa-icon
    class="text-gray-500 transition-transform"
    [class.-scale-y-100]="opened() && !hiding()"
    [icon]="faChevronDown"
  ></fa-icon>
}

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="opened()"
  [cdkConnectedOverlayMinWidth]="elementRef.nativeElement.offsetWidth"
  (overlayOutsideClick)="toggle()"
>
  <div
    #overlay
    class="mt-1 flex max-h-96 min-w-full origin-top flex-col overflow-hidden rounded-xs border border-gray-700 bg-gray-950 transition-all starting:scale-y-75 starting:opacity-0"
    [class.opacity-0]="hiding()"
  >
    @if (filter()) {
      <div class="relative m-2 flex">
        <input
          class="input"
          [placeholder]="'filter' | translate"
          [(ngModel)]="filterText"
        />
        <fa-icon
          class="pointer-events-none absolute top-1.5 right-1.5 text-gray-500"
          [icon]="faMagnifyingGlass"
        ></fa-icon>
      </div>
    }
    <ul
      [id]="id() + '-listbox'"
      role="listbox"
      class="overflow-y-scroll"
      tabindex="-1"
    >
      @for (opt of options(); track opt.value) {
        @let label = opt.label | translate;
        @if (label.toLowerCase().includes(filterLower())) {
          <li
            #option
            role="option"
            class="flex min-h-9 cursor-pointer items-center px-1 outline-none select-none"
            [attr.tabindex]="opt.disabled ? -1 : 0"
            [attr.aria-disabled]="opt.disabled ? 'true' : 'false'"
            [attr.aria-selected]="opt.value === value()"
            [class]="
              opt.value === value()
                ? 'bg-brand-950 hover:bg-brand-800 focus-visible:bg-brand-800'
                : 'hover:bg-gray-800 focus-visible:bg-gray-800'
            "
            (click)="select(opt.value)"
            (keydown.enter)="select(opt.value)"
            (keydown.arrowup)="focusMove(option, -1, $event)"
            (keydown.arrowdown)="focusMove(option, 1, $event)"
            (keydown.home)="focusFirst($event)"
            (keydown.end)="focusLast($event)"
          >
            @if (_type) {
              <lab-icon
                [value]="iconLocator()(opt.value)"
                [type]="_type"
              ></lab-icon>
            }
            <span class="ms-1">{{ label }}</span>
          </li>
        }
      }
      @if (filterText() && !listItems().length) {
        <li class="flex min-h-9 items-center px-2">
          {{ 'select.noMatches' | translate }}
        </li>
      }
    </ul>
  </div>
</ng-template>
