<ng-content>
  @let _selectedOption = selectedOption();
  <span
    class="inline-flex"
    [class.group-hover:opacity-40]="iconOnly()"
    [class.opacity-40]="iconOnly() && opened()"
  >
    @if (_selectedOption && _selectedOption.faIcon) {
      <fa-icon [icon]="_selectedOption.faIcon"></fa-icon>
    } @else if (
      _selectedOption && _selectedOption.icon && _selectedOption.iconType
    ) {
      <lab-icon
        [value]="_selectedOption.icon"
        [type]="_selectedOption.iconType"
      ></lab-icon>
    }
  </span>

  @if (!iconOnly()) {
    <div class="ms-1 me-2 line-clamp-1 grow">
      @if (_selectedOption) {
        {{ _selectedOption.label | translate }}
      } @else if (placeholder()) {
        <span class="text-gray-500">{{ placeholder() | translate }}</span>
      }
    </div>
    <fa-icon
      class="text-gray-500 transition-transform"
      [class.-scale-y-100]="opened()"
      [icon]="faChevronDown"
    ></fa-icon>
  } @else {
    <fa-icon
      class="text-brand-400 absolute transition-transform group-hover:block"
      [class.hidden]="!opened()"
      [class.-scale-y-100]="opened()"
      [icon]="faChevronDown"
    ></fa-icon>
  }
</ng-content>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="opened()"
  [cdkConnectedOverlayMinWidth]="elementRef.nativeElement.offsetWidth"
  (overlayOutsideClick)="toggle()"
>
  <div
    #overlay
    class="mt-1 flex max-h-96 max-w-80 min-w-full origin-top flex-col overflow-hidden rounded-xs border border-gray-700 bg-gray-950 transition-all starting:scale-y-75 starting:opacity-0"
    animate.leave="animate-fade-out"
  >
    @if (filter() || multi()) {
      <div class="flex items-center gap-1 px-1 py-2">
        @if (multi()) {
          <lab-checkbox
            [ngModel]="allSelected()"
            (ngModelChange)="selectAll($event)"
          ></lab-checkbox>
        }
        <div class="relative flex grow">
          <input
            class="input"
            [placeholder]="'filter' | translate"
            [(ngModel)]="filterText"
          />
          <fa-icon
            class="pointer-events-none absolute top-2.5 right-2 z-3 text-gray-500"
            [icon]="faMagnifyingGlass"
          ></fa-icon>
        </div>
      </div>
    }
    <ul
      [id]="controlId() + '-listbox'"
      role="listbox"
      class="overflow-y-auto py-1"
      tabindex="-1"
    >
      @for (opt of options(); track opt.value) {
        @let label = opt.label | translate;
        @let checked = selection().has(opt.value);
        @if (label.toLowerCase().includes(filterLower())) {
          <li
            #option
            labRipple
            role="option"
            class="flex min-h-9 cursor-pointer items-center overflow-hidden ps-2 pe-4 outline-none select-none"
            [attr.tabindex]="opt.disabled ? -1 : 0"
            [attr.aria-disabled]="opt.disabled ? 'true' : 'false'"
            [attr.aria-selected]="opt.value === value()"
            [attr.aria-checked]="checked"
            [class]="
              opt.value === value()
                ? 'text-brand-50 bg-brand-950 hover:bg-brand-800 focus-visible:bg-brand-800'
                : 'hover:bg-gray-800 focus-visible:bg-gray-800'
            "
            [labTooltip]="opt.tooltip"
            [labTooltipType]="opt.tooltipType"
            labTooltipPosition="adjacent"
            (click)="select(opt.value)"
            (keydown.enter)="select(opt.value)"
            (keydown.arrowup)="focusMove(option, -1, $event)"
            (keydown.arrowdown)="focusMove(option, 1, $event)"
            (keydown.home)="focusFirst($event)"
            (keydown.end)="focusLast($event)"
          >
            @if (multi()) {
              <lab-checkbox
                class="pointer-events-none"
                [ngModel]="checked"
              ></lab-checkbox>
            }
            @if (opt.faIcon) {
              <fa-icon [icon]="opt.faIcon"></fa-icon>
            } @else if (opt.icon && opt.iconType) {
              <lab-icon [value]="opt.icon" [type]="opt.iconType"></lab-icon>
            }
            <span class="ms-1 line-clamp-1">{{ label }}</span>
          </li>
        }
      }
      @if (filterText() && !listItems().length) {
        <li class="flex min-h-9 items-center px-2">
          {{ 'select.noMatches' | translate }}
        </li>
      }
    </ul>
  </div>
</ng-template>
