<ng-container *ngIf="vm$ | async as vm">
  <p-breadcrumb [home]="vm.home" [model]="vm.breadcrumb"></p-breadcrumb>
  <ng-container *ngIf="vm.obj; else notFound">
    <table class="properties mb-4">
      <tr>
        <th colspan="2" class="text-center">
          <h3>{{ vm.obj.name }}</h3>
        </th>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <i class="lg" [class]="vm.id | iconClass: 'recipe'"></i>
        </td>
      </tr>
      <tr *ngIf="vm.category">
        <th>{{ 'data.category' | translate }}</th>
        <td>
          <a
            [routerLink]="'/data/categories/' + vm.obj.category"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="vm.category.name"
              [icon]="vm.obj.category | iconSmClass: 'category'"
            ></button>
          </a>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.time' | translate }}</th>
        <td>{{ vm.obj.time }}</td>
      </tr>
      <tr *ngIf="vm.ingredientIds.length">
        <th>{{ 'data.ingredients' | translate }}</th>
        <td>
          <div *ngFor="let i of vm.ingredientIds">
            <a [routerLink]="'/data/items/' + i" queryParamsHandling="preserve">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="vm.data.itemEntities[i].name"
                [icon]="i | iconSmClass"
              ></button>
            </a>
            <span class="ms-3">{{ vm.obj.in[i] }}</span>
          </div>
        </td>
      </tr>
      <tr *ngIf="vm.catalystIds.length">
        <th>{{ 'data.catalysts' | translate }}</th>
        <td>
          <div *ngFor="let i of vm.catalystIds">
            <a [routerLink]="'/data/items/' + i" queryParamsHandling="preserve">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="vm.data.itemEntities[i].name"
                [icon]="i | iconSmClass"
              ></button>
            </a>
            <span class="ms-3">{{ vm.obj.catalyst?.[i] }}</span>
          </div>
        </td>
      </tr>
      <tr *ngIf="vm.productIds.length">
        <th>{{ 'data.products' | translate }}</th>
        <td>
          <div *ngFor="let i of vm.productIds">
            <a [routerLink]="'/data/items/' + i" queryParamsHandling="preserve">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="vm.data.itemEntities[i].name"
                [icon]="i | iconSmClass"
              ></button>
            </a>
            <span class="ms-3">{{ vm.obj.out[i] | round }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.producers' | translate }}</th>
        <td>
          <div *ngFor="let i of vm.obj.producers">
            <a
              [routerLink]="'/data/machines/' + i"
              queryParamsHandling="preserve"
            >
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="vm.data.itemEntities[i].name"
                [icon]="i | iconSmClass"
              ></button>
            </a>
          </div>
        </td>
      </tr>
      <tr *ngIf="vm.obj.unlockedBy">
        <th>{{ 'data.unlockedBy' | translate }}</th>
        <td>
          <a
            [routerLink]="'/data/technologies/' + vm.obj.unlockedBy"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="vm.data.itemEntities[vm.obj.unlockedBy].name"
              [icon]="vm.obj.unlockedBy | iconSmClass: 'recipe'"
            ></button>
          </a>
        </td>
      </tr>
      <tr *ngIf="vm.obj.isMining">
        <th>{{ 'data.mining' | translate }}</th>
        <td>
          <p-checkbox
            [(ngModel)]="trueValue"
            [binary]="true"
            [disabled]="true"
          ></p-checkbox>
        </td>
      </tr>
      <tr *ngIf="vm.obj.isTechnology">
        <th>{{ 'data.technology' | translate }}</th>
        <td>
          <p-checkbox
            [(ngModel)]="trueValue"
            [binary]="true"
            [disabled]="true"
          ></p-checkbox>
        </td>
      </tr>
      <tr *ngIf="vm.obj.part">
        <th>{{ 'data.rocketPart' | translate }}</th>
        <td>
          <a
            [routerLink]="'/data/items/' + vm.obj.part"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="vm.data.itemEntities[vm.obj.part].name"
              [icon]="vm.obj.part | iconSmClass"
            ></button>
          </a>
        </td>
      </tr>
      <tr *ngIf="vm.obj.usage">
        <th>{{ 'data.energyConsumption' | translate }}</th>
        <td>{{ vm.obj.usage | usage }}</td>
      </tr>
      <tr>
        <th colspan="2">
          <div class="d-flex align-items-center justify-content-between">
            <button
              pButton
              pRipple
              type="button"
              class="invisible p-button-rounded"
              icon="fa-solid fa-rotate-right"
            ></button>
            <h3>{{ 'data.recipeSettings' | translate }}</h3>
            <button
              [class.invisible]="!vm.recipeSettingsRaw"
              pButton
              pRipple
              type="button"
              class="p-button-rounded"
              icon="fa-solid fa-rotate-left"
              (click)="resetRecipe(vm.id)"
            ></button>
          </div>
        </th>
      </tr>
      <tr>
        <th>{{ 'data.excluded' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="vm.recipeSettings.excluded"
            [binary]="true"
            (onChange)="toggleRecipe(vm.id, vm.recipeSettings, vm.data)"
          ></p-checkbox>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.checked' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="vm.recipeSettings.checked"
            [binary]="true"
            (onChange)="setRecipeChecked(vm.id, $event.checked)"
          ></p-checkbox>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.machine' | translate }}</th>
        <td>
          <a
            *ngIf="vm.recipeSettings.machineId as id"
            [routerLink]="'/data/machines/' + id"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="vm.data.itemEntities[id].name"
              [icon]="id | iconSmClass"
            ></button>
          </a>
        </td>
      </tr>
      <tr *ngIf="vm.recipeSettings.machineModuleIds?.length">
        <th>{{ 'data.modules' | translate }}</th>
        <td>
          <div *ngFor="let moduleId of vm.recipeSettings.machineModuleIds">
            <i
              *ngIf="moduleId === 'module'; else moduleButton"
              [class]="moduleId | iconSmClass"
            >
            </i>
            <ng-template #moduleButton>
              <a
                [routerLink]="'/data/modules/' + moduleId"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="vm.data.itemEntities[moduleId].name"
                  [icon]="moduleId | iconSmClass"
                ></button>
              </a>
            </ng-template>
          </div>
        </td>
      </tr>
      <ng-container *ngIf="vm.data.game === Game.Factorio">
        <tr *ngFor="let beacon of vm.recipeSettings.beacons">
          <th>{{ 'data.beacons' | translate }}</th>
          <td>
            <ng-container *ngFor="let beacon of vm.recipeSettings.beacons">
              <div>
                <a
                  *ngIf="beacon.id"
                  [routerLink]="'/data/beacons/' + beacon.id"
                  queryParamsHandling="preserve"
                >
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-text"
                    [label]="vm.data.itemEntities[beacon.id].name"
                    [icon]="beacon.id | iconSmClass"
                  ></button>
                </a>
                <span class="ms-3">{{ beacon.count }}</span>
              </div>
              <div *ngFor="let moduleId of beacon.moduleIds">
                <i
                  *ngIf="moduleId === 'module'; else moduleButton"
                  [class]="moduleId | iconSmClass"
                >
                </i>
                <ng-template #moduleButton>
                  <a
                    [routerLink]="'/data/modules/' + moduleId"
                    queryParamsHandling="preserve"
                  >
                    <button
                      pButton
                      pRipple
                      type="button"
                      class="p-button-text"
                      [label]="vm.data.itemEntities[moduleId].name"
                      [icon]="moduleId | iconSmClass"
                    ></button>
                  </a>
                </ng-template>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="vm.data.game === Game.Satisfactory">
        <th>{{ 'data.overclock' | translate }}</th>
        <td>{{ vm.recipeSettings.overclock }}%</td>
        <td></td>
      </tr>
      <tr *ngIf="vm.recipeR?.cost as cost">
        <th>{{ 'data.cost' | translate }}</th>
        <td>
          <lab-input-number
            [value]="cost.toString()"
            (setValue)="setRecipeCost(vm.id, $event)"
          ></lab-input-number>
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-template #notFound>
    <div class="my-5 p-error">{{ 'data.notFound' | translate }}</div>
  </ng-template>
</ng-container>
