<p-breadcrumb [home]="home()" [model]="breadcrumb()"></p-breadcrumb>
@if (obj(); as obj) {
  <table class="properties mb-4">
    <tr>
      <th colspan="2" class="text-center">
        <h3>{{ obj.name }}</h3>
      </th>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <i class="lg" [class]="id() | iconClass: 'recipe'"></i>
      </td>
    </tr>
    @if (info().category; as category) {
      <tr>
        <th>{{ 'data.category' | translate }}</th>
        <td>
          <a
            [routerLink]="dataRoute() + 'categories/' + obj.category"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="category.name"
              [icon]="obj.category | iconSmClass: 'category'"
            ></button>
          </a>
        </td>
      </tr>
    }
    <tr>
      <th>{{ 'data.time' | translate }}</th>
      <td>{{ obj.time }}</td>
    </tr>
    @if (info().ingredientIds.length) {
      <tr>
        <th>{{ 'data.ingredients' | translate }}</th>
        <td>
          @for (i of info().ingredientIds; track i) {
            <div>
              <a
                [routerLink]="dataRoute() + 'items/' + i"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[i].name"
                  [icon]="i | iconSmClass"
                ></button>
              </a>
              <span class="ms-3">{{ obj.in[i] }}</span>
            </div>
          }
        </td>
      </tr>
    }
    @if (info().catalystIds.length) {
      <tr>
        <th>{{ 'data.catalysts' | translate }}</th>
        <td>
          @for (i of info().catalystIds; track i) {
            <div>
              <a
                [routerLink]="dataRoute() + 'items/' + i"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[i].name"
                  [icon]="i | iconSmClass"
                ></button>
              </a>
              <span class="ms-3">{{ obj.catalyst?.[i] }}</span>
            </div>
          }
        </td>
      </tr>
    }
    @if (info().productIds.length) {
      <tr>
        <th>{{ 'data.products' | translate }}</th>
        <td>
          @for (i of info().productIds; track i) {
            <div>
              <a
                [routerLink]="dataRoute() + 'items/' + i"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[i].name"
                  [icon]="i | iconSmClass"
                ></button>
              </a>
              <span class="ms-3">{{ obj.out[i] | round }}</span>
            </div>
          }
        </td>
      </tr>
    }
    @if (!obj.flags.has('hideProducer')) {
      <tr>
        <th>{{ 'data.producers' | translate }}</th>
        <td>
          @for (i of obj.producers; track i) {
            <div>
              <a
                [routerLink]="dataRoute() + 'machines/' + i"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[i].name"
                  [icon]="i | iconSmClass"
                ></button>
              </a>
            </div>
          }
        </td>
      </tr>
    }
    @if (obj.locations) {
      <tr>
        <th>{{ 'data.locations' | translate }}</th>
        <td>
          @for (i of obj.locations; track i) {
            <div>
              <a
                [routerLink]="dataRoute() + 'locations/' + i"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().locationEntities[i].name"
                  [icon]="i | iconSmClass: 'location'"
                ></button>
              </a>
            </div>
          }
        </td>
      </tr>
    }
    @if (obj.flags.has('locked')) {
      <tr>
        <th>{{ 'data.unlockedBy' | translate }}</th>
        <td>
          @for (techId of unlockedBy(); track techId) {
            <div>
              <a
                [routerLink]="dataRoute() + 'technologies/' + techId"
                queryParamsHandling="preserve"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-text"
                  [label]="data().itemEntities[techId].name"
                  [icon]="techId | iconSmClass: 'item'"
                ></button>
              </a>
            </div>
          }
        </td>
      </tr>
    }
    @if (obj.flags.has('mining')) {
      <tr>
        <th>{{ 'data.mining' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="true"
            [binary]="true"
            [disabled]="true"
          ></p-checkbox>
        </td>
      </tr>
    }
    @if (obj.flags.has('technology')) {
      <tr>
        <th>{{ 'data.technology' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="true"
            [binary]="true"
            [disabled]="true"
          ></p-checkbox>
        </td>
      </tr>
    }
    @if (obj.part) {
      <tr>
        <th>{{ 'data.rocketPart' | translate }}</th>
        <td>
          <a
            [routerLink]="dataRoute() + 'items/' + obj.part"
            queryParamsHandling="preserve"
          >
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              [label]="data().itemEntities[obj.part].name"
              [icon]="obj.part | iconSmClass"
            ></button>
          </a>
        </td>
      </tr>
    }
    @if (obj.usage) {
      <tr>
        <th>{{ 'data.energyConsumption' | translate }}</th>
        <td>{{ obj.usage | usage }}</td>
      </tr>
    }
    <tr>
      <th colspan="2">
        <div class="d-flex align-items-center justify-content-between">
          <button
            pButton
            pRipple
            type="button"
            class="invisible p-button-rounded"
            icon="fa-solid fa-rotate-right"
          ></button>
          <h3>{{ 'data.recipeSettings' | translate }}</h3>
          <button
            [class.invisible]="!recipesStateRaw()[id()]"
            pButton
            pRipple
            type="button"
            class="p-button-rounded"
            icon="fa-solid fa-rotate-left"
            (click)="recipesSvc.resetId(id())"
          ></button>
        </div>
      </th>
    </tr>
    @if (recipeSettings(); as recipeSettings) {
      <tr>
        <th>{{ 'data.excluded' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="settings().excludedRecipeIds.has(id())"
            [binary]="true"
            (onChange)="changeExcluded($event.checked)"
          ></p-checkbox>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.checked' | translate }}</th>
        <td>
          <p-checkbox
            [ngModel]="settings().checkedRecipeIds.has(id())"
            [binary]="true"
            (onChange)="changeChecked($event.checked)"
          ></p-checkbox>
        </td>
      </tr>
      <tr>
        <th>{{ 'data.machine' | translate }}</th>
        <td>
          @if (recipeSettings.machineId; as id) {
            <a
              [routerLink]="dataRoute() + 'machines/' + id"
              queryParamsHandling="preserve"
            >
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                [label]="data().itemEntities[id].name"
                [icon]="id | iconSmClass"
              ></button>
            </a>
          }
        </td>
      </tr>
      @if (recipeSettings.modules?.length) {
        <tr>
          <th>{{ 'data.modules' | translate }}</th>
          <td>
            @for (module of recipeSettings.modules; track module.id) {
              @if (module.id; as moduleId) {
                <div>
                  @if (moduleId === 'module') {
                    <i [class]="moduleId | iconSmClass"></i>
                  } @else {
                    <a
                      [routerLink]="dataRoute() + 'modules/' + moduleId"
                      queryParamsHandling="preserve"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        class="p-button-text"
                        [label]="data().itemEntities[moduleId].name"
                        [icon]="moduleId | iconSmClass"
                      ></button>
                    </a>
                  }
                </div>
              }
            }
          </td>
        </tr>
      }
      @if (data().flags.has('beacons')) {
        <tr>
          <th>{{ 'data.beacons' | translate }}</th>
          <td>
            @for (beacon of recipeSettings.beacons; track $index) {
              <div>
                @if (beacon.id) {
                  <a
                    [routerLink]="dataRoute() + 'beacons/' + beacon.id"
                    queryParamsHandling="preserve"
                  >
                    <button
                      pButton
                      pRipple
                      type="button"
                      class="p-button-text"
                      [label]="data().itemEntities[beacon.id].name"
                      [icon]="beacon.id | iconSmClass"
                    ></button>
                  </a>
                }
                <span class="ms-3">{{ beacon.count }}</span>
              </div>
              @for (module of beacon.modules; track module.id) {
                @if (module.id; as moduleId) {
                  <div>
                    @if (moduleId === 'module') {
                      <i [class]="moduleId | iconSmClass"> </i>
                    } @else {
                      <a
                        [routerLink]="dataRoute() + '/modules/' + moduleId"
                        queryParamsHandling="preserve"
                      >
                        <button
                          pButton
                          pRipple
                          type="button"
                          class="p-button-text"
                          [label]="data().itemEntities[moduleId].name"
                          [icon]="moduleId | iconSmClass"
                        ></button>
                      </a>
                    }
                  </div>
                }
              }
            }
          </td>
        </tr>
      }
      @if (data().flags.has('overclock')) {
        <tr>
          <th>{{ 'data.overclock' | translate }}</th>
          <td>{{ recipeSettings.overclock }}%</td>
        </tr>
      }
    }
    @if (recipeR()?.cost; as cost) {
      <tr>
        <th>{{ 'data.cost' | translate }}</th>
        <td>
          <lab-input-number
            [value]="cost"
            (setValue)="recipesSvc.updateEntityField(id(), 'cost', $event)"
          ></lab-input-number>
        </td>
      </tr>
    }
  </table>
} @else {
  <div class="my-5 p-error">{{ 'data.notFound' | translate }}</div>
}
