<div class="flex gap-2">
  <div class="relative flex grow basis-2/3">
    <input
      class="input"
      [placeholder]="'filter' | translate"
      [(ngModel)]="filter"
    />
    @if (filter()) {
      <button
        type="button"
        class="absolute right-0"
        aria-hidden="true"
        labButton
        [faIcon]="faXmark"
        (click)="filter.set('')"
      ></button>
    } @else {
      <fa-icon
        class="pointer-events-none absolute top-1.5 right-1.5 text-gray-500"
        [icon]="faMagnifyingGlass"
      ></fa-icon>
    }
  </div>
  @if (data().flags.has('quality')) {
    <lab-select
      type="system"
      class="basis-1/3"
      [attr.aria-label]="'picker.qualityFilter' | translate"
      [options]="qualityOptions"
      [(ngModel)]="quality"
      [iconLocator]="qualityIconLocator"
    ></lab-select>
  }
</div>

<lab-tabs
  type="category"
  [(value)]="selectedCategory"
  [tabs]="categoryTabs()"
></lab-tabs>
<div class="flex flex-col overflow-y-auto">
  @for (ids of categoryRows()[selectedCategory()]; track $index) {
    <div class="flex flex-wrap">
      @for (id of ids; track $index) {
        <button
          type="button"
          [attr.aria-label]="data()[recordKey][id].name"
          labButton
          [iconType]="dialogData.type"
          [icon]="id"
          [border]="id === selection"
          [color]="id === selection ? 'brand' : 'gray'"
          [labTooltip]="id"
          [labTooltipType]="dialogData.type"
          (click)="selectId(id)"
        ></button>
      }
    </div>
  }
</div>
