<td [colSpan]="steps.leftSpan()"></td>

<td class="pe-0">
  @if (value().items; as items) {
    <div class="flex items-center justify-end">
      <span class="font-mono whitespace-pre">{{
        items | rate: cols().items.precision
      }}</span>
    </div>
  }
</td>

<td>
  @if (value().itemId; as itemId) {
    <div class="flex items-center">
      <lab-icon
        class="mx-0.5"
        [value]="itemId"
        type="item"
        [labTooltip]="itemId"
        labTooltipType="item"
        labTooltipPosition="adjacent"
      ></lab-icon>
    </div>
  }
</td>

@if (cols().belts.show) {
  <td class="pe-0">
    @if (value().belts; as belts) {
      <div class="flex items-center justify-end">
        <span class="font-mono whitespace-pre">{{
          belts | rate: cols().belts.precision
        }}</span>
      </div>
    }
  </td>
  <td>
    @if (value().beltId; as beltId) {
      <div class="flex items-center">
        <lab-icon
          class="mx-0.5"
          [value]="beltId"
          type="item"
          [text]="
            value().stack?.gt(rational.one) ? value().stack?.toString() : ''
          "
          [labTooltip]="beltId"
          labTooltipType="belt"
          labTooltipPosition="adjacent"
        ></lab-icon>
      </div>
    }
  </td>
}

@if (cols().wagons.show) {
  <td class="pe-0">
    @if (value().wagons; as wagons) {
      <div class="flex items-center justify-end">
        <span class="font-mono whitespace-pre">{{
          wagons | rate: cols().wagons.precision
        }}</span>
      </div>
    }
  </td>
  <td>
    @if (value().wagonId; as wagonId) {
      <div class="flex items-center">
        <lab-icon
          class="mx-0.5"
          [value]="wagonId"
          type="item"
          [labTooltip]="wagonId"
          labTooltipType="wagon"
          labTooltipPosition="adjacent"
        ></lab-icon>
      </div>
    }
  </td>
}

@if (cols().rockets.show) {
  <td colspan="2"></td>
}

<td class="pe-0">
  @if (
    !data().machineRecord[value().machineId ?? '']?.hideRate &&
      value().machines;
    as machines
  ) {
    <div class="flex items-center justify-end">
      <span class="font-mono whitespace-pre">{{
        machines | rate: cols().machines.precision
      }}</span>
    </div>
  }
</td>
<td [colSpan]="machineIdSpan()">
  <div class="flex items-center">
    <div class="flex items-center gap-1">
      @if (value().recipeId; as recipeId) {
        @let objId = value().recipeObjectiveId;
        <lab-icon
          class="mx-0.5"
          [value]="recipeId"
          type="recipe"
          [text]="objId ? '#' + objId : ''"
          [labTooltip]="recipeId"
          labTooltipType="recipe"
          labTooltipPosition="adjacent"
        ></lab-icon>
      }

      @if (value().machineId; as machineId) {
        <lab-icon
          class="mx-0.5"
          [value]="machineId"
          type="item"
          [labTooltip]="machineId"
          labTooltipType="machine"
          labTooltipPosition="adjacent"
        ></lab-icon>
      }
    </div>

    @if (value().percent; as percent) {
      <div class="flex items-center gap-1 ps-2">
        <div
          class="flex items-center justify-center p-2"
          [class.order-1]="!value().percentOnDest"
        >
          <fa-icon [icon]="faArrowRightLong"></fa-icon>
        </div>
        <span class="font-mono whitespace-pre">{{
          percent | rate: -2 | percentPad
        }}</span>
        @if (value().destId; as destId) {
          <lab-icon
            class="order-2 mx-0.5"
            [value]="destId"
            [type]="value().destType"
            [text]="value().destRecipeObjectiveId"
            [labTooltip]="destId"
            [labTooltipType]="value().destType"
          ></lab-icon>
        }
      </div>
    }
  </div>
</td>
