<tr>
  <td></td>
  @if (cols().checkbox.show) {
    <td></td>
  }
  @if (cols().tree.show) {
    <td></td>
  }
  <td colspan="3">{{ 'steps.total' | translate }}</td>
  <ng-container
    [ngTemplateOutlet]="totalCells()"
    [ngTemplateOutletContext]="{
      col: cols().belts,
      totals: totals().belts,
      type: 'belt',
    }"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="totalCells()"
    [ngTemplateOutletContext]="{
      col: cols().wagons,
      totals: totals().wagons,
      type: 'cargo-wagon',
    }"
  ></ng-container>
  @if (cols().rockets.show) {
    <td colspan="2"></td>
  }
  <ng-container
    [ngTemplateOutlet]="totalCells()"
    [ngTemplateOutletContext]="{
      col: cols().machines,
      totals: totals().machines,
      type: 'machine',
    }"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="totalCells()"
    [ngTemplateOutletContext]="{
      col: cols().beacons,
      totals: totals().beacons,
      type: 'beacon',
    }"
  ></ng-container>
  @if (cols().power.show) {
    <td>
      <span class="flex justify-end font-mono whitespace-pre">{{
        totals().power | power: cols().power.precision : powerUnit()
      }}</span>
    </td>
  }
  @if (cols().pollution.show) {
    <td>
      <span class="flex justify-end font-mono whitespace-pre">{{
        totals().pollution | rate: cols().pollution.precision
      }}</span>
    </td>
  }
  @if (cols().link.show) {
    <td></td>
  }
</tr>

<ng-template labTotalCells let-col="col" let-totals="totals" let-type="type">
  @if (col.show) {
    <td class="pe-0">
      <div class="flex flex-col gap-1">
        @for (tot of totals | keyvalue: sortByValue; track tot.key) {
          <span
            class="flex h-8 items-center justify-end font-mono whitespace-pre"
            >{{ tot.value }}</span
          >
        }
      </div>
    </td>
    <td>
      <div class="flex flex-col gap-1">
        @for (tot of totals | keyvalue: sortByValue; track tot.key) {
          <lab-icon
            [value]="tot.key"
            [type]="tot.key | totalIconType: data()"
            [labTooltip]="tot.key"
            [labTooltipType]="tot.key | totalTooltipType: type : data()"
          ></lab-icon>
        }
      </div>
    </td>
  }
</ng-template>
