@if (icon(); as icon) {
  <span
    class="absolute size-16 origin-top-left scale-50"
    [style.background-image]="icon.file"
    [style.background-position]="icon.position"
  >
  </span>

  @if (icon.quality; as q) {
    <lab-icon type="system" [value]="'q' + q"></lab-icon>
  }

  @if (icon.text; as text) {
    <span
      class="text-shadow-solid pointer-events-none absolute top-0 left-0 text-sm/3.5 font-bold text-white select-none text-shadow-black"
      >{{ text }}</span
    >
  }
} @else {
  @if (faIcon(); as faIcon) {
    <fa-icon [icon]="faIcon" class="size-8" size="xl"></fa-icon>
  }
}

@if (alt(); as text) {
  <span
    class="text-shadow-solid pointer-events-none absolute top-0 right-0 text-sm/3.5 font-bold text-white select-none text-shadow-black"
    >{{ text }}</span
  >
}

@if (text(); as text) {
  <span
    class="text-shadow-solid pointer-events-none absolute right-0 bottom-0 text-sm/3.5 font-bold text-white select-none text-shadow-black"
    >{{ text }}</span
  >
}
