@if (icon(); as icon) {
  <span
    class="size-16 absolute origin-top-left"
    [class.scale-50]="!full()"
    [style.zoom.%]="zoom"
    [style.background-image]="icon.image"
    [style.background-position]="icon.position"
    [class.light:invert]="icon.color | isLight"
  >
  </span>

  @if (icon.quality; as q) {
    <lab-icon
      class="top-2 right-2"
      type="quality"
      [value]="q.id"
      [full]="full()"
    ></lab-icon>
  }

  @if (icon.text; as text) {
    <span
      class="top-0 left-0 text-sm/3.5 font-semibold text-white text-shadow-black pointer-events-none absolute select-none text-shadow-solid"
      >{{ text }}</span
    >
  }
} @else {
  @if (faIcon(); as faIcon) {
    <fa-icon [icon]="faIcon" class="size-8" size="xl"></fa-icon>
  }
}

@if (alt(); as text) {
  <span
    class="top-0 right-0 text-sm/3.5 font-semibold text-white text-shadow-black pointer-events-none absolute select-none text-shadow-solid"
    >{{ text }}</span
  >
}

@if (text(); as text) {
  <span
    class="right-0 bottom-0 text-sm/3.5 font-semibold text-white text-shadow-black pointer-events-none absolute select-none text-shadow-solid"
    >{{ text }}</span
  >
}
