:host {
  display: flex;
}

.scroll {
  overflow-y: auto;
  max-height: 16rem;
  max-width: 21.75rem;
  padding: 0;

  > .tile {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

lab-icon {
  position: static;
}
