:host {
  position: absolute;
  left: -0.25rem;
  top: -0.25rem;
  background-color: var(--color-gray-2);
  border: 1px solid var(--color-brand);
  border-radius: 0.25rem;
  z-index: 10;
  padding: 0.25rem;
  margin: -1px;
}

.clickable.material-icons {
  padding: 0.375rem;
}

lab-icon.selected {
  background-color: var(--color-gray-0);
}
