<div (click)="open = true">
  <ng-content></ng-content>
</div>
<div class="dialog panel" *ngIf="open" [style.minWidth.rem]="width">
  <div class="dialog-title">
    <div class="header">{{ header }}</div>
    <button (click)="open = false; $event.stopPropagation()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="panel">
    <lab-icon
      *ngIf="includeEmptyModule"
      class="grid"
      tooltip="No Module"
      [iconId]="ItemId.Module"
      [class.selected]="selected === ItemId.Module"
      [data]="data"
      (click)="clickId(ItemId.Module, $event)"
    >
    </lab-icon>
    <ng-container *ngFor="let id of options">
      <lab-icon
        class="grid"
        [data]="data"
        [iconId]="id"
        [tooltip]="
          data.itemEntities[id]?.name || data.recipeEntities[id]?.name || null
        "
        [item]="selectType === IdType.Item ? data.itemEntities[id] : null"
        [recipe]="selectType === IdType.Recipe ? data.recipeEntities[id] : null"
        [displayRate]="displayRate"
        [class.selected]="id === selected"
        (click)="clickId(id, $event)"
      ></lab-icon>
    </ng-container>
  </div>
</div>
