:host {
  position: absolute;
  background-color: var(--color-gray-2);
  border: 1px solid var(--color-brand);
  border-radius: 0.25rem;
  z-index: 10;
  padding: 0.25rem;
  margin: -1px;
  display: flex;
  flex-wrap: wrap;
}

.clickable.material-icons {
  padding: 0.375rem;
}

.clickable.module {
  margin-right: 2rem;
}

lab-icon.selected {
  background-color: var(--color-gray-0);
}
