<lab-steps
  [data]="data$ | async"
  [recipe]="recipe$ | async"
  [steps]="steps$ | async"
  [itemPrecision]="itemPrecision$ | async"
  [beltPrecision]="beltPrecision$ | async"
  [factoryPrecision]="factoryPrecision$ | async"
  (ignoreStep)="ignoreStep($event)"
  (setBelt)="setBelt($event)"
  (setFactory)="setFactory($event)"
  (setModules)="setModules($event)"
  (setBeaconModule)="setBeaconModule($event)"
  (setBeaconCount)="setBeaconCount($event)"
  (resetStep)="resetStep($event)"
>
</lab-steps>
