::ng-deep .picker-overlay {
  // Large enough to fit 10 columns of icon buttons, up to 100vw
  width: calc(32.5rem + 2px);
  max-width: 100vw;

  // No extra padding inside panels, already enough from overlay panel
  .p-tabview-panels {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .p-tabview-nav {
    // Scale tab icons to be larger (32px -> 48px)
    .lab-icon {
      margin: -0.75rem;
      width: 3rem;
      height: 3rem;

      &::before {
        transform: scale(0.75);
      }
    }
  }
}

.picker-title {
  font-size: 1.25rem;
  font-weight: 700;
}
