<ng-container *ngIf="vm$ | async as vm">
  <div (click)="clickOpen(picker, vm.data, $event)">
    <ng-content></ng-content>
  </div>
  <p-overlayPanel #picker styleClass="picker-overlay">
    <div class="row">
      <div class="col-12 col-sm-7 d-flex align-items-center mb-3">
        <div class="picker-title">{{ 'picker.select' | translate }}</div>
      </div>
      <div class="col-12 col-sm-5 mb-3">
        <span class="p-input-icon-left">
          <i class="fa-solid fa-search"></i>
          <input
            type="text"
            class="w-100"
            pInputText
            [placeholder]="'picker.search' | translate"
            [formControl]="searchCtrl"
          />
        </span>
      </div>
    </div>
    <p-tabView
      [scrollable]="categoryIds.length > 6 || vm.width < Breakpoint.Small"
      [(activeIndex)]="activeIndex"
    >
      <ng-container *ngFor="let id of categoryIds; let i = index">
        <p-tabPanel
          *ngIf="vm.data.categoryEntities[id] as category"
          [tooltip]="category.name"
          [selected]="i === activeIndex"
        >
          <ng-template pTemplate="header">
            <i [class]="id | iconClass"></i>
          </ng-template>
          <ng-template pTemplate="content">
            <div
              *ngFor="let itemIds of categoryItemRows[id]"
              class="d-flex flex-wrap"
            >
              <ng-container *ngFor="let itemId of itemIds">
                <button
                  pButton
                  pRipple
                  [class.p-button-text]="itemId !== selectedId"
                  [icon]="itemId | iconClass"
                  (click)="clickItem(picker, itemId)"
                ></button>
              </ng-container>
            </div>
          </ng-template>
        </p-tabPanel>
      </ng-container>
    </p-tabView>
  </p-overlayPanel>
</ng-container>

<!-- <ng-container *ngIf="vm$ | async as vm">
  <div (click)="clickOpen(vm.data)">
    <ng-content></ng-content>
  </div>
  <lab-dialog *ngIf="open" (closeDialog)="cancel()">
    <div class="dialog-title">
      <div class="header">{{ 'picker.select' | translate }}</div>
      <div class="dialog-menu">
        <input
          class="search"
          *ngIf="search"
          data-test="lab-picker-search-value"
          labFocus
          [(ngModel)]="searchValue"
          (input)="inputSearch(vm.data)"
        />
        <button
          *ngIf="!search"
          data-test="lab-picker-search"
          (click)="search = true"
        >
          <i class="material-icons">search</i>
        </button>
        <button (click)="cancel()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
    <div class="panel">
      <div #tabsScroll class="tabs">
        <ng-container *ngFor="let id of categoryIds">
          <lab-icon
            *ngIf="vm.data.categoryEntities[id] as category"
            [class.selected]="id === tab"
            [iconId]="id"
            [scale]="false"
            [scrollLeft]="tabsScroll.scrollLeft"
            [tooltip]="category.name"
            (click)="tab = id"
          ></lab-icon>
        </ng-container>
      </div>
      <div #tabScroll class="tab panel">
        <div class="tile">
          <div class="row" *ngFor="let row of categoryItemRows[tab]">
            <lab-icon
              *ngFor="let id of row"
              class="grid"
              [iconId]="id"
              [scrollTop]="tabScroll.scrollTop"
              [tooltip]="vm.data.itemEntities[id].name"
              [recipe]="vm.data.recipeEntities[vm.data.itemRecipeId[id]]"
              (click)="selectId.emit(id); open = false"
            ></lab-icon>
          </div>
        </div>
      </div>
    </div>
  </lab-dialog>
</ng-container> -->
