<ng-container *ngIf="vm$ | async as vm">
  <div data-test="lab-picker-open" (click)="clickOpen(vm.data)">
    <ng-content></ng-content>
  </div>
  <lab-dialog *ngIf="open" (closeDialog)="cancel()">
    <div class="dialog-title">
      <div class="header">{{ 'picker.select' | translate }}</div>
      <div class="dialog-menu">
        <input
          class="search"
          *ngIf="search"
          data-test="lab-picker-search-value"
          labFocus
          [(ngModel)]="searchValue"
          (input)="inputSearch(vm.data)"
        />
        <button
          *ngIf="!search"
          data-test="lab-picker-search"
          (click)="search = true"
        >
          <i class="material-icons">search</i>
        </button>
        <button (click)="cancel()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
    <div class="panel">
      <div #tabsScroll class="tabs">
        <ng-container *ngFor="let id of categoryIds">
          <lab-icon
            *ngIf="vm.data.categoryEntities[id] as category"
            [class.selected]="id === tab"
            [iconId]="id"
            [scale]="false"
            [scrollLeft]="tabsScroll.scrollLeft"
            [tooltip]="category.name"
            (click)="tab = id"
          ></lab-icon>
        </ng-container>
      </div>
      <div #tabScroll class="tab panel">
        <div class="tile">
          <div class="row" *ngFor="let row of categoryItemRows[tab]">
            <lab-icon
              *ngFor="let id of row"
              class="grid"
              [iconId]="id"
              [scrollTop]="tabScroll.scrollTop"
              [tooltip]="vm.data.itemEntities[id].name"
              [recipe]="vm.data.recipeEntities[vm.data.itemRecipeId[id]]"
              (click)="selectId.emit(id); open = false"
            ></lab-icon>
          </div>
        </div>
      </div>
    </div>
  </lab-dialog>
</ng-container>
