<ng-container *ngIf="vm$ | async as vm">
  <p-breadcrumb [home]="vm.home" [model]="vm.breadcrumb"></p-breadcrumb>
  <ng-container *ngIf="vm.obj; else notFound">
    <h3>{{ vm.obj.name }}</h3>
    <i class="lg" [class]="vm.id | iconClass: 'category'"></i>
    <h3>{{ 'data.items' | translate }}</h3>
    <lab-collection-table [ids]="vm.itemIds" type="item"></lab-collection-table>
    <h3>{{ 'data.recipes' | translate }}</h3>
    <lab-collection-table
      [ids]="vm.recipeIds"
      type="recipe"
    ></lab-collection-table>
  </ng-container>
  <ng-template #notFound>
    <div class="p-error">{{ 'data.notFound' | translate }}</div>
  </ng-template>
</ng-container>
