<p-breadcrumb [home]="home()" [model]="breadcrumb()"></p-breadcrumb>
@if (obj(); as obj) {
  <h3>{{ obj.name }}</h3>
  <i class="lg" [class]="id() | iconClass: 'category'"></i>
  <h3>{{ 'data.items' | translate }}</h3>
  <lab-collection-table [ids]="itemIds()" type="item"></lab-collection-table>
  <h3>{{ 'data.recipes' | translate }}</h3>
  <lab-collection-table
    [ids]="recipeIds()"
    type="recipe"
  ></lab-collection-table>
} @else {
  <div class="p-error">{{ 'data.notFound' | translate }}</div>
}
