<div class="top-bar">
  <div>
    <div class="flex">
      <lab-icon
        class="button"
        title="Settings"
        [iconId]="ItemId.IronGearWheel"
        [data]="data$ | async"
        (click)="showSettings = !showSettings"
      ></lab-icon>
      <div class="header"><a href="list#p=">Factorio Lab Calculator</a></div>
    </div>
    <div class="links">
      <a target="_blank" href="https://github.com/factoriolab/factorio-lab/wiki"
        >Wiki</a
      >
      <span class="separator">|</span>
      <a
        target="_blank"
        href="https://github.com/factoriolab/factorio-lab/issues"
        >Issues</a
      >
      <span class="separator">|</span>
      <a target="_blank" href="https://github.com/factoriolab/factorio-lab"
        >Source</a
      >
      <span class="separator">|</span>
      <a target="_blank" href="https://ko-fi.com/dcbroad3">Donate</a>
    </div>
  </div>
</div>
<main>
  <lab-settings-container
    *ngIf="showSettings"
    @slideLeftRight
    (close)="showSettings = !showSettings"
  >
  </lab-settings-container>
  <div class="view">
    <lab-products-container></lab-products-container>
    <div *ngIf="(products$ | async).length">
      <ul role="navigation" class="tabs">
        <li
          routerLink="/list"
          routerLinkActive="active"
          preserveFragment="true"
          title="View as list of steps"
        >
          <span>List</span>
        </li>
        <li
          routerLink="/flow"
          routerLinkActive="active"
          preserveFragment="true"
          title="View as sankey flow diagram"
        >
          <span>Flow</span>
        </li>
      </ul>
      <div class="panel">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
