:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.view {
  background-color: var(--color-back);
  box-shadow: inset 3px 0 3px -3px #201815, inset 2px 0 2px -2px #201815,
    inset 1px 0 1px -1px #201815, inset 0 3px 3px -3px #8f8c8b,
    inset 0 2px 2px -2px #8f8c8b, inset 0 1px 1px -1px #8f8c8b,
    inset -3px 0 3px -3px #201815, inset -2px 0 2px -2px #201815,
    inset -2px 0 1px -1px #201815, inset 0 -3px 3px -3px #000,
    inset 0 -2px 2px -2px #000, inset 0 -1px 1px -1px #000, 0 0 2px 0 #201815,
    0 0 4px 0 #201815;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
  padding: 0.75rem;
}

ul {
  display: flex;

  li {
    padding: 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    user-select: none;

    &.expand {
      padding: 0.25rem 0.5rem 0 0.5rem;
    }

    &:first-child {
      border-bottom-left-radius: 0;
    }

    &.active {
      background-color: var(--color-gray-2);
    }

    &:not(.active) {
      color: var(--color-brand);
      cursor: pointer;

      &:hover {
        background-color: var(--color-gray-1);
      }
    }
  }
}

.spacer {
  flex-grow: 1;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  lab-settings-container {
    margin-right: -20rem;
  }
}
