<ng-container *ngIf="vm$ | async as vm">
  <div class="top-bar">
    <div>
      <div class="links">
        <div class="header">
          <a [href]="homeHref"
            ><h1>{{ title | translate }}</h1></a
          >
        </div>
        <ng-container *ngIf="vm.game !== Game.Factorio">
          <span class="separator">|</span>
          <a href="factorio">{{ 'game.Factorio' | translate }}</a>
        </ng-container>
        <ng-container *ngIf="vm.game !== Game.DysonSphereProgram">
          <span class="separator">|</span>
          <a href="dsp">{{ 'game.DysonSphereProgram' | translate }}</a>
        </ng-container>
        <ng-container *ngIf="vm.game !== Game.Satisfactory">
          <span class="separator">|</span>
          <a href="satisfactory">{{ 'game.Satisfactory' | translate }}</a>
        </ng-container>
      </div>
      <div class="links">
        <a
          target="_blank"
          href="https://github.com/factoriolab/factoriolab/wiki"
          >Wiki</a
        >
        <span class="separator">|</span>
        <a target="_blank" href="https://github.com/factoriolab/factoriolab"
          >Source</a
        >
        <span class="separator">|</span>
        <a target="_blank" href="https://discord.gg/N4FKV687x2">Discord</a>
        <span class="separator">|</span>
        <a target="_blank" href="https://ko-fi.com/dcbroad3">Support</a>
      </div>
    </div>
  </div>
  <ng-container *ngIf="(errorSvc.message$ | async) == null; else errorTile">
    <main *ngIf="vm.mod != null; else loading">
      <div *ngIf="showSettings" @slideLeftRight class="settings">
        <lab-settings (closeSettings)="showSettings = !showSettings">
        </lab-settings>
      </div>
      <div class="view">
        <div *ngIf="showPoll" class="poll">
          <h2>Poll</h2>
          <div class="panel">
            <a target="_blank" [href]="poll">Have a minute to answer a poll?</a>
            <div class="flex buttons">
              <button (click)="hidePoll(true)">
                <span class="text">Don't show again</span>
              </button>
              <button (click)="hidePoll()">
                <span class="text">Close</span>
              </button>
            </div>
          </div>
        </div>
        <lab-products></lab-products>
        <div *ngIf="vm.products.length">
          <ul role="navigation" class="tabs">
            <li
              routerLink="/list"
              routerLinkActive="active"
              queryParamsHandling="preserve"
            >
              <span>{{ 'app.list' | translate }}</span>
            </li>
            <li
              routerLink="/flow"
              routerLinkActive="active"
              queryParamsHandling="preserve"
            >
              <span>{{ 'app.flow' | translate }}</span>
            </li>
            <li
              routerLink="/matrix"
              routerLinkActive="active"
              queryParamsHandling="preserve"
            >
              <span>{{ 'app.matrix' | translate }}</span>
            </li>
            <li *ngIf="!showSettings" (click)="showSettings = true">
              <span>{{ 'app.settings' | translate }}</span>
            </li>
          </ul>
          <div class="panel">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div>
          <div class="panel dark flex tween">
            <ng-container
              *ngIf="
                vm.result.result === MatrixResultType.Solved ||
                  vm.result.result === MatrixResultType.Cached;
                else notSolved
              "
            >
              <span *ngIf="vm.result.A && vm.result.O"
                >Simplex {{ vm.result.result }}: {{ vm.result.time }}ms,
                {{ vm.result.pivots }} pivots<br />
                Size: {{ vm.result.A.length }} x {{ vm.result.A[0].length }},
                Cost:
                {{ vm.result.O[vm.result.O.length - 1].toPrecision(2) }}
              </span>
            </ng-container>
            <ng-template #notSolved>
              <span>Simplex {{ vm.result.result }}</span>
            </ng-template>
            <span>{{ version }}</span>
          </div>
        </div>
      </div>
    </main>
  </ng-container>
  <ng-template #loading>
    <div class="view msg load">
      <div><div class="panel">Loading data, please wait...</div></div>
    </div>
  </ng-template>
  <ng-template #errorTile>
    <div class="view msg err">
      <div>
        <h2>Error</h2>
        <div class="panel invalid">
          <div>The application has encountered an error:</div>
          <br />
          <div>{{ errorSvc.message$ | async }}</div>
          <br />
          <a [href]="homeHref">Click here to reset</a>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
