:host {
  display: flex;
  flex-direction: column;
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
  font-size: 110%;

  > * {
    max-width: 75rem;
    padding: 0 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  lab-icon {
    margin: -0.5rem 0.5rem -0.5rem 0;
  }

  .header {
    font-size: larger;

    a,
    a:hover {
      color: var(--color-header);
      text-decoration: none;
    }
  }

  .links {
    display: flex;
    align-items: center;
    margin-left: 2.75rem;

    .separator {
      color: var(--color-link);
      margin: 0 0.5rem;
    }
  }
}

main {
  flex-grow: 1;
  display: flex;
  width: 75rem;
  max-width: 100%;
  margin: 0 auto;
}

.view {
  flex-grow: 1;
  margin-top: 0.75rem;
  padding: 0 1rem;

  > * {
    background-color: var(--color-back);
    box-shadow: var(--shadow-main);
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

ul {
  display: flex;

  li {
    padding: 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    user-select: none;

    &.expand {
      padding: 0.25rem 0.5rem 0 0.5rem;
    }

    &:first-child {
      border-bottom-left-radius: 0;
    }

    &.active {
      background-color: var(--color-gray-2);
    }

    &:not(.active) {
      color: var(--color-brand);
      cursor: pointer;

      &:hover {
        background-color: var(--color-gray-1);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  lab-settings-container {
    margin-right: -20rem;
  }
}
