<ng-container *ngIf="vm$ | async as vm">
  <table class="result-info my-2">
    <tr>
      <th colspan="2">{{ 'matrix.statistics' | translate }}</th>
    </tr>
    <tr>
      <th>{{ 'matrix.simplexResult' | translate }}</th>
      <td>{{ vm.result.resultType }}</td>
    </tr>
    <tr *ngIf="vm.result.time != null">
      <th>{{ 'matrix.runtime' | translate }}</th>
      <td>
        {{ 'matrix.runtimeValue' | translate : { value: vm.result.time } }}
      </td>
    </tr>
  </table>
  <table class="result-info my-2">
    <tr>
      <th colspan="2">
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ 'matrix.costModifiers' | translate }}</span>
          <button
            pButton
            pRipple
            type="button"
            class="ms-3 p-button-outlined p-button-rounded"
            [class.invisible]="!vm.settingsModified.cost"
            icon="fa-solid fa-rotate-left"
            [pTooltip]="'matrix.costUndoTooltip' | translate"
            (click)="resetCost()"
          ></button>
        </div>
      </th>
    </tr>
    <tr [pTooltip]="'matrix.recipeCostTooltip' | translate">
      <th>{{ 'matrix.recipe' | translate }}</th>
      <td>
        <lab-input-number
          width="8rem"
          [value]="vm.settings.costFactor"
          (setValue)="setCostFactor($event)"
        ></lab-input-number>
      </td>
    </tr>
    <tr [pTooltip]="'matrix.machineCostTooltip' | translate">
      <th>{{ 'matrix.machine' | translate }}</th>
      <td>
        <lab-input-number
          width="8rem"
          [value]="vm.settings.costMachine"
          (setValue)="setCostMachine($event)"
        ></lab-input-number>
      </td>
    </tr>
    <tr [pTooltip]="'matrix.unproduceableCostTooltip' | translate">
      <th>{{ 'matrix.unproduceable' | translate }}</th>
      <td>
        <lab-input-number
          width="8rem"
          [value]="vm.settings.costUnproduceable"
          (setValue)="setCostUnproduceable($event)"
        ></lab-input-number>
      </td>
    </tr>
    <tr [pTooltip]="'matrix.excludedCostTooltip' | translate">
      <th>{{ 'matrix.excluded' | translate }}</th>
      <td>
        <lab-input-number
          width="8rem"
          [value]="vm.settings.costExcluded"
          (setValue)="setCostExcluded($event)"
        ></lab-input-number>
      </td>
    </tr>
  </table>
</ng-container>
