table.result-info {
  td,
  th {
    padding: 0.5rem;
  }
}

:host ::ng-deep {
  .p-datatable-tfoot {
    th {
      border-bottom: 1px solid var(--surface-border);
    }

    th,
    td {
      padding: 0.5rem;
    }
  }
}
