table.result-info {
  border-collapse: collapse;

  td,
  th {
    padding: 0.5rem;
    border-bottom: 1px solid var(--surface-border);
  }
}

:host ::ng-deep {
  .p-datatable {
    .p-datatable-thead {
      th {
        position: sticky;
      }
    }

    .p-datatable-tfoot {
      th {
        border-bottom: 1px solid var(--surface-border);
      }

      th,
      td {
        padding: 0.5rem;
      }
    }
  }
}
