:host {
  display: flex;
}

lab-dialog {
  max-width: 24rem;
}

.scroll {
  overflow-y: auto;
  max-height: 16rem;
  padding: 0;

  > .tile {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

lab-icon.grid.disabled {
  cursor: default;
  background-color: inherit;
  box-shadow: inherit;

  &:hover {
    background-color: inherit;
    box-shadow: inherit;
  }
}

.info {
  margin-top: 0.5rem;
  font-size: small;
}

lab-icon {
  position: static;
}
