<ng-container *ngIf="vm$ | async as vm">
  <div data-test="lab-ranker-open" (click)="clickOpen()">
    <ng-content></ng-content>
  </div>
  <lab-dialog *ngIf="open" (closeDialog)="close()">
    <div class="dialog-title">
      <div class="header">{{ header }}</div>
      <button (click)="cancel()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div #scroll class="panel scroll" [style.width.rem]="width">
      <div class="tile">
        <lab-icon
          [tooltip]="'ranker.noModule' | translate"
          class="grid"
          data-test="lab-ranker-none"
          [class.selected]="!editValue.length"
          [iconId]="ItemId.Module"
          [text]="text(ItemId.Module)"
          [scrollTop]="scroll.scrollTop"
          (click)="clickId(ItemId.Module, vm.data)"
        >
        </lab-icon>
      </div>
      <div class="tile" *ngFor="let row of rows">
        <lab-icon
          *ngFor="let id of row"
          class="grid"
          data-test="lab-ranker-option"
          [class.disabled]="!canAdd(id, vm.data)"
          [class.selected]="editValue.indexOf(id) !== -1"
          [iconId]="id"
          [text]="text(id)"
          [tooltip]="
            vm.data.itemEntities[id] ? vm.data.itemEntities[id].name : null
          "
          [item]="vm.data.itemEntities[id]"
          [scrollTop]="scroll.scrollTop"
          (click)="clickId(id, vm.data)"
        ></lab-icon>
      </div>
    </div>
    <ng-container *ngIf="edited">
      <div class="info">
        {{
          (vm.data.game === Game.Factorio
            ? 'ranker.rankerModuleInfo'
            : 'ranker.rankerProliferatorInfo'
          ) | translate
        }}
      </div>
      <div class="dialog-buttons">
        <button (click)="cancel()">
          <span class="text">{{ 'ranker.cancel' | translate }}</span>
        </button>
        <button class="green" (click)="close()">
          {{ 'ranker.confirm' | translate }}
        </button>
      </div>
    </ng-container>
  </lab-dialog>
</ng-container>
