<lab-settings
  [data]="data$ | async"
  [settings]="settings$ | async"
  (setDisplayRate)="setDisplayRate($event)"
  (setItemPrecision)="setItemPrecision($event)"
  (setBeltPrecision)="setBeltPrecision($event)"
  (setFactoryPrecision)="setFactoryPrecision($event)"
  (setBelt)="setBelt($event)"
  (setAssembler)="setAssembler($event)"
  (setFurnace)="setFurnace($event)"
  (setOilRecipe)="setOilRecipe($event)"
  (setFuel)="setFuel($event)"
  (setFlowRate)="setFlowRate($event)"
  (setProdModule)="setProdModule($event)"
  (setSpeedModule)="setSpeedModule($event)"
  (setBeaconModule)="setBeaconModule($event)"
  (setBeaconCount)="setBeaconCount($event)"
  (setDrillModule)="setDrillModule($event)"
  (setMiningBonus)="setMiningBonus($event)"
  (setResearchSpeed)="setResearchSpeed($event)"
>
</lab-settings>
