.p-inputgroup {
  flex-wrap: wrap;

  > * {
    max-height: 3rem;
  }

  > lab-input-number,
  > p-dropdown:not(.icon) {
    min-width: 8rem;
  }

  p-dropdown.icon {
    flex-basis: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
