<div class="flex gap-1 sm:gap-2">
  <button
    type="button"
    labButton
    [faIcon]="faTableColumns"
    text="columns.header"
    (click)="columns.show()"
  ></button>
  @if (objectivesStore.steps().length) {
    <button
      type="button"
      labButton
      [faIcon]="faFileArrowDown"
      text="steps.downloadAsCsv"
      (click)="exporter.stepsToCsv(objectivesStore.steps())"
    ></button>
  }
</div>

<table class="table">
  <thead>
    <tr>
      <!-- Row Actions -->
      <th class="w-0"></th>
      <!-- Checkbox -->
      @if (cols().checkbox.show) {
        <th class="w-0">
          <div class="flex">
            @let disabled =
              !settings().checkedItemIds.size &&
              !settings().checkedRecipeIds.size &&
              !settings().checkedObjectiveIds.size;
            <button
              type="button"
              labButton
              [attr.aria-label]="'steps.checkedUndoTooltip' | translate"
              [faIcon]="disabled ? faSquareCheck : faRotateLeft"
              [labTooltip]="disabled ? '' : 'steps.checkedUndoTooltip'"
              [disabled]="disabled"
              [border]="!disabled"
              (click)="resetChecked()"
            ></button>
          </div>
        </th>
      }
      <!-- Tree -->
      @if (!focus() && cols().tree.show) {
        <th>{{ 'options.column.tree' | translate }}</th>
      }
      <!-- Items (Surplus, Value, & Icon) -->
      <th
        colspan="3"
        labSortHeader
        [text]="displayRateInfo().itemsLabel"
        column="items"
      ></th>
      <!-- Belts (Value & Icon) -->
      @if (cols().belts.show) {
        <th
          colspan="2"
          labSortHeader
          text="options.column.belts"
          column="belts"
        ></th>
      }
      <!-- Wagons (Value & Icon) -->
      @if (cols().wagons.show) {
        <th
          colspan="2"
          labSortHeader
          [text]="displayRateInfo().wagonsLabel"
          column="wagons"
        ></th>
      }
      <!-- Rockets (Value & Icon) -->
      @if (cols().rockets.show) {
        <th
          colspan="2"
          labSortHeader
          [text]="displayRateInfo().rocketsLabel"
          column="rockets"
        ></th>
      }
      <!-- Machines (Value & Icon) -->
      <th
        colspan="2"
        labSortHeader
        text="options.column.machines"
        column="machines"
      ></th>
      <!-- Beacons -->
      @if (cols().beacons.show) {
        <th>{{ 'options.column.beacons' | translate }}</th>
      }
      <!-- Power -->
      @if (cols().power.show) {
        <th labSortHeader text="options.column.power" column="power"></th>
      }
      <!-- Pollution -->
      @if (cols().pollution.show) {
        <th
          labSortHeader
          [text]="displayRateInfo().pollutionLabel"
          column="pollution"
        ></th>
      }
      <!-- Link -->
      @if (cols().link.show) {
        <th></th>
      }
    </tr>
  </thead>
  <tbody>
    @for (step of sortedSteps(); track step.id) {
      @let expanded = expandedSteps().has(step.id);
      <tr>
        <!-- Row Actions -->
        <td>
          @let stepId = 'step_' + step.id;
          <div [id]="stepId" class="hidden"></div>
          @for (
            item of objectivesStore.stepDetails()[step.id].tabs;
            track item.label
          ) {
            <div [id]="stepId + '_' + item.label" class="hidden"></div>
          }
          <div class="flex">
            @let tooltip = expanded ? 'steps.hideDetails' : 'steps.showDetails';
            <button
              type="button"
              class="*:transition-transform"
              [class.*:rotate-90]="expanded"
              labButton
              [faIcon]="faAngleRight"
              [border]="false"
              [attr.aria-label]="tooltip | translate"
              [labTooltip]="tooltip"
              labTooltipPosition="adjacent"
              (click)="toggleStep(step)"
            ></button>
          </div>
        </td>
        <!-- Checkbox -->
        @if (cols().checkbox.show) {
          <td>
            <div class="flex justify-center">
              <lab-checkbox
                [ngModel]="step.checked"
                (ngModelChange)="changeStepChecked(step, $event)"
              ></lab-checkbox>
            </div>
          </td>
        }
        <!-- Tree -->
        @if (!focus() && cols().tree.show) {
          <td class="px-0 py-0 sm:px-2">
            <div class="flex h-12 items-center">
              @if (sort() == null && tree()[step.id].length) {
                @for (
                  trail of tree()[step.id];
                  track $index;
                  let first = $first;
                  let last = $last
                ) {
                  <div
                    class="mb-6 self-end border-dotted border-gray-50"
                    [class]="{
                      'border-e-2': trail || last,
                      'ms-2': first,
                      'ms-4': !first,
                      'sm:ms-4.5': first,
                      'sm:ms-6': !first,
                      'h-12.5': trail || last,
                    }"
                  ></div>
                }
                <div class="w-2 border-t-2 border-dotted border-gray-50"></div>
              }
              <div class="z-1 flex flex-col items-center">
                @if (step.itemId && step.recipeObjectiveId == null) {
                  <lab-exclude-button
                    [itemId]="step.itemId"
                  ></lab-exclude-button>
                } @else if (step.recipeId) {
                  <lab-icon
                    [value]="step.recipeId"
                    type="recipe"
                    [text]="'#' + step.recipeObjectiveId"
                    [labTooltip]="step.recipeId"
                    labTooltipType="recipe"
                    labTooltipPosition="adjacent"
                    [labTooltipAdjustedRecipe]="step.recipe"
                  ></lab-icon>
                }
              </div>
            </div>
          </td>
        }
        <!-- Items (Value & Icon) -->
        <td>
          @if (step.surplus) {
            <div
              class="text-brand-400 flex justify-end font-mono whitespace-pre"
            >
              (+{{ step.surplus | rate: cols().items.precision }})
            </div>
          }
        </td>
        <td class="w-0 pe-0">
          @if (step.items) {
            <div class="flex justify-end font-mono whitespace-pre">
              {{ step.items | rate: cols().items.precision }}
            </div>
          }
        </td>
        <td class="ps-0">
          @if (step.itemId) {
            <div class="relative flex">
              <span
                class="absolute top-1 text-transparent select-none"
                aria-hidden="true"
                >{{ data().itemRecord[step.itemId].name }}</span
              >
              <lab-exclude-button [itemId]="step.itemId"></lab-exclude-button>
            </div>
          }
        </td>
        <!-- Belts (Value & Icon) -->
        @if (cols().belts.show) {
          <td></td>
          <td></td>
        }
        <!-- Wagons (Value & Icon) -->
        @if (cols().wagons.show) {
          <td></td>
          <td></td>
        }
        <!-- Rockets (Value & Icon) -->
        @if (cols().rockets.show) {
          <td></td>
          <td></td>
        }
        <!-- Machines (Value & Icon) -->
        @if (step.recipeSettings?.machineId; as machineId) {
          <td class="pe-0">
            @if (
              step.machines &&
              step.machines.nonzero() &&
              !data().machineRecord[machineId].hideRate
            ) {
              <div class="flex justify-end font-mono whitespace-pre">
                {{ step.machines | rate: cols().machines.precision }}
              </div>
            }
          </td>
          <td class="ps-0">
            <div class="flex">
              <lab-icon [value]="machineId" type="item"></lab-icon>
            </div>
          </td>
        } @else {
          <td colspan="2"></td>
        }
        <!-- Beacons -->
        @if (cols().beacons.show) {
          <td></td>
        }
        <!-- Power -->
        @if (cols().power.show) {
          <td></td>
        }
        <!-- Pollution -->
        @if (cols().pollution.show) {
          <td></td>
        }
        <!-- Link -->
        @if (cols().link.show) {
          <td></td>
        }
      </tr>
      @if (expanded) {
        <tr class="transition-all" animate.enter="animate-enter-translate-y">
          <td colspan="100">expansion row</td>
        </tr>
      }
    }
  </tbody>
</table>
