<div class="flex gap-1 sm:gap-2">
  <button
    type="button"
    labButton
    [faIcon]="faTableColumns"
    text="columns.header"
    (click)="columns.show()"
  ></button>
  @if (objectivesStore.steps().length) {
    <button
      type="button"
      labButton
      [faIcon]="faFileArrowDown"
      text="steps.downloadAsCsv"
      (click)="exporter.stepsToCsv(objectivesStore.steps())"
    ></button>
  }
</div>

<table class="table">
  <thead>
    <tr>
      <th><!-- Row Actions --></th>
      @if (cols().checkbox.show) {
        <th>
          <fa-icon [icon]="faSquareCheck"></fa-icon>
        </th>
      }
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    @for (step of objectivesStore.steps(); track step.id) {
      <tr>
        <td class="w-0">
          <div class="hidden" [id]="'step_' + step.id"></div>
          @for (
            item of objectivesStore.stepDetails()[step.id].tabs;
            track item.label
          ) {
            <div
              [id]="'step_' + step.id + '_' + item.label"
              class="hidden"
            ></div>
          }
          <button
            type="button"
            class="*:transition-transform"
            [class.*:rotate-90]="expandedSteps().has(step.id)"
            labButton
            [faIcon]="faAngleRight"
            [border]="false"
            [attr.aria-label]="'steps.showDetails' | translate"
            labTooltip="steps.showDetails"
            labTooltipPosition="adjacent"
            (click)="toggleStep(step)"
          ></button>
        </td>
        @if (cols().checkbox.show) {
          <td><fa-icon [icon]="faSquareCheck"></fa-icon></td>
        }
        <td>{{ step.id }}</td>
      </tr>
      @if (expandedSteps().has(step.id)) {
        <tr class="transition-all duration-2000" animate.enter="opacity-0">
          <td colspan="100">expansion row</td>
        </tr>
      }
    }
  </tbody>
</table>

<!-- <table
  class="table"
  cdk-table
  [dataSource]="objectivesStore.steps()"
  multiTemplateDataRows
>
  <ng-container cdkColumnDef="actions">
    <th cdk-header-cell *cdkHeaderCellDef class="w-0"></th>
    <td cdk-cell *cdkCellDef="let step; type: Step" class="w-0">
      <div class="hidden" [id]="'step_' + step.id"></div>
      @for (
        item of objectivesStore.stepDetails()[step.id].tabs;
        track item.label
      ) {
        <div [id]="'step_' + step.id + '_' + item.label" class="hidden"></div>
      }
      <div class="flex h-full items-center justify-center">
        <button
          type="button"
          class="transition-transform"
          [class.rotate-90]="expandedSteps().has(step.id)"
          labButton
          [faIcon]="faAngleRight"
          [border]="false"
          [attr.aria-label]="'steps.showDetails' | translate"
          labTooltip="steps.showDetails"
          labTooltipPosition="adjacent"
          (click)="toggleStep(step)"
        ></button>
      </div>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="checkbox">
    <th cdk-header-cell *cdkHeaderCellDef>
      <div class="flex h-full items-center justify-center">
        <fa-icon [icon]="faSquareCheck"></fa-icon>
      </div>
    </th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="tree">
    <th cdk-header-cell *cdkHeaderCellDef>Tree</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="items">
    <th cdk-header-cell *cdkHeaderCellDef colspan="2">Items</th>
    <td
      cdk-cell
      *cdkCellDef="let step; type: Step"
      class="text-right font-mono whitespace-pre"
    >
      @if (step.items) {
        {{ step.items | rate: settingsStore.columnsState().items.precision }}
      }
    </td>
  </ng-container>

  <ng-container cdkColumnDef="itemId">
    <th cdk-header-cell *cdkHeaderCellDef class="hidden"></th>
    <td cdk-cell *cdkCellDef="let step; type: Step">
      @if (step.itemId) {
        <lab-icon [value]="step.itemId" type="item"></lab-icon>
      }
    </td>
  </ng-container>

  <ng-container cdkColumnDef="belts">
    <th cdk-header-cell *cdkHeaderCellDef colspan="2">Belts</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="beltId">
    <th cdk-header-cell *cdkHeaderCellDef class="hidden"></th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="wagons">
    <th cdk-header-cell *cdkHeaderCellDef colspan="2">Wagons</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="wagonId">
    <th cdk-header-cell *cdkHeaderCellDef class="hidden"></th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="rockets">
    <th cdk-header-cell *cdkHeaderCellDef colspan="2">Rockets</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="rocketId">
    <th cdk-header-cell *cdkHeaderCellDef class="hidden"></th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="machines">
    <th cdk-header-cell *cdkHeaderCellDef colspan="2">Machines</th>
    <td
      cdk-cell
      *cdkCellDef="let step; type: Step"
      class="text-right font-mono whitespace-pre"
    >
      @if (step.machines) {
        {{
          step.machines | rate: settingsStore.columnsState().machines.precision
        }}
      }
    </td>
  </ng-container>

  <ng-container cdkColumnDef="machineId">
    <th cdk-header-cell *cdkHeaderCellDef class="hidden"></th>
    <td cdk-cell *cdkCellDef="let step; type: Step">
      @if (step.recipeId) {
        <lab-icon [value]="step.recipeId" type="recipe"></lab-icon>
      }
      @if (step.recipeSettings?.machineId; as machineId) {
        <lab-icon [value]="machineId" type="item"></lab-icon>
      }
    </td>
  </ng-container>

  <ng-container cdkColumnDef="beacons">
    <th cdk-header-cell *cdkHeaderCellDef>Beacons</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="power">
    <th cdk-header-cell *cdkHeaderCellDef>Power</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="pollution">
    <th cdk-header-cell *cdkHeaderCellDef>Pollution</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <ng-container cdkColumnDef="link">
    <th cdk-header-cell *cdkHeaderCellDef>()</th>
    <td cdk-cell *cdkCellDef="let step"></td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="settingsStore.visibleColumns()"></tr>
  <tr
    cdk-row
    *cdkRowDef="let row; columns: settingsStore.visibleColumns()"
  ></tr>
</table> -->
