<p-overlayPanel appendTo="body" (onHide)="onHide()">
  <div class="d-flex flex-column gap-2">
    @if (machine(); as _machine) {
      <lab-modules
        [entity]="_machine"
        [modules]="modules()"
        [recipeId]="recipeId()"
        (setValue)="modules.set($event)"
      ></lab-modules>
    }
    <div class="d-flex gap-2">
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-check"
        class="p-button-outlined p-button-sm flex-grow-1"
        [label]="'ok' | translate"
        (click)="hide()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-xmark"
        class="p-button-outlined p-button-sm p-button-secondary flex-grow-1"
        [label]="'cancel' | translate"
        (click)="hide(true)"
      ></button>
    </div>
  </div>
</p-overlayPanel>
