:host {
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  max-width: calc(100vw - 6rem - 1px);

  > .flex > * + * {
    margin-left: 1rem;
  }

  > * + * {
    margin-top: 0.75rem;
  }
}
