@import 'values';

:host {
  background-color: $color-gray-1;
  z-index: 1;
  padding: 1rem;

  > * {
    flex-grow: 1;
  }
}

.label {
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

.field {
  display: flex;

  > * + * {
    margin-left: 0.5rem;
  }
}
