<div class="label">Display Rate</div>
<div class="field">
  <div class="flex">
    <input
      id="settings-display-persecond"
      type="radio"
      name="displayRate"
      [value]="displayRate.PerSecond"
      [ngModel]="settings.displayRate"
      (change)="displayRateChange(displayRate.PerSecond)"
    />
    <label for="settings-display-persecond">#/second</label>
  </div>
  <div class="flex">
    <input
      id="settings-display-perminute"
      type="radio"
      name="displayRate"
      [value]="displayRate.PerMinute"
      [ngModel]="settings.displayRate"
      (change)="displayRateChange(displayRate.PerMinute)"
    />
    <label for="settings-display-perminute">#/minute</label>
  </div>
  <div class="flex">
    <input
      id="settings-display-perhour"
      type="radio"
      name="displayRate"
      [value]="displayRate.PerHour"
      [ngModel]="settings.displayRate"
      (change)="displayRateChange(displayRate.PerHour)"
    />
    <label for="settings-display-perhour">#/hour</label>
  </div>
</div>
<div class="label">Precision</div>
<div class="field">
  <lab-icon iconId="iron-plate"></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-item-decimals"
      type="radio"
      name="itemPrecision"
      [value]="false"
      [ngModel]="settings.itemPrecision == null"
      (change)="itemPrecisionDecimals()"
    />
    <label for="settings-precision-item-decimals">
      <input
        id="settings-precision-item-value"
        type="number"
        placeholder="Decimals"
        min="0"
        step="1"
        [disabled]="settings.itemPrecision == null"
        [value]="settings.itemPrecision"
        (change)="itemPrecisionValue($event)"
      />
    </label>
  </div>
  <div class="flex">
    <input
      id="settings-precision-item-fractions"
      type="radio"
      name="itemPrecision"
      [value]="true"
      [ngModel]="settings.itemPrecision == null"
      (change)="itemPrecisionFractions()"
    />
    <label for="settings-precision-item-fractions">Fractions</label>
  </div>
</div>
<div class="field">
  <lab-icon iconId="transport-belt"></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-belt-decimals"
      type="radio"
      name="beltPrecision"
      [value]="false"
      [ngModel]="settings.beltPrecision == null"
      (change)="beltPrecisionDecimals()"
    />
    <input
      id="settings-precision-belt-value"
      type="number"
      placeholder="Decimals"
      min="0"
      step="1"
      [disabled]="settings.beltPrecision == null"
      [value]="settings.beltPrecision"
      (change)="beltPrecisionValue($event)"
    />
  </div>
  <div class="flex">
    <input
      id="settings-precision-belt-fractions"
      type="radio"
      name="beltPrecision"
      [value]="true"
      [ngModel]="settings.beltPrecision == null"
      (change)="beltPrecisionFractions()"
    />
    <label for="settings-precision-belt-fractions">Fractions</label>
  </div>
</div>
<div class="field">
  <lab-icon iconId="assembling-machine-1"></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-factory-decimals"
      type="radio"
      name="factoryPrecision"
      [value]="false"
      [ngModel]="settings.factoryPrecision == null"
      (change)="factoryPrecisionDecimals()"
    />
    <input
      id="settings-precision-factory-value"
      type="number"
      placeholder="Decimals"
      min="0"
      step="1"
      [disabled]="settings.factoryPrecision == null"
      [value]="settings.factoryPrecision"
      (change)="factoryPrecisionValue($event)"
    />
  </div>
  <div class="flex">
    <input
      id="settings-precision-factory-fractions"
      type="radio"
      name="factoryPrecision"
      [value]="true"
      [ngModel]="settings.factoryPrecision == null"
      (change)="factoryPrecisionFractions()"
    />
    <label for="settings-precision-factory-fractions">Fractions</label>
  </div>
</div>
