<p-dialog
  *ngIf="vm$ | async as vm"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{ height: '500px' }"
  [style]="{ width: '808px' }"
  [breakpoints]="{ '808px': '100vw' }"
  [header]="'factories.header' | translate"
>
  <p-table
    [value]="vm.factoryRows"
    [scrollable]="true"
    scrollDirection="both"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'factories.factory' | translate }}</th>
        <th>{{ 'factories.modifiers' | translate }}</th>
        <th *ngIf="vm.data.game === Game.Satisfactory" class="overclock">
          {{ 'factories.overclock' | translate }}
        </th>
        <th *ngIf="vm.data.game === Game.Factorio" class="beacons">
          {{ 'factories.beacons' | translate }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-factoryId let-index="rowIndex">
      <tr
        *ngIf="{
          factory: vm.factories.entities[factoryId],
          defaults: factoryId ? vm.factories.entities[''] : vm.data.defaults
        } as row"
      >
        <td>
          <div class="p-inputgroup">
            <p-dropdown
              *ngIf="factoryId; else defaultLabel"
              class="p-lab-icon-only"
              appendTo="body"
              scrollHeight="400px"
              [pTooltip]="'factories.factoryTooltip' | translate"
              tooltipPosition="top"
              [ngModel]="factoryId"
              [options]="vm.factoryOptions"
              (onChange)="
                setFactory(
                  factoryId,
                  $event.value,
                  vm.data.defaults?.factoryRankIds
                )
              "
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center h-100">
                  <i [class]="item.value | iconClass"></i>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div class="d-flex align-items-center h-100">
                  <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <ng-template #defaultLabel
              ><span>{{ 'factories.default' | translate }}</span>
            </ng-template>
          </div>
        </td>
        <td>
          <div *ngIf="row.factory.moduleRankIds" class="p-inputgroup">
            <p-multiSelect
              class="p-lab-icon-only"
              appendTo="body"
              placeholder="unused"
              scrollHeight="400px"
              [selectionLimit]="vm.data.game === Game.Satisfactory ? 1 : 2"
              [pTooltip]="'factories.modifierTooltip' | translate"
              tooltipPosition="top"
              [ngModel]="row.factory.moduleRankIds"
              [options]="vm.data.moduleIds | options: vm.data.itemEntities"
              (onChange)="
                setModuleRank(
                  factoryId,
                  $event.value,
                  row.defaults?.moduleRankIds
                )
              "
            >
              <ng-template pTemplate="selectedItems" let-items>
                <div class="d-flex align-items-center h-100">
                  <i
                    *ngIf="items && items.length; else noModifiers"
                    [class]="items[0] | iconClass"
                  >
                    <span *ngIf="items.length > 1"
                      >+{{ items.length - 1 }}</span
                    >
                  </i>
                  <ng-template #noModifiers>
                    <i [class]="ItemId.Module | iconClass"></i>
                  </ng-template>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div class="d-flex align-items-center h-100">
                  <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-multiSelect>
          </div>
        </td>
        <td *ngIf="vm.data.game === Game.Satisfactory" class="overclock">
          <div class="p-inputgroup">
            <p-inputNumber
              suffix="%"
              [min]="1"
              [max]="250"
              [step]="10"
              [showButtons]="true"
              [pTooltip]="'factories.overclockTooltip' | translate"
              tooltipPosition="top"
              [ngModel]="row.factory.overclock"
              (onInput)="
                setOverclock(
                  factoryId,
                  $event.value,
                  factoryId ? vm.factories.entities[''].overclock : 100
                )
              "
            >
            </p-inputNumber>
          </div>
        </td>
        <td *ngIf="vm.data.game === Game.Factorio" class="beacons">
          <div *ngIf="row.factory.beaconCount != null" class="p-inputgroup">
            <lab-input-number
              [pTooltip]="'factories.beaconCountTooltip' | translate"
              tooltipPosition="top"
              [value]="row.factory.beaconCount"
              (setValue)="
                setBeaconCount(factoryId, $event, row.defaults?.beaconCount)
              "
            ></lab-input-number>
            <p-dropdown
              class="p-lab-icon-only"
              appendTo="body"
              scrollHeight="400px"
              [pTooltip]="'factories.beaconTooltip' | translate"
              tooltipPosition="top"
              [ngModel]="row.factory.beaconId"
              [options]="vm.data.beaconIds | options: vm.data.itemEntities"
              (onChange)="
                setBeacon(factoryId, $event.value, row.defaults?.beaconId)
              "
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center">
                  <i [class]="item.value | iconClass"></i>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div class="d-flex align-items-center">
                  <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <p-dropdown
              class="p-lab-icon-only"
              appendTo="body"
              scrollHeight="400px"
              [pTooltip]="'factories.beaconModuleTooltip' | translate"
              tooltipPosition="top"
              [ngModel]="row.factory.beaconModuleId"
              [options]="vm.data.moduleIds | options: vm.data.itemEntities"
              (onChange)="
                setBeaconModule(
                  factoryId,
                  $event.value,
                  row.defaults?.beaconModuleId
                )
              "
            >
              <ng-template pTemplate="selectedItem" let-item>
                <div class="d-flex align-items-center">
                  <i [class]="item.value | iconClass"></i>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-item>
                <div class="d-flex align-items-center">
                  <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
                  <div class="ms-3 text-truncate">
                    {{ item.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </td>
        <td>
          <div class="p-inputgroup">
            <button
              *ngIf="index > 0"
              pButton
              pRipple
              [pTooltip]="'factories.removeFactoryTooltip' | translate"
              tooltipPosition="top"
              icon="fa-solid fa-trash"
              (click)="
                removeFactory(factoryId, vm.data.defaults?.factoryRankIds)
              "
            ></button>
            <button
              *ngIf="index > 1"
              pButton
              pRipple
              [pTooltip]="'factories.raiseFactoryTooltip' | translate"
              tooltipPosition="top"
              icon="fa-solid fa-arrow-up"
              (click)="
                raiseFactory(factoryId, vm.data.defaults?.factoryRankIds)
              "
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="row">
      <div class="col-6">
        <div class="p-inputgroup">
          <p-dropdown
            appendTo="body"
            scrollHeight="400px"
            [options]="vm.factoryOptions"
            (onChange)="
              addFactory($event.value, vm.data.defaults?.factoryRankIds)
            "
          >
            <ng-template pTemplate="selectedItem" let-item>
              Add a factory preference
            </ng-template>
            <ng-template pTemplate="item" let-item>
              <div class="d-flex align-items-center h-100">
                <i class="flex-shrink-0" [class]="item.value | iconClass"></i>
                <div class="ms-3 text-truncate">
                  {{ item.label }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-text"
          icon="fa-solid fa-check"
          [label]="'ok' | translate"
          (click)="visible = false"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
