<div class="flex w-full justify-between gap-2 md:w-auto">
  @if (asideXlHidden()) {
    <button
      type="button"
      labButton
      class="xl:inline-flex"
      text="settings.header"
      [faIcon]="faBars"
      size="large"
      [border]="false"
      [hide]="true"
      (click)="asideXlHidden.set(false)"
    ></button>
  }
  <button
    type="button"
    class="xl:hidden"
    labButton
    text="settings.header"
    [faIcon]="faBars"
    size="large"
    [border]="false"
    (click)="toggleAside()"
  ></button>
  <div class="flex gap-px">
    <a
      [routerLink]="gameInfo().route"
      class="rounded-r-none lg:inline-flex"
      labButton
      [text]="gameInfo().label"
      iconType="system"
      [icon]="game()"
      size="large"
      [border]="false"
      [hide]="true"
      labTooltip="header.resetTooltip"
    ></a>
    <a
      [routerLink]="gameInfo().route"
      class="rounded-r-none lg:hidden"
      labButton
      [attr.aria-label]="gameInfo().label | translate"
      iconType="system"
      [icon]="game()"
      size="large"
      [border]="false"
      labTooltip="header.resetTooltip"
    ></a>
    <lab-select
      #gameSelect
      class="w-11 rounded-l-none"
      [attr.aria-label]="'header.selectGame' | translate"
      [iconOnly]="true"
      [options]="gameOptions()"
      (valueChange)="setGame($event)"
    >
      <fa-icon
        class="absolute text-gray-400 transition-transform"
        [class.-scale-y-100]="gameSelect.opened()"
        [icon]="faChevronDown"
      ></fa-icon>
    </lab-select>
  </div>
</div>
<div class="flex w-full items-center gap-2 md:w-auto">
  @for (link of links; track link.href) {
    <a
      [href]="link.href"
      target="_blank"
      class="grow md:grow-0"
      labButton
      [text]="link.text"
      [faIcon]="link.icon"
      size="small"
      [border]="false"
    ></a>
  }
</div>
