<p-dialog
  *ngIf="vm$ | async as vm"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{ height: '500px' }"
  [style]="{ width: '576px' }"
  [breakpoints]="{ '576px': '100vw' }"
  [header]="'columns.header' | translate"
  (onHide)="save()"
>
  <p-table
    [value]="vm.columnOptions"
    [scrollable]="true"
    scrollDirection="both"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'columns.visibility' | translate }}</th>
        <th>{{ 'columns.decimals' | translate }}</th>
        <th>{{ 'columns.fractions' | translate }}</th>
        <th>{{ 'columns.example' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-column>
      <tr>
        <td>
          <p-checkbox
            [(ngModel)]="editValue[column.value].show"
            [binary]="true"
            [label]="column.label"
            [disabled]="column.disabled"
          ></p-checkbox>
        </td>
        <ng-container
          *ngIf="
            precisionColumns.indexOf(column.value) !== -1;
            else noPrecision
          "
        >
          <td>
            <p-inputNumber
              [(ngModel)]="editValue[column.value].precision"
              [min]="0"
              [size]="1"
              [showButtons]="true"
              [disabled]="!editValue[column.value].show"
            ></p-inputNumber>
          </td>
          <td class="justify-content-center">
            <p-checkbox
              [ngModel]="editValue[column.value].precision == null"
              [binary]="true"
              [disabled]="!editValue[column.value].show"
              (onChange)="changeFraction($event.checked, column.value)"
            ></p-checkbox>
          </td>
          <td>
            {{ editValue[column.value].precision | precisionExample }}
          </td>
        </ng-container>
        <ng-template #noPrecision>
          <td colspan="3" class="text-center colspan-3">
            {{ 'columns.notApplicable' | translate }}
          </td>
        </ng-template>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      class="p-button-text"
      icon="fa-solid fa-check"
      [label]="'ok' | translate"
      (click)="visible = false"
    ></button>
  </ng-template>
</p-dialog>
