:host {
  flex-grow: 1;
  width: 22.5rem;

  > .flex {
    justify-content: space-between;

    > * {
      margin-bottom: 0.75rem;
    }

    > .flex > * + * {
      margin-left: 0.25rem;
    }
  }

  > .panel {
    padding: 0.125rem;
  }
}

.hole {
  padding: 0.125rem;
  margin: 0.25rem;
  background-color: var(--color-back);
  box-shadow: var(--shadow-hole);

  > * {
    padding: 0.5rem;
    margin: 1px 0;
    background-color: var(--color-light);
    box-shadow: var(--shadow-inner);

    .header {
      margin-bottom: 0.25rem;
    }

    table {
      width: 100%;

      &.center {
        td > * {
          display: flex;
          justify-content: center;
          align-items: center;

          > * + * {
            margin-left: 0.5rem;
          }
        }
      }

      &.fields > tr > :first-child {
        width: 1px;
        padding-right: 4rem;
        white-space: nowrap;
      }
    }
  }
}

.small {
  font-size: small;
}

.states {
  flex-grow: 1;

  > :first-child {
    flex-grow: 1;
  }

  lab-options {
    display: flex;
    > :first-child {
      flex-grow: 1;
    }
  }

  > * + * {
    margin-left: 0.25rem;
  }
}

table + table {
  margin-top: 0.5rem;
}

.right {
  text-align: right;
}
