<div class="label">Recipes</div>
<div class="field">
  <select
    title="Select base game version"
    [ngModel]="settings.baseDatasetId"
    (change)="setBaseDataset.emit(base[$event])"
  >
    <option *ngFor="let b of base | keyvalue" [value]="b.key">{{
      b.value.name
    }}</option>
  </select>
  <div>Base Recipe Set</div>
</div>
<div class="field">
  <div class="select-container button">
    <div [style.marginTop.px]="-scrollTop">
      <button (click)="openSelect = OpenSelect.Mods">
        {{ settings.modDatasetIds.length }} Mod Set{{
          settings.modDatasetIds.length === 1 ? '' : 's'
        }}
        Enabled
      </button>
      <lab-multiselect
        *ngIf="openSelect === OpenSelect.Mods"
        [enabledIds]="settings.modDatasetIds"
        [options]="mods"
        (cancel)="openSelect = OpenSelect.None"
        (enableMod)="enableMod.emit($event)"
        (disableMod)="disableMod.emit($event)"
      ></lab-multiselect>
    </div>
  </div>
</div>
<div class="field">
  <div class="select-container button">
    <div [style.marginTop.px]="-scrollTop">
      <button (click)="openSelect = OpenSelect.DisabledRecipes">
        {{ recipeDisabledCount }} Recipe{{
          recipeDisabledCount === 1 ? '' : 's'
        }}
        Disabled
      </button>
      <lab-toggle
        *ngIf="openSelect === OpenSelect.DisabledRecipes"
        [data]="data"
        [recipeDisabled]="settings.recipeDisabled"
        (cancel)="openSelect = OpenSelect.None"
        (enableRecipe)="enableRecipe.emit($event)"
        (disableRecipe)="disableRecipe.emit($event)"
      >
      </lab-toggle>
    </div>
  </div>
</div>
<div class="field">
  <div class="flex option" (click)="setExpensive.emit(!settings.expensive)">
    <div
      id="settings-expensive"
      title="Use expensive recipes"
      class="material-icons"
    >
      {{ settings.expensive ? 'check_box' : 'check_box_outline_blank' }}
    </div>
    <label for="settings-expensive" title="Use expensive recipes"
      >Expensive</label
    >
  </div>
</div>
<div class="label">Display Rate</div>
<div class="field">
  <div class="flex option">
    <input
      id="settings-display-persecond"
      title="Display rates per second"
      type="radio"
      name="displayRate"
      [value]="DisplayRate.PerSecond"
      [ngModel]="settings.displayRate"
      (change)="setDisplayRate.emit(DisplayRate.PerSecond)"
    />
    <label for="settings-display-persecond" title="Display rates per second"
      >#/sec</label
    >
  </div>
  <div class="flex option">
    <input
      id="settings-display-perminute"
      title="Display rates per minute"
      type="radio"
      name="displayRate"
      [value]="DisplayRate.PerMinute"
      [ngModel]="settings.displayRate"
      (change)="setDisplayRate.emit(DisplayRate.PerMinute)"
    />
    <label for="settings-display-perminute" title="Display rates per minute"
      >#/min</label
    >
  </div>
  <div class="flex option">
    <input
      id="settings-display-perhour"
      title="Display rates per hour"
      type="radio"
      name="displayRate"
      [value]="DisplayRate.PerHour"
      [ngModel]="settings.displayRate"
      (change)="setDisplayRate.emit(DisplayRate.PerHour)"
    />
    <label for="settings-display-perhour" title="Display rates per hour"
      >#/hr</label
    >
  </div>
</div>
<div class="label">Precision</div>
<div class="field">
  <lab-icon
    iconId="iron-plate"
    tooltip="Items Precision"
    [data]="data"
  ></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-item-decimals"
      title="Use decimal precision"
      type="radio"
      name="itemPrecision"
      [value]="false"
      [ngModel]="settings.itemPrecision == null"
      (change)="setItemPrecision.emit(initial.itemPrecision)"
    />
    <label for="settings-precision-item-decimals">
      <input
        id="settings-precision-item-value"
        title="Set decimal precision"
        type="number"
        placeholder="0.334"
        min="0"
        step="1"
        [disabled]="settings.itemPrecision == null"
        [value]="settings.itemPrecision"
        (change)="emitNumber(setItemPrecision, $event)"
      />
    </label>
  </div>
  <div class="flex">
    <input
      id="settings-precision-item-fractions"
      title="Use fractions"
      type="radio"
      name="itemPrecision"
      [value]="true"
      [ngModel]="settings.itemPrecision == null"
      (change)="setItemPrecision.emit(null)"
    />
    <label for="settings-precision-item-fractions" title="Use fractions"
      >⅓</label
    >
  </div>
</div>
<div class="field">
  <lab-icon
    iconId="transport-belt"
    tooltip="Belts Precision"
    [data]="data"
  ></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-belt-decimals"
      title="Use decimal precision"
      type="radio"
      name="beltPrecision"
      [value]="false"
      [ngModel]="settings.beltPrecision == null"
      (change)="setBeltPrecision.emit(initial.beltPrecision)"
    />
    <input
      id="settings-precision-belt-value"
      title="Set decimal precision"
      type="number"
      placeholder="0.4"
      min="0"
      step="1"
      [disabled]="settings.beltPrecision == null"
      [value]="settings.beltPrecision"
      (change)="emitNumber(setBeltPrecision, $event)"
    />
  </div>
  <div class="flex">
    <input
      id="settings-precision-belt-fractions"
      title="Use fractions"
      type="radio"
      name="beltPrecision"
      [value]="true"
      [ngModel]="settings.beltPrecision == null"
      (change)="setBeltPrecision.emit(null)"
    />
    <label for="settings-precision-belt-fractions" title="Use fractions"
      >⅓</label
    >
  </div>
</div>
<div class="field">
  <lab-icon
    [data]="data"
    iconId="assembling-machine-1"
    tooltip="Factories Precision"
  ></lab-icon>
  <div class="flex">
    <input
      id="settings-precision-factory-decimals"
      title="Use decimal precision"
      type="radio"
      name="factoryPrecision"
      [value]="false"
      [ngModel]="settings.factoryPrecision == null"
      (change)="setFactoryPrecision.emit(initial.factoryPrecision)"
    />
    <input
      id="settings-precision-factory-value"
      title="Set decimal precision"
      type="number"
      placeholder="0.4"
      min="0"
      step="1"
      [disabled]="settings.factoryPrecision == null"
      [value]="settings.factoryPrecision"
      (change)="emitNumber(setFactoryPrecision, $event)"
    />
  </div>
  <div class="flex">
    <input
      id="settings-precision-factory-fractions"
      title="Use fractions"
      type="radio"
      name="factoryPrecision"
      [value]="true"
      [ngModel]="settings.factoryPrecision == null"
      (change)="setFactoryPrecision.emit(null)"
    />
    <label for="settings-precision-factory-fractions" title="Use fractions"
      >⅓</label
    >
  </div>
</div>
<div class="label">Factory</div>
<div class="field">
  <div class="select-container">
    <div [style.marginTop.px]="-scrollTop">
      <lab-icon
        class="clickable"
        tooltip="Factory Preferences"
        [iconId]="
          settings.factoryRank.length
            ? settings.factoryRank[0]
            : 'assembling-machine-1'
        "
        [data]="data"
        (click)="openSelect = OpenSelect.Factory"
      ></lab-icon>
      <lab-ranker
        *ngIf="openSelect === OpenSelect.Factory"
        [data]="data"
        [rank]="settings.factoryRank"
        [options]="data.factoryIds"
        (cancel)="openSelect = OpenSelect.None"
        (preferItem)="preferFactory.emit($event)"
        (dropItem)="dropFactory.emit($event)"
      >
      </lab-ranker>
    </div>
  </div>
  <div class="select-container">
    <div [style.marginTop.px]="-scrollTop">
      <lab-icon
        class="clickable"
        tooltip="Choose default belt"
        [iconId]="settings.belt"
        [data]="data"
        (click)="openSelect = OpenSelect.Belt"
      ></lab-icon>
      <lab-select
        *ngIf="openSelect === OpenSelect.Belt"
        [data]="data"
        [selectedId]="settings.belt"
        [options]="data.beltIds"
        [displayRate]="settings.displayRate"
        [data]="data"
        (cancel)="openSelect = OpenSelect.None"
        (selectId)="setBelt.emit($event)"
      >
      </lab-select>
    </div>
  </div>
  <div class="select-container">
    <div [style.marginTop.px]="-scrollTop">
      <lab-icon
        class="clickable"
        tooltip="Choose fuel"
        [iconId]="settings.fuel"
        [data]="data"
        (click)="openSelect = OpenSelect.Fuel"
      ></lab-icon>
      <lab-select
        *ngIf="openSelect === OpenSelect.Fuel"
        [data]="data"
        [options]="data.fuelIds"
        [selectedId]="settings.fuel"
        (cancel)="openSelect = OpenSelect.None"
        (selectId)="setFuel.emit($event)"
      >
      </lab-select>
    </div>
  </div>
</div>
<div class="field">
  <lab-icon iconId="pipe" tooltip="Pipe flow rate" [data]="data"></lab-icon>
  <input
    type="number"
    title="Enter pipe flow rate"
    placeholder="1500"
    min="0"
    step="1"
    [value]="settings.flowRate"
    (change)="emitNumber(setFlowRate, $event)"
  />
  <div>
    #/sec
    <a href="https://wiki.factorio.com/Fluid_system#Pipelines" target="_blank"
      >Wiki</a
    >
  </div>
</div>
<div class="label">Modules</div>
<div class="field">
  <div class="select-container">
    <div [style.marginTop.px]="-scrollTop">
      <lab-icon
        class="clickable"
        tooltip="Module Preferences"
        [iconId]="
          settings.moduleRank.length ? settings.moduleRank[0] : 'speed-module'
        "
        [data]="data"
        (click)="openSelect = OpenSelect.Module"
      ></lab-icon>
      <lab-ranker
        *ngIf="openSelect === OpenSelect.Module"
        [data]="data"
        [rank]="settings.moduleRank"
        [options]="data.moduleIds"
        (cancel)="openSelect = OpenSelect.None"
        (preferItem)="preferModule.emit($event)"
        (dropItem)="dropModule.emit($event)"
      >
      </lab-ranker>
    </div>
  </div>
  <lab-icon iconId="beacon" [data]="data"></lab-icon>
  <div class="select-container">
    <div [style.marginTop.px]="-scrollTop">
      <lab-icon
        class="clickable"
        tooltip="Choose default beacon module"
        [iconId]="settings.beaconModule"
        [data]="data"
        (click)="openSelect = OpenSelect.BeaconModule"
      ></lab-icon>
      <lab-select
        *ngIf="openSelect === OpenSelect.BeaconModule"
        [data]="data"
        [selectedId]="settings.beaconModule"
        [options]="data.beaconModuleIds"
        includeEmptyModule="true"
        (cancel)="openSelect = OpenSelect.None"
        (selectId)="setBeaconModule.emit($event)"
      >
      </lab-select>
    </div>
  </div>
  <input
    type="number"
    title="Enter default number of beacon modules"
    placeholder="# Modules"
    min="0"
    step="1"
    [value]="settings.beaconCount"
    (change)="emitNumber(setBeaconCount, $event)"
  />
</div>
<div class="field">
  <div
    class="flex clickable"
    (click)="setDrillModule.emit(!settings.drillModule)"
  >
    <lab-icon
      iconId="electric-mining-drill"
      [data]="data"
      tooltip="Toggle drill modules"
      [scale]="true"
    ></lab-icon>
    <lab-icon
      [iconId]="settings.drillModule ? 'speed-module-3' : 'module'"
      [data]="data"
      tooltip="Toggle drill modules"
    ></lab-icon>
  </div>
</div>
<div class="label">Bonuses</div>
<div class="field">
  <lab-icon
    iconId="electric-mining-drill"
    [data]="data"
    tooltip="Mining Productivity Bonus"
    [scale]="true"
  ></lab-icon>
  <div class="field">
    +
    <input
      type="number"
      title="Enter mining productivity bonus"
      placeholder="Mining Productivity"
      min="0"
      step="10"
      [value]="settings.miningBonus"
      (change)="emitNumber(setMiningBonus, $event)"
    />
    %
  </div>
</div>
<div class="field">
  <lab-icon
    iconId="lab"
    [data]="data"
    tooltip="Research Speed Bonus"
    [scale]="true"
  ></lab-icon>
  <select
    title="Select research speed bonus level"
    [ngModel]="settings.researchSpeed"
    (change)="emitNumber(setResearchSpeed, $event)"
  >
    <option [value]="ResearchSpeed.Speed0">No Research Bonus</option>
    <option [value]="ResearchSpeed.Speed1">Research Speed 1</option>
    <option [value]="ResearchSpeed.Speed2">Research Speed 2</option>
    <option [value]="ResearchSpeed.Speed3">Research Speed 3</option>
    <option [value]="ResearchSpeed.Speed4">Research Speed 4</option>
    <option [value]="ResearchSpeed.Speed5">Research Speed 5</option>
    <option [value]="ResearchSpeed.Speed6">Research Speed 6</option>
  </select>
</div>
<div class="label">Theme</div>
<div class="field">
  <select
    id="settings-theme-select"
    title="Choose Factorio Lab theme"
    [ngModel]="settings.theme"
    (change)="emitString(setTheme, $event)"
  >
    <option [value]="Theme.DarkMode">Dark Mode</option>
    <option [value]="Theme.LightMode">Light Mode</option>
  </select>
</div>
