<div class="flex">
  <h2 class="header">Settings</h2>
  <div class="flex">
    <button
      class="dialog-button"
      title="Delete all settings"
      (click)="clickResetSettings()"
    >
      <i class="material-icons">delete</i>
    </button>
    <button class="dialog-button" (click)="closeSettings.emit()">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
<div class="panel">
  <div class="hole">
    <div>
      <div class="header">Saved states</div>
      <div class="flex states">
        <ng-container *ngIf="!editState; else stateInput">
          <lab-options
            title="Select saved state"
            [selected]="state"
            [options]="savedStates"
            (selectId)="setState($event)"
          ></lab-options>
          <button
            *ngIf="state"
            title="Delete saved state"
            (click)="clickRemoveState()"
          >
            <i class="material-icons">delete</i>
          </button>
          <button
            *ngIf="search"
            title="Name and save state"
            (click)="toggleEditState()"
          >
            <i class="material-icons">edit</i>
          </button>
        </ng-container>
        <ng-template #stateInput>
          <input
            type="text"
            placeholder="Enter a name..."
            [(ngModel)]="tempState"
          />
          <button
            *ngIf="tempState && search"
            title="Save state"
            (click)="clickSaveState()"
          >
            <i class="material-icons">save</i>
          </button>
          <button title="Cancel" (click)="toggleEditState()">
            <i class="material-icons">close</i>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="flex tween">
        <div class="header">Recipes</div>
        <a
          class="small"
          href="https://github.com/factoriolab/factorio-lab/issues/new?assignees=&labels=mod+support&template=mod-request.md&title="
          target="_blank"
          >Request a mod</a
        >
      </div>
      <table class="thin">
        <tr>
          <td>Base set</td>
          <td>
            <lab-options
              title="Select base recipe set"
              [selected]="settings.baseId"
              [options]="base"
              (selectId)="setBase.emit($event)"
            ></lab-options>
          </td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>
            <lab-toggle
              [data]="data"
              [selected]="settings.disabledRecipes"
              (selectIds)="
                setDisabledRecipes.emit({
                  value: $event,
                  default: data.defaults.disabledRecipes
                })
              "
            >
            </lab-toggle>
          </td>
        </tr>
        <tr *ngIf="!data.isDsp">
          <td>Difficulty</td>
          <td>
            <lab-options
              title="Select recipe difficulty"
              [selected]="settings.expensive"
              [options]="difficultyOptions"
              (selectId)="setExpensive.emit($event)"
            ></lab-options>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Display</div>
      <table class="x-wide">
        <tr>
          <td>Columns & precision</td>
          <td>
            <lab-columns
              class="relative"
              [isDsp]="data.isDsp"
              [columns]="columns"
              (setColumns)="setColumns.emit($event)"
            >
              <button class="grow" title="Set columns visibility and precision">
                <span class="text">{{ columnsButton }}</span>
              </button>
            </lab-columns>
          </td>
        </tr>
        <tr>
          <td>Display rates as</td>
          <td>
            <lab-options
              title="Select display rate"
              [selected]="settings.displayRate"
              [options]="DisplayRateOptions"
              (selectId)="setDisplayRate.emit($event)"
            ></lab-options>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Factory</div>
      <table class="thin">
        <tr>
          <td>Preset</td>
          <td>
            <lab-options
              title="Select preset factory"
              [selected]="settings.preset"
              [options]="presetOptions"
              (selectId)="setPreset.emit($event)"
            ></lab-options>
          </td>
        </tr>
      </table>
      <table class="factories">
        <ng-container
          *ngFor="let f of factoryRows; let i = index; let last = last"
        >
          <tr *ngIf="factories.entities[f] as factory">
            <td>
              <ng-container *ngIf="!f">
                <lab-select
                  *ngIf="factoryOptions.length"
                  header="Select a factory"
                  [data]="data"
                  [options]="factoryOptions"
                  [data]="data"
                  (selectId)="
                    addFactory.emit({
                      value: $event,
                      default: data.defaults.factoryRank
                    })
                  "
                >
                  <button title="Add factory preference">
                    <i class="material-icons">add</i>
                  </button>
                </lab-select>
              </ng-container>
              <button
                *ngIf="f"
                title="Remove factory preference"
                (click)="
                  removeFactory.emit({
                    value: f,
                    default: data.defaults.factoryRank
                  })
                "
              >
                <i class="material-icons">remove</i>
              </button>
            </td>
            <td>
              <lab-icon
                *ngIf="f && !factoryOptions.length"
                class="pad"
                [data]="data"
                [iconId]="f"
                [tooltip]="data.itemEntities[f].name"
                [item]="data.itemEntities[f]"
              >
              </lab-icon>
              <lab-select
                *ngIf="f && factoryOptions.length"
                header="Select a factory"
                [data]="data"
                [selected]="f"
                [options]="factoryOptions"
                [data]="data"
                (selectId)="
                  setFactory.emit({
                    id: f,
                    value: $event,
                    default: data.defaults.factoryRank
                  })
                "
              >
                <lab-icon
                  class="button"
                  [data]="data"
                  [iconId]="f"
                  [tooltip]="data.itemEntities[f].name"
                  [item]="data.itemEntities[f]"
                >
                </lab-icon>
              </lab-select>
              <lab-icon
                *ngIf="!f"
                class="pad"
                tooltip="Factory defaults"
                iconId="production"
                [data]="data"
              ></lab-icon>
            </td>
            <td>
              <ng-container *ngIf="factory.moduleRank">
                <lab-select
                  *ngIf="data.isDsp; else moduleRanker"
                  header="Select a module"
                  [data]="data"
                  [selected]="factory.moduleRank[0]"
                  [options]="data.moduleIds"
                  [includeEmptyModule]="false"
                  [displayRate]="settings.displayRate"
                  (selectId)="
                    setModuleRank.emit({
                      id: f,
                      value: [$event],
                      default: factories.entities[''].moduleRank
                    })
                  "
                >
                  <lab-icon
                    class="button"
                    tooltip="Module preferences"
                    [data]="data"
                    [iconId]="
                      factory.moduleRank.length
                        ? factory.moduleRank[0]
                        : ItemId.Module
                    "
                    [text]="
                      factory.moduleRank.length > 1
                        ? factory.moduleRank.length.toString()
                        : null
                    "
                  ></lab-icon>
                </lab-select>
                <ng-template #moduleRanker>
                  <lab-ranker
                    [data]="data"
                    [selected]="factory.moduleRank"
                    [options]="data.moduleIds"
                    (selectIds)="
                      setModuleRank.emit({
                        id: f,
                        value: $event,
                        default: factories.entities[''].moduleRank
                      })
                    "
                  >
                    <lab-icon
                      class="button"
                      tooltip="Module preferences"
                      [data]="data"
                      [iconId]="
                        factory.moduleRank.length
                          ? factory.moduleRank[0]
                          : ItemId.Module
                      "
                      [text]="
                        factory.moduleRank.length > 1
                          ? factory.moduleRank.length.toString()
                          : null
                      "
                    ></lab-icon>
                  </lab-ranker>
                </ng-template>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="factory.beaconCount != null">
                <input
                  class="beacon"
                  type="number"
                  title="Default number of beacons"
                  placeholder="# Beacons"
                  min="0"
                  step="1"
                  data-test="lab-settings-beacons"
                  [value]="factory.beaconCount"
                  (input)="changeBeaconCount(f, $event)"
                />
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="factory.beaconCount > 0">
                <lab-icon
                  class="pad"
                  [data]="data"
                  [iconId]="factory.beacon"
                  [tooltip]="data.itemEntities[factory.beacon].name"
                  [item]="data.itemEntities[factory.beacon]"
                ></lab-icon>
                <ng-template #beaconPicker>
                  <lab-select
                    header="Select a beacon"
                    [data]="data"
                    [selected]="factory.beacon"
                    [options]="data.beaconIds"
                    (selectId)="
                      setBeacon.emit({
                        id: f,
                        value: $event,
                        default: factories.entities[''].beacon
                      })
                    "
                  >
                    <lab-icon
                      class="button"
                      tooltip="Select default beacon"
                      [data]="data"
                      [iconId]="factory.beacon"
                    ></lab-icon>
                  </lab-select>
                </ng-template>
              </ng-container>
            </td>
            <td>
              <lab-select
                *ngIf="factory.beaconCount > 0"
                header="Select a module"
                [data]="data"
                [selected]="factory.beaconModule"
                [options]="data.beaconModuleIds"
                [includeEmptyModule]="true"
                (selectId)="
                  setBeaconModule.emit({
                    id: f,
                    value: $event,
                    default: factories.entities[''].beaconModule
                  })
                "
              >
                <lab-icon
                  class="button"
                  tooltip="Beacon module"
                  [data]="data"
                  [iconId]="factory.beaconModule"
                ></lab-icon>
              </lab-select>
            </td>
            <td>
              <button
                *ngIf="i > 1"
                title="Raise factory rank"
                (click)="
                  raiseFactory.emit({
                    value: f,
                    default: data.defaults.factoryRank
                  })
                "
              >
                <i class="material-icons">arrow_drop_up</i>
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
      <table class="icons">
        <tr>
          <td>Default transport belt</td>
          <td>
            <div>
              <lab-select
                header="Select a belt"
                [data]="data"
                [selected]="settings.belt"
                [options]="data.beltIds"
                [displayRate]="settings.displayRate"
                (selectId)="
                  setBelt.emit({ value: $event, default: data.defaults.belt })
                "
              >
                <lab-icon
                  class="button"
                  tooltip="Select default belt"
                  [data]="data"
                  [iconId]="settings.belt"
                ></lab-icon>
              </lab-select>
            </div>
          </td>
        </tr>
        <tr *ngIf="data.cargoWagonIds.length > 1">
          <td>Default cargo wagon</td>
          <td>
            <div>
              <lab-select
                header="Select a cargo wagon"
                [data]="data"
                [selected]="settings.cargoWagon"
                [options]="data.cargoWagonIds"
                (selectId)="
                  setCargoWagon.emit({
                    value: $event,
                    default: data.defaults.cargoWagon
                  })
                "
              >
                <lab-icon
                  class="button"
                  tooltip="Select default cargo wagon"
                  [iconId]="settings.cargoWagon"
                  [data]="data"
                ></lab-icon>
              </lab-select>
            </div>
          </td>
        </tr>
        <tr *ngIf="data.fluidWagonIds.length > 1">
          <td>Default fluid wagon</td>
          <td>
            <div>
              <lab-select
                header="Select a fluid wagon"
                [data]="data"
                [selected]="settings.fluidWagon"
                [options]="data.fluidWagonIds"
                (selectId)="
                  setFluidWagon.emit({
                    value: $event,
                    default: data.defaults.fluidWagon
                  })
                "
              >
                <lab-icon
                  class="button"
                  tooltip="Select default fluid wagon"
                  [iconId]="settings.fluidWagon"
                  [data]="data"
                ></lab-icon>
              </lab-select>
            </div>
          </td>
        </tr>
        <tr *ngIf="!data.isDsp">
          <td>Chemical fuel</td>
          <td>
            <div>
              <lab-select
                header="Select a fuel"
                [data]="data"
                [selected]="settings.fuel"
                [options]="sortedFuels"
                (selectId)="
                  setFuel.emit({ value: $event, default: data.defaults.fuel })
                "
              >
                <lab-icon
                  class="button"
                  tooltip="Select fuel"
                  [iconId]="settings.fuel"
                  [data]="data"
                ></lab-icon>
              </lab-select>
            </div>
          </td>
        </tr>
      </table>
      <table class="thin" *ngIf="!data.isDsp">
        <tr>
          <td>Pipe flow rate</td>
          <td>
            <div class="flex">
              <input
                type="number"
                title="Enter pipe flow rate"
                placeholder="1500"
                min="0"
                step="1"
                data-test="lab-settings-flow-rate"
                [formControl]="ctrlFlowRate"
                [value]="settings.flowRate"
                (input)="emitNumber(setFlowRate, $event, 0)"
              />
              <div>
                u/sec
                <a
                  href="https://wiki.factorio.com/Fluid_system#Pipelines"
                  target="_blank"
                  >Wiki</a
                >
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Inserter target
            <a
              href="https://wiki.factorio.com/Inserters#Inserter_Throughput"
              target="_blank"
              >Wiki</a
            >
          </td>
          <td>
            <lab-options
              title="Select inserter target"
              [selected]="settings.inserterTarget"
              [options]="InserterTargetOptions"
              (selectId)="setInserterTarget.emit($event)"
            ></lab-options>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Bonuses</div>
      <table class="wide">
        <tr *ngIf="!data.isDsp; else dspMiningSpeed">
          <td>Mining productivity</td>
          <td class="right">
            +
            <input
              type="number"
              title="Enter mining productivity bonus"
              placeholder="Mining productivity"
              min="0"
              step="10"
              data-test="lab-settings-mining-bonus"
              [formControl]="ctrlMiningProductivity"
              [value]="settings.miningBonus"
              (input)="emitNumber(setMiningBonus, $event, 0)"
            />
            %
          </td>
        </tr>
        <ng-template #dspMiningSpeed>
          <tr>
            <td>Mining speed</td>
            <td class="right">
              <input
                type="number"
                title="Enter mining speed"
                placeholder="Mining speed"
                min="100"
                step="10"
                data-test="lab-settings-mining-bonus"
                [formControl]="ctrlMiningSpeed"
                [value]="settings.miningBonus + 100"
                (input)="emitNumber(setMiningBonus, $event, 0, -100)"
              />
              %
            </td>
          </tr>
        </ng-template>
        <tr *ngIf="!data.isDsp">
          <td>Research speed</td>
          <td>
            <lab-options
              title="Select research speed bonus"
              [selected]="settings.researchSpeed"
              [options]="ResearchSpeedOptions"
              (selectId)="setResearchSpeed.emit($event)"
            ></lab-options>
          </td>
        </tr>
        <tr *ngIf="!data.isDsp">
          <td>Inserter capacity</td>
          <td>
            <lab-options
              title="Select inserter capacity bonus"
              [selected]="settings.inserterCapacity"
              [options]="InserterCapacityOptions"
              (selectId)="setInserterCapacity.emit($event)"
            ></lab-options>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Advanced</div>
      <table class="wide">
        <tr>
          <td>Simplex solver</td>
          <td>
            <lab-options
              title="Disable to get a faster but incomplete result"
              [selected]="preferences.simplex"
              [options]="enabledOptions"
              (selectId)="setSimplex.emit($event)"
            ></lab-options>
          </td>
        </tr>
        <tr *ngIf="!preferences.simplex">
          <td colspan="2">
            <span class="invalid"
              >Disabling simplex improves performance but usually results in an
              incomplete solution.</span
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
