:host {
  background-color: var(--color-gray-1);
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  width: 20rem;

  > :last-child {
    margin-bottom: 4rem;
  }
}

label {
  user-select: none;
}

.small {
  font-size: small;
}

.option {
  > * {
    cursor: pointer;
  }

  > * + * {
    margin-left: 0.25rem;
  }

  &:hover {
    > * {
      color: var(--color-brand);
    }
  }
}

.label {
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.5rem 0;
  color: var(--color-brand);
}

lab-icon {
  padding: 0.125rem;

  &.static {
    position: static;
  }
}

.field {
  display: flex;
  align-items: center;
  min-height: 2.5rem;

  > * + * {
    margin-left: 0.5rem;
  }

  .grow {
    flex-grow: 1;
  }
}

.states {
  display: flex;
  align-items: center;
  min-height: 2rem;

  :first-child {
    margin-right: 0.5rem;
    flex-grow: 1;
  }
}

a {
  color: var(--color-brand);
}

input[type='radio'] + * {
  margin-left: 0.25rem;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.static > lab-icon {
  position: static;
}

table.center {
  tr > :first-child {
    text-align: right;
  }
}

.arrows {
  display: flex;
  flex-direction: column;

  > i {
    line-height: 1rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--color-brand);
      color: var(--color-black);
    }
  }
}
