:host {
  background-color: var(--color-gray-1);
  z-index: 1;
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  width: 18rem;

  > :last-child {
    margin-bottom: 1rem;
  }
}

label {
  user-select: none;
}

.option {
  > * {
    cursor: pointer;
  }

  > * + * {
    margin-left: 0.25rem;
  }

  &:hover {
    > * {
      color: var(--color-brand);
    }
  }
}

.label {
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  color: var(--color-brand);
}

lab-icon {
  padding: 0.125rem;
}

.field {
  display: flex;
  align-items: center;
  min-height: 2rem;

  > * + * {
    margin-left: 0.5rem;
  }
}

a {
  color: var(--color-brand);
}

input[type='radio'] + * {
  margin-left: 0.25rem;
}

.hidden {
  display: none;
}

.static > lab-icon {
  position: static;
}
