@import 'values';

:host {
  background-color: $color-gray-1;
  z-index: 1;
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

label {
  user-select: none;
}

.option {
  > * {
    cursor: pointer;
  }

  > * + * {
    padding-left: 0.25rem;
  }

  &:hover {
    > * {
      color: $color-brand;
    }
  }
}

.label {
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  color: $color-brand;
}

lab-icon {
  padding: 0.125rem;
}

.field {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.5rem;
  }
}

a {
  color: $color-brand;
}

.select-container {
  width: 2.25rem;
  height: 2.25rem;

  > * {
    position: absolute;
  }
}
