<img src="/assets/transparent.gif" [ngClass]="iconId" [class.scale]="scale" />
<div *ngIf="text" class="icon-text">{{ text }}</div>
<div *ngIf="recipe || item || tooltip" class="tooltip">
  <div *ngIf="tooltip" class="title nowrap">
    {{ tooltip }}
  </div>
  <div *ngIf="recipe" class="flex">
    <lab-icon iconId="time" [text]="recipe.time"></lab-icon>
    <ng-container *ngFor="let ingredient of recipe.in | keyvalue">
      <lab-icon
        [iconId]="ingredient.key"
        [text]="ingredient.value"
        scale="true"
      ></lab-icon>
    </ng-container>
    →
    <ng-container *ngIf="recipe.out">
      <ng-container *ngFor="let output of recipe.out | keyvalue" class="flex">
        <lab-icon
          [iconId]="output.key"
          [text]="output.value"
          scale="true"
        ></lab-icon>
      </ng-container>
    </ng-container>
    <lab-icon
      *ngIf="!recipe.out"
      [iconId]="iconId"
      [text]="1"
      scale="true"
    ></lab-icon>
  </div>
  <div *ngIf="item?.belt" class="nowrap">
    {{ item.belt.speed * displayRate }}
    {{
      displayRate === DisplayRate.PerSecond
        ? 'Items/s'
        : displayRate === DisplayRate.PerMinute
        ? 'Items/m'
        : 'Items/h'
    }}
  </div>
  <div *ngIf="item?.factory">
    <div class="nowrap">Crafting Speed: {{ item.factory.speed }}</div>
    <div class="nowrap">Modules: {{ item.factory.modules }}</div>
  </div>
  <div *ngIf="item?.fuel" class="nowrap">{{ item.fuel }} MJ</div>
  <div *ngIf="item?.module">
    <div *ngIf="item.module.speed" class="nowrap">
      Speed: {{ item.module.speed > 0 ? '+' : ''
      }}{{ item.module.speed * 100 }}%
    </div>
    <div *ngIf="item.module.productivity" class="nowrap">
      Productivity: +{{ item.module.productivity * 100 }}%
    </div>
  </div>
</div>
