/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:97ea265abea6a53796e43276207c9edf:9d27fe7e710a873fdd17a1ac012fe510:a419349b04311a76727adb5ab79529dc$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(0-18png);
}

.accumulator {
  width: 32px;
  height: 32px;
  background-position: -160px -608px;
}
.active-provider-chest {
  width: 32px;
  height: 32px;
  background-position: -192px -608px;
}
.advanced-circuit {
  width: 32px;
  height: 32px;
  background-position: -0px -640px;
}
.advanced-oil-processing {
  width: 32px;
  height: 32px;
  background-position: -96px -640px;
}
.arithmetic-combinator {
  width: 32px;
  height: 32px;
  background-position: -32px -640px;
}
.artillery-shell {
  width: 32px;
  height: 32px;
  background-position: -64px -640px;
}
.artillery-shell-range {
  width: 64px;
  height: 64px;
  background-position: -128px -928px;
}
.artillery-shell-shooting-speed {
  width: 64px;
  height: 64px;
  background-position: -64px -928px;
}
.artillery-targeting-remote {
  width: 32px;
  height: 32px;
  background-position: -224px -608px;
}
.artillery-turret {
  width: 32px;
  height: 32px;
  background-position: -128px -608px;
}
.artillery-wagon {
  width: 32px;
  height: 32px;
  background-position: -192px -576px;
}
.assembling-machine-1 {
  width: 32px;
  height: 32px;
  background-position: -0px -608px;
}
.assembling-machine-2 {
  width: 32px;
  height: 32px;
  background-position: -96px -608px;
}
.assembling-machine-3 {
  width: 32px;
  height: 32px;
  background-position: -32px -608px;
}
.atomic-bomb {
  width: 32px;
  height: 32px;
  background-position: -64px -608px;
}
.automation-science-pack {
  width: 32px;
  height: 32px;
  background-position: -128px -640px;
}
.basic-oil-processing {
  width: 32px;
  height: 32px;
  background-position: -224px -640px;
}
.battery {
  width: 32px;
  height: 32px;
  background-position: -160px -672px;
}
.beacon {
  width: 32px;
  height: 32px;
  background-position: -192px -672px;
}
.belt-immunity-equipment {
  width: 32px;
  height: 32px;
  background-position: -0px -704px;
}
.big-electric-pole {
  width: 32px;
  height: 32px;
  background-position: -96px -704px;
}
.boiler {
  width: 32px;
  height: 32px;
  background-position: -32px -704px;
}
.buffer-chest {
  width: 32px;
  height: 32px;
  background-position: -64px -704px;
}
.burner-inserter {
  width: 32px;
  height: 32px;
  background-position: -224px -672px;
}
.burner-mining-drill {
  width: 32px;
  height: 32px;
  background-position: -128px -672px;
}
.cannon-shell {
  width: 32px;
  height: 32px;
  background-position: -160px -640px;
}
.car {
  width: 32px;
  height: 32px;
  background-position: -192px -640px;
}
.cargo-wagon {
  width: 32px;
  height: 32px;
  background-position: -0px -672px;
}
.centrifuge {
  width: 32px;
  height: 32px;
  background-position: -96px -672px;
}
.chemical-plant {
  width: 32px;
  height: 32px;
  background-position: -32px -672px;
}
.chemical-science-pack {
  width: 32px;
  height: 32px;
  background-position: -64px -672px;
}
.cliff-explosives {
  width: 32px;
  height: 32px;
  background-position: -224px -576px;
}
.cluster-grenade {
  width: 32px;
  height: 32px;
  background-position: -160px -576px;
}
.coal {
  width: 32px;
  height: 32px;
  background-position: -0px -512px;
}
.coal-liquefaction {
  width: 32px;
  height: 32px;
  background-position: -224px -480px;
}
.combat {
  width: 64px;
  height: 64px;
  background-position: -192px -1056px;
}
.combat-shotgun {
  width: 32px;
  height: 32px;
  background-position: -64px -512px;
}
.concrete {
  width: 32px;
  height: 32px;
  background-position: -160px -512px;
}
.constant-combinator {
  width: 32px;
  height: 32px;
  background-position: -96px -512px;
}
.construction-robot {
  width: 32px;
  height: 32px;
  background-position: -128px -512px;
}
.copper-cable {
  width: 32px;
  height: 32px;
  background-position: -32px -512px;
}
.copper-ore {
  width: 32px;
  height: 32px;
  background-position: -192px -480px;
}
.copper-plate {
  width: 32px;
  height: 32px;
  background-position: -0px -480px;
}
.crude-oil {
  width: 32px;
  height: 32px;
  background-position: -160px -480px;
}
.crude-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -64px -480px;
}
.decider-combinator {
  width: 32px;
  height: 32px;
  background-position: -96px -480px;
}
.defender-capsule {
  width: 32px;
  height: 32px;
  background-position: -128px -480px;
}
.destroyer-capsule {
  width: 32px;
  height: 32px;
  background-position: -192px -512px;
}
.discharge-defense {
  width: 32px;
  height: 32px;
  background-position: -192px -544px;
}
.discharge-defense-remote {
  width: 32px;
  height: 32px;
  background-position: -0px -544px;
}
.distractor-capsule {
  width: 32px;
  height: 32px;
  background-position: -224px -544px;
}
.efficiency-module {
  width: 32px;
  height: 32px;
  background-position: -64px -576px;
}
.efficiency-module-2 {
  width: 32px;
  height: 32px;
  background-position: -32px -576px;
}
.efficiency-module-3 {
  width: 32px;
  height: 32px;
  background-position: -128px -576px;
}
.electric-engine-unit {
  width: 32px;
  height: 32px;
  background-position: -96px -576px;
}
.electric-furnace {
  width: 32px;
  height: 32px;
  background-position: -0px -576px;
}
.electric-mining-drill {
  width: 32px;
  height: 32px;
  background-position: -160px -544px;
}
.electronic-circuit {
  width: 32px;
  height: 32px;
  background-position: -224px -512px;
}
.empty-barrel {
  width: 32px;
  height: 32px;
  background-position: -32px -544px;
}
.empty-crude-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -128px -544px;
}
.empty-heavy-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -128px -704px;
}
.empty-light-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -96px -544px;
}
.empty-lubricant-barrel {
  width: 32px;
  height: 32px;
  background-position: -32px -480px;
}
.empty-petroleum-gas-barrel {
  width: 32px;
  height: 32px;
  background-position: -32px -768px;
}
.empty-sulfuric-acid-barrel {
  width: 32px;
  height: 32px;
  background-position: -96px -896px;
}
.empty-water-barrel {
  width: 32px;
  height: 32px;
  background-position: -96px -832px;
}
.energy-shield {
  width: 32px;
  height: 32px;
  background-position: -192px -832px;
}
.energy-shield-mk2 {
  width: 32px;
  height: 32px;
  background-position: -224px -832px;
}
.energy-weapons-damage {
  width: 64px;
  height: 64px;
  background-position: -0px -1120px;
}
.engine-unit {
  width: 32px;
  height: 32px;
  background-position: -0px -864px;
}
.exoskeleton {
  width: 32px;
  height: 32px;
  background-position: -64px -864px;
}
.explosive-cannon-shell {
  width: 32px;
  height: 32px;
  background-position: -160px -864px;
}
.explosive-rocket {
  width: 32px;
  height: 32px;
  background-position: -96px -864px;
}
.explosive-uranium-cannon-shell {
  width: 32px;
  height: 32px;
  background-position: -128px -864px;
}
.explosives {
  width: 32px;
  height: 32px;
  background-position: -32px -864px;
}
.express-splitter {
  width: 32px;
  height: 32px;
  background-position: -64px -832px;
}
.express-transport-belt {
  width: 32px;
  height: 32px;
  background-position: -128px -832px;
}
.express-underground-belt {
  width: 32px;
  height: 32px;
  background-position: -192px -864px;
}
.fast-inserter {
  width: 32px;
  height: 32px;
  background-position: -160px -832px;
}
.fast-splitter {
  width: 32px;
  height: 32px;
  background-position: -0px -896px;
}
.fast-transport-belt {
  width: 32px;
  height: 32px;
  background-position: -160px -896px;
}
.fast-underground-belt {
  width: 32px;
  height: 32px;
  background-position: -224px -896px;
}
.fill-crude-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -192px -896px;
}
.fill-heavy-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -0px -928px;
}
.fill-light-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -32px -928px;
}
.fill-lubricant-barrel {
  width: 32px;
  height: 32px;
  background-position: -128px -896px;
}
.fill-petroleum-gas-barrel {
  width: 32px;
  height: 32px;
  background-position: -224px -864px;
}
.fill-sulfuric-acid-barrel {
  width: 32px;
  height: 32px;
  background-position: -32px -896px;
}
.fill-water-barrel {
  width: 32px;
  height: 32px;
  background-position: -64px -896px;
}
.filter-inserter {
  width: 32px;
  height: 32px;
  background-position: -192px -704px;
}
.firearm-magazine {
  width: 32px;
  height: 32px;
  background-position: -128px -736px;
}
.flamethrower {
  width: 32px;
  height: 32px;
  background-position: -224px -736px;
}
.flamethrower-ammo {
  width: 32px;
  height: 32px;
  background-position: -192px -736px;
}
.flamethrower-turret {
  width: 32px;
  height: 32px;
  background-position: -32px -832px;
}
.fluid-wagon {
  width: 32px;
  height: 32px;
  background-position: -0px -768px;
}
.flying-robot-frame {
  width: 32px;
  height: 32px;
  background-position: -160px -736px;
}
.follower-robot-count {
  width: 64px;
  height: 64px;
  background-position: -64px -1056px;
}
.gate {
  width: 32px;
  height: 32px;
  background-position: -96px -736px;
}
.green-wire {
  width: 32px;
  height: 32px;
  background-position: -160px -704px;
}
.grenade {
  width: 32px;
  height: 32px;
  background-position: -224px -704px;
}
.gun-turret {
  width: 32px;
  height: 32px;
  background-position: -64px -736px;
}
.hazard-concrete {
  width: 32px;
  height: 32px;
  background-position: -0px -736px;
}
.heat-exchanger {
  width: 32px;
  height: 32px;
  background-position: -32px -736px;
}
.heat-pipe {
  width: 32px;
  height: 32px;
  background-position: -64px -768px;
}
.heavy-armor {
  width: 32px;
  height: 32px;
  background-position: -128px -768px;
}
.heavy-oil {
  width: 32px;
  height: 32px;
  background-position: -160px -800px;
}
.heavy-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -64px -800px;
}
.heavy-oil-cracking {
  width: 32px;
  height: 32px;
  background-position: -96px -800px;
}
.inserter {
  width: 32px;
  height: 32px;
  background-position: -0px -832px;
}
.intermediate {
  width: 64px;
  height: 64px;
  background-position: -64px -1120px;
}
.iron-chest {
  width: 32px;
  height: 32px;
  background-position: -192px -800px;
}
.iron-gear-wheel {
  width: 32px;
  height: 32px;
  background-position: -224px -800px;
}
.iron-ore {
  width: 32px;
  height: 32px;
  background-position: -128px -800px;
}
.iron-plate {
  width: 32px;
  height: 32px;
  background-position: -32px -800px;
}
.iron-stick {
  width: 32px;
  height: 32px;
  background-position: -96px -768px;
}
.kovarex-enrichment-process {
  width: 32px;
  height: 32px;
  background-position: -160px -768px;
}
.lab {
  width: 32px;
  height: 32px;
  background-position: -0px -800px;
}
.lamp {
  width: 32px;
  height: 32px;
  background-position: -192px -768px;
}
.land-mine {
  width: 32px;
  height: 32px;
  background-position: -224px -768px;
}
.landfill {
  width: 32px;
  height: 32px;
  background-position: -64px -544px;
}
.laser-turret {
  width: 32px;
  height: 32px;
  background-position: -32px -0px;
}
.light-armor {
  width: 32px;
  height: 32px;
  background-position: -160px -128px;
}
.light-oil {
  width: 32px;
  height: 32px;
  background-position: -224px -448px;
}
.light-oil-barrel {
  width: 32px;
  height: 32px;
  background-position: -192px -128px;
}
.light-oil-cracking {
  width: 32px;
  height: 32px;
  background-position: -0px -160px;
}
.locomotive {
  width: 32px;
  height: 32px;
  background-position: -96px -160px;
}
.logistic-robot {
  width: 32px;
  height: 32px;
  background-position: -32px -160px;
}
.logistic-science-pack {
  width: 32px;
  height: 32px;
  background-position: -64px -160px;
}
.logistics {
  width: 64px;
  height: 64px;
  background-position: -128px -1120px;
}
.long-handed-inserter {
  width: 32px;
  height: 32px;
  background-position: -224px -128px;
}
.low-density-structure {
  width: 32px;
  height: 32px;
  background-position: -128px -128px;
}
.lubricant {
  width: 32px;
  height: 32px;
  background-position: -0px -128px;
}
.lubricant-barrel {
  width: 32px;
  height: 32px;
  background-position: -192px -96px;
}
.medium-electric-pole {
  width: 32px;
  height: 32px;
  background-position: -96px -128px;
}
.military-science-pack {
  width: 32px;
  height: 32px;
  background-position: -32px -128px;
}
.mining-productivity {
  width: 64px;
  height: 64px;
  background-position: -64px -992px;
}
.modular-armor {
  width: 32px;
  height: 32px;
  background-position: -64px -128px;
}
.module {
  width: 32px;
  height: 32px;
  background-position: -128px -160px;
}
.nightvision {
  width: 32px;
  height: 32px;
  background-position: -192px -160px;
}
.nuclear-fuel {
  width: 32px;
  height: 32px;
  background-position: -160px -192px;
}
.nuclear-fuel-reprocessing {
  width: 32px;
  height: 32px;
  background-position: -128px -192px;
}
.nuclear-reactor {
  width: 32px;
  height: 32px;
  background-position: -224px -192px;
}
.offshore-pump {
  width: 32px;
  height: 32px;
  background-position: -64px -224px;
}
.oil-refinery {
  width: 32px;
  height: 32px;
  background-position: -0px -224px;
}
.passive-provider-chest {
  width: 32px;
  height: 32px;
  background-position: -32px -224px;
}
.personal-battery {
  width: 32px;
  height: 32px;
  background-position: -96px -192px;
}
.personal-battery-mk2 {
  width: 32px;
  height: 32px;
  background-position: -192px -192px;
}
.personal-laser-defense {
  width: 32px;
  height: 32px;
  background-position: -160px -160px;
}
.personal-roboport {
  width: 32px;
  height: 32px;
  background-position: -64px -192px;
}
.personal-roboport-mk2 {
  width: 32px;
  height: 32px;
  background-position: -224px -160px;
}
.petroleum-gas {
  width: 32px;
  height: 32px;
  background-position: -32px -192px;
}
.petroleum-gas-barrel {
  width: 32px;
  height: 32px;
  background-position: -0px -192px;
}
.physical-projectile-damage {
  width: 64px;
  height: 64px;
  background-position: -0px -1056px;
}
.piercing-rounds-magazine {
  width: 32px;
  height: 32px;
  background-position: -224px -96px;
}
.piercing-shotgun-shells {
  width: 32px;
  height: 32px;
  background-position: -160px -96px;
}
.pipe {
  width: 32px;
  height: 32px;
  background-position: -0px -32px;
}
.pipe-to-ground {
  width: 32px;
  height: 32px;
  background-position: -224px -0px;
}
.pistol {
  width: 32px;
  height: 32px;
  background-position: -64px -32px;
}
.plastic-bar {
  width: 32px;
  height: 32px;
  background-position: -160px -32px;
}
.player {
  width: 32px;
  height: 32px;
  background-position: -96px -32px;
}
.poison-capsule {
  width: 32px;
  height: 32px;
  background-position: -128px -32px;
}
.portable-fusion-reactor {
  width: 32px;
  height: 32px;
  background-position: -32px -32px;
}
.portable-solar-panel {
  width: 32px;
  height: 32px;
  background-position: -192px -0px;
}
.power-armor {
  width: 32px;
  height: 32px;
  background-position: -64px -0px;
}
.power-armor-mk2 {
  width: 32px;
  height: 32px;
  background-position: -0px -0px;
}
.power-switch {
  width: 32px;
  height: 32px;
  background-position: -160px -0px;
}
.processing-unit {
  width: 32px;
  height: 32px;
  background-position: -96px -0px;
}
.production {
  width: 64px;
  height: 64px;
  background-position: -128px -1056px;
}
.production-science-pack {
  width: 32px;
  height: 32px;
  background-position: -128px -0px;
}
.productivity-module {
  width: 32px;
  height: 32px;
  background-position: -192px -64px;
}
.productivity-module-2 {
  width: 32px;
  height: 32px;
  background-position: -192px -32px;
}
.productivity-module-3 {
  width: 32px;
  height: 32px;
  background-position: -0px -64px;
}
.programmable-speaker {
  width: 32px;
  height: 32px;
  background-position: -224px -64px;
}
.pump {
  width: 32px;
  height: 32px;
  background-position: -32px -96px;
}
.pumpjack {
  width: 32px;
  height: 32px;
  background-position: -128px -96px;
}
.radar {
  width: 32px;
  height: 32px;
  background-position: -64px -96px;
}
.rail {
  width: 32px;
  height: 32px;
  background-position: -160px -64px;
}
.rail-chain-signal {
  width: 32px;
  height: 32px;
  background-position: -96px -96px;
}
.rail-signal {
  width: 32px;
  height: 32px;
  background-position: -0px -96px;
}
.raw-fish {
  width: 32px;
  height: 32px;
  background-position: -224px -32px;
}
.red-wire {
  width: 32px;
  height: 32px;
  background-position: -32px -64px;
}
.refined-concrete {
  width: 32px;
  height: 32px;
  background-position: -128px -64px;
}
.refined-flammables {
  width: 64px;
  height: 64px;
  background-position: -192px -928px;
}
.refined-hazard-concrete {
  width: 32px;
  height: 32px;
  background-position: -64px -64px;
}
.repair-pack {
  width: 32px;
  height: 32px;
  background-position: -96px -64px;
}
.requester-chest {
  width: 32px;
  height: 32px;
  background-position: -96px -224px;
}
.research {
  width: 64px;
  height: 64px;
  background-position: -128px -992px;
}
.roboport {
  width: 32px;
  height: 32px;
  background-position: -160px -224px;
}
.rocket {
  width: 32px;
  height: 32px;
  background-position: -192px -384px;
}
.rocket-control-unit {
  width: 32px;
  height: 32px;
  background-position: -32px -384px;
}
.rocket-fuel {
  width: 32px;
  height: 32px;
  background-position: -64px -384px;
}
.rocket-launcher {
  width: 32px;
  height: 32px;
  background-position: -128px -384px;
}
.rocket-part {
  width: 32px;
  height: 32px;
  background-position: -224px -384px;
}
.rocket-silo {
  width: 32px;
  height: 32px;
  background-position: -160px -384px;
}
.satellite {
  width: 32px;
  height: 32px;
  background-position: -96px -384px;
}
.shotgun {
  width: 32px;
  height: 32px;
  background-position: -64px -352px;
}
.shotgun-shells {
  width: 32px;
  height: 32px;
  background-position: -0px -384px;
}
.slowdown-capsule {
  width: 32px;
  height: 32px;
  background-position: -128px -352px;
}
.small-electric-pole {
  width: 32px;
  height: 32px;
  background-position: -224px -352px;
}
.solar-panel {
  width: 32px;
  height: 32px;
  background-position: -160px -352px;
}
.solid-fuel {
  width: 32px;
  height: 32px;
  background-position: -0px -448px;
}
.solid-fuel-from-heavy-oil {
  width: 32px;
  height: 32px;
  background-position: -192px -352px;
}
.solid-fuel-from-light-oil {
  width: 32px;
  height: 32px;
  background-position: -0px -416px;
}
.solid-fuel-from-petroleum-gas {
  width: 32px;
  height: 32px;
  background-position: -64px -416px;
}
.space-science-pack {
  width: 32px;
  height: 32px;
  background-position: -32px -448px;
}
.speed-module {
  width: 32px;
  height: 32px;
  background-position: -128px -448px;
}
.speed-module-2 {
  width: 32px;
  height: 32px;
  background-position: -96px -448px;
}
.speed-module-3 {
  width: 32px;
  height: 32px;
  background-position: -192px -448px;
}
.splitter {
  width: 32px;
  height: 32px;
  background-position: -160px -448px;
}
.stack-filter-inserter {
  width: 32px;
  height: 32px;
  background-position: -64px -448px;
}
.stack-inserter {
  width: 32px;
  height: 32px;
  background-position: -224px -416px;
}
.steam {
  width: 32px;
  height: 32px;
  background-position: -192px -416px;
}
.steam-engine {
  width: 32px;
  height: 32px;
  background-position: -32px -416px;
}
.steam-turbine {
  width: 32px;
  height: 32px;
  background-position: -96px -416px;
}
.steel-chest {
  width: 32px;
  height: 32px;
  background-position: -128px -416px;
}
.steel-furnace {
  width: 32px;
  height: 32px;
  background-position: -160px -416px;
}
.steel-plate {
  width: 32px;
  height: 32px;
  background-position: -96px -352px;
}
.stone {
  width: 32px;
  height: 32px;
  background-position: -128px -256px;
}
.stone-brick {
  width: 32px;
  height: 32px;
  background-position: -32px -352px;
}
.stone-furnace {
  width: 32px;
  height: 32px;
  background-position: -96px -256px;
}
.storage-chest {
  width: 32px;
  height: 32px;
  background-position: -192px -256px;
}
.storage-tank {
  width: 32px;
  height: 32px;
  background-position: -32px -288px;
}
.stronger-explosives {
  width: 64px;
  height: 64px;
  background-position: -192px -992px;
}
.submachine-gun {
  width: 32px;
  height: 32px;
  background-position: -224px -256px;
}
.substation {
  width: 32px;
  height: 32px;
  background-position: -0px -288px;
}
.sulfur {
  width: 32px;
  height: 32px;
  background-position: -160px -256px;
}
.sulfuric-acid {
  width: 32px;
  height: 32px;
  background-position: -128px -224px;
}
.sulfuric-acid-barrel {
  width: 32px;
  height: 32px;
  background-position: -64px -256px;
}
.tank {
  width: 32px;
  height: 32px;
  background-position: -192px -224px;
}
.time-icon {
  width: 32px;
  height: 32px;
  background-position: -32px -256px;
}
.train-stop {
  width: 32px;
  height: 32px;
  background-position: -224px -224px;
}
.transport-belt {
  width: 32px;
  height: 32px;
  background-position: -0px -256px;
}
.underground-belt {
  width: 32px;
  height: 32px;
  background-position: -64px -288px;
}
.uranium-235 {
  width: 32px;
  height: 32px;
  background-position: -128px -288px;
}
.uranium-238 {
  width: 32px;
  height: 32px;
  background-position: -64px -320px;
}
.uranium-cannon-shell {
  width: 32px;
  height: 32px;
  background-position: -96px -320px;
}
.uranium-fuel-cell {
  width: 32px;
  height: 32px;
  background-position: -160px -320px;
}
.uranium-ore {
  width: 32px;
  height: 32px;
  background-position: -0px -352px;
}
.uranium-processing {
  width: 32px;
  height: 32px;
  background-position: -192px -320px;
}
.uranium-rounds-magazine {
  width: 32px;
  height: 32px;
  background-position: -224px -320px;
}
.used-up-uranium-fuel-cell {
  width: 32px;
  height: 32px;
  background-position: -128px -320px;
}
.utility-science-pack {
  width: 32px;
  height: 32px;
  background-position: -32px -320px;
}
.wall {
  width: 32px;
  height: 32px;
  background-position: -96px -288px;
}
.water {
  width: 32px;
  height: 32px;
  background-position: -0px -320px;
}
.water-barrel {
  width: 32px;
  height: 32px;
  background-position: -160px -288px;
}
.wood {
  width: 32px;
  height: 32px;
  background-position: -192px -288px;
}
.wooden-chest {
  width: 32px;
  height: 32px;
  background-position: -224px -288px;
}
.worker-robot-speed {
  width: 64px;
  height: 64px;
  background-position: -0px -992px;
}
