<div data-test="lab-ranker-open" (click)="clickOpen()">
  <ng-content></ng-content>
</div>
<lab-dialog *ngIf="open" [style.minWidth.rem]="width" (closeDialog)="cancel()">
  <div class="dialog-title">
    <div class="header">{{ header }}</div>
    <button (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="panel tile">
    <lab-icon
      tooltip="No Module"
      class="grid"
      data-test="lab-ranker-none"
      [class.disabled]="!canAdd(ItemId.Module)"
      [class.selected]="!editValue.length"
      [data]="data"
      [iconId]="ItemId.Module"
      [text]="text(ItemId.Module)"
      (click)="clickId(ItemId.Module)"
    >
    </lab-icon>
    <lab-icon
      *ngFor="let id of options"
      class="grid"
      data-test="lab-ranker-option"
      [class.disabled]="!canAdd(id)"
      [class.selected]="editValue.indexOf(id) !== -1"
      [data]="data"
      [iconId]="id"
      [text]="text(id)"
      [tooltip]="data.itemEntities[id] ? data.itemEntities[id].name : null"
      [item]="data.itemEntities[id]"
      (click)="clickId(id)"
    ></lab-icon>
  </div>
  <div class="info" *ngIf="edited">
    (Optional) Select another module to use as a fallback
  </div>
</lab-dialog>
