<div #scrollContainer class="scroll">
  <div class="header">Preferred</div>
  <div class="info">Click to remove from preferred list</div>
  <div class="flex">
    <lab-icon
      *ngFor="let id of editValue"
      class="clickable"
      [data]="data"
      [iconId]="id"
      [scrollTop]="scrollContainer.scrollTop"
      [tooltip]="data.itemEntities[id] ? data.itemEntities[id].name : null"
      [item]="data.itemEntities[id]"
      (click)="clickDrop(id, $event)"
    ></lab-icon>
  </div>
  <div class="header">Not Preferred</div>
  <div class="info">Click to add to preferred list</div>
  <div class="flex">
    <ng-container *ngFor="let id of options">
      <lab-icon
        *ngIf="editValue.indexOf(id) === -1"
        class="clickable"
        [data]="data"
        [iconId]="id"
        [scrollTop]="scrollContainer.scrollTop"
        [tooltip]="data.itemEntities[id] ? data.itemEntities[id].name : null"
        [item]="data.itemEntities[id]"
        (click)="clickPrefer(id, $event)"
      ></lab-icon>
    </ng-container>
  </div>
</div>
