<div class="header">Preferred</div>
<div class="info">Click to remove from preferred list</div>
<div class="flex">
  <lab-icon
    *ngFor="let id of rank"
    class="clickable"
    [iconId]="id"
    [tooltip]="data.itemEntities[id] ? data.itemEntities[id].name : null"
    [item]="data.itemEntities[id]"
    [data]="data"
    (click)="clickDrop(id, $event)"
  ></lab-icon>
</div>
<div class="header">Not Preferred</div>
<div class="info">Click to add to preferred list</div>
<div class="flex">
  <ng-container *ngFor="let id of options">
    <lab-icon
      *ngIf="rank.indexOf(id) === -1"
      class="clickable"
      [iconId]="id"
      [tooltip]="data.itemEntities[id] ? data.itemEntities[id].name : null"
      [item]="data.itemEntities[id]"
      [data]="data"
      (click)="clickPrefer(id, $event)"
    ></lab-icon>
  </ng-container>
</div>
