:host {
  display: flex;
}

lab-dialog {
  min-width: 13.5rem;
  max-width: 24rem;
  max-height: 20rem;

  > .panel {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

lab-icon.grid.disabled {
  cursor: default;
  background-color: inherit;
  box-shadow: inherit;

  &:hover {
    background-color: inherit;
    box-shadow: inherit;
  }
}

.info {
  margin-top: 0.5rem;
  font-size: small;
}
