<span class="p-inputnumber p-component p-inputnumber-buttons-stacked">
  <input
    [id]="inputId"
    type="text"
    pInputText
    [placeholder]="placeholder"
    [ngModel]="value"
    labValidateNumber
    [labValidateMinimum]="minimum"
    (input)="changeValue($event)"
  />
  <span class="p-inputnumber p-inputnumber-buttons-stacked">
    <span class="p-inputnumber-button-group">
      <button
        pButton
        pRipple
        class="p-inputnumber-button p-inputnumber-button-up"
        icon="fa-solid fa-angle-up"
        (click)="increase()"
      ></button>
      <button
        pButton
        pRipple
        class="p-inputnumber-button p-inputnumber-button-down"
        icon="fa-solid fa-angle-down"
        [disabled]="isMinimum"
        (click)="decrease()"
      ></button>
    </span>
  </span>
</span>
