@import 'values';

.radio {
  padding: 1rem;

  > * + label {
    padding-left: 0.25rem;
  }

  > * + input {
    margin-left: 0.5rem;
  }
}

.breadcrumb-container {
  flex-wrap: wrap;
  padding: 0 1rem;

  > * + * {
    margin-left: 0.25rem;
  }
}

.clickable:hover {
  color: $color-black;
}
