<div class="radio">
  <input
    id="hierarchy-production"
    title="Production Hierarchy"
    type="radio"
    name="hierarchyView"
    [value]="HierarchyView.Production"
    [ngModel]="view"
    (change)="view = HierarchyView.Production"
  />
  <label for="hierarchy-production" title="Production Hierarchy"
    >Production</label
  >
  <input
    id="hierarchy-consumption"
    title="Consumption Hierarchy"
    type="radio"
    name="hierarchyView"
    [value]="HierarchyView.Consumption"
    [ngModel]="view"
    (change)="view = HierarchyView.Consumption"
  />
  <label for="hierarchy-consumption" title="Consumption Hierarchy"
    >Consumption</label
  >
</div>
<div class="breadcrumb-container flex">
  <div
    class="clickable-size"
    [class.clickable]="selected?.id !== 0"
    (click)="child.selectNode('0')"
  >
    Root
  </div>
  <ng-container *ngFor="let node of path">
    <div>></div>
    <div
      class="clickable-size"
      [class.clickable]="selected?.id !== node.id"
      (click)="child.selectNode(node.id)"
    >
      {{ node.name }}
    </div>
  </ng-container>
</div>
<lab-sunburst
  id="hierarchy-sunburst"
  [data]="root$ | async"
  textField="name"
  (setNode)="selected = $event"
  (setPath)="path = $event.splice(1)"
>
</lab-sunburst>
<lab-list-container *ngIf="selected" [steps]="steps"></lab-list-container>
