// Vendor & overrides
@import 'styles/bootstrap';
@import 'styles/theme-overrides';
@import 'styles/vis-network';
// Local
@import 'styles/typography';
@import 'styles/icons';
@import 'styles/buttons';
@import 'styles/spinner';
@import 'styles/utils';

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;
  height: 100%;
  width: 100vw;

  background-color: var(--surface-ground);

  font-family: var(--font-family);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
