@import 'styles/bootstrap';
@import 'styles/theme-overrides';
@import 'styles/vis-network-overrides';
@import 'styles/typography';
@import 'styles/icons';
@import 'styles/buttons';
@import 'styles/utils';

body {
  overflow-x: hidden;
  overflow-y: auto;

  height: 100%;

  background-color: var(--surface-ground);

  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
