@import './styles/values';

$font-family: 'titillium web', helvetica, arial, sans-serif;
$font-family-monospace: 'roboto mono', 'courier new', courier, monospace;

body {
  background-color: var(--color-back);
  color: var(--color-white);
  font-family: $font-family;
  line-height: 1;
  margin: 0;
  box-sizing: border-box;
  background-image: url(https://cdn.factorio.com/assets/img/web/bg_v4-85.jpg),
    url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMFBQX/wQARCABgAEADABEAAREAAhEA/8QAXgAAAgMBAQEAAAAAAAAAAAAAAQIAAwQFBgkQAAECBAQCBQcHCQkAAAAAAAECEQADEiEEIjFBMlETQlJhcQVicoGCkfAjM5KhorHiFFOjssHC0tPhFUOTw9Hj8fLz/9oADAMAAAEAAgAAPwD5rSkTJqqOJXped3PFcGOgPJWIbgT9Jf8ALhKoemB/Zs5KgCEAuw4yXa4AoS553A3h0HNCKTbWMM2WpDp23LqPuYGLFQiYgJX2mKk6+kIVUMmLjhlqICQS+42HIsvTT3Q1MHN2VRtT5LxKwnIunfi/igUQ30oyYmTNkZJlSSFfagwkWYBaZE5KrFIL5rpsz5QqUlVxZz1ntrCqQadYKSArbQc49qnyhKUAgGQxSpyrDzEguAFVEzgAVAEkXcJfMIy0cz+ii8F2ACfpzE8PtRnmYmTUM0qwCglEqkqAAAAKlqpSeHh4XzcrZYbrRWq/VfNHHmYdOLUSnIlKyXYswOjp207jfh4YvUOGKWzacP0Y52KwPQJqqQLpVmPD7S1fh0iUw1UDCJSqZeals/DMkKao8i7N5zCFVBEemlz5ACUpxEurpMQfnsCeLDoSn5upb1fm6pnmQkStMYfLkyRNWlclQHyaK5YS1JCUozKrdRFKe16So0LlTpXzsVS8ThcV8wurKj+7ojzLj64SHh0zpiVKQk1JAYpAAO7MQQw2Gni8LTSetDgu1otTiJpVd84YZhqna2+uj8MOmFqj2fknDdJhlHIbmorWoKRxqq0KSSlFWalKaYjqqRCVJ4M9Suzwxg8p4foZy0lIcPolwMoIrGV+xuRTYxnUtSl1Z4sl09Gnh6360cmVilSiaCQA3NP7sWcUJ8nFkzyjOPWFD6VDxqpKdEn19mAkZ4GVPBHNnTlTSXbN2fv/AKZYvqX14RCZUuvo4xAOQC4vrbmL+FuUL6UWZvNjqSsOSmoJLgEbBxZ2BsQyg5DUlg7QhUAWSWqNtGIN3ZrBVyx8LRclJzVC6dqjUDcHe5TbQ71MztoVhwEhRDsdLu4FJs1v+XiVpUpMV9H/ANY14XyirBpouynFNRZOVizmwAJSKQMxqMRRrqTCJSy0qpByqp+nFPlDyoZwKQ6glXN3YbqURYqvzhRLy5YJVVxcUcxExSklpZu4spD6X60PRCMmM6krUS6F6E2Va9wAAogWfu8IjdqqHT6vVCUhLpch7i5Oh1Bzd+kFMGGUQ4ax5Xv8eMOoQsepwKkfk630ILuCU8KCkLIzAFQZIQwU7K+caMigapTck6Fuqp8peo38NBGp3Uol7lZNgWdW6tg/u9cYcap5yiaKemVxpClEVDdKS4Z+FO1VSYaV1YRfW9uOXjFJEykOVakWtp2bs1MMBmir+H9+MxlzVaS5qwrlZX7PXFg4YEFKJiOrN/xP9yJBjdKkqUoNKmaMV1BSeYCvlDbvSmCKExOKM84BMy4T7uXc31wevAjGVZhYvvfv5czAy1QY6uFxikS6GqsRbVLpAdLEEOU3FyWOhTCUVFDdWGra5gTZipylgDjUotowUb1JfK4Ga94iUUxFGqIcKsrrWMrupZTr4sdOX6sMIWn0o9RJly1SkKRMw6UpB6RK5K1my0sUgTpfCOq6kq5ZYYy19rrwqFoTk+l8JiuZhDMLJ6BSnPDIWk+PzresXtAo9KDX6P2YtlyJsiSqpMopukqEtjp2ukV32pzdaFohq48jjCBMCQAWJYgBx3PblveLCqEA+1GADMCS4u4s45ftiuHiwkMCKtKtmfkcoJ3g5YkdHyZ0Znp6UqCUqA1472qqtSD+xLwe1A7PDHpMaiWiTdaSoolFgSCAy+IVa65kkeEImpVdMMKctXD+Psx5oTp6FEomBtnWAkX4db8s1XfBqqiU0q/DDIRiyqpKJijz6SYX9SV0J9lNPfEqgURoQvGUN0E1u0DM9pXFTA6VEHo1xzcRLnPXMCnq1Um/cD3+qIFwFJjHLzK/oPh4TLBjUZWVKmS5JLENoTqG1YXbW+0WAgD2oU/Bh5DpmS1FdLqQdcoIWka22vdx4Qz8MCNk9c+YEkKcBKQljZhWksbU3202eFSwqhqT6Pne1GFHSpV1vj2ffCtEj1GAnFQQlX1q1Sl1XFCmB6ztl7SYShMPHaEjDKSyxl615tYFWelKZEsP+a6y+1TeEql+3D0q9mPHeU0IlzVhPC6rpUo/r0j8XDFyaerFSvOjkyJVQPDwNxDiq9UVLgRtmJmSZCTSCAmxBCmZSteLKerypaIheWJGNOIIKWI5aM7EvbR7+HW2jQFcMCOph5hWEoCgRfLVLTaqp2VzV52sVHL/AOkXVK7X6KNkvydOnkqapi6i6FEIIssMGKedKreuJdXbgVU9j2paExknSl4OeSqQJiglgwSSHTqqoi2iu8MYCSUmGUpKxwZsvBCnHFvmU/RkfxfZi2K8scedNFavk6atbI1zXVSpVUCBAkzTLUD1R3P96ffFKoEegTPlYiWlOQKuhCQg+0ilKG6MvV5pitoLxx8RhJiFFctqTo52seTsCpns9ouDjeF6RKS2/oxkRNmoW3R9IKrhSQfVppyEGDUnzY9V5JVh1KlflNOepKkKQjopWdCUhlJd26/F5yYrzxK+PInLHfxuBkYxSVS5Uo1KBQqXhwyBnNQVSjhy1IyIppp7yuej0IEpWX+ZMjzeN8nJw8sqcmpJoYU3VYcUxb+GyYPS/HRRb5v+ZHm5msWQsFUsqKjZCRTvmZVqma/rVCQsXyq0FNHItqlrMSbMX8YWirqwI3SUEhNbhIQLFQJKlJJYJdiAqwCmIYGo6GSqgQ9gN4VS0XCg5vto0YZg+U63Wi+FdEUS0KrQGAD1KJpJNLEnhIt39nSFCc1MWBXFHRTicSgUy8TPloTZKECWEoS9gkGWSAN9iauZimYlJU9KSNnfmSw5C/vfnFqQCMwu3ZSdgL2J29wEU4nEYmeljjJiw9gsSyQNWcIB18A20RLJ0SB4W5D7gPcIYlwz25MGG+wHP745pCgFPcgBlB73SC4YC5uANL84s2+OYt4RWXeNxCEVKspV3pJuqpTcP1ebDQDFRWmolt1DR7U96b34fviZYVvGGMypsykvdho4sHYbcm0DwrZoIDCKd9Va7w8CNqFM7hII0sklmJcja31xN4baK1KBZSnSQWDDfckOxcOzWFiLBoA7ybvt3WOoZidG9xgnwFm+Dr7/AA2hWlrIGcF30QNfBNiw5sdABoD4l7cm076n/wBd4ngGvz/C0GZLISpQOg0O/q5QvWpibR//2Q==);
  background-position: center top;
  height: 100vh;
  background-color: var(--color-scroll);
  overflow-x: auto;
  overflow-y: scroll;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
}

th {
  font-weight: normal;
}

.header {
  color: var(--color-header);
  font-weight: 600;
}

h2 {
  color: var(--color-header);
  font-weight: 900;
  margin-bottom: 0.75rem;
  line-height: 1.25;
  font-size: 120%;
}

.panel {
  background-color: var(--color-light);
  box-shadow: var(--shadow-panel);
  padding: 0.75rem;

  &.dark {
    background-color: var(--color-dark);
  }
}

button,
.button {
  background-color: var(--color-button);
  color: var(--color-black);
  font-weight: 600;
  border: none;
  box-shadow: var(--shadow-button);
  cursor: pointer;
  user-select: none;
  height: 2.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: 0.125rem;

  & > .material-icons {
    width: 1.5rem;
    margin: 0 0.25rem;
  }

  > .text {
    &:first-child {
      margin-left: 0.75rem;
    }

    &:last-child {
      margin-right: 0.75rem;
    }
  }

  &[lab-icon] {
    margin: 0.125rem;
  }

  &:hover {
    background-color: var(--color-brand);
    box-shadow: var(--shadow-hover);
    filter: drop-shadow(0 0 2px var(--color-brand-sha));
  }

  &:active {
    background: var(--color-brand-alt);
    box-shadow: var(--shadow-active);
    filter: none;
  }

  &.green {
    background-color: var(--color-green);
    padding: 0.625rem 0.75rem;
    display: inline-block;
    vertical-align: baseline;
    box-shadow: var(--shadow-button-gr);
    position: relative;
    margin-right: 0.875rem;
    text-align: right;

    &:hover {
      filter: brightness(1.3) drop-shadow(0 0 2px var(--color-green-alt));
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1.5rem;
      right: -10px;
      top: 0;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAABACAMAAADCiszgAAABDlBMVEUAAAASMBURLxJJgUkAKxNKiU1Ih01msGpMjVFNjlFLik9ToFdLik9Lik9Lik5Yq1wIHgoOKhGAyoVNjVFipmY3cDpQkVVrsHB2vHlXmFyK1Y5/yoRvuHNcs2E7eT8bQB1doGFAe0IJIQxNjFJDgkhjrGgGHgxetmNcs2FasF9RllVVpllXqlxRnlVQm1RYrV0cQh5SoVcUNRdQk1VLllA8e0AXOhpQkFM0bDcqXC4jTiVRmFVFiUkIHgpTpFhNmVJEh0hNj1EtYTCI1I16w35utnJXn1tNk1FJkk1HjUs/fkI3czsyajYpWSsZPhxrsW9ZnV1XmVo6dz41bzgmUygkUCYiTSUTMRUPKxEOKRFdNbmJAAAAJ3RSTlMAVisODG41Bvb75Zfc1dGXlwb98/7y8fDS0JeXl5eXl25sVjU1MSucyRWzAAABMElEQVQ4y23M51LCUBiE4QWRKFFB7L37EUJTithI6FXs7f5vxDgok3Oy+/OdZxbGdrOZ3DyDOmMn2WptHM5odbfdflzdOtGq2ek8Pa/Pqtg0nVK3eLUUVWrcvsil08UVFaeszG/WsKQsT+tYJJW3s7caFpl8FOf8WKZ40YeFYqFYKBaKhWLx44V/LBQLxaLg+T8sFAvFouFYdFIZFoqFYqFYArjuYQngeuwUEsB19wii4lqu2x+s6dXO9QavDa1atuMOG2+Bh1658VFQq5XJutX3cQjaQal8XbgMQ6N31ZtKKAJKQSkoBaWgFJSCUlAKSkEpKAWloBSUglJQCkpBKSgFpdiz8rUARTxec9yRRmGYTv/lQaMw9ocjL6oUywfjyufXdxhqTdx7O46QmjhX4w9Fq5Q/daB+bwAAAABJRU5ErkJggg==);
      background-repeat: no-repeat;
      background-position: 100% 0%;
      background-size: contain;
    }
  }
}

.grid-button {
  padding: 0.125rem;
  border-radius: 0.25rem;
  background-color: var(--color-back);
  margin: 1px;
  cursor: pointer;
  box-shadow: var(--shadow-item);

  &:hover {
    background-color: var(--color-brand-drk);
    box-shadow: var(--shadow-hover);
  }
}

div.grid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
}

input[type='number'],
input[type='text'] {
  width: 5rem;

  vertical-align: baseline;
  font-family: inherit;
  line-height: 1.2;
  font-size: 105%;
  height: 2.25rem;
  background-color: var(--color-input);
  border-radius: 0.25rem;
  padding: 0.375rem;
  border: none;
  box-shadow: var(--shadow-input);

  &.beacon {
    width: 3rem;
  }

  &:focus,
  &:active {
    background-color: var(--color-input-alt);
  }
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-link-alt);
    text-decoration: underline;
  }
}

input {
  &[type='radio'],
  &[type='checkbox'] {
    margin: 0;
  }

  &:invalid {
    border-color: var(--color-red);
  }
}

.checkbox {
  position: relative;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-input);
  box-shadow: var(--shadow-check);
  padding: 0.375rem;

  &.checked {
    background-color: var(--color-brand-che);
  }

  &.checked::after {
    content: '';
    position: absolute;
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 6px;
    top: 3px;
    width: 2px;
    height: 6px;
    border: solid #282728;
    border-width: 0 2.5px 2.5px 0;
    background-color: transparent;
    border-radius: 0;
    box-sizing: content-box;
  }

  &:hover {
    background-color: var(--color-brand);
    box-shadow: var(--shadow-hover-ch);
  }
}

*:hover > .checkbox {
  background-color: var(--color-brand);
  box-shadow: var(--shadow-hover-ch);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  outline: none;
}

img.icon {
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;

  &.scale {
    transform: scale(0.5);
    transform-origin: 0 0;
    margin: 0 calc(-64px * 0.5) calc(-64px * 0.5) 0;
  }
}

.monospace {
  font-family: $font-family-monospace;
  white-space: pre;
}

.flex {
  display: flex;
  align-items: center;

  &.tween {
    justify-content: space-between;
  }
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--color-back);
}

.dialog-title {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;

  .header {
    font-size: large;
    white-space: nowrap;
    margin-right: 0.75rem;
  }

  .panel {
    padding: 0;
  }

  button,
  .button {
    background-color: var(--color-back);
    color: var(--color-white);
    box-shadow: var(--shadow-button-sm);
    height: 1.5rem;

    > .material-icons {
      margin: 0 -0.125rem;
    }

    &:hover {
      background-color: var(--color-brand);
      color: var(--color-black);
      box-shadow: var(--shadow-hover-sm);
      filter: drop-shadow(0 0 2px var(--color-brand-sha));
    }

    &:active {
      background: var(--color-brand-alt);
      color: var(--color-black);
      box-shadow: var(--shadow-active-sm);
      filter: none;
    }
  }
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.75rem;
}

.invalid {
  color: var(--color-red);
}

.relative {
  position: relative;
}

.material-icons {
  user-select: none;
}

// Sankey SVG styles
svg {
  width: 100vw;
}

text {
  fill: var(--color-font);
  font-family: $font-family;
  font-size: 10px;

  &:hover {
    fill: var(--color-brand);
    cursor: pointer;
  }
}

rect {
  &:hover {
    stroke: var(--color-brand);
    cursor: pointer;
  }
}
