@import './assets/0.18/icons.scss';
@import './styles/values';

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: 'Courier New', Courier, monospace;

body {
  margin: 0;
  background-color: $color-back;
  color: $color-font;
  font-family: $font-family;
  overflow: hidden;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

button,
input,
select {
  color: $color-font;
  background-color: $color-gray-2;
  border-radius: 0.25rem;

  &:not([disabled]):hover {
    border-color: $color-brand;
    color: $color-brand;
  }
}

button {
  border-color: $color-font;
  cursor: pointer;
  user-select: none;

  &:focus,
  &:active {
    outline: none;
    border-color: $color-brand;
  }
}

input {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-family: $font-family;

  &[type='number'],
  &[type='text'] {
    width: 5rem;
  }

  &[type='radio'],
  &[type='checkbox'] {
    margin: 0;
  }

  &:invalid {
    border-color: $color-invalid;
  }
}

.clickable {
  cursor: pointer;
  padding: 0.125rem;
  border-radius: 0.25rem;
  user-select: none;

  &:hover {
    background-color: $color-brand;

    &.material-icons {
      color: $color-black;
    }
  }
}

.clickable-size {
  padding: 0.125rem;
  user-select: none;
}

.monospace {
  font-family: $font-family-monospace;
  font-size: 0.875rem;
}

.flex {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

textPath {
  fill: $color-font;
}

g {
  path.arc {
    stroke: $color-brand;
    fill: $color-gray-2;

    &:hover {
      fill: $color-gray-1;
    }

    &:first-child {
      fill: $color-back;
    }
  }
}
