// Vendor & overrides
@import 'styles/bootstrap';
@import 'styles/theme-overrides';

// Local
@import 'styles/typography';
@import 'styles/icons';
@import 'styles/buttons';
@import 'styles/spinner';
@import 'styles/table';
@import 'styles/utils';

html {
  overflow-x: hidden;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: var(--surface-ground);
  overflow-x: hidden;
  line-height: 20px;
  color: var(--text-color);
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
