@import './styles/values';

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: 'Courier New', Courier, monospace;

body {
  margin: 0;
  background-color: var(--color-back);
  color: var(--color-font);
  font-family: $font-family;
  overflow: hidden;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

button,
input,
select {
  color: var(--color-font);
  background-color: var(--color-gray-2);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: $font-family;
  padding: 0.25rem;
  height: 1.625rem;

  &:not([disabled]):hover {
    border-color: var(--color-brand);
    color: var(--color-brand);
  }
}

button {
  background-color: var(--color-gray-2);
  box-shadow: 1px 3px 2px 0px var(--color-black);
  cursor: pointer;
  user-select: none;

  &:focus,
  &:active {
    outline: none;
    border-color: var(--color-brand);
  }

  &:not([disabled]):hover {
    background-color: var(--color-gray-1);
  }
}

input {
  &[type='number'],
  &[type='text'] {
    width: 5rem;
  }

  &[type='radio'],
  &[type='checkbox'] {
    margin: 0;
  }

  &:invalid {
    border-color: var(--color-invalid);
  }
}

img.icon {
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;

  &.size-64 {
    height: 64px;
    width: 64px;

    &.scale {
      transform: scale(0.5);
      transform-origin: 0 0;
      margin: 0 calc(-64px * 0.5) calc(-64px * 0.5) 0;
    }
  }

  &.size-128 {
    height: 128px;
    width: 128px;
    transform: scale(0.5);
    transform-origin: 0 0;
    margin: 0 calc(-128px * 0.5) calc(-128px * 0.5) 0;

    &.scale {
      transform: scale(0.25);
      transform-origin: 0 0;
      margin: 0 calc(-128px * 0.75) calc(-128px * 0.75) 0;
    }
  }
}

.clickable {
  cursor: pointer;
  padding: 0.125rem;
  border-radius: 0.25rem;
  user-select: none;

  &:hover {
    background-color: var(--color-brand);

    &.material-icons {
      color: var(--color-black);
    }
  }
}

.clickable-size {
  padding: 0.125rem;
  user-select: none;
}

.monospace {
  font-family: $font-family-monospace;
  font-size: 0.875rem;
}

.flex {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

textPath {
  fill: var(--color-font);
}

g {
  path.arc {
    stroke: var(--color-brand);
    fill: var(--color-gray-2);

    &:hover {
      fill: var(--color-gray-1);
    }

    &:first-child {
      fill: var(--color-back);
    }
  }
}

.ignored {
  > img {
    opacity: 0.25;
  }
}

.header {
  color: var(--color-brand);
}
