:host {
  padding: 0 1rem 5rem;
  display: block;
}

table {
  border-spacing: 0;
}

tr > * + * {
  padding-left: 1rem;

  &.split-column {
    padding-left: 0.5rem;

    > .flex {
      justify-content: flex-start;
    }
  }
}

tr.details {
  &.first {
    > :nth-child(2) {
      border-top-left-radius: 0.5rem;
    }

    > :last-child {
      border-top-right-radius: 0.5rem;
    }
  }

  &.last {
    > :nth-child(2) {
      border-bottom-left-radius: 0.5rem;
    }

    > :last-child {
      border-bottom-right-radius: 0.5rem;
    }
  }

  > :not(:first-child) {
    background-color: var(--color-gray-1);

    &:last-child {
      padding-right: 0.5rem;
    }
  }
}

th > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gray-2);
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0 0.25rem;

  > * {
    margin-left: 0.5rem;
  }
}

td > div {
  justify-content: flex-end;

  &.mod,
  > .mod {
    justify-content: flex-start;

    > :first-child > lab-icon {
      border: 1px solid var(--color-gray-1);
      padding: 1px;
      border-radius: 0.25rem;
    }

    > * + * {
      margin-left: 0;
    }
  }

  > * + * {
    margin-left: 0.5rem;
  }
}

input {
  width: 3rem;
}

a {
  color: var(--color-font);
}

.summary-label {
  text-align: right;
}

.relative {
  position: relative;
}

td.nowrap {
  white-space: nowrap;
}

.recipe {
  margin-left: -0.25rem;
}

.arrow {
  flex-grow: 1;
  justify-content: flex-end;
}
