:host {
  display: block;
}

lab-icon {
  padding: 0.125rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    padding: 0.25rem 0.5rem;

    &.split-column {
      padding-left: 0;

      > .flex {
        justify-content: flex-start;
      }
    }
  }

  tr.border {
    &.row {
      border-top: 1px solid var(--color-back);
    }

    &.col {
      > *:not(:first-child):not(.split-column) {
        border-left: 1px solid var(--color-back);
      }
    }
  }
}

tr.detail-header {
  > * {
    &:not(:first-child) {
      background-color: var(--color-back);
    }

    &:nth-child(2) {
      border-top-left-radius: 0.375rem;
    }

    &:last-child {
      border-top-right-radius: 0.375rem;
    }
  }
}

tr.details {
  > :first-child {
    background-color: var(--color-light);
  }

  > :not(:first-child) {
    background-color: var(--color-dark);
  }

  > *:not(:first-child):not(:nth-child(2)):not(.split-column) {
    border-left: 1px solid var(--color-back);
  }

  &:not(.first) > td:not(:first-child) {
    border-top: 1px solid var(--color-back);
  }

  &.last {
    > :nth-child(2) {
      border-bottom-left-radius: 0.375rem;
    }

    > :last-child {
      border-bottom-right-radius: 0.375rem;
    }
  }

  .factory {
    padding: 0;

    > div {
      padding: 0 0.5rem;

      > * {
        margin-left: 0;
      }
    }

    .monospace {
      white-space: normal;
    }

    > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .recipes {
    padding: 0.5rem;

    > .list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 0.25rem;

      > * {
        margin-left: 0;
      }
    }
  }

  > :not(:first-child) {
    background-color: var(--color-dark);
  }
}

th > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
}

td > div {
  justify-content: flex-end;

  &.mod,
  > .mod {
    justify-content: flex-start;

    > :first-child > lab-icon {
      border-radius: 0.25rem;

      &:not(:hover) {
        background-color: var(--color-gray-1);
      }
    }

    > * + * {
      margin-left: 0;
    }
  }

  > * + * {
    margin-left: 0.5rem;

    &.percent {
      margin-left: 0;
    }
  }
}

a {
  color: var(--color-font);
}

.summary-label {
  text-align: right;
}

td.nowrap {
  white-space: nowrap;
}

.recipe {
  margin-left: -0.25rem;
  padding: 0;
}

.message {
  color: var(--color-brand);
  font-size: large;
  text-align: center;
  padding: 1rem;
}

tr {
  &.spacer {
    height: 0.25rem;
  }

  td.detail-tabs {
    padding: 0;

    ul.tabs li {
      &.active {
        background-color: var(--color-dark);
        box-shadow: var(--shadow-button-dk);
      }
    }
  }
}

.info {
  font-size: small;
  margin-bottom: 0.25rem;
}

.recipe-spacer {
  width: 1.75rem;
}
