<table *ngIf="steps && steps.length">
  <thead>
    <tr class="border col">
      <!-- Expand -->
      <th>
        <div>
          <lab-multiselect
            [header]="'Select Columns'"
            [selected]="columns.ids"
            [options]="ColumnsAsOptions"
            (selectIds)="setColumns.emit($event)"
          >
            <button title="Select columns">
              <i class="material-icons">visibility</i>
            </button></lab-multiselect
          >
        </div>
      </th>
      <th>
        <div class="header">
          Items{{ rateLabel }}
          <i
            *ngIf="modifiedIgnore"
            title="Undo all ignored steps"
            class="clickable material-icons"
            (click)="resetIgnore.emit()"
            >undo</i
          >
        </div>
      </th>
      <th *ngIf="show[Column.Belts]">
        <div class="header">
          Belts
          <i
            *ngIf="modifiedBelt"
            title="Undo all belt modifications"
            class="clickable material-icons"
            (click)="resetBelt.emit()"
            >undo</i
          >
        </div>
      </th>
      <th *ngIf="show[Column.Wagons]">
        <div class="header">Wagons{{ rateLabel }}</div>
      </th>
      <th *ngIf="show[Column.Factories]" colspan="3">
        <div class="header">
          Factories
          <i
            *ngIf="modifiedFactory"
            title="Undo all factory modifications"
            class="clickable material-icons"
            (click)="resetFactory.emit()"
            >undo</i
          >
        </div>
      </th>
      <th *ngIf="show[Column.Beacons]" colspan="3">
        <div class="header">
          Beacons
          <i
            *ngIf="modifiedBeacons"
            title="Undo all beacon modifications"
            class="clickable material-icons"
            (click)="resetBeacons.emit()"
            >undo</i
          >
        </div>
      </th>
      <th *ngIf="show[Column.Power]"><div class="header">Power</div></th>
      <th *ngIf="show[Column.Pollution]">
        <div class="header">Pollution{{ rateLabel }}</div>
      </th>
      <!-- Reset / Link -->
      <th *ngIf="show[Column.Link] && mode === ListMode.All">
        <button title="Export to CSV" (click)="export()">
          <i class="material-icons">file_download</i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let step of displayedSteps; trackBy: trackBy">
      <tr class="border row col">
        <td>
          <i
            *ngIf="details[step.itemId]?.length && !expanded[step.itemId]"
            class="clickable material-icons"
            title="Click to show details"
            (click)="expanded[step.itemId] = details[step.itemId][0]"
            >expand_more</i
          >
          <i
            *ngIf="mode === ListMode.All && expanded[step.itemId]"
            class="clickable material-icons"
            title="Click to hide details"
            (click)="expanded[step.itemId] = null"
            >expand_less</i
          >
        </td>
        <td>
          <div class="flex" *ngIf="step.items">
            <span *ngIf="step.surplus?.nonzero()" class="monospace"
              >(+{{ rate(step.surplus, effPrecision[Column.Surplus]) }})</span
            >
            <span *ngIf="step.items" class="monospace">{{
              rate(step.items, effPrecision[Column.Items])
            }}</span>
            <lab-icon
              class="clickable"
              [title]="
                itemSettings[step.itemId].ignore
                  ? 'Click to include'
                  : 'Click to ignore'
              "
              [data]="data"
              [iconId]="step.itemId"
              [class.ignored]="itemSettings[step.itemId].ignore"
              [tooltip]="data.itemEntities[step.itemId]?.name"
              [recipe]="data.recipeEntities[data.itemRecipeIds[step.itemId]]"
              [hoverIcon]="
                itemSettings[step.itemId].ignore
                  ? 'visibility'
                  : 'visibility_off'
              "
              (click)="ignoreItem.emit(step.itemId)"
            ></lab-icon>
          </div>
        </td>
        <td *ngIf="show[Column.Belts]">
          <ng-container *ngIf="itemSettings[step.itemId]?.belt as belt">
            <div
              *ngIf="
                step.belts &&
                (!step.recipeId ||
                  !data.itemEntities[recipeSettings[step.recipeId].factory]
                    .factory.research)
              "
              class="flex"
            >
              <span class="monospace">{{
                rate(step.belts, effPrecision[Column.Belts])
              }}</span>
              <ng-container
                *ngIf="
                  data.beltIds.indexOf(belt) === -1;
                  then beltDefault;
                  else beltPicker
                "
              ></ng-container>
              <ng-template #beltDefault>
                <lab-icon
                  [iconId]="belt"
                  [tooltip]="data.itemEntities[belt].name"
                  [item]="data.itemEntities[belt]"
                  [displayRate]="displayRate"
                  [data]="data"
                ></lab-icon>
              </ng-template>
              <ng-template #beltPicker>
                <div class="relative">
                  <lab-icon
                    class="clickable"
                    title="Click to change belt"
                    [iconId]="belt"
                    [tooltip]="data.itemEntities[belt].name"
                    [item]="data.itemEntities[belt]"
                    [displayRate]="displayRate"
                    [data]="data"
                    (click)="edit = { step: step, type: StepEditType.Belt }"
                  ></lab-icon>
                  <!-- <lab-select
                    *ngIf="
                      edit &&
                      edit.step === step &&
                      edit.type === StepEditType.Belt
                    "
                    [data]="data"
                    [selectedId]="belt"
                    [options]="data.beltIds"
                    [displayRate]="displayRate"
                    (cancel)="edit = null"
                    (selectId)="
                      setBelt.emit({
                        id: step.itemId,
                        value: $event,
                        default: belt
                      })
                    "
                  >
                  </lab-select> -->
                </div>
              </ng-template>
            </div>
          </ng-container>
        </td>
        <td *ngIf="show[Column.Wagons]">
          <ng-container *ngIf="itemSettings[step.itemId]?.wagon as wagon">
            <div
              *ngIf="
                step.wagons &&
                (!step.recipeId ||
                  !data.itemEntities[recipeSettings[step.recipeId].factory]
                    .factory.research)
              "
              class="flex"
            >
              <span class="monospace">{{
                rate(step.wagons, effPrecision[Column.Wagons])
              }}</span>
              <lab-icon
                [iconId]="wagon"
                [tooltip]="data.itemEntities[wagon].name"
                [data]="data"
              ></lab-icon>
            </div>
          </ng-container>
        </td>
        <ng-container *ngIf="show[Column.Factories]">
          <ng-container
            *ngIf="recipeSettings[step.recipeId]?.factory as factory"
          >
            <td>
              <div *ngIf="step.factories?.nonzero()" class="flex">
                <span class="monospace">{{
                  factoryRate(
                    step.factories,
                    effPrecision[Column.Factories],
                    factory
                  )
                }}</span>
              </div>
            </td>
            <td class="split-column">
              <div class="flex">
                <ng-container
                  *ngIf="data.recipeEntities[step.recipeId] as recipe"
                >
                  <ng-container
                    *ngIf="
                      recipe.producers && recipe.producers.length > 1;
                      then factoryPicker;
                      else factoryDefault
                    "
                  >
                  </ng-container>
                  <ng-template #factoryDefault>
                    <lab-icon
                      [iconId]="factory"
                      [tooltip]="data.itemEntities[factory].name"
                      [item]="data.itemEntities[factory]"
                      [data]="data"
                    ></lab-icon>
                  </ng-template>
                  <ng-template #factoryPicker>
                    <div class="relative">
                      <lab-icon
                        class="list-edit-factory clickable"
                        title="Click to change factory"
                        [iconId]="factory"
                        [tooltip]="data.itemEntities[factory].name"
                        [item]="data.itemEntities[factory]"
                        [data]="data"
                        (click)="
                          edit = { step: step, type: StepEditType.Factory }
                        "
                      ></lab-icon>
                      <!-- <lab-select
                        *ngIf="
                          edit &&
                          edit.step === step &&
                          edit.type === StepEditType.Factory
                        "
                        [data]="data"
                        [selectedId]="factory"
                        [options]="recipe.producers"
                        (cancel)="edit = null"
                        (selectId)="factoryChange(step, $event)"
                      >
                      </lab-select> -->
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </td>
            <td class="split-column">
              <div class="flex">
                <lab-icon
                  *ngIf="step.recipeId && step.recipeId !== step.itemId"
                  class="recipe"
                  [iconId]="step.recipeId"
                  [tooltip]="data.recipeEntities[step.recipeId].name"
                  [recipe]="data.recipeEntities[step.recipeId]"
                  [data]="data"
                ></lab-icon>
                <div
                  *ngIf="
                    recipeSettings[step.recipeId]?.factoryModules as modules
                  "
                  class="flex mod"
                >
                  <div class="relative" *ngFor="let mod of modules; index as i">
                    <lab-icon
                      class="list-edit-factory-module clickable"
                      title="Click to change factory module"
                      [iconId]="mod"
                      [tooltip]="data.itemEntities[mod]?.name"
                      [item]="data.itemEntities[mod]"
                      [data]="data"
                      (click)="
                        edit = {
                          step: step,
                          type: StepEditType.FactoryModule,
                          index: i
                        }
                      "
                    ></lab-icon>
                    <!-- <lab-select
                      *ngIf="
                        edit &&
                        edit.step === step &&
                        edit.type === StepEditType.FactoryModule &&
                        edit.index === i
                      "
                      [data]="data"
                      [selectedId]="mod"
                      [options]="data.recipeModuleIds[step.recipeId]"
                      includeEmptyModule="true"
                      (cancel)="edit = null"
                      (selectId)="factoryModuleChange(step, $event, i)"
                    >
                    </lab-select> -->
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <td colspan="3" *ngIf="!recipeSettings[step.recipeId]?.factory"></td>
        </ng-container>
        <ng-container *ngIf="show[Column.Beacons]">
          <ng-container *ngIf="recipeSettings[step.recipeId]?.beacon as beacon">
            <td>
              <div class="flex">
                <input
                  class="beacon"
                  title="Enter number of beacons"
                  type="number"
                  min="0"
                  [value]="recipeSettings[step.recipeId].beaconCount"
                  (change)="beaconCountChange(step, $event)"
                />
              </div>
            </td>
            <td class="split-column">
              <div class="flex">
                <ng-container *ngIf="recipeSettings[step.recipeId].beaconCount">
                  <ng-container
                    *ngIf="
                      data.beaconIds.length === 1;
                      then beaconDefault;
                      else beaconPicker
                    "
                  ></ng-container>
                  <ng-template #beaconDefault>
                    <lab-icon
                      [iconId]="beacon"
                      [tooltip]="data.itemEntities[beacon].name"
                      [item]="data.itemEntities[beacon]"
                      [data]="data"
                    ></lab-icon>
                  </ng-template>
                  <ng-template #beaconPicker>
                    <div class="relative">
                      <lab-icon
                        class="clickable"
                        title="Click to change beacon"
                        [iconId]="beacon"
                        [tooltip]="data.itemEntities[beacon].name"
                        [item]="data.itemEntities[beacon]"
                        [data]="data"
                        (click)="
                          edit = { step: step, type: StepEditType.Beacon }
                        "
                      ></lab-icon>
                      <!-- <lab-select
                        *ngIf="
                          edit &&
                          edit.step === step &&
                          edit.type === StepEditType.Beacon
                        "
                        [data]="data"
                        [selectedId]="beacon"
                        [options]="data.beaconIds"
                        (cancel)="edit = null"
                        (selectId)="
                          setBeacon.emit({
                            id: step.itemId,
                            value: $event,
                            default: beacon
                          })
                        "
                      >
                      </lab-select> -->
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </td>
            <td class="split-column">
              <ng-container *ngIf="recipeSettings[step.recipeId].beaconCount">
                <div
                  *ngIf="
                    recipeSettings[step.recipeId]?.beaconModules as modules
                  "
                  class="flex mod"
                >
                  <div class="relative" *ngFor="let mod of modules; index as i">
                    <lab-icon
                      class="list-edit-beacon-module clickable"
                      title="Click to change beacon module"
                      [iconId]="mod"
                      [tooltip]="data.itemEntities[mod]?.name"
                      [item]="data.itemEntities[mod]"
                      [data]="data"
                      (click)="
                        edit = {
                          step: step,
                          type: StepEditType.BeaconModule,
                          index: i
                        }
                      "
                    ></lab-icon>
                    <!-- <lab-select
                      *ngIf="
                        edit &&
                        edit.step === step &&
                        edit.type === StepEditType.BeaconModule &&
                        edit.index === i
                      "
                      [data]="data"
                      [selectedId]="mod"
                      [options]="data.beaconModuleIds"
                      includeEmptyModule="true"
                      (cancel)="edit = null"
                      (selectId)="beaconModuleChange(step, $event, i)"
                    >
                    </lab-select> -->
                  </div>
                </div>
              </ng-container>
            </td>
          </ng-container>
          <td colspan="3" *ngIf="!recipeSettings[step.recipeId]?.beacon"></td>
        </ng-container>
        <td *ngIf="show[Column.Power]">
          <div *ngIf="step.power?.nonzero()" class="flex">
            <span class="monospace">{{ power(step.power) }}</span>
          </div>
        </td>
        <td *ngIf="show[Column.Pollution]">
          <div *ngIf="step.pollution?.nonzero()" class="flex">
            <span class="monospace">{{
              rate(step.pollution, effPrecision[Column.Pollution])
            }}</span>
          </div>
        </td>
        <td class="nowrap" *ngIf="show[Column.Link]">
          <a
            *ngIf="step.items"
            title="Click to open this step in a new tab"
            [href]="router.stepHref(step)"
            target="_blank"
          >
            <i class="clickable material-icons">open_in_new</i>
          </a>
          <i
            *ngIf="recipeRaw[step.recipeId]"
            title="Undo modifications to this step"
            class="clickable material-icons list-step-reset"
            (click)="resetStep(step)"
            >undo</i
          >
        </td>
      </tr>
      <ng-container *ngIf="expanded[step.itemId]">
        <tr>
          <td></td>
          <td colspan="100" class="detail-tabs">
            <ul>
              <li
                *ngIf="
                  details[step.itemId].indexOf(StepDetailTab.Inputs) !== -1
                "
                [class.active]="expanded[step.itemId] === StepDetailTab.Inputs"
                (click)="expanded[step.itemId] = StepDetailTab.Inputs"
              >
                Inputs
              </li>
              <li
                *ngIf="
                  details[step.itemId].indexOf(StepDetailTab.Outputs) !== -1
                "
                [class.active]="expanded[step.itemId] === StepDetailTab.Outputs"
                (click)="expanded[step.itemId] = StepDetailTab.Outputs"
              >
                Outputs
              </li>
              <li
                *ngIf="
                  details[step.itemId].indexOf(StepDetailTab.Factory) !== -1
                "
                [class.active]="expanded[step.itemId] === StepDetailTab.Factory"
                (click)="expanded[step.itemId] = StepDetailTab.Factory"
              >
                Factory
              </li>
              <li
                *ngIf="
                  details[step.itemId].indexOf(StepDetailTab.Recipes) !== -1
                "
                [class.active]="expanded[step.itemId] === StepDetailTab.Recipes"
                (click)="expanded[step.itemId] = StepDetailTab.Recipes"
              >
                Recipes
              </li>
            </ul>
          </td>
        </tr>
        <ng-container *ngIf="expanded[step.itemId] === StepDetailTab.Inputs">
          <ng-container
            *ngFor="
              let input of data.recipeEntities[step.recipeId].in | keyvalue;
              first as isFirst;
              last as isLast
            "
          >
            <ng-container *ngIf="findStep(input.key) as inStep">
              <tr
                *ngIf="inStep.parents[step.recipeId] as percent"
                class="details"
                [class.first]="isFirst"
                [class.last]="isLast"
              >
                <td></td>
                <td>
                  <div class="flex">
                    <span *ngIf="inStep.items" class="monospace">{{
                      rate(
                        inStep.items.mul(percent),
                        effPrecision[Column.Items]
                      )
                    }}</span>
                    <lab-icon
                      [iconId]="input.key"
                      [tooltip]="data.itemEntities[input.key]?.name"
                      [recipe]="
                        data.recipeEntities[data.itemRecipeIds[input.key]]
                      "
                      [data]="data"
                    >
                    </lab-icon>
                  </div>
                </td>
                <td *ngIf="show[Column.Belts]">
                  <ng-container
                    *ngIf="itemSettings[inStep.itemId].belt as belt"
                  >
                    <div
                      *ngIf="
                        inStep.belts &&
                        (!inStep.recipeId ||
                          !data.itemEntities[
                            recipeSettings[inStep.recipeId].factory
                          ].factory.research)
                      "
                      class="flex"
                    >
                      <span class="monospace">{{
                        rate(
                          inStep.belts.mul(percent),
                          effPrecision[Column.Belts]
                        )
                      }}</span>
                      <lab-icon
                        [iconId]="belt"
                        [tooltip]="data.itemEntities[belt].name"
                        [item]="data.itemEntities[belt]"
                        [displayRate]="displayRate"
                        [data]="data"
                      ></lab-icon>
                    </div>
                  </ng-container>
                </td>
                <td *ngIf="show[Column.Wagons]">
                  <ng-container
                    *ngIf="itemSettings[inStep.itemId]?.wagon as wagon"
                  >
                    <div
                      *ngIf="
                        inStep.wagons &&
                        (!inStep.recipeId ||
                          !data.itemEntities[
                            recipeSettings[inStep.recipeId].factory
                          ].factory.research)
                      "
                      class="flex"
                    >
                      <span class="monospace">{{
                        rate(
                          inStep.wagons.mul(percent),
                          effPrecision[Column.Wagons]
                        )
                      }}</span>
                      <lab-icon
                        [iconId]="wagon"
                        [tooltip]="data.itemEntities[wagon].name"
                        [data]="data"
                      ></lab-icon>
                    </div>
                  </ng-container>
                </td>
                <ng-container *ngIf="show[Column.Factories]">
                  <ng-container
                    *ngIf="recipeSettings[inStep.recipeId]?.factory as factory"
                  >
                    <td>
                      <div *ngIf="inStep.factories?.nonzero()" class="flex">
                        <span class="monospace">{{
                          factoryRate(
                            inStep.factories.mul(percent),
                            effPrecision[Column.Factories],
                            factory
                          )
                        }}</span>
                      </div>
                    </td>
                    <td class="split-column">
                      <div class="flex">
                        <lab-icon
                          [iconId]="factory"
                          [tooltip]="data.itemEntities[factory].name"
                          [item]="data.itemEntities[factory]"
                          [data]="data"
                        ></lab-icon>
                      </div>
                    </td>
                  </ng-container>
                  <td
                    colspan="2"
                    *ngIf="!recipeSettings[inStep.recipeId]?.factory as factory"
                  ></td>
                </ng-container>
                <td class="split-column" colspan="100">
                  <div class="flex">
                    <lab-icon
                      *ngIf="
                        inStep.recipeId && inStep.recipeId !== inStep.itemId
                      "
                      class="recipe"
                      [iconId]="inStep.recipeId"
                      [tooltip]="data.recipeEntities[inStep.recipeId]?.name"
                      [recipe]="data.recipeEntities[inStep.recipeId]"
                      [data]="data"
                    ></lab-icon>
                    <div
                      *ngIf="
                        !inStep.recipeId || inStep.recipeId === inStep.itemId
                      "
                      class="recipe-spacer"
                    ></div>
                    <div class="flex percent">
                      <span class="monospace"
                        >{{
                          leftPad(rate(percent.mul(Rational.hundred), 0))
                        }}%</span
                      >
                      <i class="material-icons">arrow_forward</i>
                      <lab-icon
                        [iconId]="step.recipeId"
                        [tooltip]="data.recipeEntities[step.recipeId]?.name"
                        [recipe]="data.recipeEntities[step.recipeId]"
                        [data]="data"
                      ></lab-icon>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="expanded[step.itemId] === StepDetailTab.Outputs">
          <tr
            *ngFor="
              let parent of step.parents | keyvalue;
              first as isFirst;
              last as isLast
            "
            class="details"
            [class.first]="isFirst"
            [class.last]="isLast"
          >
            <td></td>
            <td>
              <div class="flex">
                <span *ngIf="step.items" class="monospace">{{
                  rate(step.items.mul(parent.value), effPrecision[Column.Items])
                }}</span>
                <lab-icon
                  [iconId]="step.itemId"
                  [tooltip]="data.itemEntities[step.itemId]?.name"
                  [recipe]="
                    data.recipeEntities[data.itemRecipeIds[step.itemId]]
                  "
                  [data]="data"
                >
                </lab-icon>
              </div>
            </td>
            <td *ngIf="show[Column.Belts]">
              <ng-container *ngIf="itemSettings[step.itemId].belt as belt">
                <div
                  *ngIf="
                    step.belts &&
                    (!step.recipeId ||
                      !data.itemEntities[recipeSettings[step.recipeId].factory]
                        .factory.research)
                  "
                  class="flex"
                >
                  <span class="monospace">{{
                    rate(
                      step.belts.mul(parent.value),
                      effPrecision[Column.Belts]
                    )
                  }}</span>
                  <lab-icon
                    [iconId]="belt"
                    [tooltip]="data.itemEntities[belt].name"
                    [item]="data.itemEntities[belt]"
                    [displayRate]="displayRate"
                    [data]="data"
                  ></lab-icon>
                </div>
              </ng-container>
            </td>
            <td *ngIf="show[Column.Wagons]">
              <ng-container *ngIf="itemSettings[step.itemId]?.wagon as wagon">
                <div
                  *ngIf="
                    step.wagons &&
                    (!step.recipeId ||
                      !data.itemEntities[recipeSettings[step.recipeId].factory]
                        .factory.research)
                  "
                  class="flex"
                >
                  <span class="monospace">{{
                    rate(
                      step.wagons.mul(parent.value),
                      effPrecision[Column.Wagons]
                    )
                  }}</span>
                  <lab-icon
                    [iconId]="wagon"
                    [tooltip]="data.itemEntities[wagon].name"
                    [data]="data"
                  ></lab-icon>
                </div>
              </ng-container>
            </td>
            <ng-container *ngIf="show[Column.Factories]">
              <ng-container
                *ngIf="recipeSettings[step.recipeId]?.factory as factory"
              >
                <td>
                  <div class="flex" *ngIf="step.factories?.nonzero()">
                    <span class="monospace">{{
                      factoryRate(
                        step.factories.mul(parent.value),
                        effPrecision[Column.Factories],
                        factory
                      )
                    }}</span>
                  </div>
                </td>
                <td class="split-column">
                  <div class="flex">
                    <lab-icon
                      [iconId]="factory"
                      [tooltip]="data.itemEntities[factory].name"
                      [item]="data.itemEntities[factory]"
                      [data]="data"
                    ></lab-icon>
                  </div>
                </td>
              </ng-container>
              <td
                colspan="2"
                *ngIf="!recipeSettings[step.recipeId]?.factory as factory"
              ></td>
            </ng-container>
            <td class="split-column" colspan="100">
              <div class="flex">
                <lab-icon
                  *ngIf="step.recipeId && step.recipeId !== step.itemId"
                  class="recipe"
                  [iconId]="step.recipeId"
                  [tooltip]="data.recipeEntities[step.recipeId].name"
                  [recipe]="data.recipeEntities[step.recipeId]"
                  [data]="data"
                ></lab-icon>
                <div
                  *ngIf="!step.recipeId || step.recipeId === step.itemId"
                  class="recipe-spacer"
                ></div>
                <div class="flex percent">
                  <span class="monospace"
                    >{{
                      leftPad(rate(parent.value.mul(Rational.hundred), 0))
                    }}%</span
                  >
                  <i class="material-icons">arrow_forward</i>
                  <lab-icon
                    [iconId]="parent.key"
                    [tooltip]="data.recipeEntities[parent.key].name"
                    [recipe]="data.recipeEntities[parent.key]"
                    [data]="data"
                  ></lab-icon>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr
          *ngIf="expanded[step.itemId] === StepDetailTab.Factory"
          class="details first last"
        >
          <td></td>
          <td colspan="100" class="factory">
            <div>
              <table
                *ngIf="
                  details[step.itemId].indexOf(StepDetailTab.Inputs) !== -1
                "
              >
                <ng-container
                  *ngFor="
                    let input of data.recipeEntities[step.recipeId].in
                      | keyvalue
                  "
                >
                  <ng-container *ngIf="findStep(input.key) as inStep">
                    <tr *ngIf="inStep.parents[step.recipeId] as percent">
                      <td>
                        <div class="flex" *ngIf="step.items">
                          <span *ngIf="inStep.items" class="monospace">{{
                            rate(
                              inStep.items.mul(percent).div(step.factories),
                              effPrecision[Column.Items]
                            )
                          }}</span>
                          <lab-icon
                            [iconId]="input.key"
                            [tooltip]="data.itemEntities[input.key]?.name"
                            [recipe]="
                              data.recipeEntities[data.itemRecipeIds[input.key]]
                            "
                            [data]="data"
                          >
                          </lab-icon>
                        </div>
                      </td>
                      <td
                        [colSpan]="
                          itemSettings[inStep.itemId].belt === ItemId.Pipe
                            ? 2
                            : 0
                        "
                      >
                        <ng-container
                          *ngIf="itemSettings[inStep.itemId].belt as belt"
                        >
                          <div
                            *ngIf="
                              inStep.belts &&
                              (!inStep.recipeId ||
                                !data.itemEntities[
                                  recipeSettings[inStep.recipeId].factory
                                ].factory.research)
                            "
                            class="flex"
                          >
                            <span class="monospace">{{
                              rate(
                                inStep.belts.mul(percent).div(step.factories),
                                effPrecision[Column.Belts]
                              )
                            }}</span>
                            <lab-icon
                              [iconId]="belt"
                              [tooltip]="data.itemEntities[belt].name"
                              [item]="data.itemEntities[belt]"
                              [displayRate]="displayRate"
                              [data]="data"
                            ></lab-icon>
                          </div>
                        </ng-container>
                      </td>
                      <td
                        *ngIf="itemSettings[inStep.itemId].belt !== ItemId.Pipe"
                      >
                        <div
                          class="flex"
                          *ngIf="
                            inserter(
                              inStep.items
                                .mul(percent)
                                .div(step.factories)
                                .div(DisplayRateVal[displayRate])
                            ) as ins
                          "
                        >
                          <span class="monospace">{{
                            rate(ins.value, 1)
                          }}</span>
                          <lab-icon
                            [iconId]="ins.id"
                            [tooltip]="data.itemEntities[ins.id].name"
                            [item]="data.itemEntities[ins.id]"
                            [data]="data"
                          ></lab-icon>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
              <i class="material-icons">arrow_forward</i>
              <table>
                <tr>
                  <td>
                    <div
                      *ngIf="recipeSettings[step.recipeId]?.factory as factory"
                      class="flex"
                    >
                      <span class="monospace">1</span>
                      <lab-icon
                        [iconId]="factory"
                        [tooltip]="data.itemEntities[factory].name"
                        [item]="data.itemEntities[factory]"
                        [data]="data"
                      ></lab-icon>
                      <lab-icon
                        *ngIf="step.recipeId && step.recipeId !== step.itemId"
                        [iconId]="step.recipeId"
                        [tooltip]="data.recipeEntities[step.recipeId].name"
                        [recipe]="data.recipeEntities[step.recipeId]"
                        [data]="data"
                      ></lab-icon>
                    </div>
                  </td>
                </tr>
              </table>
              <i class="material-icons">arrow_forward</i>
              <table>
                <ng-container
                  *ngFor="
                    let output of data.recipeR[step.recipeId].out | keyvalue
                  "
                >
                  <tr
                    *ngIf="
                      output.value.div(
                        data.recipeR[step.recipeId].time
                      ) as items
                    "
                  >
                    <td *ngIf="itemSettings[output.key].belt !== ItemId.Pipe">
                      <div class="flex" *ngIf="inserter(items) as ins">
                        <span class="monospace">{{ rate(ins.value, 1) }}</span>
                        <lab-icon
                          [iconId]="ins.id"
                          [tooltip]="data.itemEntities[ins.id].name"
                          [item]="data.itemEntities[ins.id]"
                          [data]="data"
                        ></lab-icon>
                      </div>
                    </td>
                    <td
                      [colSpan]="
                        itemSettings[output.key].belt === ItemId.Pipe ? 2 : 0
                      "
                    >
                      <div
                        *ngIf="itemSettings[output.key].belt as belt"
                        class="flex"
                      >
                        <span class="monospace">{{
                          rate(
                            items.div(beltSpeed[belt]),
                            effPrecision[Column.Belts]
                          )
                        }}</span>
                        <lab-icon
                          [iconId]="belt"
                          [tooltip]="data.itemEntities[belt].name"
                          [item]="data.itemEntities[belt]"
                          [displayRate]="displayRate"
                          [data]="data"
                        >
                        </lab-icon>
                      </div>
                    </td>
                    <td>
                      <div class="flex">
                        <span class="monospace">{{
                          rate(
                            items.mul(DisplayRateVal[displayRate]),
                            effPrecision[Column.Items]
                          )
                        }}</span>
                        <lab-icon
                          [iconId]="output.key"
                          [tooltip]="data.itemEntities[output.key]?.name"
                          [recipe]="
                            data.recipeEntities[data.itemRecipeIds[output.key]]
                          "
                          [data]="data"
                        >
                        </lab-icon>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
            <div class="info">
              <span>
                * Inserters are calculated using target/capacity settings and
                0.18 experimental data from the
                <a
                  href="https://wiki.factorio.com/Inserters#Inserter_Throughput"
                  >wiki.</a
                >
              </span>
            </div>
          </td>
        </tr>
        <tr
          *ngIf="expanded[step.itemId] === StepDetailTab.Recipes"
          class="details first last"
        >
          <td></td>
          <td colspan="100" class="recipes">
            <div class="info">
              Click recipes to enable or disable them. Disabled recipes will not
              be used in the solution.
            </div>
            <div class="list">
              <lab-icon
                *ngFor="let id of recipes[step.itemId]"
                class="clickable"
                [class.ignored]="disabledRecipes.indexOf(id) !== -1"
                [iconId]="id"
                [tooltip]="data.recipeEntities[id].name"
                [recipe]="data.recipeEntities[id]"
                [data]="data"
                (click)="toggleRecipe(id)"
              ></lab-icon>
            </div>
          </td>
        </tr>
        <tr class="spacer">
          <td></td>
        </tr>
      </ng-container>
    </ng-container>
    <tr
      *ngIf="
        mode === ListMode.All && (show[Column.Power] || show[Column.Pollution])
      "
      class="border row col"
    >
      <td [colSpan]="totalSpan">
        <div class="flex summary-label">
          <span class="monospace">Total:</span>
        </div>
      </td>
      <td *ngIf="show[Column.Power]">
        <div class="flex">
          <span class="monospace">{{ totalPower }}</span>
        </div>
      </td>
      <td *ngIf="show[Column.Pollution]">
        <div class="flex">
          <span class="monospace">{{ totalPollution }}</span>
        </div>
      </td>
      <td></td>
    </tr>
    <tr *ngIf="mode === ListMode.Focus && !selected">
      <td colspan="100" class="message">Select a node to see details</td>
    </tr>
  </tbody>
</table>
