<table *ngIf="steps && steps.length">
  <thead>
    <tr>
      <!-- Expand -->
      <th></th>
      <th>
        <div>
          Items/{{
            displayRate === DisplayRate.PerHour
              ? 'h'
              : displayRate === DisplayRate.PerMinute
              ? 'm'
              : 's'
          }}
          <i
            *ngIf="modifiedIgnore"
            title="Undo all ignored steps"
            class="clickable material-icons"
            (click)="resetIgnore.emit()"
            >undo</i
          >
        </div>
      </th>
      <th>
        <div>
          Belts
          <i
            *ngIf="modifiedBelt"
            title="Undo all belt modifications"
            class="clickable material-icons"
            (click)="resetBelt.emit()"
            >undo</i
          >
        </div>
      </th>
      <th>
        <div>
          Factories
          <i
            *ngIf="modifiedFactory"
            title="Undo all factory modifications"
            class="clickable material-icons"
            (click)="resetFactory.emit()"
            >undo</i
          >
        </div>
      </th>
      <th>
        <div>
          Modules
          <i
            *ngIf="modifiedModules"
            title="Undo all module modifications"
            class="clickable material-icons"
            (click)="resetModules.emit()"
            >undo</i
          >
        </div>
      </th>
      <th>
        <div>
          Beacons
          <i
            *ngIf="modifiedBeacons"
            title="Undo all beacon modifications"
            class="clickable material-icons"
            (click)="resetBeacons.emit()"
            >undo</i
          >
        </div>
      </th>
      <!-- Reset / Link -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let step of steps">
      <tr>
        <td>
          <i
            *ngIf="step.parents && !expanded[step.itemId]"
            class="clickable material-icons"
            title="Click to show consumption"
            (click)="expanded[step.itemId] = true"
            >expand_more</i
          >
          <i
            *ngIf="step.parents && expanded[step.itemId]"
            class="clickable material-icons"
            title="Click to hide consumption"
            (click)="expanded[step.itemId] = false"
            >expand_less</i
          >
        </td>
        <td>
          <div class="flex">
            <div *ngIf="step.items" class="monospace">
              {{ rate(step.items, itemPrecision) }}
            </div>
            <div
              *ngIf="step.surplus && step.surplus.nonzero()"
              class="monospace"
            >
              (+{{ rate(step.surplus, itemPrecision) }})
            </div>
            <lab-icon
              *ngIf="data.recipeEntities[step.recipeId]?.in"
              class="clickable"
              [title]="
                step.settings.ignore || recipe[step.itemId]?.ignore
                  ? 'Click to include'
                  : 'Click to ignore'
              "
              [iconId]="step.itemId"
              [class.ignored]="
                step.settings.ignore || recipe[step.itemId]?.ignore
              "
              [tooltip]="data.itemEntities[step.itemId]?.name"
              [recipe]="data.recipeEntities[step.itemId]"
              [data]="data"
              scale="true"
              (click)="ignoreStep.emit(step.recipeId)"
            ></lab-icon>
            <lab-icon
              *ngIf="!data.recipeEntities[step.recipeId]?.in"
              class="clickable-size"
              [iconId]="step.itemId"
              [tooltip]="data.itemEntities[step.itemId]?.name"
              [data]="data"
              scale="true"
            ></lab-icon>
          </div>
        </td>
        <td>
          <ng-container *ngIf="step.settings">
            <div
              *ngIf="
                step.settings.belt &&
                step.belts &&
                data.itemEntities[step.itemId].category !== CategoryId.Research
              "
              class="flex"
            >
              <div class="monospace">{{ rate(step.belts, beltPrecision) }}</div>
              <ng-container
                *ngIf="
                  options[OptionsType.Belt][0].indexOf(step.settings.belt) ===
                    -1;
                  then beltDefault;
                  else beltPicker
                "
              ></ng-container>
              <ng-template #beltDefault>
                <lab-icon
                  class="clickable-size"
                  [iconId]="step.settings.belt"
                  [tooltip]="data.itemEntities[step.settings.belt].name"
                  [item]="data.itemEntities[step.settings.belt]"
                  [displayRate]="displayRate"
                  [data]="data"
                ></lab-icon>
              </ng-template>
              <ng-template #beltPicker>
                <div class="relative">
                  <lab-icon
                    class="clickable"
                    title="Click to change belt"
                    [iconId]="step.settings.belt"
                    [tooltip]="data.itemEntities[step.settings.belt].name"
                    [item]="data.itemEntities[step.settings.belt]"
                    [displayRate]="displayRate"
                    [data]="data"
                    (click)="edit = { step: step, type: StepEditType.Belt }"
                  ></lab-icon>
                  <lab-select
                    *ngIf="
                      edit &&
                      edit.step === step &&
                      edit.type === StepEditType.Belt
                    "
                    [data]="data"
                    [selectedId]="step.settings.belt"
                    [optionsType]="OptionsType.Belt"
                    [displayRate]="displayRate"
                    (cancel)="edit = null"
                    (selectId)="setBelt.emit([step.recipeId, $event])"
                  >
                  </lab-select>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="step.settings?.factory">
            <div
              class="flex"
              *ngIf="!step.factories || step.factories.nonzero()"
            >
              <div *ngIf="step.factories" class="monospace">
                {{ rate(step.factories, factoryPrecision) }}
              </div>
              <ng-container *ngIf="step.recipeId !== step.itemId">
                <lab-icon
                  [iconId]="step.recipeId"
                  [tooltip]="data.recipeEntities[step.recipeId].name"
                  [recipe]="data.recipeEntities[step.recipeId]"
                  [data]="data"
                ></lab-icon>
                :
              </ng-container>
              <ng-container
                *ngIf="
                  options[OptionsType.Assembler][0].indexOf(
                    step.settings.factory
                  ) === -1 &&
                    options[OptionsType.Furnace][0].indexOf(
                      step.settings.factory
                    ) === -1;
                  then factoryDefault;
                  else factoryPicker
                "
              >
              </ng-container>
              <ng-template #factoryDefault>
                <lab-icon
                  class="clickable-size"
                  [iconId]="step.settings.factory"
                  [tooltip]="data.itemEntities[step.settings.factory].name"
                  [item]="data.itemEntities[step.settings.factory]"
                  [data]="data"
                ></lab-icon>
              </ng-template>
              <ng-template #factoryPicker>
                <div class="relative">
                  <lab-icon
                    class="clickable"
                    title="Click to change factory"
                    [iconId]="step.settings.factory"
                    [tooltip]="data.itemEntities[step.settings.factory].name"
                    [item]="data.itemEntities[step.settings.factory]"
                    [data]="data"
                    (click)="edit = { step: step, type: StepEditType.Factory }"
                  ></lab-icon>
                  <lab-select
                    *ngIf="
                      edit &&
                      edit.step === step &&
                      edit.type === StepEditType.Factory
                    "
                    [data]="data"
                    [selectedId]="step.settings.factory"
                    [optionsType]="
                      options[OptionsType.Assembler][0].indexOf(
                        step.settings.factory
                      ) !== -1
                        ? OptionsType.Assembler
                        : OptionsType.Furnace
                    "
                    (cancel)="edit = null"
                    (selectId)="setFactory.emit([step.recipeId, $event])"
                  >
                  </lab-select>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="step.settings?.modules">
            <div class="flex mod factory">
              <div
                class="relative"
                *ngFor="let mod of step.settings.modules; index as i"
              >
                <lab-icon
                  class="list-edit-factory-module clickable"
                  title="Click to change module"
                  [iconId]="mod"
                  [tooltip]="data.itemEntities[mod]?.name"
                  [item]="data.itemEntities[mod]"
                  [data]="data"
                  (click)="
                    edit = { step: step, type: StepEditType.Module, index: i }
                  "
                ></lab-icon>
                <lab-select
                  *ngIf="
                    edit &&
                    edit.step === step &&
                    edit.type === StepEditType.Module &&
                    edit.index === i
                  "
                  [data]="data"
                  [selectedId]="mod"
                  [optionsType]="
                    prodAllowed(step)
                      ? OptionsType.AllModule
                      : OptionsType.SpeedModule
                  "
                  [data]="data"
                  (cancel)="edit = null"
                  (selectId)="factoryModuleChange(step, $event, i)"
                >
                </lab-select>
              </div>
            </div>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="step.settings?.modules">
            <div class="flex mod">
              <div class="relative">
                <lab-icon
                  class="clickable"
                  title="Click to change beacon module"
                  [iconId]="step.settings.beaconModule"
                  [tooltip]="
                    data.itemEntities[step.settings.beaconModule]?.name
                  "
                  [item]="data.itemEntities[step.settings.beaconModule]"
                  [data]="data"
                  (click)="edit = { step: step, type: StepEditType.Beacon }"
                ></lab-icon>
                <lab-select
                  *ngIf="
                    edit &&
                    edit.step === step &&
                    edit.type === StepEditType.Beacon
                  "
                  [data]="data"
                  [selectedId]="step.settings.beaconModule"
                  [optionsType]="OptionsType.SpeedModule"
                  (cancel)="edit = null"
                  (selectId)="setBeaconModule.emit([step.recipeId, $event])"
                >
                </lab-select>
              </div>
              <input
                *ngIf="step.settings.beaconModule !== ItemId.Module"
                title="Enter number of beacon modules"
                type="number"
                min="0"
                [value]="step.settings.beaconCount"
                (change)="beaconCountChange(step, $event)"
              />
            </div>
          </ng-container>
        </td>
        <td>
          <a
            *ngIf="step.items"
            title="Click to open this step in a new tab"
            [href]="router.stepHref(step, data)"
            target="_blank"
          >
            <i class="clickable material-icons">open_in_new</i>
          </a>
          <i
            *ngIf="recipe[step.recipeId]"
            title="Undo modifications to this step"
            class="clickable material-icons"
            (click)="resetStep.emit(step.recipeId)"
            >undo</i
          >
        </td>
      </tr>
      <ng-container
        *ngIf="
          step.recipeId &&
          data.recipeEntities[step.recipeId] &&
          expanded[step.itemId]
        "
      >
        <ng-container
          *ngFor="
            let input of data.recipeEntities[step.recipeId].in | keyvalue;
            first as isFirst;
            last as isLast
          "
        >
          <ng-container *ngIf="findStep(input.key) as inStep">
            <tr
              *ngIf="inStep.parents && inStep.parents[step.itemId]"
              class="details"
              [class.first]="isFirst"
              [class.last]="isLast"
            >
              <td></td>
              <td>
                <div class="flex">
                  <div *ngIf="inStep.items" class="monospace">
                    {{
                      rate(
                        inStep.items.mul(inStep.parents[step.itemId]),
                        itemPrecision
                      )
                    }}
                  </div>
                  <lab-icon
                    class="clickable-size"
                    [iconId]="input.key"
                    [tooltip]="data.itemEntities[input.key]?.name"
                    [recipe]="data.recipeEntities[input.key]"
                    [data]="data"
                    scale="true"
                  >
                  </lab-icon>
                </div>
              </td>
              <td>
                <ng-container *ngIf="step.settings">
                  <div
                    *ngIf="
                      inStep.settings.belt &&
                      inStep.belts &&
                      data.itemEntities[inStep.itemId].category !==
                        CategoryId.Research
                    "
                    class="flex"
                  >
                    <div class="monospace">
                      {{
                        rate(
                          inStep.belts.mul(inStep.parents[step.itemId]),
                          beltPrecision
                        )
                      }}
                    </div>
                    <lab-icon
                      class="clickable-size"
                      [iconId]="inStep.settings.belt"
                      [tooltip]="data.itemEntities[inStep.settings.belt].name"
                      [item]="data.itemEntities[inStep.settings.belt]"
                      [displayRate]="displayRate"
                      [data]="data"
                    ></lab-icon>
                  </div>
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="inStep.settings?.factory">
                  <div
                    class="flex"
                    *ngIf="!inStep.factories || inStep.factories.nonzero()"
                  >
                    <div *ngIf="inStep.factories" class="monospace">
                      {{
                        rate(
                          inStep.factories.mul(inStep.parents[step.itemId]),
                          factoryPrecision
                        )
                      }}
                    </div>
                    <ng-container *ngIf="inStep.recipeId !== inStep.itemId">
                      <lab-icon
                        [iconId]="inStep.recipeId"
                        [tooltip]="data.recipeEntities[inStep.recipeId].name"
                        [recipe]="data.recipeEntities[inStep.recipeId]"
                        [data]="data"
                      ></lab-icon>
                      :
                    </ng-container>
                    <lab-icon
                      class="clickable-size"
                      [iconId]="inStep.settings.factory"
                      [tooltip]="
                        data.itemEntities[inStep.settings.factory].name
                      "
                      [item]="data.itemEntities[inStep.settings.factory]"
                      [data]="data"
                    ></lab-icon>
                  </div>
                </ng-container>
              </td>
              <td>
                <div class="flex">
                  <div class="monospace">
                    {{ rate(inStep.parents[step.itemId].mul(100), 0) }}%
                  </div>
                  <i class="material-icons">arrow_forward</i>
                  <lab-icon
                    class="clickable-size"
                    [iconId]="step.itemId"
                    [tooltip]="data.itemEntities[step.itemId]?.name"
                    [recipe]="data.recipeEntities[step.itemId]"
                    [data]="data"
                    scale="true"
                  ></lab-icon>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <td></td>
        </tr>
      </ng-container>
      <ng-container *ngIf="step.parents && expanded[step.itemId]">
        <tr
          *ngFor="
            let parent of step.parents | keyvalue;
            first as isFirst;
            last as isLast
          "
          class="details"
          [class.first]="isFirst"
          [class.last]="isLast"
        >
          <td></td>
          <td>
            <div class="flex">
              <div *ngIf="step.items" class="monospace">
                {{ rate(step.items.mul(parent.value), itemPrecision) }}
              </div>
              <lab-icon
                class="clickable-size"
                [iconId]="step.itemId"
                [tooltip]="data.itemEntities[step.itemId]?.name"
                [recipe]="data.recipeEntities[step.itemId]"
                [data]="data"
                scale="true"
              >
              </lab-icon>
            </div>
          </td>
          <td>
            <ng-container *ngIf="step.settings">
              <div
                *ngIf="
                  step.settings.belt &&
                  step.belts &&
                  data.itemEntities[step.itemId].category !==
                    CategoryId.Research
                "
                class="flex"
              >
                <div class="monospace">
                  {{ rate(step.belts.mul(parent.value), beltPrecision) }}
                </div>
                <lab-icon
                  class="clickable-size"
                  [iconId]="step.settings.belt"
                  [tooltip]="data.itemEntities[step.settings.belt].name"
                  [item]="data.itemEntities[step.settings.belt]"
                  [displayRate]="displayRate"
                  [data]="data"
                ></lab-icon>
              </div>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="step.settings?.factory">
              <div
                class="flex"
                *ngIf="!step.factories || step.factories.nonzero()"
              >
                <div *ngIf="step.factories" class="monospace">
                  {{ rate(step.factories.mul(parent.value), factoryPrecision) }}
                </div>
                <ng-container *ngIf="step.recipeId !== step.itemId">
                  <lab-icon
                    [iconId]="step.recipeId"
                    [tooltip]="data.recipeEntities[step.recipeId].name"
                    [recipe]="data.recipeEntities[step.recipeId]"
                    [data]="data"
                  ></lab-icon>
                  :
                </ng-container>
                <lab-icon
                  class="clickable-size"
                  [iconId]="step.settings.factory"
                  [tooltip]="data.itemEntities[step.settings.factory].name"
                  [item]="data.itemEntities[step.settings.factory]"
                  [data]="data"
                ></lab-icon>
              </div>
            </ng-container>
          </td>
          <td>
            <div class="flex">
              <div class="monospace">{{ rate(parent.value.mul(100), 0) }}%</div>
              <i class="material-icons">arrow_forward</i>
              <lab-icon
                class="clickable-size"
                [iconId]="parent.key"
                [tooltip]="data.itemEntities[parent.key]?.name"
                [recipe]="data.recipeEntities[parent.key]"
                [data]="data"
                scale="true"
              ></lab-icon>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
