:host {
  display: inline-block;
  position: relative;
  cursor: default;
  user-select: none;
}

.icon {
  position: relative;
}

.material-icons {
  font-size: 0.75rem;
  color: var(--color-link);
  vertical-align: middle;
}

.tooltip {
  position: absolute;
  z-index: 11;
  background-color: var(--color-dark);
  opacity: 0.95;
  padding: 0.5rem;
  box-shadow: var(--shadow-tip);
  left: 100%;
  top: 100%;
  white-space: pre;
  margin-top: 0.5rem;
  margin-left: 0.125rem;
  text-align: left;
  color: var(--color-white);
  font-weight: normal;
}
