:host {
  display: inline-block;
  position: relative;
  cursor: default;
  user-select: none;
}

div {
  display: flex;
  align-items: flex-end;
}

.material-icons {
  font-size: 0.75rem;
  color: var(--color-link);
  margin-left: 0.125rem;
}

.tooltip {
  position: absolute;
  z-index: 2;
  background-color: var(--color-dark);
  opacity: 0.95;
  padding: 0.5rem;
  box-shadow: var(--shadow-tip);
  left: 100%;
  top: 100%;
  white-space: pre;
  margin-top: 0.5rem;
  margin-left: 0.125rem;
  text-align: left;
}
