<lab-list
  [mode]="mode"
  [selected]="selected"
  [data]="data$ | async"
  [itemSettings]="itemSettings$ | async"
  [recipeSettings]="recipeSettings$ | async"
  [recipeRaw]="recipeRaw$ | async"
  [beltSpeed]="beltSpeed$ | async"
  [steps]="steps ? steps : (steps$ | async)"
  [factoryRank]="factoryRank$ | async"
  [moduleRank]="moduleRank$ | async"
  [beaconModule]="beaconModule$ | async"
  [displayRate]="displayRate$ | async"
  [itemPrecision]="itemPrecision$ | async"
  [beltPrecision]="beltPrecision$ | async"
  [wagonPrecision]="wagonPrecision$ | async"
  [factoryPrecision]="factoryPrecision$ | async"
  [powerPrecision]="powerPrecision$ | async"
  [pollutionPrecision]="pollutionPrecision$ | async"
  [beaconCount]="beaconCount$ | async"
  [drillModule]="drillModule$ | async"
  [inserterTarget]="inserterTarget$ | async"
  [inserterCapacity]="inserterCapacity$ | async"
  [columns]="columns$ | async"
  [modifiedIgnore]="modifiedIgnore$ | async"
  [modifiedBelt]="modifiedBelt$ | async"
  [modifiedFactory]="modifiedFactory$ | async"
  [modifiedBeacons]="modifiedBeacons$ | async"
  (ignoreItem)="ignoreItem($event)"
  (setBelt)="setBelt($event)"
  (setFactory)="setFactory($event)"
  (setFactoryModules)="setFactoryModules($event)"
  (setBeacon)="setBeacon($event)"
  (setBeaconModules)="setBeaconModules($event)"
  (setBeaconCount)="setBeaconCount($event)"
  (setColumns)="setColumns($event)"
  (resetItem)="resetItem($event)"
  (resetRecipe)="resetRecipe($event)"
  (resetIgnore)="resetIgnore()"
  (resetBelt)="resetBelt()"
  (resetFactory)="resetFactory()"
  (resetBeacons)="resetBeacons()"
>
</lab-list>
