<lab-list
  [data]="data$ | async"
  [itemSettings]="itemSettings$ | async"
  [recipeSettings]="recipeSettings$ | async"
  [recipeRaw]="recipeRaw$ | async"
  [steps]="steps ? steps : (steps$ | async)"
  [belt]="belt$ | async"
  [factoryRank]="factoryRank$ | async"
  [moduleRank]="moduleRank$ | async"
  [beaconModule]="beaconModule$ | async"
  [beaconCount]="beaconCount$ | async"
  [displayRate]="displayRate$ | async"
  [itemPrecision]="itemPrecision$ | async"
  [beltPrecision]="beltPrecision$ | async"
  [factoryPrecision]="factoryPrecision$ | async"
  [columns]="columns$ | async"
  [modifiedIgnore]="modifiedIgnore$ | async"
  [modifiedBelt]="modifiedBelt$ | async"
  [modifiedFactory]="modifiedFactory$ | async"
  [modifiedModules]="modifiedModules$ | async"
  [modifiedBeacons]="modifiedBeacons$ | async"
  (ignoreItem)="ignoreItem($event)"
  (setBelt)="setBelt($event)"
  (setFactory)="setFactory($event)"
  (setModules)="setModules($event)"
  (setBeaconModule)="setBeaconModule($event)"
  (setBeaconCount)="setBeaconCount($event)"
  (showColumn)="showColumn($event)"
  (hideColumn)="hideColumn($event)"
  (resetItem)="resetItem($event)"
  (resetRecipe)="resetRecipe($event)"
  (resetIgnore)="resetIgnore()"
  (resetBelt)="resetBelt()"
  (resetFactory)="resetFactory()"
  (resetModules)="resetModules()"
  (resetBeacons)="resetBeacons()"
>
</lab-list>
