<p-card>
  <div class="d-flex flex-column p-fluid">
    @switch (state) {
      @case ('type') {
        <div>{{ 'wizard.objectiveType' | translate }}</div>
        <p-divider></p-divider>
        <span>{{ 'wizard.produceItems' | translate }}</span>
        <button
          pButton
          pRipple
          type="button"
          class="mt-2"
          icon="fa-solid fa-box"
          [label]="'wizard.produceItemsButton' | translate"
          (click)="
            addItemObjectivePicker.clickOpen(
              'item',
              settings().availableItemIds
            )
          "
        ></button>
        <lab-picker
          #addItemObjectivePicker
          [header]="'wizard.produceItemsButton' | translate"
          (selectId)="selectId($event, 'item')"
        ></lab-picker>
        <p-divider></p-divider>
        <span>{{ 'wizard.runMachines' | translate }}</span>
        <button
          pButton
          pRipple
          type="button"
          class="mt-2"
          icon="fa-solid fa-industry"
          [label]="'wizard.runMachinesButton' | translate"
          (click)="
            addRecipePicker.clickOpen('recipe', settings().availableRecipeIds)
          "
        ></button>
        <lab-picker
          #addRecipePicker
          [header]="'wizard.runMachinesButton' | translate"
          (selectId)="selectId($event, 'recipe')"
        ></lab-picker>
        <p-divider></p-divider>
      }
      @case ('item') {
        <div>{{ 'wizard.itemObjectiveItems' | translate }}</div>
        <p-divider></p-divider>
        <div class="d-flex align-items-center justify-content-center">
          <i [class]="id | iconClass"></i>
          <span class="ms-2">{{ data().itemEntities[id].name }}</span>
        </div>
        <lab-input-number
          class="mt-2 w-100"
          tooltipPosition="top"
          [value]="value"
          (setValue)="value = $event"
        ></lab-input-number>
        <p-dropdown
          labDropdownTranslate
          styleClass="mt-2 h-100"
          [pTooltip]="'objectives.selectDisplayRate' | translate"
          [ngModel]="displayRate()"
          [options]="displayRateOptions"
          (onChange)="settingsSvc.apply({ displayRate: $event.value })"
        >
        </p-dropdown>
        <button
          pButton
          pRipple
          type="button"
          class="mt-2"
          icon="fa-solid fa-check"
          [label]="'ok' | translate"
          (click)="createItemObjective(id)"
        ></button>
        <p-divider></p-divider>
        <button
          pButton
          pRipple
          type="button"
          class="mb-2 p-button-outlined"
          icon="fa-solid fa-arrow-left"
          [label]="'wizard.back' | translate"
          (click)="state = 'type'"
        ></button>
      }
      @case ('recipe') {
        <div>{{ 'wizard.recipeObjectiveMachines' | translate }}</div>
        <p-divider></p-divider>
        <div class="d-flex align-items-center justify-content-center">
          <i [class]="id | iconClass"></i>
          <span class="ms-2">{{ data().recipeEntities[id].name }}</span>
        </div>
        <lab-input-number
          class="mt-2 w-100"
          tooltipPosition="top"
          [value]="value"
          (setValue)="value = $event"
        ></lab-input-number>
        <button
          pButton
          pRipple
          type="button"
          class="mt-2"
          icon="fa-solid fa-check"
          [label]="'ok' | translate"
          (click)="createRecipeObjective(id)"
        ></button>
        <p-divider></p-divider>
        <button
          pButton
          pRipple
          type="button"
          class="mb-2 p-button-outlined"
          icon="fa-solid fa-arrow-left"
          [label]="'wizard.back' | translate"
          (click)="state = 'type'"
        ></button>
      }
    }
    <button
      pButton
      pRipple
      type="button"
      class="p-button-outlined"
      icon="fa-solid fa-xmark"
      [label]="'cancel' | translate"
      routerLink="/"
      queryParamsHandling="preserve"
    ></button>
  </div>
</p-card>
