<p-card *ngIf="vm$ | async as vm">
  <div class="d-flex flex-column p-fluid">
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase="WizardState.ObjectiveType">
        <ng-container *ngTemplateOutlet="objectiveType"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="WizardState.ItemObjective">
        <ng-container *ngTemplateOutlet="itemObjective"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="WizardState.RecipeObjective">
        <ng-container *ngTemplateOutlet="recipeObjective"></ng-container>
      </ng-container>
    </ng-container>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-outlined"
      icon="fa-solid fa-xmark"
      [label]="'cancel' | translate"
      routerLink="/"
      queryParamsHandling="preserve"
    ></button>
  </div>

  <ng-template #objectiveType>
    <div>
      {{ 'wizard.objectiveType' | translate }}
    </div>
    <p-divider></p-divider>
    <span>{{ 'wizard.produceItems' | translate }}</span>
    <button
      pButton
      pRipple
      type="button"
      class="mt-2"
      icon="fa-solid fa-box"
      [label]="'wizard.produceItemsButton' | translate"
      (click)="addItemObjectivePicker.clickOpen(vm.data, 'item', vm.itemIds)"
    ></button>
    <lab-picker
      #addItemObjectivePicker
      [header]="'wizard.produceItemsButton' | translate"
      (selectId)="selectId($event, WizardState.ItemObjective)"
    ></lab-picker>
    <p-divider></p-divider>
    <span>{{ 'wizard.runMachines' | translate }}</span>
    <button
      pButton
      pRipple
      type="button"
      class="mt-2"
      icon="fa-solid fa-industry"
      [label]="'wizard.runMachinesButton' | translate"
      (click)="addRecipePicker.clickOpen(vm.data, 'recipe', vm.recipeIds)"
    ></button>
    <lab-picker
      #addRecipePicker
      [header]="'wizard.runMachinesButton' | translate"
      (selectId)="selectId($event, WizardState.RecipeObjective)"
    ></lab-picker>
    <p-divider></p-divider>
  </ng-template>
  <ng-template #itemObjective>
    <div>{{ 'wizard.itemObjectiveItems' | translate }}</div>
    <p-divider></p-divider>
    <div class="d-flex align-items-center justify-content-center">
      <i [class]="id | iconClass"></i>
      <span class="ms-2">{{ vm.data.itemEntities[id].name }}</span>
    </div>
    <lab-input-number
      class="mt-2 w-100"
      tooltipPosition="top"
      [value]="rate"
      (setValue)="rate = $event"
    ></lab-input-number>
    <p-dropdown
      labDropdownTranslate
      styleClass="mt-2 h-100"
      [tooltip]="'objectives.selectDisplayRate' | translate"
      [ngModel]="vm.displayRate"
      [options]="displayRateOptions"
      (onChange)="setDisplayRate($event.value, vm.displayRate)"
    >
    </p-dropdown>
    <button
      pButton
      pRipple
      type="button"
      class="mt-2"
      icon="fa-solid fa-check"
      [label]="'ok' | translate"
      (click)="createItemObjective(id, rate, RateUnit.Items)"
      routerLink="/list"
    ></button>
    <p-divider></p-divider>
    <button
      pButton
      pRipple
      type="button"
      class="mb-2 p-button-outlined"
      icon="fa-solid fa-arrow-left"
      [label]="'wizard.back' | translate"
      (click)="state = WizardState.ObjectiveType"
    ></button>
  </ng-template>
  <ng-template #recipeObjective>
    <div>{{ 'wizard.recipeObjectiveMachines' | translate }}</div>
    <p-divider></p-divider>
    <div class="d-flex align-items-center justify-content-center">
      <i [class]="id | iconClass"></i>
      <span class="ms-2">{{ vm.data.recipeEntities[id].name }}</span>
    </div>
    <lab-input-number
      class="mt-2 w-100"
      tooltipPosition="top"
      [value]="count"
      (setValue)="count = $event"
    ></lab-input-number>
    <button
      pButton
      pRipple
      type="button"
      class="mt-2"
      icon="fa-solid fa-check"
      [label]="'ok' | translate"
      (click)="createRecipeObjective(id, count)"
      routerLink="/list"
    ></button>
    <p-divider></p-divider>
    <button
      pButton
      pRipple
      type="button"
      class="mb-2 p-button-outlined"
      icon="fa-solid fa-arrow-left"
      [label]="'wizard.back' | translate"
      (click)="state = WizardState.ObjectiveType"
    ></button>
  </ng-template>
</p-card>
