<div (click)="clickOpen()">
  <ng-content></ng-content>
</div>
<div class="dialog panel" *ngIf="open">
  <div class="dialog-title">
    <div class="header">{{ header }}</div>
    <button (click)="cancel($event)">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="panel">
    <div
      class="flex option"
      *ngFor="let opt of options"
      (click)="clickId(opt.id, $event)"
    >
      <div
        class="checkbox"
        [class.checked]="editValue.indexOf(opt.id) !== -1"
      ></div>
      <div>{{ opt.name }}</div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button (click)="cancel($event)"><span class="text">Cancel</span></button>
    <button class="green" (click)="close()">Confirm</button>
  </div>
</div>
