<div class="flex tween dialog-title">
  <span class="header">{{ header }}</span>
  <div class="flex">
    <i
      *ngIf="edited"
      class="cancel clickable material-icons"
      title="Cancel changes"
      (click)="cancel.emit(); $event.stopPropagation()"
      >close</i
    >
    <i
      *ngIf="edited"
      class="confirm clickable material-icons"
      title="Confirm changes"
      (click)="commit.emit(editValue); $event.stopPropagation()"
      >check</i
    >
  </div>
</div>
<div
  class="flex clickable"
  *ngFor="let opt of options"
  (click)="clickId(opt.id, $event)"
>
  <div class="material-icons">
    {{
      editValue.indexOf(opt.id) === -1 ? 'check_box_outline_blank' : 'check_box'
    }}
  </div>
  <div>{{ opt.name }}</div>
</div>
